#notes_box {
	margin-bottom: 10px;
}
#notes_box {
	border: 1px solid black;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background: rgba(0, 0, 0, 0.2);
	width: 188px;
	margin-top: 10px;
}
#notes_title {
	font-size: 16px;
	padding: 4px 0px 8px 12px;
	font-weight: lighter;
	color: white;
	text-align: left;
}
.note_result {
	background: white;
	margin: 5px 5px 0px 5px;
	text-align: left;
	padding: 3px 3px 0px 5px;
}
.cart_numbers {
    float:right;
    font-size:9px;
    padding-right:3px;
}
#teesheetMenu_title {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#teesheetMenu_msdd {
    height:28px;
}
#goroostcom-bell{
	right:30px !important;
	bottom:0px !important;
	box-shadow:none  !important;
	background:none !important;
	fill: #4885B1 !important;
	color: #4885B1 !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow: none !important;

}
.fc-agenda-slots td div {
    vertical-align: middle;
    text-align:center;
    line-height: 38px;
    color: #818181;
}