body, div#body
{
	width: 100%;
	background-color:#FFFFFF;
	font-size:70%;	
}

div#menubar,div#footer, #footer_info, #footer_spacer, div#menubar_background, nav.navbar, #page-header-content
{
	display:none;
}
div#receipt_wrapper {
	padding:0px;
	width:100%;
	font-size:inherit;
	box-shadow:none;
}
div#body {
	min-width:auto;
	font-size:100%;
}
div#nav_buttons {
	display:none;
}
div#content_area
{
	padding: 0px 10px 0px 10px;
	width:90%;
}

div#content_area_wrapper
{
    background: none;
	width: 100%;
	border:0px;
	padding: 0px 0px 0px 0px;
	min-height:auto;
}

div#sale_return_policy
{
	width:100%;
	text-align:center;
}

.long_name
{
	display:none;
}

.short_name
{
	display:inline;
}
div#receipt_wrapper {
	width:370px;
	margin:40px 0px 0px -20px;
	padding-left:0px;
}
#receivings div#receipt_wrapper {
    width:100%;
}
div#goroostcom-bell, div#goroostcom-notifications {
	display:none !important;
}
