/* Browser Resetter */
body,div,span,p,a,img,h1,h2,h3,h4,h5,h6,ul,ol,li,blockquote{margin:0;padding:0;border:0;outline:0;}
ul,li,ol{list-style:none;}
a{outline: none; text-decoration:none;}

/* General body layout */
body{
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size:12px;
  font-weight: normal;
  background-color:#232629;
}

#top-wrap{
  width:100%;
  float:left;  
}
#bodywrap{
	width:100%;
	float:left;
	padding:50px 0 0 0;
	background-color:#f3f3f3;
}

/* Layout styles */
#header-wrap{
  width: 100%;
  float:left;
  background-color: #232629;
	position:relative;
	 z-index:10;  
}


#header{
  height:72px;
  float: none;
  margin:0 auto;
  position: relative;
}

h1{
  display: block;
  margin:18px 0 0 0;
}

/* tool tip for logo */
em.ttip {
background:url(http://css3menu.com/images/bubble.png) no-repeat;
width: 112px;
height: 56px;
float:left;
display: block;
position:absolute;
top: 230px;
left: 15px;
text-align: center;
text-indent:0px;
z-index: 2;
display: none;
line-height:70px;
color:#4e4e4e;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* stylin navigation content */
ul.nav{
  min-width: 573px;
  float:right;
  display:block;
  margin:22px 0 0 0;
}
ul.nav li{
  float: left;
  width:auto;
}
ul.nav li a{
  float:left;
  font-size: 12px;
  color:#fff;
  text-align:center;
  padding:0px 16px;
  line-height:25px;
}

ul.nav li a:hover, ul.nav li a.active{
  float:left;
  color:#232629;
  padding:0 16px 0 0px;
  background: url(http://css3menu.com/images/nav-right.png) no-repeat right;
}
ul.nav li a:hover span, ul.nav li a.active span{
  display:block;
  float:left;
  color:#232629;
  height:29px;
  padding:0 0px 0 16px;
  background: url(http://css3menu.com/images/nav-left.png) no-repeat left;
}

/* stylin banner content */
.banner-wrap{
	width:100%;
	height:378px;
	float:left;
	background: url(http://css3menu.com/images/banner_bg.png) repeat-x;
}
.banner-inner{
	height:378px;
	background:url(http://css3menu.com/images/banner-grad.png) no-repeat 50px 0;
}
.banner{
	width:970px;
	display:block;
	float:none;
	margin:0 auto;
}
.banner img{
	float:right;
	margin:42px 0 0 0;
}
.banner-twit img{
	float:left;
	margin:0 0 0 0;
}
.leftContent{
	width:390px;
	float:left;
	margin:65px 0 0 0;
}
.leftContent h2{
	width:100%;
	float:left;
	font-size:32px;
	color:#fff;
	padding-bottom:25px;
	padding-top:15px;
	text-transform:uppercase;
	text-shadow: 2px 2px 3px #016137;
}
.image {padding: 0px; float:none;}
.leftContent p{
	width:370px;
	float:left;
	font-size:12px;
	color:#fff;
	line-height:21px;
	padding-bottom:35px;
}
.m-info{
	width:173px;
	height:46px;
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-shadow: 1px 1px 1px #d3ceaa;
	text-align:center;
	line-height:44px;
	background:url(http://css3menu.com/images/m-info_btn.png) no-repeat;
}
.m-info1{
	width:173px;
	height:46px;
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-shadow: 1px 1px 1px #d3ceaa;
	text-align:center;
	line-height:44px;
	background:url(http://css3menu.com/images/m-info_btn1.png) no-repeat;
}

/* Looped slider content */
.dd .container { width:970px; height:378px; overflow:hidden; position:relative;  margin:0 auto;}
.slides { position:absolute; top:0; left:0; }
ul.pagination { list-style:none; padding:0; margin:0; position: relative; top:-18px; left:190px; background:url(http://css3menu.com/images/pagination.jpg) no-repeat; width:79px;
height:18px; float:left;}
ul.pagination li  { float:left; width:9px; height:9px; float:left; background:#fff; margin:5px 0px 0 6px;}
ul.pagination li a {  background:url(http://css3menu.com/images/slide-visited.png) no-repeat; display:block; width:9px; height:9px; float:left font-size:0px; }
ul.pagination li.active a { background:url(http://css3menu.com/images/hover-active.png) no-repeat;}


/* stylin main body content */
#content-wrap{
  clear:both;
  width:970px;
  float:none;
  margin:0 auto;
}

/* stylin leftPan content */
.leftPan{
	width:625px;
	display:block;
	float:left;
	margin-right:60px;
}

/* universal rules for content inside leftPan */
.leftPan h3{
	width:100%;
	float:left;
	font-size:18px;
	color:#232629;
	padding-bottom:26px;
}
.leftPan p{
	width:100%;
	float:left;
	font-size:12px;
	color:#727272;
	line-height:21px;
	text-align:justify;
	padding-bottom:23px;
}
.leftPan a.more{
	width:59px;
	height:14px;
	float:left;
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-align:center;
	background: #00b987 url(http://css3menu.com/images/read-more.jpg) no-repeat;
}


/* stylin innerLeft column inside leftPan */
.leftPan .innerLeft{
	width:180px;
	float:left;
	margin-right:69px;
}
.leftPan .innerLeft p{
	width:180px;
	float:left;
}

/* stylin inner Right content */
.leftPan .innerRight{
	width:356px;
	display:block;
	float:left;
}
.innerRight img{
	float:left;
	margin:0 0 0 0;
}
.leftPan a{
	color:#0182bb; 
	border-width: 0 0 1px 0; 
	border-style: dotted; 
	border-color: #0182bb;
	}
.leftPan a:hover{
  color:#0182bb; 
  border-width: 0 0 1px 0; 
  border-style: dotted; 
  border-color: #727272;
	}	
.innerRight ul, .innerRight li{
	width:356px;
	display:block;
	float:left;
}
.innerRight ul li{
	padding-bottom:12px;
}
.leftPan .innerRight ul li p{
	width:291px;
	text-align:left;
	float:right;
	padding:0px;
	line-height: 18px;
}

/* stylin rightPan content */
.rightPan{
	width:277px;
	float:right;
}
.rightPan h3{
	font-size:18px;
	color:#232629;
	padding-bottom:28px;
}
.rightPan a{
	font-size:11px;
	color:#fff;
	width:59px;
	height:14px;
	text-align:center;
	float:left;
	background:url(http://css3menu.com/images/read-more.jpg) no-repeat;
}

.rightPan .right{float:none;} 
.rightPan ul{
	width:277px;
	float:left;
	display:block;
}
.rightPan ul li{
	width:100%;
	float:left;
	padding-bottom:18px;
}
.rightPan ul li p{
	width:277px;
	float:left;
	font-size:12px;
	color:#727272;
	line-height:21px;
	padding-bottom:5px;
}
.rightPan ul li img{
	text-align: center;
	float:none;
}

/* stylin bottom-wrap */
.botomwrap{
	width:970px;
	float:left;
	margin:40px 0 46px 0;
}
.botomLeft{
	width:625px;
	float:left;
	margin-right:60px;
}
.botomLeft h4{
	width:100%;
	float:left;
	font-size:18px;
	color:#232629;
	padding-bottom:12px;
}
.leftPan h4{
	width:100%;
	float:left;
	font-size:15px;
	color:#232629;
	padding-bottom:12px;
}
.botomLeft h5{
	width:100%;
	float:left;
	font-size:14px;
	color:#333;
	padding-bottom:12px;
}
.botomLeft blockquote{
	width:618px;
	float:left;
	font-size:12px;
	color:#727272;
	line-height:21px;
	padding:15px 0 26px 0;
	background:url(http://css3menu.com/images/quot-watermark.png) no-repeat top left;
}
.botomLeft p.signature{
	clear:left;
	float:left;
	font-size:12px;
	color:#5d5d5d;
	font-weight:bold;
}

/* stylin rightside content */
.botomRight{
	width:277px;
	display:block;
	float:left;
}
.botomRight h4{
	width:100%;
	float:left;
	font-size:18px;
	color:#232629;
	padding-bottom:26px;
}
.botomRight p.qcontact{
	width:233px;
	float:left;
	font-size:12px;
	color:#727272;
	line-height:21px;
}
p.qcontact a{
	font-size:12px;
	color:#727272;
	text-decoration:underline;
}
p.qcontact a:hover{
	font-size:12px;
	color:#727272;
	text-decoration:none;
}
	
	

/* stylin footer content */
#footer-wrap{
  clear:both;
  width:100%;
  float:left;
  background-color:#232629;
}

#footer{
  height:75px;
  float:none;
  margin:0 auto;
  position:relative;
}

#footer p.copyright{
	min-width:120px;
	float:left;
	font-size:11px;
	color:#727272;
	line-height:21px;
	margin:55px 0 0 0;
}
/* stylin signature content */
p.sign{
	clear:left;
	width:180px;
	float:left;
	margin:7px 47px 0 0;
	font-size:11px;
	color:#727272;
	font-style:italic;
	font-weight:bold;
}
p.sign a{
	font-size:11px;
	color:#727272;
	font-style:italic;
	text-decoration:underline;
}
p.sign a:hover{
	text-decoration:none;
}
/* stylin footer navigation content */
ul.footNav{
	clear:left;
	min-width:260px;
	float:left;
}
ul.footNav li{
	float:left;
	color:#727272;
	line-height:21px;
}
ul.footNav li a{
	float:left;
	padding:0px 4px;
	font-size:11px;
	color:#727272;
}

/* stylin footer logo */
div.footLogo{
	width:237px;
	height:200px;
	float:right;
	position:absolute;
	top:0px;
	right:70px;
	background:url(http://css3menu.com/images/gradient_footer.png) no-repeat left center;
}
div.footLogo img{
	margin:68px 0 0 30px;
}

/* ####################################
######## Stylin Inner pages ###########
#################################### */
dd div.clear{
	clear:both;
	width:100%;
	height:30px;
	float:left;
}

/* contact us page */
.leftPan img.map{
	margin-bottom:28px;
}
.rightPan p{
	font-size:12px;
	color:#727272;
	line-height:21px;
	width:100%;
	float:left;	
}

/* stylin blog page content */
 ul.blog{
	display:block;
	width:100%;
	float:left;
}
 ul.blog li{
	width:100%;
	float:left;
	display:block;
	padding-bottom:30px;
}
 ul.blog li h4{
	font-size:21px;
	color:#494949;
	line-height:21px;
	padding:0px 0px 10px 0;
}
 ul.blog li img{
	margin:10px 9px 10px 0;
}
 ul.blog li p a{
	font-size:12px;
	color:#727272;
	text-decoration:underline;
}
 ul.blog li p a:hover{
	text-decoration:none;
}
 ul.blog li p.date, ul.blog li p.post, ul.blog li p.comments{
	padding:0 0 9px 0;
}
 ul.blog li p.date a{
	 text-decoration:none;
	 border-bottom:1px dashed #454545;
 }
 
 /* stylin sitemap content */
ul.sitemap, ul.sitemap li{
	clear:both;
	width:120px;
	float:left;
	display:block;
}
ul.sitemap li a{
	font-size:12px;
	line-height:19px;
	color:#00b987;
	float:left;
}
ul.sitemap li a:hover{
	color:#454545;
}

.menu_templ {
	position: relative;
	top: 40px;
  width: 600px;
  height: 300px;
  background-color: #999999;
	}

#form .label {
    color:#727272;
    width:100px;
    display:block;
    float:left;
    line-height:24px;
}
#form .input_text {
    padding:5px;
    border:1px solid #bbb;
    -moz-border-radius:5px;
    width:300px;
}
#form div div { margin:10px 0 10px 0; }
#form .esubmit {
    position:relative;
    padding:5px;
    background:#eee;
    color:#333;
    -moz-border-radius:5px;
    border:1px solid #bbb;
    left:290px;
}
*+html #form .esubmit { left:313px; }
.notice { color:red; }
.rightPan ul#rq li { padding-bottom:10px; }
ul#rq p { display:none; color:#727272; }
.rightPan ul#rq a {
    color:#727272;
    font-size:12px;
    font-weight:bold;
    padding-bottom:1px;
    float:none;
    width:auto;
    background:none;
    line-height:22px;
}
ul#rq small { color:#727272; display:block; }
ul#rq a:hover { color:#b02d15; border-bottom:1px dotted #0182bb; color:#0182bb; padding-bottom:0; }
.rightPan ul#rq p a { display:inline; color:#727272; font-weight:normal; }
.rightPan ul#rq p a:hover { border:0; padding-bottom:1px; }
.rightPan .faq-h3 a {
    color:#232629;
    font-size:18px;
    font-weight:bold;
    padding-bottom:0;
    float:none;
    width:auto;
    background:none;
    line-height:21px;
}

#paypal li a  { width:220px; }
#paypal .price  {
    padding-right:75px;
    background:url(http://css3menu.com/images/paypal.png) no-repeat right 2px;
}
#more-options-button {
    font-size:11px;
    color:#727272;
    padding:0 0 20px 20px;
    margin-top:-15px;
}
#more-options-button a { font-size:12px; }
#more-options {
    display:none;
    height:170px;
    margin-top:-20px;
}


/* respond */
input.respond{
	display:none;
}
div.respond{
	margin:10px auto;
	width:300px;
	height:80px;
	text-align:center;
	/*font-style:italic;*/
	font-size:13px;
}
div.respond label{
	width:33%;
	display:block;
	float:left;
	text-align:center;
}
div.respond label img{
	cursor:pointer;
}

#respond_ipad:checked ~ #content-wrap{/* css3 selector */
	max-width: 600px;
}
#respond_iphone:checked ~ #content-wrap{
	max-width: 360px;
}
/*#respond_iphone:checked ~ .leftPan #headerdemo, #respond_iphone:checked ~ .leftPan #work-list{
	display:none;
}*/
ul#css3menu_top,ul#css3menu_top ul{
	margin:0;list-style:none;padding:0;}
ul#css3menu_top,ul#css3menu_top .submenu{
	background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
ul#css3menu_top .submenu{
	visibility:hidden;position:absolute;left:0;top:100%;opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;float:left;background-color:#424542;border-width:2px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-color:#FFF;padding:0 10px 10px;}
ul#css3menu_top li:hover>.submenu{
	visibility:visible;opacity:1;}
ul#css3menu_top li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu_top li:hover{
	z-index:1;}
ul#css3menu_top ul .submenu{
	z-index:2;
	position:absolute;left:100%;top:0;}
ul#css3menu_top{
	font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 0%;margin:0 0%;
	*display:inline;}
ul#css3menu_top .column{
	float:left;}
* html ul#css3menu_top li a{
	display:inline-block;}
ul#css3menu_top>li{
	margin:0;width:17%;}
ul#css3menu_top li.toplast{
	width:15%;}
ul#css3menu_top a:active, ul#css3menu_top a:focus{
	outline-style:none;}
ul#css3menu_top a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 14px Trebuchet MS;color:#000;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:6px 15px 6px 3px;background-color:#444444;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu_top ul li{
	float:none;margin:10px 0 0;}
ul#css3menu_top ul a{
	text-align:left;padding:4px;background-color:#424542;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:14px Tahoma;color:#FFF;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu_top li:hover>a,ul#css3menu_top li a.pressed{
	background-color:#444444;border-color:#C0C0C0;border-style:solid;color:#FFF;text-shadow:#FFF 0 0 1px;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu_top img{
	border:none;vertical-align:middle;margin-right:6px;}
ul#css3menu_top span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu_top ul span{
	background-image:url("arrowsub.png");padding-right:8px;}
ul#css3menu_top ul li:hover>a,ul#css3menu_top ul li a.pressed{
	background-color:#424542;background-image:none;color:#F2B20E;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu_top li.topfirst>a{
	padding-left: 7px;
	border-width:0;border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu_top li.toplast>a{
	padding-right: 7px;
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;}
	
@media only screen and (max-width:900px),only screen and (max-device-width:900px){
ul#css3menu_top>li{width:33%;}ul#css3menu_top>li:nth-child(3){width:34%}ul#css3menu_top>li:nth-child(n+4){width:33%;}ul#css3menu_top>li:nth-child(6){width:34%}}
@media only screen and (max-width:600px),only screen and (max-device-width:600px){
ul#css3menu_top>li{width:50%;}ul#css3menu_top>li:nth-child(n+3){width:50%;}ul#css3menu_top>li:nth-child(n+5){width:50%;}}
@media only screen and (max-width:450px),only screen and (max-device-width:450px){
ul#css3menu_top>li{width:100%;}ul#css3menu_top>li:nth-child(n+2){width:100%;}ul#css3menu_top>li:nth-child(n+3){width:100%;}ul#css3menu_top>li:nth-child(n+4){width:100%;}ul#css3menu_top>li:nth-child(n+6){width:100%;}}


/*opera hack*/
@media only screen and (min-width:900px){
		html>/**/body noindex:-o-prefocus, html>/**/body  ul#css3menu_top{
			display:table;
		}
		html>/**/body noindex:-o-prefocus, html>/**/body  ul#css3menu_top>li{
			width:auto;
			float:none;
			display:table-cell;
		}
		html>/**/body noindex:-o-prefocus, html>/**/body  ul#css3menu_top li.toplast{
			width:auto;
			display:table-cell;
		}
	
}
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;}
ul#css3menu1,ul#css3menu1 .submenu{
	-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;}
ul#css3menu1 .submenu{
	display:none;position:absolute;left:0;top:100%;float:left;background-color:#fff;border-width:4px;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;border-color:#cecece;padding:0 6px 6px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li:hover{
	position:relative;}
ul#css3menu1 ul .submenu{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	padding:5px 5px 5px 0;display:block;font-size:0;float:left;}
ul#css3menu1 ul{
	padding:0 5px 5px;}
ul#css3menu1 .column{
	float:left;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 13px Trebuchet MS,sans-serif;color:#fff;font-weight:normal;text-shadow:#000 0 1px 1px;cursor:pointer;padding:4px 10px 4px 7px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:6px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#fff;background-image:none;border-width:0 0 1px 0;border-style:solid;border-color:#EFEFEF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:11px Trebuchet MS,sans-serif;color:#000;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu1 li:hover>a{
	border-style:none;font:normal 13px Trebuchet MS,sans-serif;color:#FFF;text-decoration:none;text-shadow:#181818 0 1px 1px;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu1 img.over{
	display:none;}
ul#css3menu1 li:hover > a img.def{
	display:none;}
ul#css3menu1 li:hover > a img.over{
	display:inline;}
ul#css3menu1 span{
	display:block;overflow:visible;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("arrowsub.png");padding-right:20px;}
ul#css3menu1 ul li:hover>a{
	background-color:#fff;background-image:none;border-style:solid;border-color:#EFEFEF;font:11px Trebuchet MS,sans-serif;color:#444;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu1.topmenu{
}
ul#css3menu1 li.topmenu>a{
	height:30px;line-height:30px;background-color:transparent;border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;}
ul#css3menu1 li.topmenu:hover>a{
	line-height:30px;background-color:#336699;}
