<form>
  <div class="clearfix">
      <div class="settings-header row">
          <div class="col-md-6 settings-title">General Online Reservations Settings</div>
          <div class="col-md-6">
            <div class="form-group marg-top-10">
                <label for="tee_sheet_id" class="col-md-12 control-label">Choose Tee Sheet</label>
                <div class="col-md-12">
                  <%=_.dropdown({}, {"name":"tee_sheet_id", "id":"tee_sheet_id", "class":"form-control"}, 1)%>
                </div>
            </div>
          </div>
          <div class="settings-subtitle">These settings are used in the Online Booking application.</div>
      </div>
  </div>
        <div id="online-view-settings-holder">

        </div>
</form>
