<div class="form-group">
    <label for="to-date" class="col-md-12 control-label">Online Reservations URL</label>
    <div class="col-md-12">
        <input class="form-control" type="text" value="https://foreupsoftware.com/index.php/booking/<%-course_id%>/<%-teesheet_id%>#teetimes" name="to_date" id="to-date" disabled/>
    </div>
</div>
<div class="form-group">
    <label for="online_open_time" class="col-md-12 control-label">Online Open Time</label>
    <div class="col-md-12">
        <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"online_open_time", "id":"online_open_time", "class":"form-control"}, online_open_time)%>
    </div>
</div>
<div class="form-group">
    <label for="online_close_time" class="col-md-12 control-label">Online Close Time</label>
    <div class="col-md-12">
        <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"online_close_time", "id":"online_close_time", "class":"form-control"}, online_close_time)%>
    </div>
</div>
<div class="form-group">
    <label for="days_in_booking_window" class="col-md-12 control-label">Days in Booking Window</label>
    <div class="col-md-12">
        <%=_.dropdown(SettingsRestModelDropdownOptions.daysInBookingWindow(), {"name":"days_in_booking_window", "id":"days_in_booking_window", "class":"form-control"}, days_in_booking_window)%>
    </div>
</div>
<div class="form-group">
    <label for="minimum_players" class="col-md-12 control-label">Minimum Players</label>
    <div class="col-md-12">
        <%=_.dropdown({"4":"4","3":"3","2":"2","1":"1"}, {"name":"minimum_players", "id":"minimum_players", "class":"form-control"}, minimum_players)%>
    </div>
</div>
<div class="form-group">
    <label for="limit_holes" class="col-md-12 control-label">Limit Holes</label>
    <div class="col-md-12">
        <%=_.dropdown({"0":"No Limit","9":"9 Only","18":"18 Only"}, {"name":"limit_holes", "id":"limit_holes", "class":"form-control"}, limit_holes)%>
    </div>
</div>
<div class="form-group">
    <div class="checkbox-control-container">
        <input type="checkbox" value="1" data-unchecked-value="0" id="require_credit_card" name="require_credit_card" style="margin-top: 5px;" <%- require_credit_card ? 'checked' : '' %> />
        <label for="require_credit_card" class="control-label">Require credit card online</label>
    </div>
</div>
<div class="form-group">
    <div class="checkbox-control-container">
        <input type="checkbox" value="1" data-unchecked-value="0" id="notify_all_participants" name="notify_all_participants" style="margin-top: 5px;" <%- notify_all_participants ? 'checked' : '' %> />
        <label for="notify_all_participants" class="control-label">Send reservation confirmation</label>
    </div>
</div>