<div class="col-md-4">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Online Booking Visible Hours
                </h4>
            </div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th>DAY OF THE WEEK</th>
                            <th>TIME RESTRICTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                                <div class="time-range-arrow col-md-2">-></div>
                                <div class="col-md-5">
                                    <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Aggregate Booking Settings
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Online Open Time</label>
                        <div class="col-md-12">
                            <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Online Close Time</label>
                        <div class="col-md-12">
                            <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Days in Booking Window</label>
                        <div class="col-md-12">
                            <%=_.dropdown(SettingsRestModelDropdownOptions.daysInBookingWindow(), {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Minimum Players</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"4":"4","3":"3","2":"2","1":"1"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Limit Holes</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"0":"No Limit","9":"9 only","18":"18 only"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Online Rates Allowed</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"0":"Walking","2":"Riding","1":"Both"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Allow Pre-Payment Online</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"0":"Not Allowed","1":"Optional","2":"Required"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Reservations Per Day Per Player</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quickbooks-terminal" class="col-md-12 control-label">Online Booking New Day Start Time</label>
                        <div class="col-md-12">
                            <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                        </div>
                    </div-->
                    <div class="form-group">
                        <div class="checkbox-control-container">
                            <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                            <label for="include_cash_logs" class="control-label">Require credit card online</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox-control-container">
                            <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                            <label for="include_cash_logs" class="control-label">Require Booking Fee</label>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <div class="checkbox-control-container">
                            <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                            <label for="include_cash_logs" class="control-label">Hide Online Prices</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox-control-container">
                            <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                            <label for="include_cash_logs" class="control-label">Include Tax in Online Booking Prices</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox-control-container">
                            <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                            <label for="include_cash_logs" class="control-label">Apply These Settings to All Courses</label>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>