<form>
  <div class="clearfix">
      <div class="settings-header row">
          <div class="col-md-12 settings-title">General Online Reservations Settings</div>
          <div class="settings-subtitle">These settings are used in the Online Booking application.</div>
      </div>
      <div class="row">
        <div class="form-group">
            <label for="onlineBookingWelcomeMessage" class="col-md-12 control-label">Online Booking Welcome Message</label>
            <div class="col-md-12">
                <div class="form-control text-editor" type="text" id="onlineBookingWelcomeMessage"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="bookingRules" class="col-md-12 control-label">Booking Rules</label>
            <div class="col-md-12">
                <div class="form-control text-editor" type="text" id="bookingRules"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="noShowPolicy" class="col-md-12 control-label">No Show Policy</label>
            <div class="col-md-12">
                <div class="form-control text-editor" type="text" id="noShowPolicy"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="termsAndConditions" class="col-md-12 control-label">Terms and Conditions</label>
            <div class="col-md-12">
                <div class="form-control text-editor" type="text" id="termsAndConditions"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="reservationEmailText" class="col-md-12 control-label">Reservation Email Message</label>
            <div class="col-md-12">
                <div class="form-control text-editor" type="text" id="reservationEmailText"> </div>
            </div>
        </div>
    </div>
</form>
