<div id="modalbox" class="modal right fade" role="dialog" >
    <div class="modal-dialog <%= size %>">
        <div class='modal-content edit-customer-window'>
            <div class='modal-body container-fluid' >
            </div>
        </div>
    </div>
</div>
