// mixins
@import "mixins/prefix";

// partials
@import "partials/base";

$brand-primary: #4885B1;


.container-fluid {
  padding: 0 18px;
}

nav.navbar {
  height: 49px;
  background-color: $brand-primary;
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;

  .navbar-brand {
    padding: 7px 18px 0 0;
    display: inline-block;
    float: left;

    img {
      height: 32px;
    }
  }

  .navbar-toggle {
    display: none;
  }

  ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    min-width: 0;

    .dropdown {
      position: relative;

      a.dropdown-toggle {
        height: 48px;
        line-height: 44px;
        padding: 0 16px;
        float: none;
        display: inline-block;
        text-align: center;
        font-size: 18px;

        img {
          max-height: 32px;
          max-width: 32px;
          vertical-align: middle;
          border-radius: 4px;
          margin-right: 8px;
        }

        .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top:   4px dashed;
          border-right: 4px solid transparent;
          border-left:  4px solid transparent;
        }


        &:hover {
          background: darken($brand-primary, 10%);
          color: #fff;

          span {
            background: none;
          }

          .caret {
            float: none;
            color: #fff;
            padding: 0;
          }
        }


      }

      ul.dropdown-menu {
        list-style: none;
        padding: 6px 0;
        margin: 0;
        display: none;
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 200px;
        z-index: 999;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 1px 18px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 18px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 18px rgba(0, 0, 0, .4);

        li {
          a {
            color: #404040;

            &:hover {
              color: #404040;
            }
          }
        }
      }

      &.isActive {

        a.dropdown-toggle {
          background: darken($brand-primary, 10%);
        }

          ul.dropdown-menu {
          display: block;
        }
      }
    }

    &.navbar-right {
      float: right;

      ul.dropdown-menu {
        right: 0;
        left: auto;
      }

      a.dropdown-toggle {
        font-size: 14px;
      }
    }
  }

  .app-header-apps {
    width: 470px !important;
    list-style: none;
    margin: 0;

    li {
      width: 50%;
      float: left;
      line-height: 1.4em;
      display: block;

      &:hover {
        padding: 0;
      }

      a {
        color: #404040;
        text-align: left;
        padding: 14px;
        line-height: 1.4em;
        display: block;
        float: none;
        cursor: pointer;

        .app-content {
          margin-left: 40px;
        }

        .app-name {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 4px;
          color: #404040;
        }

        .app-description {
          font-size: 12px;
          color: #a3a3a3;
          font-weight: 300;
        }

        &:hover {
          background: #f3f3f3;
        }
      }
    }
  }

  .app-icon {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('/images/icon-sprites-blue.png?v=1.0');
    background-repeat: no-repeat;

    &.app-icon-header {
      margin: 7px 10px 0 0;
    }

    &.app-icon-white {
      background-image: url('/images/icon-sprites-white.png?v=1.0');
    }

    &.app-icon-teesheets {
      background-position: 0 0;
    }
    &.app-icon-sales {
      background-position: 0 -30px;
    }
    &.app-icon-food_and_beverage {
      background-position: 0 -60px;
    }
    &.app-icon-items {
      background-position: 0 -90px;
    }
    &.app-icon-item_kits {
      background-position: 0 -120px;
    }
    &.app-icon-employees {
      background-position: 0 -150px;
    }
    &.app-icon-customers {
      background-position: 0 -180px;
    }
    &.app-icon-reports {
      background-position: 0 -210px;
    }
    &.app-icon-suppliers {
      background-position: 0 -240px;
    }
    &.app-icon-receivings {
      background-position: 0 -270px;
    }
    &.app-icon-giftcards {
      background-position: 0 -300px;
    }
    &.app-icon-promotions {
      background-position: 0 -330px;
    }
    &.app-icon-config {
      background-position: 0 -360px;
    }
    &.app-icon-invoices {
      background-position: 0 -390px;
    }
    &.app-icon-marketing_campaigns {
      background-position: 0 -420px;
    }
    &.app-icon-tournaments {
      background-position: 0 -450px;
    }
    &.app-icon-dashboards {
      background-position: 0 -480px;
    }
    &.app-icon-support {
      background-position: 0 -510px;
    }
    &.app-icon-time-clock {
      background-position: 0 -540px;
    }
    &.app-icon-logout {
      background-position: 0 -570px;
    }
    &.app-icon-Auto {
      background-position: 0 -600px;
    }
    &.app-icon-Events {
      background-position: 0 -630px;
    }
  }


  .app-header-list {
    @extend .app-header-apps;
    width: 200px !important;
    li {
      width: auto;
      float: none;
    }
  }
}

.stats-button {
  width: auto !important;
  height: 48px !important;
  margin: 0 !important;
  padding: 10px 14px !important;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  i {
    font-size: 16px;
    margin-bottom: 2px;
  }

  &:hover {
    background-color: darken($brand-primary, 10%);
  }
}

.bar_stat {
  text-shadow: none;
  color: rgba(17, 62, 105, 0.7);
  padding-top: 5px;
  cursor: default;
  font-weight: 700;
  margin-right: 16px;

  .stat_value {
    font-size: 18px;
  }

  .stat_label {
    color: rgba(17, 62, 105, 0.7);
  }
}