// bootstrap override variables
@import "partials/variables-override";

// bootstrap sass
@import "bootstrap-sass/bootstrap";

// mixins
@import "mixins/prefix";

// partials
@import "partials/base";
@import "partials/modal";
@import "partials/footer";

// modules
@import "modules/people-manage";

html, body {
  height: 100%;
}

body {
  background-color: $color-grey-900;
}

.bs-tabs {
  margin-bottom: 20px;
}

#customers .ui-widget-content {
  background-color: #f3f3f3;
  color: #000;
  border: solid 1px #e3e3e3;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 20px;
}

.ui-expandable.ui-widget {

  .ui-widget-header {
    border: solid 1px #e3e3e3;
    border-radius: 4px;
    height: 33px;
    cursor: pointer;

    .ui-state-default {

    }

    .ui-expandable-icon {
      margin: 3px 6px 0 6px;
      float: left;
    }

    .ui-expandable-title {
      margin: 5px 0 0 0;
      color: $brand-primary;
    }

    &.ui-state-hover {
      border-color: $brand-primary;
    }
  }

  &.ui-expandable-open {

    .ui-widget-header {
      border-radius: 4px 4px 0 0;
    }
  }
}
