<!--
Php url for upload

http://www.startutorial.com/articles/view/how-to-build-a-file-upload-form-using-dropzonejs-and-php
http://maxoffsky.com/code-blog/howto-ajax-multiple-file-upload-in-laravel/
-->

<div class="cb-logo cb-logo-{{componentModel.align}}">
    <alert type="{{alert.type}}" close="closeAlert()" ng-if="alert != null">{{alert.msg}}</alert>
    <div class="logo" ng-click="editLogo();$event.stopPropagation();">
        <div class="contents">
            <div ng-class="{'padded':componentModel.padding}" ng-if="!(componentModel.url )  && !componentModel.loading">
                <div class="image image-dropzone" align="center" style="margin-bottom: 10px !important; position: relative; text-align: center">
                    <div class="image-icon">
                        <i class="gi gi-image" style="font-size: 20px;"></i>
                    </div>
                    <div class="previewWindow" ng-hide="true"></div>
                    <button class="btn btn-default" dropzone="dropzoneConfig">
                        Upload Logo
                    </button>
                </div>
            </div>

            <div class="image" ng-class="{'padded':componentModel.padding}" ng-if="componentModel.url  || componentModel.dataUrl">
                <div class="image" style="margin-bottom: 0 !important;">
                    <a ng-href="{{componentModel.link}}"><img ng-src="{{componentModel.url}}" style="max-width: 100%; max-height: 200px;"></a>
                </div>
            </div>

            <div ng-class="{'padded':componentModel.padding}" ng-if="componentModel.loading">
                <div>
                    <div class="loading-animation" style="text-align: center;">
                        <progressbar value="progress"></progressbar>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

