<!--
Php url for upload

http://www.startutorial.com/articles/view/how-to-build-a-file-upload-form-using-dropzonejs-and-php
http://maxoffsky.com/code-blog/howto-ajax-multiple-file-upload-in-laravel/
-->

<table class="contents">
    <tbody>
    <tr>
        <td ng-class="{'padded':componentModel.padding}" ng-if="!(componentModel.url )  && !componentModel.loading" >
            <alert type="{{alert.type}}" close="closeAlert()" ng-if="alert != null">{{alert.msg}}</alert>
            <div class="image image-dropzone" align="center" style="margin-left: 50px; margin-right: 50px; position: relative;" >
                <div class="image-icon">
                    <i class="gi gi-image" style="font-size: 20px;"></i>
                </div>
                <div class="previewWindow" ng-hide="true"></div>
                <button class="btn btn-default"  dropzone="dropzoneConfig">
                    Upload Image
                </button>
            </div>
        </td>

        <td ng-class="{'padded':componentModel.padding}" ng-if="componentModel.url  || componentModel.dataUrl">
            <div class="image" align="center">
                <a ng-href="{{componentModel.link}}"><img ng-src="{{componentModel.url}}" style="max-width: 100%; max-height: 400px;"></a>
            </div>
        </td>
        
        <td ng-class="{'padded':componentModel.padding}" ng-if="componentModel.loading">
            <div>
                <div class="loading-animation">
                    <progressbar value="progress"></progressbar>

                    <!--<img src="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/loading.gif" alt="">-->
                </div>
            </div>
        </td>

    </tr>
    </tbody>
</table>