<div class="cb-header">

    <!-- builder back button -->
    <button class="cb-header-back pull-left"
            ui-sref="app.dashboard"
            tooltip title="Back to Dashboard">
        <i class="gi gi-chevron-left ti"></i>
    </button>

    <!-- dashboard heading -->
    <div class="cb-header-title pull-left">
        {{campaign.name}}
    </div>

    <!-- build campaign button -->
    <div class="create-campaign pull-right">
       <!-- <button class="btn btn-primary">
            Duplicate Campaign
        </button>-->
    </div>

</div>

<div class="container container-padding">
    <div ng-show="loading" class="center-loader">
        <img src="/frontend/campaign-builder/resources/img/loader2.gif" alt="Loading">
    </div>
    <div class="cb-container">

        <div style="margin-top: 20px;">&nbsp;</div>

        <div class="row">
            <div class="col-sm-6">
                <div class="clearfix">
                    <div class="pull-left">Open Rate </div>
                    <div class="blue-bold pull-right">{{rates.openRate * 100 | number : 1}}%</div>
                </div>
                <progressbar value="rates.openRate" max="1"></progressbar>

                <div class="row-stat">
                    <div class="title">
                        Industry Average
                    </div>
                    <div class="stat">
                        53.6%
                    </div>
                </div>
                <div class="row-stat">
                    <div class="title">
                        Your Avg
                    </div>
                    <div class="stat">
                        {{rates.courseOpenRate * 100 | number : 1 }}%
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="clearfix">
                    <div class="pull-left">Click Rate </div>
                    <div class="pull-right blue-bold">{{rates.clickRate * 100 | number : 1}}%</div>
                </div>
                <progressbar value="rates.clickRate" max="1"></progressbar>

                <div class="row-stat">
                    <div class="title">
                        Industry Average
                    </div>
                    <div class="stat">
                        1.9%
                    </div>
                </div>
                <div class="row-stat">
                    <div class="title">
                        Your Avg
                    </div>
                    <div class="stat">
                        {{rates.courseClickRate * 100 | number : 1 }}%
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 20px;">&nbsp;</div>


        <div campaign-analytics campaign="campaign">
        </div>
        <div >
            <div class="text-center">
                <h4 class="text-center">{{groupingTitle}}</h4>
                <div class="btn-group text-center" role="group">
                    <button class="btn btn-primary" ng-click="changeGrouping('day,hour')">Range</button>
                    <button class="btn btn-primary" ng-click="changeGrouping('dayname')">Day of Week</button>
                    <button class="btn btn-primary" ng-click="changeGrouping('hour')">By Hour</button>
                </div>
            </div>
            <!--<canvas id="myChart" width="400" height="160"></canvas>-->

            <canvas id="line" class="chart chart-line" data="data"
                    labels="labels">
            </canvas>



            <div style="text-align: center; margin-top: 20px;">
                <span style="width: 14px; display: inline-block; height: 14px; border-radius: 2px; background-color: #97bbcd;"></span>
                Clicked
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="width: 14px; display: inline-block; height: 14px; border-radius: 2px; background-color: #dcdcdc;"></span>
                Opened
            </div>
        </div>
    </div>
</div>


<script>
    // Get the context of the canvas element we want to select
//    var ctx = document.getElementById("myChart").getContext("2d");
//    var myLineChart = new Chart(ctx).Line({
//        labels: ["5pm", "6pm", "7pm", "8pm", "9pm", "10pm", "11pm","5pm", "6pm", "7pm", "8pm", "9pm", "10pm", "11pm"],
//        datasets: [
//            {
//                label: "Opened",
//                fillColor: "rgba(151,187,205,0.2)",
//                strokeColor: "rgba(151,187,205,1)",
//                pointColor: "rgba(151,187,205,1)",
//                pointStrokeColor: "#fff",
//                pointHighlightFill: "#fff",
//                pointHighlightStroke: "rgba(151,187,205,1)",
//                data: [28, 48, 40, 50, 14, 27, 2,28, 48, 40, 50, 14, 27, 2]
//            },
//            {
//                label: "Clicked",
//                fillColor: "rgba(220,220,220,0.2)",
//                strokeColor: "rgba(220,220,220,1)",
//                pointColor: "rgba(220,220,220,1)",
//                pointStrokeColor: "#fff",
//                pointHighlightFill: "#fff",
//                pointHighlightStroke: "rgba(220,220,220,1)",
//                data: [65, 59, 80, 81, 56, 55, 40,28, 48, 40, 50, 14, 27, 2]
//            }
//        ]
//    });
</script>