<table class="centered cb-section">
    <tbody>
    <tr>
        <td class="border">&#8203;</td>
        <td>
            <table ng-class="{'two-col': section.columns.length==2, 'one-col': section.columns.length==1}">
                <tbody>
                <tr  sv-root="components-list"  sv-grid="false">
                    <td ng-style="{'width' : section.width[key] }"
                        ng-class="{'first': $index==0 && section.columns.length > 1, 'second': $index==1, 'third': $index==2}"
                        ng-repeat="(key,column) in section.columns"
                        sv-part="column"
                        class="column cb-placeholder-container">

                        <div ng-if="section.columns[1] || section.columns[0][0].padding || section.columns[0][0].type!='image'"
                                ><div class="column-top">&nbsp;</div></div>
                        <table></table>
                        <div class="cb-element" ng-repeat="(key,item) in column" ng-class="{noHover: item.type=='image'}" sv-element>
                            <!--helper elements-->
                            <div class="cb-sv-helper" sv-helper>
                                <div class="cb-sv-helper-img" ng-style="{'background-image': 'url(/frontend/campaign-builder/resources/img/component-{{item.type}}-white.svg)'}"></div>
                            </div>
                            <div class="cb-sv-placeholder" sv-placeholder>
                                <div class="cbp-left"></div>
                                <div class="cbp-right"></div>
                            </div>
                            
                            <component component-model="item"></component>
                            <component-controls components="column" key="key"></component-controls>

                            <div class="border-leg border-leg-top" ng-class="{'border-leg-image': item.type=='image'}"></div>
                            <div class="border-leg border-leg-right" ng-class="{'border-leg-image': item.type=='image'}"></div>
                            <div class="border-leg border-leg-bottom" ng-class="{'border-leg-image': item.type=='image'}"></div>
                            <div class="border-leg border-leg-left" ng-class="{'border-leg-image': item.type=='image'}"></div>

                        </div>

                        <div ng-if="!column.length" class="cb-section-placeholder">
                            <div class="cb-section-placeholder-contents">
                                <img src="/frontend/campaign-builder/resources/img/arrow-down.png">
                                Drag Content Here
                            </div>
                        </div>
                        <div class="column-bottom">&nbsp;</div>
                    </td>
                </tr>
                </tbody>
            </table>

            <section-controls sections="sections" key="sectionKey"></section-controls>
        </td>
        <td class="border">​</td>
    </tr>
    </tbody>
</table>
<table class="border" width="602">
    <tbody>
    <tr class="border">
        <td class="border">&#8203;​</td>
        <td>​&#8203;</td>
        <td class="border">&#8203;​</td>
    </tr>
    </tbody>
</table>
