<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<div class="cb-preview" id="getme">
    <center class="wrapper">
        <div class="header-background">
            <table class="header centered">
                <tbody>
                <tr>
                    <td>
                        <!--no images-->
                        <table class="cb-no-images">
                            <tbody>
                            <tr>
                                <td class="preheader">
                                    <div class="spacer">&nbsp;</div>
                                    <div class="web">
                                        No Images?
                                        <a ng-href="/index.php/email/hostedEmail?email={{email_hash}}">Click Here</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="header centered">
                            <tbody>
                            <tr>
                                <td>
                                    <component-logo component-model="logo"></component-logo>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="border" width="602">
                <tbody><tr><td>​&#8203;</td></tr></tbody>
            </table>
        </div>

        <div sv-root="section-list" sv-part="sections">
            <div section="section"
                 sections="sections"
                 ng-repeat="(sectionKey,section) in sections"
                 ng-class="{'full-width':section.columns.length > 1}"
                 sv-element>
            </div>
        </div>

        <table class="border" width="602">
            <tbody><tr><td>​&#8203;</td></tr></tbody>
        </table>

        <table class="centered">
            <tbody><tr>
                <td class="footer">
                    <center>
                        <div class="address">{{course_info.name}}<br>
                            {{course_info.address}}
                        </div>
                        <div>
                            <span class="block"> </span>
                        <span class="block">
                            <a ng-href="/index.php/booking/index/{{course_info.course_id}}" target="_blank">
                                Book your tee time
                            </a>
                        </span>
                        </div>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
</body>
</html>