
<link rel="stylesheet" ng-href="/frontend/campaign-builder/resources/styles/templates/{{template_details.style}}">
<div class="cb-control" app-height>
    <div class="lead text-center">Add Content:</div>
    <div ng-show="activeSection.type != undefined" ng-click="$event.stopPropagation();">
        <component-button-editor active-section="activeSection"></component-button-editor>
        <component-image-editor active-section="activeSection"></component-image-editor>
    </div>
    <div sv-root="components-list"
         sv-on-start="startingoverride($item, $part, $index)"
         sv-on-stop="endingoverride($item, $part, $index,$target)"
         sv-on-sort="onsort($item, $partFrom, $partTo, $indexFrom, $indexTo)"
         sv-grid="false">
        <div sv-part="defaultComponents" original="true" class="cb-default-container">
            <div ng-repeat="item in defaultComponents" class="cb-default-component grab" sv-element>
                <div class="cb-sv-helper-img" ng-style="{'background-image': 'url(/frontend/campaign-builder/resources/img/component-{{item.type}}.svg)'}"></div>
                <div class="cb-sv-placeholder" sv-placeholder>
                    <div class="cbp-left"></div>
                    <div class="cbp-right"></div>
                </div>
                {{item.type | capFirstLetter}}
            </div>
        </div>
    </div>
</div>
<div class="cb-preview" id="getme" >
    <div class="loading-screen" ng-cloak ng-hide="!template_is_loading" >
        <img src="/frontend/campaign-builder/resources/img/loader2.gif" alt="">
    </div>
    <!-- add 'wrapper-light' class to darker themes -->
    <center class="wrapper" ng-cloak
            ng-hide="template_is_loading"
            ng-class="{'wrapper-light': template_details.style=='midnight.css'}">
        <div class="header-background">
            <table class="header centered">
                <tbody>
                <tr>
                    <td>
                        <!--no images-->
                        <table class="cb-no-images">
                            <tbody>
                            <tr>
                                <td class="preheader">
                                    <div class="spacer">&nbsp;</div>
                                    <div class="web">
                                        No Images?
                                        <a ng-href="/index.php/email/hostedEmail?email={{campaign.remote_hash}}">Click Here</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="header centered" >
                <tbody>
                <tr>
                    <td>
                        <component-logo component-model="logo"></component-logo>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <table class="border" width="602">
            <tbody><tr><td>​&#8203;</td></tr></tbody>
        </table>
        
        <div sv-root="section-list" sv-part="sections" sv-grid="false">
            <div section="section"
                 sections="sections"
                 section-key="sectionKey"
                 ng-repeat="(sectionKey,section) in sections"
                 ng-class="{'full-width':section.columns.length > 1}"
                 sv-element
                 repeat-done="layoutDone()" ng-cloak>
            </div>
        </div>

        <table class="border" width="602">
            <tbody><tr><td>​&#8203;</td></tr></tbody>
        </table>

        <!----------------------------------
            ADD LAYOUT
            don't show this in the
            email or preview
        ----------------------------------->
        <div class="add-layout-container" add-layout>
            <div class="al-outer">
                <div class="al-inner">+</div>
            </div>
            <div class="al-title">
                Add Layout
            </div>
            <div class="al-float">
                <div class="choose-layout" ng-click="addLayout(1)">
                    <img src="/frontend/campaign-builder/resources/img/layout-1col.png">
                </div>
                <div class="choose-layout" ng-click="addLayout(2)">
                    <img src="/frontend/campaign-builder/resources/img/layout-2col.png">
                </div>
                <div class="choose-layout" ng-click="addLayout(3)">
                    <img src="/frontend/campaign-builder/resources/img/layout-2col-2x1.png">
                </div>
                <div class="choose-layout" ng-click="addLayout(4)">
                    <img src="/frontend/campaign-builder/resources/img/layout-2col-1x2.png">
                </div>
            </div>
        </div>

        <table class="centered" >
            <tbody><tr>
                <td class="footer">
                    <center>
                        <div class="address">{{course_info.name}}<br>
                            {{course_info.address}}
                        </div>
                        <div>
                            <span class="block"> </span>
                        <span class="block">
                            <a ng-href="/index.php/booking/index/{{course_info.course_id}}" target="_blank">
                                Book your tee time
                            </a>
                        </span>
                        </div>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>

<template-builder-preview ></template-builder-preview>