<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">
            Bulk Edit
        </h4>
    </div>
    <div class="steps"></div>
    <div class="modal-body wizard container-fluid bulk-edit-container"></div>
    <div class="modal-footer"></div>
</div>