<% if(currentStep == 2){ %>
<!-- <button class="btn btn-default pull-left previous">
    <span class="fa fa-chevron-left align-left"></span> Back
</button> -->
<% } %>

<% if(steps[currentStep + 1]){ %>
<button class="btn btn-primary pull-right wide next-step" style="margin-left: 15px">
    <%-steps[currentStep + 1]%> <span class="fa fa-chevron-right align-right"></span>
</button>
<% } %>

<% if(!steps[currentStep + 1]){ %>
<button class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
<% } %>