<%
var requiredFields = App.data.course.get('customer_field_settings');

var customerInfo = [
    {
        field: 'first_name',
        name: 'First Name',
        type: 'text'
    },
    {
        field: 'last_name',
        name: 'Last Name',
        type: 'text'
    },
    {
        field: 'email',
        name: 'Email',
        type: 'text'
    },
    {
        field: 'phone_number',
        name: 'Phone Number',
        type: 'text'
    },
    {
        field: 'cell_phone_number',
        name: 'Cell Phone Number',
        type: 'text'
    },
    {
        field: 'address_1',
        name: 'Address Line 1',
        type: 'text'
    },
    {
        field: 'address_2',
        name: 'Address Line 2',
        type: 'text'
    },
    {
        field: 'city',
        name: 'City',
        type: 'text'
    },
    {
        field: 'state',
        name: 'State',
        type: 'stateDropdown'
    },
    {
        field: 'zip',
        name: 'Zip',
        type: 'text'
    },
    {
        field: 'date_created',
        name: 'Date Joined',
        type: 'date'
    },
    {
        field: 'birthday',
        name: 'Birthday',
        type: 'date'
    },
    {
        field: 'comments',
        name: 'Notes',
        type: 'textarea'
    }
];

var getField = function(field){

    var required = '';
    if(requiredFields && requiredFields[field.field] && requiredFields[field.field].required == 1){
        required = ' <span class="text-danger">*</span>';
    }

    var value = '';
    if(field.value !== undefined){
        value = field.value;
    }

    var html = '<div class="row form-group">' +
        '<div class="col-md-4">' +
            '<input type="checkbox" class="checkbox enable-change"  id="editing-customer-' + field.field + '" name="' + field.field + ':edit" value="1">' +
            '<label for="editing-customer-' + field.field + '">' + field.name + required + '</label>' +
            '</div>' +
        '<div class="col-md-8">';

        if(field.type == 'text'){
            html += '<input type="text" class="form-control" name="' + field.field + '" value="" disabled>';

        }else if(field.type == 'textarea'){
            html += '<textarea name="' + field.field + '" class="form-control" style="height: 100px" disabled></textarea>';

        }else if(field.type == 'date'){
            html += '<input type="text" class="form-control calendar" name="' + field.field + '" value="" placeholder="MM/DD/YYYY" style="width: 120px" disabled>';

        }else if(field.type == 'stateDropdown'){
            html += _.dropdown(US_STATES, {"name":"state", "id":"editing-customer-state", "class":"form-control", "disabled":"disabled"}, value);
        }

        html += '</div></div>';
        return html;
} %>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Information</h4>
                <hr>
            </div>
        </div>
        <% _.each(customerInfo, function(field){ %>
        <%=getField(field)%>
        <% }); %>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change" id="editing-customer-status_flag" name="status_flag:edit" value="1">
                <label for="editing-customer-status_flag">Customer Status</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown({0: 'N/A', 1: 'Red', 2: 'Yellow', 3: 'Green'}, {name: 'status_flag', class: 'form-control', disabled: 'disabled'})%>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change"  id="editing-customer-password" name="password:edit" value="1">
                <label for="editing-customer-password">Password</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="password" value="" disabled>
            </div>
        </div>
        <%
        var multiRecordOptions = {
            set: 'Replace all with',
            add: 'Add to existing',
            remove: 'Remove from existing',
            clear: 'Clear all'
        };
        %>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change"  id="editing-customer-groups" name="groups:edit" value="1">
                <label for="editing-customer-groups">Groups</label>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <%=_.dropdown(multiRecordOptions, {name: 'groups:action', class: 'form-control form-group action-menu', disabled: 'disabled'})%>
                        <select id="customer-add-group" class="form-control add-record" disabled>
                            <option value="0">- Select Group -</option>
                            <% _.each(App.data.course.get('groups').models, function(group){ %>
                            <option value="<%-group.get('group_id')%>"><%-group.get('label')%></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row" id="customer-groups"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Billing</h4>
                <hr>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-require_food_minimum" name="require_food_minimum:edit" value="1">
                <label for="editing-customer-require_food_minimum">Require F&B Minimums</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-require_food_minimum" name="require_food_minimum" value="1" data-unchecked-value="0" class="checkbox" disabled>
                <label for="customer-require_food_minimum">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change" id="editing-customer-minimum-charges" name="minimum_charges:edit" value="1">
                <label for="editing-customer-minimum-charges">Minimum Charges</label>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <%=_.dropdown(multiRecordOptions, {name: 'minimum_charges:action', class: 'form-control form-group action-menu', disabled: 'disabled'})%>
                        <%=_.dropdown(App.data.minimum_charges.get_dropdown_data(), {'class': 'form-control form-group add-record', 'id': 'customer-add-minimum-charge', disabled: 'disabled'})%>
                    </div>
                </div>
                <div class="row" id="customer-minimum-charges"></div>
            </div>
        </div>

        <!-- Display this in mobile, but not production -->
        <div class="row form-group" <% if(ENVIRONMENT == 'production' && window.location.href.indexOf('mobile.foreupsoftware.com') == -1){ %>style="display: none"<% } %>>
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change" id="editing-customer-recurring-charges" name="recurring_charges:edit" value="1">
                <label for="editing-customer-recurring-charges">Billing Memberships</label>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <%=_.dropdown(multiRecordOptions, {name: 'recurring_charges:action', class: 'form-control form-group action-menu', disabled: 'disabled'})%>
                        <%=_.dropdown(App.data.recurring_charges.dropdownData(), {id: 'customer-add-recurring-charge', class: 'form-control form-group add-record', disabled: 'disabled'})%>
                    </div>
                </div>
                <div class="row" id="customer-recurring-charges"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <%
        var balanceOptions = {
            set: 'Set amount to',
            increase: 'Add to existing amount',
            decrease: 'Subtract from existing amount'
        };
        %>
        <div class="row">
            <div class="col-md-12">
                <h4>Accounts</h4>
                <hr>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change"  id="editing-customer-price_class" name="price_class:edit" value="1">
                <label for="editing-customer-price_class">Price Class</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(App.data.course.get('price_classes'), {name: 'price_class', class: 'form-control', disabled: 'disabled'})%>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-non_taxable" name="non_taxable:edit" value="1">
                <label for="editing-customer-non_taxable">Non-taxable</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-non_taxable" name="non_taxable" value="1" data-unchecked-value="0" class="checkbox" disabled>
                <label for="customer-non_taxable">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change"  id="editing-customer-discount" name="discount:edit" value="1">
                <label for="editing-customer-discount">Discount</label>
            </div>
            <div class="col-md-8">
                <div class="input-group" style="width: 100px">
                    <input type="text" class="form-control" name="discount" value="" disabled>
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-invoice_email" name="invoice_email:edit" value="1">
                <label for="editing-customer-invoice_email">Invoice Email</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="invoice_email" value="" disabled>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input type="checkbox" class="checkbox enable-change"  id="editing-customer-passes" name="passes:edit" value="1">
                <label for="editing-customer-passes">Passes</label>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <%=_.dropdown(multiRecordOptions, {name: 'passes:action', class: 'form-control form-group action-menu', disabled: 'disabled'})%>
                        <input type="text" class="form-control form-group add-record" id="customer-pass-search" value="" placeholder="Search existing issued passes..." disabled>
                    </div>
                </div>
                <div class="row" id="customer-passes"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-member" name="member:edit" value="1">
                <label for="editing-customer-member">Is Member</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-member" name="member" value="1" data-unchecked-value="0" class="checkbox" disabled>
                <label for="customer-member">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-member_account_balance_allow_negative" name="member_account_balance_allow_negative:edit" value="1">
                <label for="editing-customer-member_account_balance_allow_negative"><%-App.data.course.get('member_balance_nickname')%> Allow Negative</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-member_account_balance_allow_negative" name="member_account_balance_allow_negative" value="1" class="checkbox" data-unchecked-value="0" disabled>
                <label for="customer-member_account_balance_allow_negative">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-member_account_balance" name="member_account_balance:edit" value="1">
                <label for="editing-customer-member_account_balance"><%-App.data.course.get('member_balance_nickname')%> Balance</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(balanceOptions, {name: 'member_account_balance:action', class: 'form-control form-group', disabled: 'disabled'})%>
                <div class="input-group form-group">
                    <div class="input-group-addon">$</div><input type="text" class="form-control" name="member_account_balance" value="" style="width: 120px" disabled>
                </div>
                <input type="text" class="form-control" name="member_balance_change_reason" placeholder="Comment..." value="" disabled>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-member_account_limit" name="member_account_limit:edit" value="1">
                <label for="editing-customer-member_account_limit"><%-App.data.course.get('member_balance_nickname')%> Limit</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(balanceOptions, {name: 'member_account_limit:action', class: 'form-control form-group', disabled: 'disabled'})%>
                <div class="input-group">
                    <div class="input-group-addon">(-) $</div><input type="text" class="form-control" name="member_account_limit" value="" style="width: 120px" disabled>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-account_balance_allow_negative" name="account_balance_allow_negative:edit" value="1">
                <label for="editing-customer-account_balance_allow_negative"><%-App.data.course.get('customer_credit_nickname')%> Balance Allow Negative</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-account_balance_allow_negative" name="account_balance_allow_negative" value="1" class="checkbox" data-unchecked-value="0" disabled>
                <label for="customer-account_balance_allow_negative">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-account_balance" name="account_balance:edit" value="1">
                <label for="editing-customer-account_balance"><%-App.data.course.get('customer_credit_nickname')%> Balance</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(balanceOptions, {name: 'account_balance:action', class: 'form-control form-group', disabled: 'disabled'})%>
                <div class="input-group form-group">
                    <div class="input-group-addon">$</div><input type="text" class="form-control form-group" name="account_balance" value="" style="width: 120px" disabled>
                </div>
                <input type="text" class="form-control" name="account_balance_change_reason" placeholder="Comment..." value="" disabled>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-account_limit" name="account_limit:edit" value="1">
                <label for="editing-customer-account_limit"><%-App.data.course.get('customer_credit_nickname')%> Limit</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(balanceOptions, {name: 'account_limit:action', class: 'form-control form-group', disabled: 'disabled'})%>
                <div class="input-group">
                    <div class="input-group-addon">(-) $</div><input type="text" class="form-control" name="account_limit" value="" style="width: 120px" disabled>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-use_loyalty" name="use_loyalty:edit" value="1">
                <label for="editing-customer-use_loyalty">Allow Loyalty</label>
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="customer-use_loyalty" name="use_loyalty" value="1" data-unchecked-value="0" class="checkbox" disabled>
                <label for="customer-use_loyalty">&nbsp;</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <input class="checkbox enable-change" type="checkbox" id="editing-customer-loyalty_points" name="loyalty_points:edit" value="1">
                <label for="editing-customer-loyalty_points">Loyalty Points</label>
            </div>
            <div class="col-md-8">
                <%=_.dropdown(balanceOptions, {name: 'loyalty_points:action', class: 'form-control form-group', disabled: 'disabled'})%>
                <input type="text" class="form-control" name="loyalty_points" value="" style="width: 120px" disabled>
                <!-- <input type="text" class="form-control" name="loyalty_points_change_reason" placeholder="Comment..." value="" disabled style="margin-top: 10px"> -->
            </div>
        </div>
    </div>
</div>
