<div class="record-card">
	<div class="record-card-title">
		<h4 class="record-card-title" style="margin-top: 2px; float: left;"><%-name%></h4>
		<button class="btn btn-sm btn-default delete pull-right">
			<i class="fa fa-trash"></i>
		</button>
	</div>
	<% _.each(items, function(charge){ %>
	<div style="overflow: hidden; padding: 0px 10px 5px 10px; margin-bottom: 5px;">
		<div class="pull-left" style="line-height: 30px;">
			<strong><%-charge.item.name%></strong>
			- <%-accounting.formatMoney(charge.item.total)%>
		</div>
		<div class="pull-right" style="line-height: 30px;">
			<label class="btn btn-sm btn-default">
				Generate Prorated Charge
				<input type="checkbox" class="prorate" name="prorate:<%-charge.id%>" value="<%-charge.id%>" style="position: relative; bottom: -2px;">
			</label>
		</div>
	</div>
	<% })%>
</div>