<% if(date_added != ''){
	date_added = moment(date_added, 'YYYY-MM-DD').format('MM/DD/YYYY');
} %>
<div class="col-md-6">
	<strong><%-accounting.formatMoney(minimum_amount)%></strong> - <%-name%>
</div>
<div class="col-md-4">
	<input type="text" class="form-control start-date" style="padding: 4px 6px; height: 30px" placeholder="Date Added" value="<%-date_added%>">
</div>
<div class="col-md-2">
	<button class="btn btn-default btn-muted btn-sm delete pull-right" type="button">
		<i class="fa fa-trash"></i>
	</button>
</div>