<div class="col-md-12">
	<h5 class="name pull-left">
		<% if(multi_customer && customer){ %>
		<%-customer.first_name+' '+customer.last_name%> -
		<% } %>
		<%-name%>
	</h5>
	<button type="button" class="btn btn-default btn-sm pull-right disconnect">
		<span class="fa fa-trash"></span>
	</button>
</div>
<div class="col-md-12">
	<% if(start_date != ''){
	start_date = moment(start_date).format('M/D/YY');
	}
	if(end_date != ''){
	end_date = moment(end_date).format('M/D/YY');
	} %>
	<div style="color: #888">
		<%-start_date%> to <%-end_date%>
		<% if(!is_valid){ %>
		<span class="label label-danger">Not Valid</span>
		<% }else{ %>
		<span class="label label-success">Valid</span>
		<% } %>
	</div>
</div>