<div class="col-md-10">
	<%-first_name%> <%-last_name%>
</div>
<div class="col-md-2">
	<button class="btn btn-sm btn-default btn-muted delete pull-right">
		<i class="fa fa-trash"></i>
	</button>
</div>