@import 'variables';

.form-group {
  margin-bottom: 5px;
}

.checkbox-control-container {
  padding-top:5px;
  padding-bottom:5px;
}

.checkbox-control-container label{
  line-height:20px;
}

.input-group-addon:last-child, .input-group-addon:first-child {
  font-weight:bold;
  color: $blue-gray;
}

.form-group label.control-label {
    font-size: 12px;
    color: $blue-gray;
    margin-bottom:1px;
    margin-top:10px;
}

.bootstrap-fu [type=checkbox]:checked+label,
.bootstrap-fu [type=checkbox]:not(:checked)+label {
  padding-left: 5px;
}
