@import '../../_common/css/variables';

.modal-dialog.modal-full {
    width: auto;
    display: block;
    margin: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}
@keyframes slide{
  0%{
    transform:translateX( 100% )
  }
  100%{
    transform:translateX( 0 )
  }
}
.modal-dialog.modal-full.right {
    width: 100%;
    right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    left: auto;
    .modal-body {
      padding: 0
    }
}
.modal-dialog.modal-full.right {
    animation: slide 1s 1;
}

@media (min-width: 978px) {

    .modal-dialog.modal-full.right {
        width: 80%;
    }
}

@media (min-width: 1200px) {

    .modal-dialog.modal-full {
        margin-left: 100px;
        margin-right: 100px;
    }

    .modal-dialog.modal-full.right {
        width: 965px;
    }
}

.modal-dialog.modal-full .modal-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 100%;
    border: 0;
    border-radius: 0;
}

.modal-full .modal-body {
    overflow-y: auto;
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 50px;
}

.modal-body.wizard {
    top: 150px;
}

.modal-well {
    padding: 10px 0px 30px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: $blue-highlight;
    border-bottom: 1px solid $gray;
    display: block;
    position: relative;
    height: auto;
    max-height: 295px;
}
.modal-full .modal-footer {
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: $off-white;
    border-top: 1px solid $gray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 7px 15px;
}

.modal-full .modal-header {
    height: 50px;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: $blue;
    border: none;
    padding: 10px 20px;
}

.modal-full .modal-header .header-icon {
    font-size: 38px;
    display: block;
    text-align: center;
    margin-right: 15px;
    width: 32px;
    margin-top: -2px;
}

.modal-full .modal-header h4 {
  font-size: 22px;
  margin-top: -1px;
  font-weight: 200;
  letter-spacing: 1.57px;
}

.modal-full .modal-header button.close {
  width: 25px;
  height: 25px;
  background-image: url('/images/icons/x.png');
  background-size: contain;
  margin: 0;
  opacity: 1;
}

.modal-full .modal-header * {
    color: white;
}
.modal ul.customer-data {
  background: $off-white;
  li.group {
    padding: 0 10px;
  }
}

.modal ul.customer-data li.group h5.name.new_title {
  font-size: 14px;
  font-weight: 400;
}
.modal ul.customer-data li.group button.delete {
  width:25px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 80%;
  i{
    position: absolute;
    top: 6px;
    left: 6px;
  }
}

.modal .modal-full.right button.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
