@import 'variables';

input.toggle-switch {

  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + label {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + label {
    outline: 0;
    display: block;
    width: 50px;
    height: 25px;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-top: -2px;

    // Theme
    background: #d0d0d0;
    border-radius: 2em;
    padding: 2px !important;
    transition: all .4s ease;

    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all .2s ease;
    }

    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + label:after {
    left: 50%;
  }
  &:checked + label {
    background: $green;
  }
}


#columns.table-set {
  padding:15px;
  height: 100%;

  li{
    list-style:none;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    &:first-child {
      background: $off-white;
    }
    &:nth-child(2n+3) {
      background: $off-white;
    }
    .handle {
      color: $gray;
      margin-right: 10px;
    }
  }
}

p.table-set-help {
  color: $blue-gray;
  padding: 15px;
}

.column-displayed {
  float: right;
  display: block;
}

.handle {
  float: left;
  display: block;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}