div.wizard-steps-container {
    width: 100%;
    height: 100px;
    padding: 0px;
    top: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: #EEF3F6;
    border-bottom: 1px solid #E0E0E0;
}

div.wizard-steps-container .connecting-line {
    height: 2px;
    position: absolute;
    top: 50%;
    left: 12%;
    right: 12%;
    margin-top: -10px;
    background-color: #DADADA;
    padding: 0px;
    z-index: 1;
}

div.wizard-step:before {
    content: '';
    position: absolute;
    top: 34%;
    height: 2px;
    background-color: #E0E0E0;
    display: block;
    width: auto;
    left: 0px;
    right: 0px;
    z-index: -1;
}

div.wizard-step:first-child:before {
    left: 50%
}

div.wizard-step:last-child:before {
    right: 50%
}

div.wizard-step {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 5px;
    z-index: 2;
    position: relative;
    width: 100%;
}

div.wizard-step-circle {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 5px solid #FEFFFF;
    background-color: #AEB9CF;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    color: white;
    box-shadow: 0px 0px 0px 2px #E0E0E0;
    z-index: 1;
    font-weight: 300;
    cursor: pointer;
}

div.wizard-step-circle.complete {
    background-color: #7DBE48;
}

div.wizard-step-circle.active {
    background-color: #2F5DAA
}

div.wizard-step-name {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 5px auto 0px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}