<td>
    <%-name%>
</td>
<td>
    <%-accounting.formatMoney(totalCharges)%>
</td>
<td>
    <div class="btn-group pull-right">
        <button class="btn btn-muted btn-sm dropdown-toggle pull-right" data-toggle="dropdown">
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li><a href="#" class="edit"><span class="fa fa-pencil"></span> Edit</a></li>
            <li><a href="#" class="delete"><span class="fa fa-trash"></span> Delete</a></li>
        </ul>
    </div>
</td>