<div class="row recurring-schedule-container">
    <div class="col-md-4">
        <div class="recurring-schedule-tabs">

        </div>
        <div class="row">
            <div class="col-md-12 account-settings-tab">
                <span class="status-icon pull-left"></span>
                Account Charges
            </div>
        </div>
    </div>
    <div class="col-md-8 recurring-schedule-details"></div>
</div>