<%
var override = '';
if(override_price !== null){
    override = accounting.formatMoney(override_price, '');
}
%>
<td>
    <%-line_number%>
</td>
<td>
    <%-item.name%>
</td>
<td class="charge-schedule">
    <a class="set-charge-schedule">No Charge Schedule Set Up</a>
</td>
<td style="padding: 5px 10px !important;">
    <input name="override_price" value="<%-override%>" placeholder="<%-item.basePrice%>" class="form-control item-price" style="width: 100px">
</td>
<td style="padding: 5px 10px !important;">
    <input name="quantity" value="<%-accounting.formatNumber(quantity)%>" class="form-control item-quantity" style="width: 75px">
</td>
<td>
    <% var total_tax_rate = _.reduce(item.taxes, function(runningTotal, tax){
    return runningTotal + parseFloat(tax.percent);
    }, 0); %>
    <%-accounting.formatNumber(total_tax_rate, 2)%>%
</td>
<td>
    <%-accounting.formatMoney(item.total)%>
</td>
<td>
    <div class="btn-group pull-right">
        <button class="btn btn-sm btn-default dropdown-toggle pull-right" style="padding: 0px 8px" data-toggle="dropdown">
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li><a href="#" class="edit"><span class="fa fa-pencil"></span> Edit Item</a></li>
            <li><a href="#" class="remove"><span class="fa fa-trash"></span> Remove Item</a></li>
        </ul>
    </div>
</td>