<div class="nd-table-container layout-box" id="grid">
    <table class="table items"></table>
</div>

<div class="nd-footer clearfix">
    <div class="row">
        <div id="paginator" class="col-md-4 col-sm-6"></div>
        <div id="state-display" class="col-md-3 hidden-sm hidden-xs"></div>
        <div class="col-md-5 col-sm-6">
            <div class="selectionButtons btn-group pull-right">
                <button type="button" class="btn btn-primary btn-danger controls" action="bulkDelete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i><span class="hidden-sm hidden-xs">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>