<div class="row">
    <div class="col-xs-12">
        <h3 class="form-title" style="margin-top: 0px">Account Charge Settings</h3>
        <hr style="border-top-color: #ccc; margin-top: 5px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <input type="checkbox" name="payMemberBalance" id="statement-pay-member-balance" value="1" data-unchecked-value="0" <% if(payMemberBalance){ %>checked<% } %>>
        <label for="statement-pay-member-balance">Charge <em><%-App.data.course.get('member_balance_nickname')%></em> balance</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <input type="checkbox" name="payCustomerBalance" id="statement-pay-customer-balance" value="1" data-unchecked-value="0" <% if(payCustomerBalance){ %>checked<% } %>>
        <label for="statement-pay-customer-balance">Charge <em><%-App.data.course.get('customer_credit_nickname')%></em> balance</label>
    </div>
</div>