<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="view"><i class="fa fa-file-text-o" aria-hidden="true"></i>Edit</a></li>
        <li><a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></li>
    </ul>
</div>