<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <!-- <i class="fa fa-question pull-right header-icon"></i> -->
        <h4 class="modal-title">
            Billing Template
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Template Name</label>
                    <input type="text" value="<%-name%>" class="form-control" name="name" id="charge-name" data-bv-notempty data-bv-notempty-message="Name is required">
                </div>
            </div>
            <div class="col-md-6">
                <div class="well schedule-legend">
                    <div class="legend-item">
                        <div class="pull-left"><div class="statement-period"></div></div>
                        <div class="pull-right">Statement Period</div>
                    </div>
                    <div class="legend-item">
                        <div class="pull-left"><div class="charge"></div></div>
                        <div class="pull-right">Statement Charge</div>
                    </div>
                    <div class="legend-item">
                        <div class="pull-left"><div class="active-charge"></div></div>
                        <div class="pull-right">Currently Editing Charge</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px">
            <div id="billing-visualization" class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 tabs" style="border-bottom: 2px solid #E0E0E0">
                <ul class="nav nav-tabs">
                    <li class="tab active" style="width: 150px; float: left;">
                        <div class="tab-selector" data-target="#charge-items" data-toggle="tab">
                            Items
                        </div>
                    </li>
                    <li class="tab" style="width: 175px; float: left;">
                        <div class="tab-selector" data-target="#charge-statement-settings" data-toggle="tab">
                            Statement Settings
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" style="padding-top: 25px">
                    <div role="tabpanel" id="charge-statement-settings" class="tab-pane"></div>
                    <div role="tabpanel" id="charge-items" class="tab-pane active">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-2">
                                <h5 style="margin: 0px">Schedule Fees and Items</h5>
                            </div>
                        </div>
                        <div class="row line-items" id="line-items"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default btn-lg pull-right" id="preview-statement">Preview Statement</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left cancel" data-dismiss="modal">Cancel</button>
        <button id="save-recurring-charge" class="btn btn-primary pull-right">Save Template</button>
    </div>
</div>