<div class="col-md-6 co-lg-4 col-xs-12">
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group"><button type="button" class="btn btn-default period <% if(typeof(period) != 'undefined' && period == 'monthly'){ %>active<% } %>" data-value="monthly">Monthly</button></div>
        <div class="btn-group"><button type="button" class="btn btn-default period <% if(typeof(period) != 'undefined' && period == 'quarterly'){ %>active<% } %>" data-value="quarterly">Quarterly</button></div>
        <div class="btn-group"><button type="button" class="btn btn-default period <% if(typeof(period) != 'undefined' && period == 'yearly'){ %>active<% } %>" data-value="yearly">Yearly</button></div>
    </div>
</div>