<div class="col-md-5">
    <% if(typeof(period) != 'undefined' && period && period != 'quarterly'){ %>
    <div class="row repeat-interval-container">
        <div class="form-group col-sm-10 col-md-8 col-lg-6">
            <label>Repeat every</label>
            <div class="input-group">
                <input type="text" class="form-control" id="repeat-interval" value="<% if(typeof(interval) != 'undefined'){ %><%-interval%><% } %>">
                <span class="input-group-addon">
                    <% var label = 'months';
                    if(period == 'yearly'){ label = 'years'; }
                    print(label); %>
                </span>
            </div>
        </div>
        <div class="form-group col-sm-10 col-md-8 col-lg-6">
            <label for="repeat-start">Starting on</label>
            <input type="text" class="form-control start-date date-picker" style="text-align: left" id="repeat-start" placeholder="Today"
                   value="<% if(typeof(dtstart) != 'undefined' && dtstart && dtstart.length != 0){ %><%-moment(dtstart).format('MM/DD/YYYY')%><% } %>">
        </div>
    </div>
    <% } %>
</div>
<div class="col-md-2 or-separator">
    <% if(typeof(period) != 'undefined' && period != 'quarterly'){ %>
    - or -
    <% } %>
</div>
<div class="col-md-5 col-sm-6">
    <div class="repeat-month-selector">
        <% for(var x = 1; x <= 12; x++){
        var isActive = (typeof(bymonth) != 'undefined' && bymonth != null && bymonth.indexOf(x) !== -1);
        %>
        <button class="btn btn-default repeat-month <% if(isActive){ %>active<% } %>" data-value="<%-x%>"><%-moment().month(x - 1).format('MMM')%></button>
        <% } %>
    </div>
</div>