<%
function getPaymentType(payment){

    var value = '';

    if(payment.type == 'pos'){
        value += 'POS #' + payment.saleId;
    }else if(payment.type == 'ach'){
        value += 'ACH';
    }else if(payment.subType == 'visa'){
        value  +=  'VISA';
    }else if(payment.subType == 'mastercard'){
        value += 'MasterCard';
    }else if(payment.subType == 'discover'){
        value += 'Discover';
    }else if(payment.subType == 'jcb'){
        value = 'JCB';
    }else if(payment.subType == 'diners'){
        value = 'Diners';
    }else if(payment.subType == 'amex'){
        value = 'American Express';
    }

    value += ' ' + payment.accountNumber;
    return value;
}

var memberBalanceLabel = 'Member Account';
var customerBalanceLabel = 'Pro Shop Account';

if(App.data.course.get('member_balance_nickname')){
    memberBalanceLabel = App.data.course.get('member_balance_nickname');
}

if(App.data.course.get('customer_credit_nickname')){
    customerBalanceLabel = App.data.course.get('customer_credit_nickname');
}

%>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Statement Preview
        </h4>
    </div>
    <div class="modal-body">
        <div class="statement-container">
            <div class="row statement-header">
                <div class="col-md-7">
                    <div class="statement-course-info">
                        <img src="http://development.foreupsoftware.com/app_files/view/2" class="statement-course-logo">
                        <h3 class="statement-course-name"><%-App.data.course.get('name')%></h3>
                        <address class="statement-course-address">
                            <%-App.data.course.get('address')%><br>
                            <%-App.data.course.get('city')%> <%-App.data.course.get('state')%>, <%-App.data.course.get('zip')%>
                        </address>
                        <div class="statement-course-contact">
                            <%-App.data.course.get('website')%><br>
                            <%-App.data.course.get('email')%><br>
                            <%-App.data.course.get('phone')%>
                        </div>
                    </div>
                    <div class="statement-bill-to">
                        <table>
                            <thead>
                            <tr>
                                <th>Bill To</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <h2 class="customer-name"><%-customer.contact_info.first_name%> <%-customer.contact_info.last_name%></h2>
                                    <div class="account-number">
                                        <strong>Acct: </strong>
                                        <% if(!customer.account_number){ %>
                                        <span class="text-muted">N/A</span>
                                        <% }else{ %>
                                        <%-customer.account_number%>
                                        <% } %>
                                    </div>
                                    <address class="customer-address">
                                        <%-customer.contact_info.address_1%><br>
                                        <%-customer.contact_info.city%> <%-customer.contact_info.state%>, <%-customer.contact_info.zip%>
                                    </address>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-5">
                    <div>
                        <h1 class="statement-label">STATEMENT</h1>
                        <img class="barcode"/>
                    </div>
                    <table cellspacing="0" class="statement-summary">
                        <tbody>
                        <tr>
                            <th>Bill Date</th>
                            <td style="width: 125px"><%-moment(dateCreated).format('M/D/YYYY')%></td>
                        </tr>
                        <tr>
                            <th>Statement #</th>
                            <td><%-number%></td>
                        </tr>
                        <tr>
                            <td>Prev. Balance</td>
                            <td><%-accounting.formatMoney(customer.invoice_balance)%></td>
                        </tr>
                        <tr>
                            <td>Payments</td>
                            <td><%-accounting.formatMoney(totalPaid)%></td>
                        </tr>
                        <tr>
                            <td>New Charges</td>
                            <td><%-accounting.formatMoney(total)%></td>
                        </tr>
                        <tr>
                            <th style="border-top: none;">
                                <h2 class="statement-total">Total Due</h2>
                            </th>
                            <td style="border-top: none;">
                                <h2 class="statement-total" style="float: right"><%-accounting.formatMoney(totalOpen)%></h2>
                            </td>
                        </tr>
                        <tr>
                            <th><em>Due On</em></th>
                            <td><%-moment(dueDate).format('M/D/YYYY')%></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="statement-terms">
                        <% if(termsAndConditionsText){ %>
                        <div class="statement-message">
                            <strong>Terms & Conditions</strong><br>
                            <%=termsAndConditionsText%>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="row statement-items">
                <div class="col-md-12">
                    <h3 class="section-title">
                        New Charges (<%-moment(startDate).format('M/D/YYYY')%> to
                        <%-moment(endDate).format('M/D/YYYY')%>)
                    </h3>
                    <table class="items" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 25px;">&nbsp;</th>
                                <th class="date">Date</th>
                                <th>Item</th>
                                <th class="quantity">Qty</th>
                                <th class="amount">Price</th>
                                <th class="tax-rate">Tax Rate</th>
                                <th class="amount">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(charges && charges.length > 0){ %>
                            <% _.each(charges, function(line, index){ %>
                            <tr>
                                <td><%-line.line%></td>
                                <td class="date"><%-moment(line.dateCharged).format('M/D/YYYY')%></td>
                                <td><%-line.name%></td>
                                <td class="quantity"><%-accounting.formatNumber(line.qty)%></td>
                                <td class="amount"><%-accounting.formatMoney(line.unitPrice)%></td>
                                <td class="tax-rate"><%-accounting.formatNumber(line.taxPercentage)%>%</td>
                                <td class="amount"><%-accounting.formatMoney(line.subtotal)%></td>
                            </tr>
                            <% }) }else{ %>
                            <tr>
                                <td colspan="7" class="empty">No New Charges</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <% if(payments && payments.length > 0){ %>
            <div class="row statement-items">
                <div class="col-md-12">
                    <h3 class="section-title">
                        Payments
                    </h3>
                    <table class="items" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 25px;">&nbsp;</th>
                                <th class="date">Date</th>
                                <th>Payment Method</th>
                                <th class="amount">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(payments, function(payment, index){ %>
                            <tr>
                                <td><%-(index + 1)%></td>
                                <td><%-moment(payment.dateCreated).format('M/D/YYYY')%></td>
                                <td><%-getPaymentType(payment)%></td>
                                <td class="amount"><%-accounting.formatMoney(payment.amount)%></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>

            <div class="row statement-items">
                <div class="col-md-8">
                    <% if(messageText){ %>
                    <div class="statement-message">
                        <%=messageText%>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-4">
                    <table cellspacing="0" class="statement-totals">
                        <tr>
                            <td>Subtotal</td>
                            <td style="width: 125px"><%-accounting.formatMoney(subtotal)%></td>
                        </tr>
                        <tr>
                            <td>Taxes</td>
                            <td><%-accounting.formatMoney(totalTax)%></td>
                        </tr>
                        <tr>
                            <td>Payments</td>
                            <td><%-accounting.formatMoney(totalPaid)%></td>
                        </tr>
                        <tr>
                            <th><strong>Total</strong></th>
                            <td><strong><%-accounting.formatMoney(totalOpen)%></strong></td>
                        </tr>
                        <tr>
                            <td><em>Due On</em></td>
                            <td><%-moment(dueDate).format('M/D/YYYY')%></td>
                        </tr>
                    </table>
                </div>
            </div>

            <% if(includeMemberTransactions){
            var lastRunningBalance = memberBalanceForward;
            %>
            <div class="row statement-items">
                <div class="col-md-12">
                    <h3 class="section-title">
                        <%-memberBalanceLabel%> (<%-moment(startDate).format('M/D/YYYY')%> to
                        <%-moment(endDate).format('M/D/YYYY')%>)
                    </h3>
                    <table class="items">
                        <thead>
                            <tr>
                                <th class="date">Date</th>
                                <th>Transaction</th>
                                <th>Details</th>
                                <th class="amount">Debit</th>
                                <th class="amount">Credit</th>
                                <th class="amount">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% if(memberTransactions && memberTransactions.length > 0){ %>
                        <tr>
                            <td colspan="5" style="text-align: center"><em>Balance Forward</em></td>
                            <td class="amount"><%-accounting.formatMoney(memberBalanceForward)%></td>
                        </tr>
                        <% _.each(memberTransactions, function(transaction){
                        lastRunningBalance = parseFloat(transaction.runningBalance);
                        %>
                        <tr>
                            <td class="date"><%-moment(transaction.transDate).format('M/D/YYYY')%></td>
                            <td><%-transaction.transComment%></td>
                            <td>
                            <% if(transaction.sale && transaction.sale.items && transaction.sale.items.length > 0){ %>
                                <% _.each(transaction.sale.items, function(item){ %>
                                (<%-accounting.formatNumber(item.quantity)%>) <%-item.name%>: <%-accounting.formatMoney(item.total)%><br>
                                <% }) %>
                            <% }else{ %>
                                <%=transaction.transDescription%>
                            <% } %>
                            </td>
                            <td class="amount"><% if(transaction.transAmount <= 0){ %><%-accounting.formatMoney(Math.abs(transaction.transAmount))%><% } %></td>
                            <td class="amount"><% if(transaction.transAmount > 0){ %><%-accounting.formatMoney(Math.abs(transaction.transAmount))%><% } %></td>
                            <td class="amount"><%-accounting.formatMoney(transaction.runningBalance)%></td>
                        </tr>
                        <% }) %>
                        <% }else{ %>
                        <tr>
                            <td colspan="6" class="empty">No transactions</td>
                        </tr>
                        <% } %>
                        <tr>
                            <th colspan="5" style="text-align: right; font-weight: normal;"><em>Balance as of <%-moment(endDate).format('M/D/YYYY')%></th>
                            <th class="amount"><strong><%-accounting.formatMoney(lastRunningBalance)%></strong></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>

            <% if(includeCustomerTransactions){
                var lastRunningBalance = customerBalanceForward;
            %>
            <div class="row statement-items">
                <div class="col-md-12">
                    <h3 class="section-title">
                        <%-memberBalanceLabel%> (<%-moment(startDate).format('M/D/YYYY')%> to
                        <%-moment(endDate).format('M/D/YYYY')%>)
                    </h3>
                    <table class="items">
                        <thead>
                        <tr>
                            <th class="date">Date</th>
                            <th>Transaction</th>
                            <th>Details</th>
                            <th class="amount">Debit</th>
                            <th class="amount">Credit</th>
                            <th class="amount">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(customerTransactions && customerTransactions.length > 0){ %>
                        <tr>
                            <td colspan="5" style="text-align: center"><em>Balance Forward</em></td>
                            <td class="amount"><%-accounting.formatMoney(customerBalanceForward)%></td>
                        </tr>
                        <% _.each(customerTransactions, function(transaction){
                        lastRunningBalance = parseFloat(transaction.runningBalance);
                        %>
                        <tr>
                            <td class="date"><%-moment(transaction.transDate).format('M/D/YYYY')%></td>
                            <td><%-transaction.transComment%></td>
                            <td>
                                <% if(transaction.sale && transaction.sale.items && transaction.sale.items.length > 0){ %>
                                <% _.each(transaction.sale.items, function(item){ %>
                                (<%-accounting.formatNumber(item.quantity)%>) <%-item.name%>: <%-accounting.formatMoney(item.total)%><br>
                                <% }) %>
                                <% }else{ %>
                                <%=transaction.transDescription%>
                                <% } %>
                            </td>
                            <td class="amount"><% if(transaction.transAmount <= 0){ %><%-accounting.formatMoney(Math.abs(transaction.transAmount))%><% } %></td>
                            <td class="amount"><% if(transaction.transAmount > 0){ %><%-accounting.formatMoney(Math.abs(transaction.transAmount))%><% } %></td>
                            <td class="amount"><%-accounting.formatMoney(transaction.runningBalance)%></td>
                        </tr>
                        <% }) %>
                        <% }else{ %>
                        <tr>
                            <td colspan="6" class="empty">No transactions</td>
                        </tr>
                        <% } %>
                        <tr>
                            <th colspan="5" style="text-align: right; font-weight: normal;"><em>Balance as of <%-moment(endDate).format('M/D/YYYY')%></th>
                            <th class="amount"><strong><%-accounting.formatMoney(lastRunningBalance)%></strong></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
            <% if(footerText){ %>
            <div class="row statement-footer">
                <div class="col-md-12">
                    <hr>
                    <%=footerText%>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-right" type="button" data-dismiss="modal">Close</button>
    </div>
</div>