<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="view"><i class="fa fa-file-text-o" aria-hidden="true"></i>View</a></li>
        <li><a href="#" class="print"><i class="fa fa-print" aria-hidden="true"></i>Print</a></li>
        <li><a href="#" class="email"><i class="fa fa-paper-plane" aria-hidden="true"></i>Email</a></li>
    </ul>
</div>