<div class="container container-padding">

    <div class="row">
        <div class="col-md-6">
            <div class="cb-box-title">
                <i class="gi gi-paragraph ti"></i>&nbsp;
                <span class="ti">Usage Statistics</span>
            </div>
            <div class="panel panel-default" >
                <div style="padding: 20px;">

                    <table class="db-table">
                        <thead>
                        <tr>
                            <td >
                                Marketing Type
                            </td>
                            <td class="text-left ">
                                Sent
                            </td>
                            <td class="text-left ">
                                Limit
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="{'bg-danger': isLimitDanger(stats.email.usage,stats.email.limit),'bg-warning': isLimitWarning(stats.email.usage,stats.email.limit)}">
                            <td >
                                Emails
                            </td>
                            <td class="text-left  "  >
                                {{stats.email.usage || 0}}
                            </td>
                            <td class="text-left ">
                                {{stats.email.limit || "-"}}
                            </td>
                        </tr>
                        <tr ng-class="{'bg-danger': isLimitDanger(stats.text.usage,stats.text.limit),'bg-warning': isLimitWarning(stats.text.usage,stats.text.limit)}">
                            <td>
                                SMS
                            </td>
                            <td class="text-left " >
                                {{stats.text.usage|| 0}}
                            </td>
                            <td class="text-left ">
                                {{stats.text.limit|| "-"}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cb-box-title">
                <i class="gi gi-paragraph ti"></i>&nbsp;
                <span class="ti">Drafts</span>
            </div>
            <div class="panel panel-default" ng-if="!campaigns.drafts.length">
                <div style="padding: 20px;">
                    Campaign Drafts appear here.<br>
                    <a ng-click="createEditCampaign()">Start a new Campaign &#8594;</a>
                </div>
            </div>
            <div class="panel panel-default" ng-if="campaigns.drafts.length">
                <div class="panel-body">
                    <table class="db-table">
                        <thead>
                        <tr>
                            <td>
                                CAMPAIGN
                            </td>
                            <td class="text-center hidden-xs">
                                RECIPIENTS
                            </td>
                            <td class="text-center hidden-xs">
                                CONTENT
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,draft) in campaigns.drafts">
                            <td>
                                <div class="campaign-type multi-line"
                                     ng-if="draft.type == 'email'"
                                     tooltip title="Email Campaign">
                                    <i class="fa fa-envelope" style="font-size: 14px;"></i>
                                </div>
                                <div class="campaign-type multi-line"
                                     ng-if="draft.type == 'text'"
                                     tooltip title="Text Campaign">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <div style="display: inline-block;">
                                    <a ng-click="loadCampaign(draft)">{{draft.title}}</a>
                                    <div>
                                        Created {{draft.date_created | timeStamp | date: 'mediumDate'}}
                                    </div>
                                </div>
                            </td>
                            <td class="text-center hidden-xs" >
                                <div class="check-mark" ng-show="hasRecipients(draft)">
                                    <i class="gi gi-check"></i>
                                </div>
                            </td>
                            <td class="text-center hidden-xs">
                                <div class="check-mark" ng-show="draft.json_content != undefined"
                                     >
                                    <i class="gi gi-check"></i>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="clear-btn"
                                     tooltip
                                     title="Copy Campaign"
                                     ng-click="copyCampaign(draft)"
                                     ladda="draft.loading.copy"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-file-copy"></i>
                                </div>
                                <div class="clear-btn"
                                     tooltip title="Delete Campaign"
                                     ng-click="deleteCampaign(draft)"
                                     ladda="draft.loading.delete"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-trash"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cb-box-title">
                <i class="gi gi-clock ti"></i>&nbsp;
                <span class="ti">Recurring Emails</span>
                <span>+</span>
            </div>
            <div class="panel panel-default" ng-if="!campaigns.recurring.length">
                <div style="padding: 20px;">
                    Create a Recurring Email
                </div>
            </div>
            <div class="panel panel-default" ng-if="campaigns.recurring.length">
                <div class="panel-body">
                    <table class="db-table">
                        <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td class="hidden-xs">
                                Next Email
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="email in campaigns.recurring">
                            <td>{{email.name}}</td>
                            <td>{{email.next_occurence_timestamp * 1000 | date:'d MMMM yyyy HH:00:00 ' }}</td>
                            <td>
                                <div class="clear-btn"
                                     tooltip title="Delete Campaign"
                                     ng-click="deleteCampaign(email)"
                                     ladda="recurring.loading.delete"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                <i class="gi gi-trash"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cb-box-title">
                <i class="gi gi-clock ti"></i>&nbsp;
                <span class="ti">Reminders</span>
                <span>+</span>
            </div>
            <div class="panel panel-default" ng-if="!campaigns.reminders.length">
                <div style="padding: 20px;">
                    Create a Reminder
                </div>
            </div>
            <div class="panel panel-default" ng-if="campaigns.reminders.length">
                <div class="panel-body">
                    <table class="db-table">
                        <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td class="hidden-xs">
                                Time Before
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="reminder in campaigns.reminders">
                            <td>{{reminder.name}}</td>
                            <td>{{reminder.settings.timebefore}} {{reminder.settings.timebefore_unit}}s</td>
                            <td>
                                <div class="clear-btn"
                                     tooltip title="Delete Reminder"
                                     ng-click="deleteReminder(reminder)"
                                     ladda="reminder.loading.delete"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-trash"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cb-box-title">
                <i class="gi gi-clock ti"></i>&nbsp;
                <span class="ti">Outgoing</span>
            </div>
            <div class="panel panel-default" ng-if="!campaigns.current.length">
                <div style="padding: 20px;">
                    Outgoing Campaigns appear here.
                </div>
            </div>
            <div class="panel panel-default" ng-if="campaigns.current.length" style="max-height:400px;overflow:auto;">
                <div class="panel-body">
                    <table class="db-table">
                        <thead>
                        <tr>
                            <td>
                                CAMPAIGN
                            </td>
                            <td class="hidden-xs">
                                TIMESTAMP
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="current in campaigns.current">
                            <td>
                                <div class="campaign-type"
                                     ng-if="current.type == 'email'"
                                     tooltip title="Email Campaign">
                                    <i class="fa fa-envelope" style="font-size: 14px;"></i>
                                </div>
                                <div class="campaign-type"
                                     ng-if="current.type == 'text'"
                                     tooltip title="Text Campaign">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <a  ng-click="loadCampaign(current)">{{current.title}}</a>
                            </td>
                            <td class="hidden-xs">
                                {{current.send_date | timeStamp | date: 'mediumDate'}}
                            </td>
                            <td class="text-right">
                                <div class="clear-btn"
                                     ng-show="current.type == 'email'"
                                     tooltip title="Preview Campaign"
                                     ng-click="launchPreview(current)">
                                    <i class="gi gi-file-view ti" ></i>
                                </div>
                                <div class="clear-btn"
                                     tooltip
                                     title="Copy Campaign"
                                     ng-click="copyCampaign(current)"
                                     ladda="current.loading.copy"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-file-copy"></i>
                                </div>
                                <div class="clear-btn"
                                     tooltip title="Cancel Campaign"
                                     ng-click="pauseCampaign(current)"
                                     ladda="current.loading.cancel"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-minus-circle" ></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="cb-box-title">
                <i class="gi gi-envelope ti"></i>&nbsp;
                <span class="ti">Recent</span>
            </div>
            <div class="panel panel-default" ng-if="!campaigns.finished.length">
                <div style="padding: 20px;">
                     Recently sent Campaigns appear here.
                </div>
            </div>
            <div class="panel panel-default" ng-if="campaigns.finished.length">
                <div class="panel-body">
                    <table class="db-table">
                        <thead>
                        <tr>
                            <td>
                                CAMPAIGN
                            </td>
                            <td class="hidden-xs">
                                SENT
                            </td>
                            <td class="hidden-xs">

                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="finished in campaigns.finished">
                            <td>
                                <div class="campaign-type"
                                     ng-if="finished.type == 'email'"
                                     tooltip title="Email Campaign">
                                    <i class="fa fa-envelope" style="font-size: 14px;"></i>
                                </div>
                                <div class="campaign-type"
                                     ng-if="finished.type == 'text'"
                                     tooltip title="Text Campaign">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <a ui-sref="viewCampaign({campaign_id: finished.campaign_id})" ng-if="finished.type == 'email'">{{finished.title}}</a>
                                <span  ng-if="finished.type != 'email'" tooltip title="No analytics available for sent Text Message Campaigns.">{{finished.title}}</span>
                            </td>
                            <td class="hidden-xs">
                                <span ng-hide="finished.send_date == '0000-00-00 00:00:00'">
                                    {{finished.send_date | timeStamp | date: 'mediumDate'}}
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="clear-btn"
                                     tooltip title="Preview Campaign"
                                     ng-click="launchPreview(finished)"
                                     ng-show="finished.remote_hash && finished.type == 'email'"
                                        >
                                    <i class="gi gi-file-view ti" ></i>
                                </div>
                                <div class="clear-btn"
                                     tooltip
                                     title="Copy Campaign"
                                     ng-click="copyCampaign(finished)"
                                     ladda="finished.loading.copy"
                                     data-style="slide-up"
                                     data-spinner-color="black">
                                    <i class="gi gi-file-copy"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<template-builder-preview control="previewControl"></template-builder-preview>