<div class="form-group">
	<label class="col-md-2 control-label" for="item-shared">Share with course group</label>
	<div class="col-md-8">
		<div class="checkbox">
			<input type="checkbox" id="item-shared" name="is_shared" data-unchecked-value="0" value="1" <%if(is_shared == 1){ %>checked<% } %>>
		</div>
	</div>
</div>
<div class="form-group edit-pass-item">
	<label class="col-md-2 control-label" for="item-pass-expiration">Default Price</label>
	<div class="col-md-4">
		<%
		if(pass_price_class_id === null){
			pass_price_class_id = 'none';
		}
		var price_classes = _.clone(App.data.course.get('price_classes'));
		_.extend(price_classes, {'none': '- No Default Price Class -'}); %>
		<%=_.dropdown(price_classes, {"name":"pass_price_class_id", "class":"form-control"}, pass_price_class_id)%>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="item-pass-multi-customer">Multi Customer</label>
	<div class="col-md-8">
		<div class="checkbox">
			<input type="checkbox" id="item-pass-multi-customer" name="pass_multi_customer" data-unchecked-value="0" value="1" <%if(pass_multi_customer == 1){ %>checked<% } %>>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="item-pass-multi-customer">Enroll in Loyalty</label>
	<div class="col-md-8">
		<div class="checkbox">
			<input type="checkbox" id="item-pass-enroll-loyalty" name="pass_enroll_loyalty" data-unchecked-value="0" value="1" <%if(pass_enroll_loyalty == 1){ %>checked<% } %>>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="item-pass-expiration">Expires</label>
	<div class="col-md-10">
		<div class="form-group">
			<div class="col-md-3">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="radio" name="pass_expiration_type" value="date" 
							class="pass-expiration" <% if(pass_expiration_date){ %>checked<% } %>>
					</span>
					<input type="text" name="pass_expiration_date" placeholder="MM/DD/YYYY" 
						value="<% if(pass_expiration_date){ print(moment(pass_expiration_date).format('MM/DD/YYYY')) } %>"class="form-control" id="pass-expiration-date">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="radio" name="pass_expiration_type" class="pass-expiration" value="days" <% if(pass_days_to_expiration){ %>checked<% } %>>
					</span>
					<input type="text" name="pass_days_to_expiration" value="<% if(pass_days_to_expiration){ print(pass_days_to_expiration) } %>" 
						class="form-control" id="pass-expiration-days">
				</div>
			</div>
			<div class="col-xs-4" style="padding-left: 0px;">
				<div class="form-control-static">days after purchase</div>
			</div>
		</div>		
	</div>
</div>
<div class="row" style="margin-top: 15px; margin-bottom: 10px">
	<div class="col-md-8">
		<h3 style="margin: 0px;">Rules</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="item-pass-rules"><!-- Pass rules list will be rendered here --></div>
</div>
<div class="row">
	<div class="col-md-12">	
		<button type="button" class="btn btn-success btn-block add-rule"><i class="fa fa-plus"></i> New Rule</button>
	</div>
</div>