<div id="item-actions" class="col-md-12">
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-success table-action btn-block new">
				<span class="fa fa-plus table-action-icon"></span>
				New Item
			</button>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-primary btn-block export">
				<span class="fa fa-cloud-download table-action-icon"></span>
				Export Items
			</button>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-primary btn-block receipt-agreements">
				<span class="fa fa-file-text-o table-action-icon"></span>
				Receipt Agreements
			</button>
		</div>
		<!-- <div class="col-xs-12 col-sm-2 col-md-1">
			<button class="btn btn-primary btn-block modifiers">
				Modifiers
			</button>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-1">
			<button class="btn btn-primary btn-block meal-courses">
				Meal Courses
			</button>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-1">
			<button class="btn btn-primary btn-block meal-courses">
				<span class="fa fa-tasks table-action-icon"></span>
				Inventory Audit
			</button>
		</div> -->
	</div>
</div>