<h5 class="name">
	<%-label%>
	<em style="font-weight: normal">
		-
		<% if(item_cost_plus_percent_discount === null){ %>
		No discount
		<% }else{ %>
		Cost + <%-accounting.formatNumber(item_cost_plus_percent_discount)%>%
		<% } %>
	</em>
</h5>
<button class="btn btn-default delete">
	<i class="glyphicon glyphicon-trash"></i>
</button>