<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#item-customer-groups" href="#collapse-item-customer-groups">
			Customer Groups
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-item-customer-groups" class="panel-collapse collapse">
		<div class="panel-body">
			<select name="new_group" id="item-new-group" class="form-control">
				<option value="0">- Add New Group -</option>
				<% _.each(App.data.course.get('groups').models, function(group){ %>
				<option value="<%-group.get('group_id')%>"><%-group.get('label')%></option>
				<% }) %>
			</select>
			<ul class="customer-data"></ul>
		</div>
	</div>
</div>
