<button data-service-fee-id="<%-service_fee_id%>" class="btn btn-default fa fa-sort" style="cursor: move; margin-right: 10px" type="button"></button>
<strong><%-name%></strong> - (<%-accounting.formatMoney(unit_price)%> / <%-accounting.formatMoney(parent_item_percent, '')%>%)
<button class="btn btn-default delete">
	<i class="glyphicon glyphicon-trash"></i>
</button>