<div class="panel panel-default" style="overflow: visible">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#customer-household" href="#collapse-item-upcs">
			Additional UPCs
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-item-upcs" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-9"><input type="text" class="form-control" id="item-upc-name" value="" placeholder="Enter new UPC"></div>
				<div class="col-xs-3"><button class="btn btn-primary add-upc">Add</button></div>
			</div>
			<ul class="customer-data"></ul>
		</div>
	</div>
</div>