<div class="btn btn-default btn-block rule-condition">
	<a class="condition-parameter-delete text-danger">
		<i class="fa fa-times"></i>
	</a>
<% if(field == 'timeframe'){ 
	var anytime = true;
%>
	<% if(day_of_week && day_of_week.join('') != '1234567'){ 
	anytime = false;
	
	for(var x = 1; x <= 7; x++){ %>
	<span class="timeframe-day-of-week <% if(day_of_week.indexOf(x) >= 0){ %>active<% } %>"><%-moment(x, 'e').format('dd')%></span>
	<% } } %>

	<% if(time && time[0] && time[1] && (time[0] != '0000' || time[1] != '2359')){ 
	anytime = false;
	%>
	<span class="timeframe-time-of-day">
		<span class="fa fa-clock-o"></span>
		<%-moment(time[0], 'HHmm').format('h:mma')%> to <%-moment(time[1], 'HHmm').format('h:mma')%>
	</span>
	<% } %>

	<% if(date && date[0] && date[1]){ 
	anytime = false;
	%>
	<span class="timeframe-date">
		<span class="fa fa-calendar-o"></span> 
		<%-moment(date[0]).format('M/D/YY')%> to <%-moment(date[1]).format('M/D/YY')%>
	</span>
	<% } %>

	<% if(anytime){ %>
	<em>Anytime</em>
	<% } %>

<% }else if(field == 'teesheet'){ %>
	<%-label%>
<% }else if(field == 'price_class'){ %>
	<strong>Price class:</strong> <%-label%>
<% } %>
</div>