<div class="modal-content print-individual-barcodes">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Print Barcodes</h4>
    </div>
    <div class="modal-body container-fluid">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-4 control-label">Show Additional Price</label>
                <div class="col-md-3" style="padding-right: 5px;">
                    <input name="additional_name" value="" id="label-additional-name" placeholder="eg. MSRP" class="form-control">
                </div>
                <div class="input-group col-md-2" style="padding-top: 0px;">
                    <input type="text" class="form-control" id="label-additional-percentage" placeholder="Diff">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <h4 style="margin-top: 20px">Barcode Quantities</h4>
            <% if(items && items.length > 0){
            _.each(items.models, function(item){ %>
            <div class="form-group">
                <label class="col-md-4 control-label" style="font-weight: normal;"><%-item.get('name')%></label>
                <div class="col-md-2">
                    <input data-item-id="<%-item.get('item_id')%>" name="print_quantity[]" value="1" placeholder="Qty" class="form-control">
                </div>
            </div>
            <% }); %>
            <% } %>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary print">Print</button>
    </div>
</div>