<div class="form-inline">
	<div class="col-md-6">
		<strong><%-name%></strong> (<span data-bind="text:currencyFormatUnitPrice"></span> )
	</div>
	<div class="col-md-6">
		<!--<label for="newprice">Discount to: </label>-->
		<input type="text" class="form-control" id="newprice" data-bind="value:unit_price">
		<button class="btn btn-default delete">
			<i class="glyphicon glyphicon-trash"></i>
		</button>
	</div>

</div>
