// Basic Colors
$primary: #4577B6;      // Primary color
$light-gray: #F6F6F8;

/*
$dark-gray: #c2c2c2;  // Default color
$success: #1ab394;       // Success color
$info: #23c6c8;      // Info color
$warning: #f8ac59;     // Warrning color
$danger: #ED5565;        // Danger color

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spiner color and margin
$spin-color: $info;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #ddd;     // IBox border
$ibox-title-bg: #ffffff;     // IBox Background header
$ibox-content-bg: #ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #FFFFFF;
$nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;
*/