<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Add Credit Card
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div id="payment_iframe_container">
            <iframe id="payment_iframe" href=""></iframe>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
</div>
</div>
