<div class="hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-6">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Quick Stats
                        </h4>
                    </div>
                    <div class="panel-body">
                        <table class="table-condensed customer-marketing-info">
                            <tr>
                                <td>Last Tee Time</td>
                                <td><%-marketing_customer_info.prev_teetime %></td>
                            </tr>
                            <tr>
                                <td>Next Tee Time</td>
                                <td><%-marketing_customer_info.next_teetime %></td>
                            </tr>
                            <tr>
                                <td>Last Purchased</td>
                                <td><%-marketing_customer_info.last_purchased %></td>
                            </tr>
                            <tr>
                                <td>Most Purchased</td>
                                <td><%-marketing_customer_info.most_purchased %></td>
                            </tr>
                            <% if(marketing_customer_info.teetime_today){ %>
                                <tr>
                                    <td>Todays Tee Time</td>
                                    <td><%-marketing_customer_info.todays_teetime %></td>
                                </tr>
                                <tr>
                                    <td>Reround</td>
                                    <td><%-marketing_customer_info.todays_reround %></td>
                                </tr>
                                <tr>
                                    <td>Carts</td>
                                    <td><%-marketing_customer_info.cart_numbers %></td>
                                </tr>
                            <% } else { %>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No Tee Time Today</td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
                <div class="panel-group <% if(opt_out_email){print('email-subscribed')} else {print('email-not-subscribed')}%>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Email Subscribed
                            </h4>
                        </div>
                        <div class="panel-body">
                            <i class="subscription-icon"></i><span class="subscription-text"></span>
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-group <% if(texting_status && texting_status != 'unsubscribed'){print('text-subscribed')} else {print('text-not-subscribed')} %>">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Text Marketing
                                </h4>
                            </div>
                            <div class="panel-body">
                                <i class="subscription-icon"></i><span class="send-invite-link">Send Invite</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-group text-subscribed">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    2-Way Texting
                                </h4>
                            </div>
                            <div class="panel-body text-subscribed">
                                <i class="subscription-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
