<% if(birthday == '' || birthday == '0000-00-00'){
    birthday = '';
}else{
    birthday = moment(birthday).format('MM/DD/YYYY');
} %>
<form>
    <div class="clearfix">
        <div class="col-md-6 left-column">
            <div class="form-group">
                <label for="customer-first-name" class="col-md-12 control-label">First Name <%=get_required_text('first_name')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-first_name%>" name="first_name" id="customer-first-name" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-last-name" class="col-md-12 control-label">Last name <%=get_required_text('last_name')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-last_name%>" name="last_name" id="customer-last-name" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-email" class="col-md-12 control-label">Email <%=get_required_text('email')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-email%>" name="email" id="customer-email" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-phone" class="col-md-12 control-label">Phone Number <%=get_required_text('phone_number')%></label>
                <div class="col-md-12">
                    <input class="form-control"
                           type='tel'
                           value="<%-phone_number%>"
                           name="phone_number"
                           id="customer-phone" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-cell-phone" class="col-md-12 control-label" >Cell Phone Number <%=get_required_text('cell_phone_number')%></label>
                <div class="col-md-12">
                    <input class="form-control" type='tel'
                           value="<%-cell_phone_number%>"
                           name="cell_phone_number"
                           id="customer-cell-phone" />

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="customer-address1" class="col-md-12 control-label">Address <%=get_required_text('address_1')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-address_1%>" name="address_1" id="customer-address1" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-addresss2" class="col-md-12 control-label"></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-address_2%>" name="address_2" id="customer-address2" />
                </div>
            </div>
            <div class="form-group">
                <label for="customer-city" class="col-md-12 control-label">City <%=get_required_text('city')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-city%>" name="city" id="customer-city" />
                </div>
            </div>
            <%
            if(SETTINGS.country == "UK"){
            %>
            <div class="form-group">
                <label for="customer-state" class="col-md-12 control-label">County <%=get_required_text('state')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-state%>" name="state" id="customer-state" />
                </div>
            </div>

            <% }else{ %>
            <div class="form-group">
                <label for="customer-state" class="col-md-12 control-label">State <%=get_required_text('state')%></label>
                <div class="col-md-12">
                    <%=_.dropdown(US_STATES, {"name":"state", "id":"customer-state", "class":"form-control"}, state)%>
                </div>
            </div>
            <% } %>

            <div class="form-group">
                <label for="customer-zip" class="col-md-12 control-label">Zip/Postal Code <%=get_required_text('zip')%></label>
                <div class="col-md-12">
                    <input class="form-control" type="number" value="<%-zip%>" name="zip" id="customer-zip" />
                </div>
            </div>
        </div>
    </div>
      <hr />
    <div class="clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <label for="customer-account-number" class="col-md-12 control-label">Account Number <%=get_required_text('account_number')%></label>
                <div class="col-md-12">
                    <input type="text" name="account_number" class="form-control" id="customer-account-number" value="<%-account_number%>" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="customer-price-class" class="col-md-12 control-label">Price Class</label>
                <div class="col-md-12">
                    <select name="price_class" id="customer-price-class" class="form-control" <% if (!App.data.user.get('acl').can('update', 'Customer/PriceClass')){print('disabled="disabled"') } %> >
                    <% _.each(App.data.course.get('price_class_objects'), function(price_class_object){ %>
                    <option value="<%-price_class_object['class_id']%>" <% if(price_class_object['class_id'] == price_class) {print('selected')} %>><%-price_class_object['name']%></option>
                    <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="customer-discount" class="col-md-12 control-label">Discount</label>
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="number" name="discount" class="form-control" id="customer-discount" value="<%-discount%>" /><div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="">
        <div class="col-md-6">
            <div class="form-group clearfix">
                <label for="customer-birthday" class="col-md-12 control-label">Date of Birth <span class="customer-age"><%= isNaN(new Date(birthday))? '' : '('+Math.floor((new Date - new Date(birthday))/(60000*60*24*365))+' yrs)' %></span>
                </label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%= (new Date(birthday)).toLocaleDateString()%>" name="birthday" id="customer-birthday" placeholder="MM/DD/YYYY" />
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="customer-date-created" class="col-md-12 control-label">Date Joined</label>
                <div class="col-md-12">
                    <% if(date_created == "" || _.isNull(date_created)){ %>
                    <input class="form-control" type="text" value="" name="date_created" id="customer-date-created" placeholder="MM/DD/YYYY" />
                    <% } else { %>
                    <input class="form-control" type="text" value="<%= (new Date(date_created)).toLocaleDateString()%>" name="date_created" id="customer-date-created" placeholder="MM/DD/YYYY" />
                    <% } %>
                </div>
            </div>

            <div class="form-group clearfix">
                <label for="customer-photo" class="col-md-12 control-label">Customer Photo</label>
                <div class="col-md-12">
                  <div class="col-xs-6" style="padding-right: 0px;">
                      <button class="btn btn-destroy btn-sm btn-block delete-photo" style="<%if(!image_id){ %>display: none;<% } %>display: block;position: absolute;top:0;left:15px;padding: 0;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      <img class="customer-photo" src="<%=photo%>">
                      <input type="hidden" value="<%-image_id%>" id="image_id" name="image_id">
                  </div>
                  <div class="col-xs-6" style="padding-left: 0px;">
                      <button class="btn btn-block btn-muted take-photo pull-right">Take Photo</button>
                      <button class="btn btn-block btn-muted edit-photo pull-right">Upload Photo</button>
                  </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <label for="customer-handicap-account-number" class="col-md-12 control-label">Handicap Account Number</label>
                <div class="col-md-12">
                    <input class="form-control"  value="<%-handicap_account_number%>" name="handicap_account_number" id="customer-handicap-account-number" />
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="customer-handicap-score" class="col-md-12 control-label">Handicap</label>
                <div class="col-md-12">
                    <input class="form-control" type="number" value="<%-handicap_score%>" name="handicap_score" id="customer-handicap-score" />
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="customer-status" class="col-md-12 control-label">Customer Status</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"status_flag", "id":"customer-status-flag", "class":"form-control"}, status_flag)%>
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="customer-comments" class="col-md-12 control-label">Comments</label>
                <div class="col-md-12">
                    <textarea name="comments" id="customer-comments" class="form-control" style="height: 100px;"><%-comments%></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-group" id="customer-groups">
            </div>

            <!-- Login credentials -->
            <% if(App.data.user.get('acl').can('update', 'Customer/OnlineCredentials')){ %>
            <div class="panel-group" id="customer-login-credentials">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#customer-login-credentials" href="#collapse-login-credentials">
                                Login Credentials
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-login-credentials" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="customer-username" class="control-label">Email</label>
                                    <input type="text" name="username" id="customer-username" class="form-control" value="<%-username%>" />
                            </div>
                            <div class="form-group">
                                <label for="customer-new-password" class="control-label">New Password</label>
                                    <input type="password" name="password" class="form-control" id="customer-new-password" value="" />
                            </div>
                            <div class="form-group">
                                <label for="customer-confirm-new-password" class="control-label">Confirm Password</label>
                                    <input type="password" name="confirm_password" class="form-control" id="customer-confirm-new-password" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</form>
