<form>

    <% if (true || !App.data.user.get('acl').can('update', 'Customer/AccountBalance')) { %>
    <div class="clearfix">
      <div class="col-md-6">

        <div class="form-group panel-group">
          <div class="panel panel-default">
            <div class="panel-heading row">
              <h4 class="panel-title col-md-6"><%-member_account_label%></h4>
              <div class="acct_bal col-md-6 text-right"><%-accounting.formatMoney(member_account_balance)%></div>
            </div>
            <div class="panel-body">
                <% if (household_id != '') { %>
                <div class="form-group">
                    All account transactions can be found under <%-household_head.first_name%> <%-household_head.last_name%>.
                </div>

                <% } else { %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="btn-group three_btn" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="member_account_option" value="increase" autocomplete="off" checked> +
                        </label>
                        <label class="btn btn-secondary ">
                          <input type="radio" name="member_account_option" value="decrease" autocomplete="off"> -
                        </label>
                        <label class="btn btn-secondary ">
                          <input type="radio" name="member_account_option" value="set" autocomplete="off"> Replace With
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                      <div class="input-group-addon"><%-SETTINGS.currency_symbol %></div>
                      <input  name="member_account_balance" class="form-control" id="customer-member-balance" value=""
                        <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                        disabled="disabled"
                        <% } %>
                      />
                      </div>
                    </div>
                    <div class="col-md-6 pull-right">
                      <div class="form-group pull-right marg-top-10">
                        <label for="new_member_balance"> New Balance</label>
                          <div class="new_balance">
                            <input id="new_member_balance"  disabled />
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <input name="member_balance_change_reason" class="form-control" placeholder="Comment or Reason..."/>
                </div>
                <button class="btn btn-primary btn-sm pull-right" id="confirm_member_balance_btn">Confirm New Balance</button>

                <% } %>
              </div><!--Panel Body Close-->
            </div><!--End Panel-->
          </div><!--End Panel Group-->

          <div class="checkbox-control-container">
            <input type="checkbox" value="1" data-unchecked-value="0" id="member_account_balance_allow_negative" name="member_account_balance_allow_negative" style="margin-top: 5px;" <% if(member_account_balance_allow_negative == "1"){ print('checked') }%>
              <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                disabled="disabled"
              <% } %>
            />
            <label for="member_account_balance_allow_negative" class="control-label">Allow Negative Balance</label>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="customer-member-account-limit" class="control-label" style="margin-top: 0;"><%-member_account_label%> Limit</label>
              <div class="input-group">
                <div class="input-group-addon">(-)</div>
                <input  name="member_account_limit" class="form-control" id="customer-member-account-limit" value="<%-accounting.formatNumber(Math.abs(member_account_limit), 2)%>"
                  <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                    disabled="disabled"
                  <% } %>
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="history" id="customer-member-account-transactions">
                <a class="btn btn-secondary pull-right btn-sm marg-top-10" data-toggle="collapse" data-parent="#collapse-member-account-transactions" href="#collapse-member-account-transactions"> Toggle Transaction History</a>
              </div>
            </div>
          </div>
            <div class="col-xs-12">
              <div id="collapse-member-account-transactions" class="panel-collapse collapse">
                <div class="row" style="border-bottom: 1px solid #cccccc;">
                  <div class="col-xs-2 column-header">Date</div>
                  <div class="col-xs-6 column-header">Description</div>
                  <div class="col-xs-2 column-header">Course</div>
                  <div class="col-xs-2 pull-right column-header">Amount</div>
                </div>

                <% if(account_transactions && account_transactions['member'] && account_transactions['member'].length > 0){ %>
                <%_.each(account_transactions['member'], function(transaction){ %>

                  <div id="customer-member-account-transaction-list">
                    <div class="row">
                      <div class="col-xs-2"><%-moment(transaction.trans_date, 'YYYY-MM-DD HH:mm:ss').format('M/D/YY')%></div>
                      <div class="col-xs-6 text-muted">
                        <div><small><i><%-transaction.trans_comment%></i></small></div>
                        <%
                        var regex = /<br\s*[\/]?>/gi;
                        %>
                        <div><small></i><%-transaction.trans_description.replace(regex, "\n")%></i></small></div>
                      </div>
                      <div class="col-xs-2">
                        <%-transaction.course %>
                      </div>
                      <div class="col-xs-2"><span class="pull-right <%-transaction.trans_amount < 0 ? 'negative-balance' : 'positive-balance'%>"><strong><%-accounting.formatMoney(transaction.trans_amount)%></strong></span></div>
                    </div>
                  </div>

                  <% }) %>
                  <% }else{ %>
                    <div class="row">
                      <div class="col-md-12 text-muted">No Transactions</div>
                    </div>
                  <% } %>
                </div> <!-- End of Customer Transaction History -->
              </div>
            <!--<button class="btn btn-primary pull-right view-member-account-transaction-report">View Report</button>-->
        </div> <!-- End of Member Account Section -->

        <div class="col-md-6"><!-- Beginning Pro Shop Account Section-->
            <div class="form-group panel-group">
              <div class="panel panel-default">
                <div class="panel-heading row">
                  <h4 class="panel-title col-md-6"><%-customer_account_label%></h4>
                  <div class="acct_bal col-md-6 text-right"><%-accounting.formatMoney(account_balance)%></div>
                </div>
                <div class="panel-body">
                  <% if (household_id != '') { %>
                    <div class="form-group">
                    All account transactions can be found under <%-household_head.first_name%> <%-household_head.last_name%>.
                    </div>

                  <% } else { %>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="btn-group three_btn" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                              <input type="radio" name="account_balance_option" value="increase" autocomplete="off" checked> +
                            </label>
                            <label class="btn btn-secondary ">
                              <input type="radio" name="account_balance_option" value="decrease" autocomplete="off"> -
                            </label>
                            <label class="btn btn-secondary ">
                              <input type="radio" name="account_balance_option" value="set" autocomplete="off"> Replace With
                            </label>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="input-group">
                            <div class="input-group-addon"><%-SETTINGS.currency_symbol %></div>
                            <input  name="account_balance" class="form-control" id="customer-customer-credit" value=""
                              <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                                disabled="disabled"
                              <% } %>
                            />
                          </div>
                        </div>
                        <div class="col-md-6 pull-right">
                          <div class="form-group pull-right marg-top-10">
                            <label for="new_account_balance" >New Balance</label>
                            <div class="new_balance">
                              <input id="new_account_balance" disabled />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <input name="account_balance_change_reason" class="form-control" placeholder="Comment or Reason..."/>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" id="confirm_account_balance_btn">Confirm New Balance</button>
                  <% } %>
                </div><!--Panel Body Close-->
              </div><!--End Panel Body-->
            </div><!-- End Panel Group-->

            <div class="checkbox-control-container">
              <input type="checkbox" value="1" data-unchecked-value="0" id="account_balance_allow_negative" name="account_balance_allow_negative" style="margin-top: 5px;" <% if(account_balance_allow_negative == "1"){ print('checked') }%>
                <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                  disabled="disabled"
                <% } %>
              />
              <label for="account_balance_allow_negative" class="control-label">Allow Negative Balance</label>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="customer-account-limit" class="control-label" style="margin-top: 0;"><%-customer_account_label%> Limit</label>
                <div class="input-group">
                  <div class="input-group-addon">(-)</div>
                  <input  name="account_limit" class="form-control" id="customer-account-limit" value="<%-accounting.formatNumber(Math.abs(account_limit), 2)%>"
                    <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
                      disabled="disabled"
                    <% } %>
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="history clearfix" id="customer-account-transactions">
                  <a class="btn btn-secondary pull-right btn-sm marg-top-10" data-toggle="collapse" data-parent="#collapse-account-transactions" href="#collapse-account-transactions">Toggle Transaction History</a>
                </div>
              </div>
            </div>

            <div class="col-md-12"> <!--Customer History Table -->
              <div id="collapse-account-transactions" class="panel-collapse collapse">
                <div class="row" style="border-bottom: 1px solid #cccccc;">
                  <div class="col-xs-2 column-header">Date</div>
                  <div class="col-xs-6 column-header">Description</div>
                  <div class="col-xs-2 column-header">Course</div>
                  <div class="col-xs-2 pull-right column-header">Amount</div>
                </div>

                <% if(account_transactions && account_transactions['customer'] && account_transactions['customer'].length > 0){ %>
                  <%_.each(account_transactions['customer'], function(transaction){ %>
                    <div id="customer-account-transaction-list">
                      <div class="row">
                        <div class="col-xs-2"><%-moment(transaction.trans_date, 'YYYY-MM-DD HH:mm:ss').format('M/D/YY')%></div>
                        <div class="col-xs-6 text-muted">
                          <div><small><i><%-transaction.trans_comment%></i></small></div>
                          <%
                            var regex = /<br\s*[\/]?>/gi;
                          %>
                          <div><small></i><%-transaction.trans_description.replace(regex, "\n")%></i></small></div>
                        </div>
                        <div class="col-xs-2">
                          <%-transaction.course %>
                        </div>
                        <div class="col-xs-2"><span class="pull-right <%-transaction.trans_amount < 0 ? 'negative-balance' : 'positive-balance'%>"><strong><%-accounting.formatMoney(transaction.trans_amount)%></strong></span></div>
                      </div>
                    </div>

                <% }) %>
                <% }else{ %>
                  <div class="row">
                    <div class="col-md-12 text-muted">No Transactions</div>
                  </div>
                <% } %>
                </div>
              </div><!-- End of Pro Shop History Table-->

              <!--<button class="btn btn-primary pull-right view-account-transaction-report">View Report</button>-->
            </div>
          </div>
    <hr>
      <div class="form-group col-md-12">
        <div class="col-md-12 checkbox-control-container">
            <input type="checkbox" value="1" data-unchecked-value="0" id="customer-member" name="member" style="margin-top: 0px;" <% if(member == "1"){ print('checked') }%>
            <% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
            disabled="disabled"
            <% } %>
            />
            <label for="customer-member" class="control-label">Customer is Member</label>
        </div>
    </div>
  </div>
    <% } %>
</div>
<hr>
    <div class="clearfix">
      <div class="form-group col-md-12">
        <div class="col-md-12 checkbox-control-container">
          <input type="checkbox" name="taxable" id="customer-non-taxable" value="0" data-unchecked-value="1" style="margin-top: 10px;" <% if(taxable == "0"){ print('checked') }%> />
          <label for="customer-non-taxable" class="control-label">Customer is Non-taxable</label>
        </div>
        <div class="col-md-12 checkbox-control-container">
          <input type="checkbox" name="use_loyalty" id="customer-allow-loyalty" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(use_loyalty == 1){ print('checked') }%> />
          <label for="customer-allow-loyalty" class="control-label">Allow Loyalty</label>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label for="customer-loyalty-points" class="col-md-12 control-label">Loyalty Points</label>
          <div class="col-md-12">
              <input  name="loyalty_points" class="form-control" id="customer-loyalty-points" value="<%-accounting.formatNumber(loyalty_points)%>" />
          </div>
      </div>
    </div>
    <hr/>
    <div class="clearfix">
        <div class="col-md-6">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#customer-credit-cards" href="#customer-credit-cards">
                                Credit Cards
                            </a>
                        </h4>
                    </div>
                    <div id="customer-credit-cards" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="panel-group">
                                <table id="credit-card-table">
                                    <% if(typeof credit_cards != 'undefined' && credit_cards.length > 0){ %>
                                    <%_.each(credit_cards, function(credit_card){ %>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Number</th>
                                        <th>Status</th>
                                        <th>Charges</th>
                                        <th>Failed</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody class="credit-card-list">
                                    <tr data-credit-card-id="<%-credit_card.credit_card_id%>">
                                        <td>
                                            <div class="col-md-12 credit-card <%-credit_card.card_type_simple%>">
                                            </div>
                                        </td>
                                        <td class="card-number"><%-credit_card.masked_account.replace(/x/g,'').replace(/\*/g,'')%></td>
                                        <td class="card-status"><div class="fa <%- credit_card.status != 'Declined' ? 'fa-check status-green' : 'fa-ban status-red' %>"></div></td>
                                        <td class="card-success"><%-credit_card.successful_charges%></td>
                                        <td class="card-failure"><%-credit_card.failed_charges%></td>
                                        <td class="card-remove"><div class="remove-credit-card"><i class="fa fa-trash-o"></i></div></td>
                                    </tr>
                                    <% }) %>
                                    <% }else{ %>
                                    <tr class="row">
                                        <td colspan=6 class="text-muted">No Credit Cards</td>
                                    </tr>
                                    <% } %>

                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-muted btn-sm pull-right add-credit-card">Add Card</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="customer-passes"></div>

        </div>
        <div class="col-md-6">
            <div class="panel-group" id="customer-rainchecks">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#customer-rainchecks" href="#collapse-rainchecks">
                                Rainchecks
                            </a>
                            <span class="label label-info count"><%-rainchecks.length%></span>
                        </h4>
                    </div>
                    <div id="collapse-rainchecks" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="panel-group" id="customer-rainchecks">
                                <% if(rainchecks && rainchecks.length > 0){ %>
                                <%_.each(rainchecks, function(raincheck){ %>
                                <div class="row">
                                    <div class="col-xs-2">#<%-raincheck.raincheck_number%></div>
                                    <div class="col-xs-8 text-muted">
                                        Issued <%-moment(raincheck.date_issued, 'YYYY-MM-DD HH:mm:ss').format('M/D/YY')%>
                                        <% if(moment(raincheck.expiry_date).isValid() && moment(raincheck.expiry_date).isBefore(moment())){ %>
                                        <span class="label label-danger pull-right">
														Expired <%-moment(raincheck.expiry_date).format('M/D/YY')%>
													</span>
                                        <% }else if(moment(raincheck.expiry_date).isValid()){ %>
                                        <span class="label label-success pull-right">
														Expires <%-moment(raincheck.expiry_date).format('M/D/YY')%>
													</span>
                                        <% }else{ %>
                                        <span class="label label-success pull-right">No Expiration</span>
                                        <% } %>
                                    </div>
                                    <div class="col-xs-2"><span class="pull-right"><%-accounting.formatMoney(raincheck.total)%></span></div>
                                </div>
                                <% }) %>
                                <% }else{ %>
                                <div class="row">
                                    <div class="col-md-12 text-muted">No Rainchecks</div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="customer-household" style="<% print(household_id ? 'display:none' : '') %>" ></div>
        </div>
    </div>

</form>
