<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
        <% if(!this.model.get("deleted")){ %>
            <li><a href="#" class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a></li>
        <% } else { %>
            <li><a href="#" class="undelete"><i class="fa fa-trash-o" aria-hidden="true"></i>Undelete</a></li>
        <% } %>
    </ul>
</div>
