<div id="advanced-search-dropdown">
	<div class="col-md-12">
		<div class="advanced-search" id="advanced-search"></div>
		<button id="advanced-search-button" class="pull-right btn btn-default">Search</button>
	</div>
</div>

<div class="header clearfix hidden-xs">
	<div class="col-md-2 hidden-sm hidden-xs">
		<div class="pull-left"><h2>Customers</h2></div>
		<div class="clearfix"></div>
	</div>
	<div class="col-md-10 ">
		<div class="pull-right form-inline marg-top-5">
			<div class="btn-group form-group">
				<button type="button" class="btn btn-tertiary new" >New Customer<i class="fa fa-plus" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-tertiary groups" >Groups<i class="fa fa-users" aria-hidden="true"></i></button>
				<button type="button" id="import-list" class="btn btn-tertiary" >Upload List<i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
				<button type="button" id="export-list" class="btn btn-tertiary" >Export List<i class="fa fa-share-square-o" aria-hidden="true"></i></button>
			</div>
			<div class="form-group">
				<div id="quick-search"></div>
			</div>
            <div class="btn-group">
                <button type="button" class="btn btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li id="page-dropdown-advanced-search"><a><i class="fa fa-sliders" aria-hidden="true"></i>Advanced Search</a></li>
					<li id="page-dropdown-settings"><a><i class="fa fa-cogs" aria-hidden="true"></i>Page Settings</a></li>
					<li id="page-dropdown-show-deleted">
						<label class="checkbox-inline"><input type="checkbox">Show Deleted Customers</label>
					</li>
                </ul>
            </div>
		</div>
	</div>
</div>
<div class="header mobile-header clearfix visible-xs-block visible-xs">
	<div id="mobile-search"></div>
	<button type="button" class="btn new_cust btn-primary new"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Customer</button>
</div>
<div id="mobile-list" class="visible-xs-block visible-xs"></div>
<div id="main-table" class="hidden-xs customers-page">
</div>
