<div class="col-md-12 hidden-sm hidden-xs">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading customer-summary-comments-title">
                <h4 class="panel-title">
                    Customer Notes
                    <div class="customer-summary-status-holder">Status: <span class="customer-summary-status"></span></div>
                </h4>
            </div>
            <div class="panel-body customer-summary-comments">
                <%-comments%>
            </div>
        </div>
    </div>
</div>
