
<div class="clearfix">
    <div class="col-md-12 billing-info-message">
        The updated Billing and Invoicing software is under development. <br/>For now, to edit Billing and Invoicing settings,
        go to the <a href="/index.php/invoices">Invoice</a> section or the <a href="/index.php/customers">Old Customers Page</a>. <br/>Thank you.
    </div>
</div>
<div class="clearfix">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Billing Profiles
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="billing-profiles-table">
                        <thead>
                            <tr>
                                <td>BILLING PROFILE NAME</td>
                                <td>CHARGES</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Minimums
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="minimum-charges-table">
                        <thead>
                        <tr>
                            <td>MIMIMUM NAME</td>
                            <td>CHARGES</td>
                            <td>TERM</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Unpaid Invoices
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="unpaid-invoice-table">
                        <thead>
                        <tr>
                            <td>INVOICE NUMBER</td>
                            <td>CHARGES</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Paid Invoices
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="paid-invoice-table">
                        <thead>
                        <tr>
                            <td>INVOICE NUMBER</td>
                            <td>CHARGES</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
