<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
          <%-first_name%> <%-last_name%><
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-well">

            <div class="cust_summary" <% if (person_id == null) {print("style='display:none;'");} %> >
                <div class="col-md-3">
                  <div class="col-xs-3 col-md-4">
                    <img class="customer-photo" src="<%=photo%>" height="120">
                  </div>
                  <div class="col-xs-9 col-md-8">
                    <div class="customer-displayed-name"><%-first_name%> <%-last_name%></div>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <span class="customer-displayed-info"><i class="fa fa-envelope fa-fw"></i> <%-email%></span>
                    <span class="customer-displayed-info"><i class="fa fa-phone fa-fw"></i> <%-phone_number%></span>
                    <span class="customer-displayed-info"><i class="fa fa-mobile-phone fa-fw"></i> <%-cell_phone_number%></span>
                  </div>
                </div>
                <div class="col-md-9 customer-summary">
                    Summary
                </div>
            </div>
            <div class="customer-tabs-wrapper tab-navigation-wrapper">
              <div class="customer-tabs"></div>
            </div>
        </div>
        <div class="customer-info tab_area-body clearfix"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
    </div>
</div>
