<div class="col-md-2 col-sm-3 col-xs-3 selected-tab">
    <div class="tab-selector tab-selector-info">
        Information
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="tab-selector tab-selector-accounts">
        Accounts
    </div>
</div>
<% if(person_id != null){ %>
<% if(typeof household_id != 'undefined' && household_id == ''){ %>
<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="tab-selector tab-selector-billing">
        Billing
    </div>
</div>
<% } %>
<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="tab-selector tab-selector-marketing">
        Communication
    </div>
</div>
<% } %>
