@import '../../_common/css/variables';

@media (min-width: 1200px) {
  #manage-credit-cards.modal-dialog.modal-full.right {
    width: 50%;
  }
}

.customer-photo {
  border-radius:50%;
  display: block;
  border: 1px solid $gray;
  width:50px;
  height:50px;
}
.customer-marketing-info {
  font-size:12px;
  td:nth-child(2){
    padding: 1px 0 0 0;
    white-space: nowrap;
  }
  td:first-child {
    text-align: right;
    font-weight: bolder;
    white-space: nowrap;
    padding: 1px 5px 0 0;
  }
}



.customer-displayed-name {
    font-size:14px;
    margin-bottom:3px;
}

.customer-displayed-info {
  margin-bottom:3px;
  color: $blue-gray;
  font-size: 11px;
  display: block;
  float: left;
  width: 100%;
  i{
    font-size:11px;
    color: $slate;
    display: inline;
  }
}

.customer-summary-comments {
    height:125px;
    text-overflow:ellipsis;
}

.customer-summary-status-holder {
    float:right;
    width:125px;
}

.centered {
  text-align:center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &.red-background{
    background: $red;
  }
  &.green-background{
    background: $green;
  }
}

.green-check-mark, .positive-balance{
  color: $green;
}

.negative-balance {
  color:$red;
}


.btn.take-photo,
.btn.edit-photo {
  width: 160px;
  margin-bottom: 10px;
}
.left-column {
    border-right: 1px solid $gray;
    padding-bottom: 20px;
}

hr {
  border-top: 1px solid $gray;
}

span.customer-age {
  padding-left: 20px;
  font-style: italic;
  color: $gray;
}


.label-info.count {
  float: right;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 26px;
  margin-top: -7px;
  padding-left: 7px;
}

.label-info.count.red {
  background-color: $red;
}

.campaign-icon {
  height:40px;
  width:40px;
  background-color:$blue;
  border-radius:20px;
  text-align: center;
  padding-top: 10px;
}

.campaign-row {
  margin-bottom:5px;
  padding: 5px 0px 0px;
}
.campaign-row-bottom-border {
  border-bottom: 1px solid $gray;
  margin-top: 10px;
}

.subscription-icon {
  height: 25px;
  width: 25px;
  display:block;
  float: left;
  margin-right: 10px;
}

.subscription-text {
  font-size:16px;
  color:#9b9b9b;
  line-height:25px;
}

.send-invite-link {
  float:right;
  cursor: pointer;
  color: $blue;
  text-decoration: underline;
  font-style: italic;
  font-size: 12px;
  line-height: 25px;
}

.email-subscribed .panel-heading,
.text-subscribed .panel-heading,
.email-subscribed .panel-heading h4.panel-title,
.text-subscribed .panel-heading h4.panel-title {
  background-color:$green;
  color:white;
}

.email-not-subscribed .subscription-icon,
.text-not-subscribed .subscription-icon {
  background-image:url('/images/icons/check-grey.png');
}

.email-subscribed .subscription-icon,
.text-subscribed .subscription-icon {
  background-image:url('/images/icons/check-green.png');
}

.email-subscribed .subscription-text:after,
.text-subscribed .subscription-text:after {
  content: 'Subscribed';
}

.email-subscribed .subscription-text,
.text-subscribed .subscription-text {
  color:$green;
}

.email-not-subscribed .subscription-text:after,
.text-not-subscribed .subscription-text:after {
  content: 'Not Subscribed';
}

#customer-member-account-transactions, #customer-account-transactions {
  margin-top:10px;
  margin-bottom:0px;
}

/*
Customer Credit Cards
*/
#customer-credit-cards .credit-card,
.credit-card-list .credit-card {
  background: $gray;
  height: 42px;
  width:71px;
  border-radius: 5px;
  box-shadow:0px 4px 8px rgb(167, 167, 167);
  margin: 0px 0px 10px 0px;
}
#customer-credit-cards .credit-card.americanexpress {
  background:url('/images/sales/amex.png') no-repeat -1px -1px;
}
#customer-credit-cards .credit-card.mastercard {
  background:url('/images/sales/mastercard.png') no-repeat -1px 0px;
  height: 44px;
}
#customer-credit-cards .credit-card.visa {
  background:url('/images/sales/visa.png') no-repeat -1px -1px;
}
#customer-credit-cards .credit-card.discover {
  background:url('/images/sales/mastercard.png') no-repeat -1px -1px;
}
#customer-credit-cards .credit-card.bankaccount {
  background:url('/images/sales/bank.png') no-repeat -1px 0px;
}
#customer-credit-cards .credit-card.jcb {
  background:url('/images/sales/jcb.png') no-repeat -1px 0px;
}
#customer-credit-cards .credit-card.diners {
  background:url('/images/sales/diners.png') no-repeat -1px 0px;
}
#customer-credit-cards .status-green {
  color:green;
}
#customer-credit-cards .status-red {
  color:red;
}

#customer-credit-cards #credit-card-table {
  width:100%;
  border:none;
}

#customer-credit-cards #credit-card-table th{
  color: $blue-gray;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.17px;
  font-weight: 200;
  border: none;
  background: 0 0;
  text-transform: uppercase;
  text-align:center;
}
#customer-credit-cards #credit-card-table td.card-number,
#customer-credit-cards #credit-card-table td.card-status,
#customer-credit-cards #credit-card-table td.card-success,
#customer-credit-cards #credit-card-table td.card-failure,
#customer-credit-cards #credit-card-table td.card-remove {
  text-align:center;
}
#customer-credit-cards .remove-credit-card {
  cursor:pointer;
}
#payment_iframe_container, #payment_iframe {
  width:100%;
  height:100%;
  border:none;
}
/*
Customer Groups
*/
.group-list-row {
  padding: 10px 0px 15px;
  border-bottom: 1px solid $gray;
}

/*
Customer Merge
*/
.customer-columns {

}
.customer-title {
  font-size:20px;
  padding:20px 0px 15px 10px;
}
.customer-title-position {
  color:white;
  background:$blue;
  border-radius:20px;
  width: 28px;
  text-align: center;
  float: left;
  margin-right: 10px;
}
.customer-merge-header {
  text-transform:uppercase;
  padding-left:10px;
  margin-top:5px;
}
input.customer-merge-checkbox, input.customer-merge-checkbox-radio {
  margin-top:13px;
  float:left;
}

.merging-customer .form-group {
  padding:3px 10px;
  border-right:1px solid $gray;
  margin-bottom:0px;
}
.col-md-6.merging-customer {
  padding: 0px;
}
.clear {
  clear:both;
}


form#merge_form div.merging-customer label {
  width:95%;
  padding-left:15px;
}
.form-control-container {
  padding:0px 25px;
}
.customer-merge-separator {
  border-bottom:1px solid $gray;
  margin-top:15px;
}
.customer-title .name-search {
  width:100%;
}
.customer-title .twitter-typeahead {
  width:86%;
}
.customer-merge-primary {
  padding:15px 0px;
}
.form-group.selected {
  background-color: mix($green, $white, 20%);
}
.form-group.not-selected {
  background-color: mix($red, $white, 20%);
}
.merging-customer div.customer-merge-primary {
  border-right:none;
}

ul.customer-data li.group h5.name {
  font-size: 16px;
  font-weight: 200;
  color: $slate;

}

.billing-info-message {
  text-align:center;
  padding:10px 0px 25px;
}

#billing-profiles-table, #unpaid-invoice-table, #paid-invoice-table, #minimum-charges-table {
  width:100%;
  border:none;
}

#billing-profiles-table thead td, #unpaid-invoice-table thead td, #paid-invoice-table thead td, #minimum-charges-table  thead td{
  border-bottom: 1px solid $gray;
  color: $blue-gray;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.17px;
}

#billing-profiles-table tbody td, #unpaid-invoice-table tbody td, #paid-invoice-table tbody td, #minimum-charges-table  tbody td{
  padding:10px 0px 0px;
}

.btn-search {
  margin-left: 10px;
  border-radius: 4px;
  color: $blue-gray;
  background: $off-white;
  border: 1px solid $gray;
}
 /* Mobile styling */

 .mobile-header {
   width: 100%;
   display: block;
   background: $off-white;
   border-bottom: 1px solid $gray;
   z-index: 40;
   box-shadow: 0 3px 5px rgba(0,0,0,0.25);

   #mobile-search {
     position: relative;

     input{
       width: 100%;
       border-color: $gray;
       text-align: center;
       color: $slate;
       height: 40px;
       padding-left: 0;
     }

     &:before {
       content: "\f002";
       font-family: FontAwesome;
       font-style: normal;
       font-weight: normal;
       text-decoration: inherit;
       color: $slate;
       font-size: 18px;
       position: absolute;
       top: 8px;
       left: 10px;
       display: block;
       z-index: 1;
     }
   }
   .btn.new_cust {
     width: 100%;
     display: block;
     text-align: center;
     color: #ffffff !important;
     height: 45px;
     background: $blue;
     font-size: 15px;
     font-weight: 200;
     letter-spacing: 1px;
   }
 }
 #mobile-list {
   ul{
     margin: 0;
     padding: 0;
   }
   li.mobile-customer{
     width: 100%;
     border-bottom: 1px solid $gray;
     list-style: none;
     margin: 0;
     padding: 0;
     padding: 10px;
     float: left;
     position: relative;
     img {
       width: 50px;
       height: 50px;
       border-radius: 25px;
       border: 1px solid $gray;
       float: left;
       margin: 0;
       padding: 0;
       display: block;
     }
     .name_group {
       float: left;
       display: block;
       margin-left: 10px;
     }
     h3{
       font-size: 18px;
       color: $slate;
       font-weight: 200;
       line-height: 0;
       margin-top: 13px;
     }
     i {
       position: absolute;
       color: $gray;
       font-size: 36px;
       top: 15px;
       right: 10px;
     }
     span.group-list {
       clear: left;
       display: block;
       color: $gray;
       font-size: 13px;
     }
   }
 }
 @media screen and (max-width:767px) {
   .customer-photo {
     width: 60px;
     height: 60px;
   }
   .modal-well {
     padding-top: 10px;
     padding-bottom: 35px;
     height: auto;
   }
   .customer-tabs-wrapper {
     width: 100%;
     overflow-x: scroll;
   }
   .customer-tabs {
     width: 645px;
   }
   .customer-displayed-info {
     font-size: 11px;
   }
   .navbar .navbar-collapse {
     width: 100vw;
     background: $gray;
     padding: 0;
     height: 100vh !important;
     max-height: 100vh;
     position: relative;
   }
   #user-menu {
     position: fixed;
     bottom: 0; right: 0;
     background: $gray !important;
     border-top: 1px solid $gray;
   }
   .navbar .app-header-btn {
     padding: 10px 15px;
     box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   .navbar-nav {
     margin: 0!important;
     display: block;
     height: auto;
     width: 100vw;
     li {
       width: 100vw;
       a {
         width: 100vw;
         background: $off-white;
       }
       .app-header-list,
       .app-header-apps {
         width: 100vw;
         padding: 0;
         border-top: 1px solid $gray !important;
         box-shadow: inset 0 0 10px #000000 !important;
         li {
           width:100vw;
           display: block;
           border-bottom: 1px solid $gray;
           a {
             padding: 10px 15px 10px 25px;
           }
         }
       }
     }
   }
 }

//Messenger section //

#messenger {
  position: relative;
  background: $off-white;
  #customer_message_list {
    width: 110%;
    background: white;
    border-bottom: 1px solid $gray;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    float: left;
    display: block;
    height: auto;
    margin-top: -15px;
    padding-top: 10px;
    height: 360px;
    overflow: scroll;
     ul {
       list-style: none;
       margin: 0;
       padding: 0;
       li {
         width: 75%;
         padding: 6px 12px;
         border-radius: 18.2px;
         position: relative;
         margin-bottom: 10px;
         span.timestamp {
           font-size: 10px;
           display: block;
           width: 100%;
           font-style: italic;
         }
         &.outgoing {
           background: $blue;
           color: $white;
           float:right;
           border-bottom-right-radius: 5px
         }
         &.incoming {
           background: $off-white;
           float: left;
           border-bottom-left-radius: 5px;
         }
       }
     }
   }
   input#customer_new_message {
     width: 70%;
     height: 45px;
     border-radius: 5px;
     border: inset 1px $gray;
     display: block;
     float: left;
   }
   a#customer_new_message_btn {
     width: 25%;
     margin-left: 5%;
     background-color: $blue;
     color: $white;
     font-weight: 200;
     display: block;
     float: left;
   }
}

.new_balance {
  display: inline-block;
  position: relative;
  z-index: 15;
  input{
    height: 45px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    display: inline;
  }
  &::before {
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
    z-index: 20;
    font-weight: bold;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  #customer_message_list {
    height: 200px;
  }
}
