
<div class="popover-content">
    <div class="row tab tab-range">
        <div class="col-sm-12">
            <div class="input-daterange input-group">
                <% if(typeof start_locked !== "undefined" && !start_locked){ %>
                <input type="text" class="input-small form-control" data-bind="value:start_value,events:['blur']"/>
                <span class="input-group-addon">to</span>
                <% } %>
                <input type="text" class="input-small form-control" data-bind="value:end_value,events:['blur']" />
            </div>
        </div>
    </div>
</div>

<div id="datecontainer">

</div>

