<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-crosshairs" /> </button>
        <ul class="dropdown-menu">
            <li data-value="custom"><a href="#"><i class="fa fa-crosshairs"></i> Custom Value</a></li>
            <li data-value="is_null"><a href="#"><i class="fa fa-star-o"></i>Does Not Exist</a></li>
            <li data-value="is_not_null"><a href="#"><i class="fa fa-star"></i>Exists</a></li>
            <li data-value="terminal"><a href="#"><i class="fa fa-desktop"></i>Terminal</a></li>
            <li data-value="user"><a href="#"><i class="fa fa-user"></i>Current User</a></li>
        </ul>
    </div>
    <input type="text" class="form-control" id="" style="height:34px" data-bind="value:value">
</div><!-- /input-group -->