<form>
    <div class="clearfix">
        <div class="col-md-12 settings-header">
            <div class="settings-title">Statement Settings</div>
            <div class="settings-subtitle">These settings are used in determining what your customers see when they come to try and book online.</div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="quickbooks-terminal" class="col-md-12 control-label">Statements will be sent</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    on <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%> of the period
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Advanced Options</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Charges on statements</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="to_date" id="to-date" /> Day(s)
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Apply Finance Charges</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input placeholder="amount" class="form-control" type="text" value="" name="to_date" id="to-date" />
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Apply Finance Charges after overdue</label>
                <div class="col-md-12">
                    <input placeholder="amount" class="form-control" type="text" value="" name="to_date" id="to-date" />
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Enable Auto-pay</label>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-8 control-label">Charge after</label>
                <label for="to-date" class="col-md-4 control-label">Charge after</label>
                <div class="col-md-8">
                    <input class="form-control" type="text" value="" name="to_date" id="to-date" /> Day(s)
                </div>
                <div class="col-md-4">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Auto-pay overdue balance</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Include Past Due Amount</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Include Member Balance**</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Include Customer Credit**</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Include Transaction History</label>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">** All charges that fall between statement dates will appear on the next statement</label>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Send Zero Charge Statements</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Show Invoice Line Items</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Statement Notes</label>
                <div class="col-md-12">
                    <textarea class="form-control" type="text" value="" name="to_date" id="to-date"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Statement Terms and Conditions</label>
                <div class="col-md-12">
                    <textarea class="form-control" type="text" value="" name="to_date" id="to-date"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Statement Page Message</label>
                <div class="col-md-12">
                    <textarea class="form-control" type="text" value="" name="to_date" id="to-date"> </textarea>
                </div>
            </div>
        </div>
    </div>
</form>
