<div id="loading"> </div>
<div id="chart-container" class="container-fluid" style="max-height: 400px">
    <div class="row" style="position: relative">
        <a id="chart-options" style="position:absolute;top:50px;left:80px;z-index:10">
            <i class="fa fa-cog fa-3x"></i>
        </a>
        <div class="col-md-12 chart-wrapper">
            <div class="chart-inner">
                <div id="myChart" style="width:100%; height: 100%;"></div>
            </div>
        </div>
    </div>
</div>
