<% if( summary_data != null && summary_data.length>0 && !loading){ %>
<table class="table">
        <thead>
            <tr>
                <td>Column</td>
                <td>Value</td>
            </tr>
        </thead>

        <% _.each(summary_columns,function(column,key){ %>
            <tr>
                <td>
                    <% print(column.label || column.column) %>
                </td>
                <td>
                    <% print(summary_data[0][column.completeName]) %>
                </td>
            </tr>

        <% })%>

</table>
<%  } %>