<div class="row">
    <div class="col-lg-6 tableCompare">
        <div class="dataTables_info" id="previous_daterange" style="
            font-weight: bolder;
            text-align: center;
            width: 100%;
        "></div>
        <div  id="r-previous_table"></div>
    </div>
    <div class="col-lg-6 tableCompare">
        <div class="dataTables_info" id="current_daterange"  style="
            font-weight: bolder;
            text-align: center;
            width: 100%;
        "></div>

        <div  id="r-current_table"></div>
    </div>
</div>
