<div class="modal-content item-details">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Tee Sheet Marketing</h4>
    </div>
    <div class="modal-body container-fluid">
        <div>
            Choose which of the days customers to message:
            <label>Start Time <input id="start"></label>
            <label>End Time <input id="end"></label>
        </div>
        <div id="region-recipients">

        </div>
        <table>
            <thead>
                <th><input type="checkbox"/></th>
                <th>Customer Name</th>
                <th>Email Address</th>
                <th>Mobile Phone Number</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
    </div>
</div>