<div class="modal-content item-details teesheet-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Tee Sheet Marketing</h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="recipient-header row">
            Choose which of the days customers to message.
            <form>
                <div class="form-group col-xs-3">
                    <label for="start" class="control-label">Start</label>
                    <input type="datetime" value='' class="form-control" id="start" >
                </div>
                <div class="form-group col-xs-3">
                    <label for="end" class="control-label">End</label>
                    <input type="datetime" value='' class="form-control" id="end">
                </div>
            </form>
        </div>

        <table class="recipients">
            <thead>
                <th><input type="checkbox"/></th>
                <th>Customer Name</th>
                <th>Email Address</th>
                <th>Mobile Phone Number</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <% if(HAS_MARKETING){ %>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="sendCampaign">Send Message</button>
        </div>
    <% } else { %>
        <div class="modal-footer warning">
            Call us, 800-929-5737, to start messaging your customers today.
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        </div>
    <% } %>

</div>