<div id="tee_sheet_iframe_holder">

</div>
<style>
    body {margin:0px;}
    #main-nav {display:none;}
    #page {height:100%;}
    #tee_sheet_iframe {
        width:100%;
        height:100%;
        border:none;
        padding:0px;
    }
    .iframe_holder {
        position:fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .iframe_holder::-webkit-scrollbar {
        width: 0 !important;
    }
</style>
