<table class="table">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Person Id</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recipient in recipients">
            <td>{{recipient.first_name}}</td>
            <td>{{recipient.last_name}}</td>
            <td>{{recipient.email}}</td>
            <td>{{recipient.person_id}}</td>
        </tr>
    </tbody>
</table>