<div class="col-md-4 tee-sheet-details">
    <div class="panel-group terminal-printer-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Tee Sheet Details
                </h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 control-label">Tee Sheet Name</label>
                    <div class="col-md-12">
                        <input class='form-control' type="text" name="label" value="<%-title%>" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-control-container">
                        <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" />
                        <label for="hideTaxable" class="control-label">Default Tee Sheet</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Tee Sheet Color</label>
                    <div class="col-md-6">
                        <div class="colorPicker input-group colorpicker-component">
                            <input class="form-control color" type="text" value="<%-color%>" name="color"  />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Number of Holes</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-primary  <%-holes == 9 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailNoPrint" autocomplete="off" value="1" <%-holes == 9 ? 'checked' : ''%>> 9 holes
                            </label>
                            <label class="terminal-settings-btn btn btn-primary <%-holes == 18 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailNoPrint" autocomplete="off" value="0" <%-holes == 18 ? 'checked' : ''%>> 18 holes
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="afterSaleLoad" class="col-md-12 control-label">Increments</label>
                    <div class="col-md-12">
                        <%=_.dropdown(SettingsRestModelDropdownOptions.increments, {"name":"afterSaleLoad", "id":"afterSaleLoad", "class":"form-control"}, increment)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="afterSaleLoad" class="col-md-12 control-label">Time to Finish 9 holes</label>
                    <div class="col-md-12">
                        <%=_.dropdown(SettingsRestModelDropdownOptions.times_to_finish, {"name":"afterSaleLoad", "id":"afterSaleLoad", "class":"form-control"}, frontnine)%>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox-control-container">
                        <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-book_sunrise_sunset?'checked':''%>/>
                        <label for="hideTaxable" class="control-label">Use Sunrise/Sunset for Open & Close</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12 control-label">Course Opens how many minutes after sunrise</label>
                    <div class="col-md-12">
                        <input placeholder="in minutes" class='form-control' type="text" name="label" value="<%-sunrise_offset%>" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Course Closes how many minutes before sunset</label>
                    <div class="col-md-12">
                        <input placeholder="in minutes" class='form-control' type="text" name="label" value="<%-sunset_offset%>" name="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 seasons">
    <div class="seasons">

    </div>
</div>
