<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            <%- title != '' ? title : "New Tee Sheet" %>
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="tee-sheet-tabs-wrapper col-md-12">
            <div class="tee-sheet-tabs"></div>
        </div>
        <div class="tee-sheet-info"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>
</div>
