<div class="panel-group terminal-printer-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Seasons
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-md-4 season-list">(Default) Everyday Season</div>
            <div class="col-md-8 season-settings">Select or add season to see the season details</div>
        </div>
    </div>
</div>
<div class="panel-group terminal-printer-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Season Pricing by Player Type
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-md-4 season-price-class-list">(Default) Regular</div>
            <div class="col-md-8 season-timeframe-list">No Season Selected</div>
        </div>
    </div>
</div>