<div class="col-md-2 col-sm-3 col-xs-3 selected-tab">
    <div class="tab-selector tab-selector-basic-settings">
        Basic Settings
    </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="tab-selector tab-selector-marketing">
        Marketing
    </div>
</div>
