<td>
    <div class="form-group">
        <div class="col-md-12">
            <%-title%>
        </div>
    </div>
</td>
<td class="text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-down" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li class="edit-tee-sheet"><a><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
            <li class="delete-tee-sheet"><a><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a></li>
        </ul>
    </div>
</td>