.app-header {
  background-color: $color-blue-3;
  border-radius: 0;
  border: none;
  z-index: $z-index-5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  a {
    color: #fff;
  }
  
  .app-header-logo {
    height: 32px;
    padding-top: 7px;
    
    img {
      height: 32px;
    }
  }
  
  .app-header-btn {
    background-color: $color-blue-3 !important;
    
    &:focus, &:hover {
      background-color: $color-blue-4 !important;
    }
  }
  
  .app-header-toggle {
    border: none;
    
    .icon-bar {
      background-color: #fff;
    }
    
    &:link, :visited, {
      background-color: $color-blue-3 !important;
    }
    
    &:hover, :active, :focus {
      background-color: $color-blue-4 !important;
      border: none;
      
      .icon-bar {
        background-color: #fff;
      }
    }
  }

  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: $color-blue-3;
  }
  
  
  .app-header-list {
    font-size: 18px;
    
    li {
      min-width: 200px;
      
      a {
        padding: 14px 16px !important;
        color: #fff;

        &:hover, &:focus {
          background-color: $color-blue-4 !important;
        }
      }
    }
    
    span {
      font-size: 12px;
      color: #fff;
      display: block;
    }
  }


  ul.app-header-apps  {

    li {
      width: 100%;
      display: block;
      float: left;
      overflow: hidden;
      
      a {
        padding: 14px 16px !important;
        font-size: 18px;
        color: #fff;
        
        &:hover, &:focus {
          background-color: $color-blue-4 !important;
        }
        
        span {
          font-size: 12px;
          color: #fff;
          display: block;
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .app-header-current {
      font-size: 20px;
      padding-top: 13px !important;
    }


    ul.app-header-apps  {
      width: 402px;

      li {
        width: 200px;
        display: block;
        float: left;
        overflow: hidden;

        a {
          padding: 10px 20px !important;
          font-size: 18px;
          color: $color-grey-5;

          &:hover, &:focus {
            background-color: #f5f5f5 !important;
          }


          span {
            font-size: 12px;
            color: $color-grey-3;
            display: block;
          }
        }
      }
    }

    .app-header-list {
      font-size: 18px;

      li {
        min-width: 200px;

        a {
          padding: 10px 20px !important;
          color: $color-grey-5;

          &:hover, &:focus {
            background-color: #f5f5f5 !important;
          }
        }
      }

      span {
        font-size: 12px;
        color: $color-grey-3;
        display: block;
      }
    }

  }  
}