

// tooltipster custom theme
.tt-theme {
  border-radius: 3px;
  border: none;
  background: #404040;
  color: #fff;
}

.tt-theme .tooltipster-content {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}

// medium
.medium-toolbar-arrow-under:after {
  top: 40px;
  border-color: #428bca transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #428bca transparent; }

.medium-editor-toolbar {
  border: 1px solid #357ebd;
  background-color: #428bca;
  border-radius: 4px;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out; }
.medium-editor-toolbar li button {
  width: 40px;
  height: 40px;
  border: none;
  line-height: 12px;
  border-right: 1px solid #357ebd;
  background-color: transparent;
  color: #fff;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in; }
.medium-editor-toolbar li button:hover {
  background-color: #3276b1;
  color: #fff; }
.medium-editor-toolbar li .medium-editor-button-first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #3276b1;
  color: #fff; }

.medium-editor-toolbar-form-anchor {
  background: #428bca;
  color: #fff;
  border-radius: 4px; }
.medium-editor-toolbar-form-anchor input {
  height: 40px;
  background: #428bca;
  color: #fff; }
.medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }
.medium-editor-toolbar-form-anchor input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }
.medium-editor-toolbar-form-anchor input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }
.medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }
.medium-editor-toolbar-form-anchor a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #428bca;
  color: #fff;
  border-radius: 4px; }

.medium-editor-placeholder:after {
  color: #d3d3d3;
  width: 110px;
}

// bootstrap modal quirk
.modal-backdrop {
  bottom: 0;
}