<%
var startDate = '';
if(typeof(dtstart) != 'undefined' && dtstart){
startDate = moment(dtstart).format('MM/DD/YYYY');
}
%>
<div class="row">
    <div class="col-md-12">
        <div class="row repeat-every-container">
            <div class="col-md-5 form-group" style="margin-top: 10px;">
                <label for="repeat-interval">Every</label>
                <div class="input-group">
                    <input type="text" name="interval" class="form-control" id="repeat-interval" value="<% if(typeof(interval) != 'undefined' && interval){ print(interval) }%>">
                    <span class="input-group-addon">days</span>
                </div>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px; position: relative; height: 90px;">
                <div style="text-align: center; background-color: white; position: absolute; top: 50%; width: 100%; padding: 5px; margin-top: -10px; z-index: 1">OR</div>
                <div style="position: absolute; top: 5px; bottom: 5px; background-color: #E0E0E0; width: 1px; left: 50%;"></div>
            </div>
            <div class="col-md-6 form-group">
                <label>On Specific Days</label>
                <div class="repeat-day-selector">
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(0) > -1){ %>active<% } %>" data-value="0">Mo</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(1) > -1){ %>active<% } %>" data-value="1">Tu</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(2) > -1){ %>active<% } %>" data-value="2">We</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(3) > -1){ %>active<% } %>" data-value="3">Th</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(4) > -1){ %>active<% } %>" data-value="4">Fr</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(5) > -1){ %>active<% } %>" data-value="5">Sa</button>
                    <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(6) > -1){ %>active<% } %>" data-value="6">Su</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="effective-dates"></div>