<%
var scheduleOptions = {
    '': '- Select Schedule -',
    'daily': 'Daily',
    'weekly': 'Weekly',
    'monthly': 'Monthly',
    'quarterly': 'Quarterly',
    'yearly': 'Yearly'
};
%>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Schedule</label>
        <%=_.dropdown(scheduleOptions, {id: 'schedule-period', class: 'form-control'}, period) %>
    </div>
</div>
<div class="row" id="schedule-settings"></div>
<% if(period && showTimeOfDay){ %>
<div class="row">
    <div class="col-md-12 form-group">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn btn-default repeat-time-select <% if(typeof(byhour) != 'undefined' && byhour == 0){ %>active<% } %>" data-value="start">Beginning of Day</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-time-select <% if(typeof(byhour) != 'undefined' && byhour == 23){ %>active<% } %>" data-value="end">End of Day</button>
            </div>
        </div>
    </div>
</div>
<% } %>
<% if(showSaveButton){ %>
<div class="row">
    <div class="col-sm-6 col-sm-offset-6">
        <button class="btn btn-primary save-schedule pull-right">Save</button>
    </div>
</div>
<% } %>