<div class="row booking-header">
    <div class="col-xs-3 back-navigation close-modal"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</div>
    <div class="col-xs-8">
        <h1><%-moment(start).format("h:mm a") %></h1>
        <p>(Booked: <%-moment(dateBooked).format("MMM, D h:mm a") %> <%-bookingSource %>)</p>
    </div>
</div>
<h2>DETAILS</h2>
<p>
    <%-holes %> holes /
    <%-playerCount %> players /
    <%-carts %> Cart Rentals /

</p>
<h2>PLAYERS (<%-paidPlayerCount %> Paid)</h2>
<div id="edit-players-region" class="col-xs-12"></div>
<div class="clearfix"></div>
<h2>ASSIGNED CARTS</h2>
<p>
    <% if(carts == 0){ print("None") } else {
        if(cart1) print(cart1);
        if(cart1 && cart2) print("<br />");
        if(cart2) print(cart2)
    %>
</p>

<% } %>

<h2>NOTES</h2>
<p><%-details %></p>
<% if(!teedOffTime || teedOffTime == "" ){ %>

    <h2>
        <button id="teedoff">Mark Players Teed Off</button>
    </h2>
<% } %>