
<div class="booking <% if(teedOffTime){ %>teedoff<% } %>" >
    <div class="row booking-item">
        <% if(type != "teetime"){ %>
            <%-type.charAt(0).toUpperCase() + type.slice(1) %>
        <% } %>
        <div class="col-xs-12" id="players-region">

        </div>
        <div class="select-booking col-xs-4">
            <% if(carts > 0){ %>
            <%
            if(cart1){ print (cart1); }
            if(cart1 && cart2){print(",")}
            if(cart2){ print(cart2);} %>
                <img src="/images/Cart_icon.png"  />
            <% } %>
        </div>
    </div>
    <div class="row">

    </div>
    <div id="teetime-region">

    </div>
</div>
