<div class="starter-booking">
    <div class="booking-date row-xs-12">
        <i class="fa fa-angle-left" id="prevDay" aria-hidden="true"></i>
        <span><%-moment(date).format("dddd MMM. D") %></span>
        <i class="fa fa-angle-right" id="nextDay" aria-hidden="true"></i>
    </div>
    <div class="row-xs-12 booking-front-back">
        <div class="input-group">
              <span class="input-group-btn">
                <button class="teesheet-side btn btn-secondary <% if(side == 'front'){ %>active<% } %>" type="button" value="front">Front 9</button>
                <button class="teesheet-side btn btn-secondary <% if(side == 'back'){ %>active<% } %>" type="button" value="back">Back 9</button>
              </span>
        </div>
    </div>

    <div id="booking-region" class="bookings-collection">

    </div>
</div>