<div class="form-group">
    <input
    type="text"
    ng-model="selectedGroup"
    placeholder="Type to Filter"
    typeahead-on-select="personSelected($item, $model, $label)"
    typeahead="group.label for group in getEmailGroups($viewValue)"
    typeahead-loading="loadingLocations" class="form-control"
    ng-disabled="disableInput">
<img class="input-loader" ng-show="loadingLocations" src="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/loading.gif" alt="">
</div>

<div group-list></div>