<div ng-if="selectedGroups" style="font-weight: 700; margin: 14px 0 5px 0;">{{placeholder}}:</div>
<div class="to-list">
    <div ng-repeat="group in selectedGroups">
            {{group.label}}
        <button class="to-list-remove"
        ng-click="removeRecipient(group)">
            <i class="gi gi-times"></i>
        </button>
    </div>
</div>