<h4>No messages</h4>
<% if(!App.data.user.has_module_permission("marketing_campaigns")){ %>
Give us a call to set up text messaging today.   (800)675-0422
<% } else { %>
<a href="#new_customers">Start</a> a conversation with one of your customers today. Get notifications here as they respond.
<% } %>