<div class="message <% if(read == 1){print('read');} %>">
  <p><%-message %><br/>
    <span class="name"> - <%-first_name %> <%-last_name %></span>
    <span class="time"><%-timestamp %></span>
  </p>
  <a class="btn btn-primary btn-sm" id="respond"><i class="fa fa-reply" aria-hidden="true"></i></a>
  <a id="ignore" style="position: absolute;bottom: 12px;right: 10px;cursor: pointer;">Ignore</a>
</div>
