<div class="unread_msgs dropdown <% if(displayDropdown){ %> open <%} %>">
  <div id="message_dropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-mobile" aria-hidden="true"></i><span id="unread_count"></span>
  </div>
  <div class="dropdown-menu unread_msgs_thread-cont ">
    <div class="message-options">
      <a class="btn" id="notification-sound">
        <% if(mute){ %>
          <i class="fa fa-volume-off" aria-hidden="true"></i>
        <% } else { %>
          <i class="fa fa-volume-up" aria-hidden="true"></i>
        <% } %>
      </a>
    </div>
    <div id="message_threads" ></div>
  </div>
</div>
