// greys
$color-grey-300: #a0a0a0;
$color-grey-400: #909090;
$color-grey-500: #808080;
$color-grey-700: #595959;
$color-grey-900: #404040;

$color-primary-500: #4885B1;
$color-primary-100: lighten($color-primary-500, 32%);
$color-primary-200: lighten($color-primary-500, 24%);
$color-primary-300: lighten($color-primary-500, 16%);
$color-primary-400: lighten($color-primary-500, 8%);
$color-primary-600: darken($color-primary-500, 8%);
$color-primary-700: darken($color-primary-500, 16%);
$color-primary-800: darken($color-primary-500, 24%);
$color-primary-900: darken($color-primary-500, 32%);

// z-index order of importance
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-override-all: 9999;

@mixin clearfix() {
  &:before,
  &:after { content: ""; display: table; }
  &:after { clear: both; }
  zoom: 1;
}

// global modifiers
.clearfix {
  @include clearfix;
}

.box-sizing-content {
  @include box-sizing-content;
}

// quick margin classes
.mr-small       { margin-right: 5px !important; }
.mr-medium      { margin-right: 10px !important; }
.mr-large       { margin-right: 20px !important; }
.ml-small       { margin-left: 5px !important; }
.ml-medium      { margin-left: 10px !important; }
.ml-large       { margin-left: 20px !important; }
.mt-small       { margin-top: 5px !important; }
.mt-medium      { margin-top: 10px !important; }
.mt-large       { margin-top: 20px !important; }
.mb-small       { margin-bottom: 5px !important; }
.mb-medium      { margin-bottom: 10px !important; }
.mb-large       { margin-bottom: 20px !important; }

// quick padding classes
.pr-small       { padding-right: 5px !important; }
.pr-medium      { padding-right: 10px !important; }
.pr-large       { padding-right: 20px !important; }
.pl-small       { padding-left: 5px !important; }
.pl-medium      { padding-left: 10px !important; }
.pl-large       { padding-left: 20px !important; }
.pt-small       { padding-top: 5px !important; }
.pt-medium      { padding-top: 10px !important; }
.pt-large       { padding-top: 20px !important; }
.pb-small       { padding-bottom: 5px !important; }
.pb-medium      { padding-bottom: 10px !important; }
.pb-large       { padding-bottom: 20px !important; }

body {
  font-family: "Roboto", sans-serif;
}

//main.css overrides...
.nav-tabs {
  border-bottom: none;
}