.page-blue {
  background-color: $color-primary-600;
  width: 100%;
  min-height: 1px;
  clear: both;
}

.page-blue button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.page-row {
  height: 50px;
  padding: 0 10px;
}

.page-row-title {
  font-size: 18px;
  line-height: 50px;
  float: left;
  color: #fff;
  font-weight: 700;
}


.page-filter-container {
  padding: 0 10px;
  width: 100%;
  min-height: 1px;
  clear: both;
}

.page-filter {
  margin: 0 10px 10px 0;
  float: left;
}

.page-filter-button {
  border-radius: 4px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background-color: #e3e3e3;
  color: #404040;
  border: none;
  font-size: 12px;

  &:hover {
    background: #d3d3d3;
  }
}

.page-filter-add {
  border: solid 1px #fff;
  background: none;
  color: #fff;
  border-radius: 4px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 10px;

  &:hover {
    background-color: #fff;
    color: #404040;
  }
}

.page-white {
  padding: 10px;
  background-color: #fff;
}

.page-navigation-container {
  background-color: #fff;
  padding: 20px;
}

.page-navigation {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;

  .list-group-item-text {
    font-size: 12px;
  }

  .report-templates {
    cursor: pointer;
  }
}

.page-create-report {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 20px;
  color: #fff;
}

.page-inline-input {
  display: inline-block;
  margin-right: 5px;

  div {
    display: inline-block;
  }
}

.page-subnav {
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: solid 1px #d3d3d3;
}