<div class="col-lg-12">
	<div class="<% if(mode == 'sale'){ print('bg-primary ') }else{ print('btn-danger') } %>" style="padding: 10px 0px;" id="cart-header">
		<div class="col-xs-8 col-sm-8 col-md-4">
			<input type="text" style="display: block;" class="form-control typeahead-item" id="item-search" value="" autocomplete="off" placeholder="Search items or scan bar code..." />
		</div>
		<div class="col-md-offset-4 col-sm-4 col-xs-4 col-md-4">
			<div class="btn-group pull-right hidden-xs">
				<button id="mode-sale" type="button" class="btn btn-default cart-mode <% if(mode == 'sale'){ print('active') } %>" data-mode="sale">Sale</button>
				<button id="mode-return" type="button" class="btn btn-default cart-mode <% if(mode == 'return'){ print('active') } %>" data-mode="return">Return</button>
			</div>
			<div class="btn-group hidden-sm hidden-md hidden-lg pull-right">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<% if(mode == 'sale'){ %>Sale<% }else{ %>Return<% } %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="#" class="cart-mode" data-mode="<% if(mode == 'sale'){ print('return') }else{ print('sale') } %>">
						<% if(mode == 'sale'){ print('Return') }else{ print('Sale') } %>
						</a>
					</li>
				</ul>
			</div>			
		</div>
	</div>
</div>
<div class="col-lg-12" id="cart-items">
	<div class="table-responsive" style="background-color: white;">
		<table class="table">
			<thead>
				<tr>
					<th class="delete"><a id="cancel-sale" class="delete-item">&times;</a></th>
					<th class="select"><input type="checkbox" name="checkall" id="cart-checkall" value="1" <% if(check_all){ print('checked') } %> /></th>
					<th class="name">Item</th>
					<th class="price">Price</th>
					<th class="qty">Qty</th>
					<th class="discount">Disc (%)</th>
					<th class="total">Total</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
