<div class="modal-content change-due-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Change Due</h4>
	</div>
	<div class="modal-body container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h3 style="text-align: center;">Change Due</h3>
				<h1 style="text-align: center;"><%-accounting.formatMoney( Math.abs(amount) )%></h1>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default close-window">Close</button>		
	</div>
</div>
