<% var identifier = sale_id;
if(number != null){
identifier = number;
}
%>
<div class="modal-content sale-delete-confirm-window">
    <div class="modal-header">
        <h4 class="modal-title">Delete Sale #<%-identifier%></h4>
    </div>
    <div class="modal-body container-fluid">
        <form class="form-horizontal" role="form">
            <input type="hidden" value="<%sale_id%>" id="sale-id" />
            <div class="form-group">
                <label for="deletion-reason" class="col-md-3 control-label">Reason</label>
                <div class="col-md-8">
                    <select class="form-control" name="reason" id="deletion-reason">
                        <% for (var i in refund_reasons.attributes) { %>
                        <option value="<%-i%>"><%-refund_reasons.attributes[i]%></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="deletion-comment" class="col-md-3 control-label">Comment</label>
                <div class="col-md-8">
                    <textarea class="form-control" value="" name="comment" id="deletion-comment" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 control-label">Deleting this sale will refund all associated payments. Are you sure?</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger pull-left confirm-delete" id="confirm-delete">Confirm Delete</button>
    </div>
</div>
