<div class="col-lg-12">
	<div class="bg-primary clearfix" style="min-height: 55px">
		<div class="col-lg-4" style="padding: 10px 0px 0px 10px;">
			<div class="input-group">
				<input type="text" class="form-control typeahead-customer" id="customer-search" value="" placeholder="Search customers..." />
				<span class="input-group-btn" style="padding-right: 15px;">
					<button id="add-customer" style="top: -1px;" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
			</div>
		</div>
		<div class="col-lg-8" style="padding: 0px;">
			<ul id="customer-tabs" class="nav nav-tabs"></ul>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="inner-content tab-content" id="customer-details"></div>
</div>

