<div class="modal-content customer-signature">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h1 class="payment-total text-center"><%-accounting.formatMoney(amount)%></h1>
	</div>
	<div class="modal-body" style="position: relative; height: 350px">
		<canvas style="position: relative;"></canvas>
		<br>
		<h3 class="agreement">I agree to paying the above amount</h3>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default clear pull-left">Clear</button>	
		<button type="button" class="btn btn-primary save">Save</button>	
	</div>
</div>