<% var status = {
	"0": '',
	"3": 'ok',
	"1": 'danger',
	"2": 'warn'
} %>
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
		<div class="row">
			<div class="info col-xs-12">
				<div class="photo-container col-xs-12 col-sm-5 col-md-4 col-lg-2">
					<img src="<%-photo%>" class="photo <%-status[status_flag]%>" />
					<% if(!image_id || image_id == 0){ %><button class="btn btn-default btn-xs add-photo" style="width:100px;">Add Photo</button><% } %>
				</div>
				<div class="customer-data-container col-xs-12 col-sm-7 col-md-7 col-lg-6">
					<h3>
						<%-first_name%> <%-last_name%>
						<i id="edit-person" class="glyphicon glyphicon-pencil edit-customer" style="margin-left: 5px; font-size: 18px;"></i>
					</h3>
					<% if(groups.length > 0){ %>
					<span class="contact">
						<% if(groups.length > 0){
						_.each(groups.models, function(group){ %>
						<span class="label label-default group"><%-group.get('label')%></span>
						<% }) } %>
					</span>
					<% } %>
					<span class="contact">
						<% if(_.isBlank(account_number)){ print('<a class="text-muted edit-customer">Add account number</a>') }else{ %><%-'#'+account_number%><% }%>
					</span>
					<span class="contact"><% if(typeof phone_number !== 'string' || phone_number.length < 7 || phone_number.length > 18){ print('<a class="text-muted edit-customer">Add phone number</a>') }else{ %><%-phone_number%><% }%></span>
					<span class="contact"><% if(typeof email !== 'string' || email.length < 3){ print('<a class="text-muted edit-customer">Add email</a>') }else{ %><%-email%><%}%></span>
					<span class="contact" style="display: inline-flex;">
						<% if(typeof birthday !== 'string' || birthday.length < 6 ){
							print('<a class="text-muted edit-customer">Add birthday</a>')
						}else{ %>
							<div class="customer-birthday">DOB: <%=
								(new Date(new Date(birthday).getTime() + (1000*60*60*12))).toLocaleDateString()
							%></div>
							<div class="customer-age"><%= (function(){
								var age = Math.floor((new Date - new Date(birthday))/(60000*60*24*365));
								return isNaN(age)?'':'('+age+' yrs)';}()) %>
							</div>
						<%}%>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills customer-details" role="tablist">
					<li role="presentation" class="active">
						<a href="#customer-<%-person_id%>-passes" aria-controls="passes" role="tab" data-toggle="pill">Passes <span class="badge"><%-passes.length%></span></a>
					</li>
					<li role="presentation">
						<a href="#customer-<%-person_id%>-rainchecks" aria-controls="rainchecks" role="tab" data-toggle="pill">Rainchecks <span class="badge"><%-rainchecks.length%></span></a>
					</li>
					<li role="presentation">
						<a href="#customer-<%-person_id%>-gift-cards" aria-controls="gift cards" role="tab" data-toggle="pill">Gift Cards <span class="badge"><%-gift_cards.length%></span></a>
					</li>
					<li role="presentation">
						<a href="#customer-<%-person_id%>-recent-transactions" aria-controls="recent transactions" role="tab" data-toggle="pill">Recent Transactions <span class="badge"><%-recent_transactions.length%></span></a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane customer-passes active" id="customer-<%-person_id%>-passes"></div>
					<div role="tabpanel" class="tab-pane" id="customer-<%-person_id%>-rainchecks">
						<ul class="customer-info">
							<% if(rainchecks.length > 0){
							_.each(rainchecks.models, function(raincheck){ %>
							<li class="customer-raincheck" data-raincheck-id="<%-raincheck.get('raincheck_id')%>">					
								<button class="btn btn-default btn-sm pay" style="<% if(raincheck.isExpired()){ %>visibility: hidden;<% } %>">Pay</button>
								<span class="number">#<%-raincheck.get('raincheck_number')%></span>
								<span class="date">Issued <%-moment(raincheck.get('date_issued'), 'YYYY-MM-DD HH:mm:ss').format('M/D/YY')%></span>
								<strong class="customer-info-transaction-total pull-right"><%-accounting.formatMoney(raincheck.get('total'))%></strong>
								
								<% if(raincheck.isExpired()){ %>
								<span class="label label-danger customer-info-label pull-right">Expired <%-moment(raincheck.get('expiry_date')).format('M/D/YY')%></span>
								<% }else if(raincheck.hasExpiration()){ %>
								<span class="label label-success customer-info-label pull-right">Expires <%-moment(raincheck.get('expiry_date')).format('M/D/YY')%></span>
								<% }else{ %>
								<span class="label label-success customer-info-label  pull-right">No Expiration</span>
								<% } %>
							</li>
							<% }) }else{ %>
							<li class="text-muted">No rainchecks</li>
							<% } %>
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="customer-<%-person_id%>-gift-cards">
						<ul class="customer-info">
							<% if(gift_cards.length > 0){
							_.each(gift_cards.models, function(gift_card){ %>
							<li class="customer-gift-card" data-gift-card-id="<%-gift_card.get('giftcard_id')%>">					
								<button class="btn btn-default btn-sm pay <%if(gift_card.isExpired() || gift_card.get('value') <= 0){%>disabled<% } %>">Pay</button>
								<span class="number">#<%-gift_card.get('giftcard_number')%></span>
								<strong class="customer-info-transaction-total pull-right"><%-accounting.formatMoney(gift_card.get('value'))%></strong>

								<% if(gift_card.isExpired()){ %>
								<span class="label label-danger customer-info-label pull-right">Expired <%-moment(gift_card.get('expiration_date')).format('M/D/YY')%></span>
								<% }else if(gift_card.hasExpiration()){ %>
								<span class="label label-success customer-info-label pull-right">Expires <%-moment(gift_card.get('expiration_date')).format('M/D/YY')%></span>
								<% }else{ %>
								<span class="label label-success customer-info-label pull-right">No Expiration</span>
								<% } %>
							</li>
							<% }) }else{ %>
							<li class="text-muted">No gift cards</li>
							<% } %>
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="customer-<%-person_id%>-recent-transactions">
						<ul class="customer-info">
							<% if(recent_transactions.length > 0){
							_.each(recent_transactions.models, function(recent_transaction){ %>
							<li class="customer-recent-transaction" data-sale-id="<%-recent_transaction.get('sale_id')%>" title="View receipt">					
								<span class="number">#<%-recent_transaction.get('number')%></span>
								<span class="date" title="<%-moment(recent_transaction.get('sale_time')).format('MM/DD/YYYY @ h:mma')%>"><%-moment(recent_transaction.get('sale_time')).fromNow()%></span>
								<strong class="customer-info-transaction-total pull-right <%if(recent_transaction.get('total') < 0){ %>text-danger<% } %>"><%-accounting.formatMoney(recent_transaction.get('total'))%></strong>
								<span class="num-items pull-right"><%-recent_transaction.get('items').length%> Items</span>
							</li>
							<% }) }else{ %>
							<li class="text-muted">No recent transactions</li>
							<% } %>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
		<div class="balances">
			<ul class="balances">
				<li>
					<span class="amount <% if(member_account_balance < 0){ %>text-danger<% } %>"><%-accounting.formatMoney(member_account_balance)%></span>
					<a href="" id="pay-member-account" class="name <% if(member_account_balance < 0){ %>text-danger<% } %>">
						<%-member_account_label%>
					</a>
				</li>
				<li>
					<span class="amount <% if(account_balance < 0){ %>text-danger<% } %>"><%-accounting.formatMoney(account_balance)%></span>
					<a href="" id="pay-customer-account" class="name <% if(account_balance < 0){ %>text-danger<% } %>">
						<%-customer_account_label%>
					</a>
				</li>
				<li>
					<span class="amount <% if(invoice_balance < 0){ %>text-danger<% } %>"><%-accounting.formatMoney(invoice_balance)%></span>
					<a href="" id="pay-invoice-account" class="name <% if(invoice_balance < 0){ %>text-danger<% } %>">Open Invoices</a>
				</li>
				<li>
					<span class="amount"><%-accounting.formatNumber(loyalty_points)%></span>
					<span class="name">Loyalty Points</span>
				</li>
				<%
				if(!_.isNull(minimum_charges) && minimum_charges.length > 0){
				_.forEach(minimum_charges.models, function(minimum){ %>
				<li>
					<span class="amount <% if(minimum.get('totals') < minimum.get('minimum_amount')){ print('text-danger'); } %>">
						<%-accounting.formatMoney(minimum.get('total')) %> / <%-accounting.formatMoney(minimum.get('minimum_amount')) %> </span>
					<span class="name"><%-minimum.get('name') %></span>
				</li>
				<% }); } %>
			</ul>
		</div>
	</div>
</div>
