<div class="modal-content edit-quick-button-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title"><% if(is_new){ print('New') }else{ print('Edit') }%> Quick Button</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="quick-button-label" class="col-md-3 control-label">Label</label>
				<div class="col-md-5">
					<input class="form-control" type="text" value="<%-display_name%>" name="label" id="quick-button-label" />
				</div>
			</div>
			<div class="form-group">
				<label for="quick-button-color" class="col-md-3 control-label">Color</label>
				<div class="col-md-9">
					<label class="quickbutton-color">
						<div class="color bg-primary"></div>
						<input type="radio" name="color" value="primary" <% if(!color || color == 'primary'){ print('checked') } %> />
					</label>
					<label class="quickbutton-color">
						<div class="color bg-success"></div>
						<input type="radio" name="color" value="success" <% if(color == 'success'){ print('checked') } %> />
					</label>
					<label class="quickbutton-color">
						<div class="color bg-warning"></div>
						<input type="radio" name="color" value="warning" <% if(color == 'warning'){ print('checked') } %> />
					</label>		
					<label class="quickbutton-color">
						<div class="color bg-danger"></div>
						<input type="radio" name="color" value="danger" <% if(color == 'danger'){ print('checked') } %> />
					</label>				
				</div>
			</div>			
			<div class="form-group">
				<label for="quick-button-item" class="col-md-3 control-label">Add Item</label>
				<div class="col-md-6">
					<input class="form-control" type="text" value="" name="item" id="quick-button-item" placeholder="Search items..." />
				</div>
			</div>
			<div class="form-group">
				<label for="quick-button-item" class="col-md-3 control-label">Items</label>
				<div class="col-md-6">
					<ul class="quickbutton-items"></ul>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<% if(!is_new){ %><button type="button" class="btn btn-danger pull-left delete">Delete</button><% } %>
		<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>
