<% var identifier = sale_id; 
if(number != null){
	identifier = number;
} %>
<div class="modal-content edit-sale-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Edit Sale #<%-identifier%></h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-3 control-label">Sales Receipt</label>
				<div class="col-md-6">
					<a class="view-receipt">View POS <%-identifier%> Receipt</a>
				</div>
			</div>
			<div class="form-group">
				<label for="sale-date" class="col-md-3 control-label">Date</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="sale-date" data-date-format="YYYY-MM-DD HH:mm:SS" placeholder="Date" value="<%-sale_time%>">
				</div>
			</div>
			<div class="form-group">
				<label for="sale-customer" class="col-md-3 control-label">Customer</label>
				<div class="col-md-7">
					<input type="text" class="form-control" id="sale-customer" placeholder="Customer name" value="<% if(customer) { %><%-customer.get('first_name')%> <%-customer.get('last_name')%><% } %>">
					<input type="hidden" id="sale-customer-id" value="<% if(customer) { %><%-customer.get('person_id')%><% } %>" />
					<a href="" class="email-receipt">Email Receipt</a>
				</div>
			</div>
			<% if(customer_note){ %>
            <div class="form-group">
                <label for="sale-customer-note" class="col-md-3 control-label">
                	Customer Note<br>
                	<small class="text-muted" style="font-weight: normal">* Visible to customer on receipts/invoices</small>
                </label>
                <div class="col-md-8">
                    <textarea id="sale-customer-note" name="customer_note" class="form-control" rows="3"><%-customer_note%></textarea>
                </div>
            </div>
			<% } %>
			<div class="form-group">
				<label for="sale-employee" class="col-md-3 control-label">Employee</label>
				<div class="col-md-6">
					<input type="text" class="form-control" id="sale-employee" placeholder="Employee name" value="<% if(employee) { %><%-employee.get('first_name')%> <%-employee.get('last_name')%><% }%>">
					<input type="hidden" id="sale-employee-id" value="<% if(employee) { %><%-employee.get('person_id')%><% } %>" />
				</div>
			</div>
            <div class="form-group">
                <label for="sale-employee" class="col-md-3 control-label">Comment</label>
                <div class="col-md-8">
                    <textarea id="sale-comment" name="comment" class="form-control" rows="3"><%-comment%></textarea>
                </div>
            </div>
            <% if (refund_reason != '') { %>
            <div class="form-group">
                <label for="sale-refund-reason" class="col-md-3 control-label">Refund Reason</label>
                <div class="col-md-8">
                    <textarea id="sale-refund-reason" name="refund-reason" class="form-control" rows="3"><%-refund_reason%></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="sale-refund-comment" class="col-md-3 control-label">Refund Comment</label>
                <div class="col-md-8">
                    <textarea id="sale-refund-comment" name="refund-comment" class="form-control" rows="3"><%-refund_comment%></textarea>
                </div>
            </div>
            <% } %>
			<div class="form-group">
				<label class="col-md-3 control-label">&nbsp;</label>
				<div class="col-md-8 edit-sale-actions">
					<a class="add-tip">Add Tip</a>
					<a class="full-return">Issue Full Return</a>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
        <% if(App.data.user.is_admin()) { %>
		<button type="button" class="btn btn-danger delete pull-left">Delete Sale</button>
        <% } %>
		<button type="button" class="btn btn-default save">Save</button>
	</div>
</div>
