<div class="modal-content email-receipt-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Email Receipt - Sale #<%-number%></h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="customer-email" class="col-md-3 control-label">Email Address</label>
				<div class="col-md-6">
					<input type="text" class="form-control" id="customer-email" placeholder="Email Address" value="<%-email%>">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary send">Send</button>
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
	</div>
</div>
