<div class="modal-content issue-pass">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Pass Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="pass-customer">Customer</label>
				<div class="col-md-5">
					<% if(params.customer && params.customer.first_name){
						var customer_name = params.customer.first_name +' '+ params.customer.last_name;
					}else{
						var customer_name = '';
					} %>
					<input type="text" name="customer" value="<%-customer_name%>" class="form-control" id="pass-customer"
					data-bv-notempty data-bv-notempty-message="Customer is required">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="pass-start-date">Start Date</label>
				<div class="col-md-4">
					<input type="text" name="start_date" value="<%-params.start_date%>" class="form-control" id="pass-start-date"
						data-bv-notempty data-bv-notempty-message="Start date is required">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="pass-end-date">Expiration</label>
				<div class="col-md-4">
					<input type="text" name="end_date" value="<%-params.end_date%>" class="form-control" id="pass-end-date"
						data-bv-notempty data-bv-notempty-message="Expiration date is required">
				</div>
			</div>										
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>