<div class="modal-content giftcard">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Giftcard Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-md-5">
					<div class="btn-group btn-group-justified action" data-toggle="buttons">
						<label class="btn btn-default <%if(params.action == 'new'){ print('active') }%>">
							<input type="radio" name="action" value="new" autocomplete="off" <%if(params.action == 'new'){ print('checked') }%>> New
						</label>
						<label class="btn btn-default <%if(params.action == 'reload'){ print('active') }%>">
							<input type="radio" name="action" value="reload" autocomplete="off" <%if(params.action == 'reload'){ print('checked') }%>> Reload
						</label>
					</div>
				</div>				
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="giftcard-number">Number <span class="text-danger">*</span></label>
				<div class="col-md-5">
					<input type="text" name="giftcard_number" value="<%-params.giftcard_number%>" class="form-control" id="giftcard-number"
						data-bv-notempty data-bv-notempty-message="Giftcard number required">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="giftcard-value">Value <span class="text-danger">*</span></label>
				<div class="col-md-3">
					<input type="text" name="value" value="<%-accounting.formatMoney(unit_price, '')%>" class="form-control" id="giftcard-value"
						data-bv-notempty data-bv-notempty-message="Value is required">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="giftcard-customer">Customer</label>
				<div class="col-md-5">
					<% if(params.customer && params.customer.first_name){
						var customer_name = params.customer.first_name +' '+ params.customer.last_name;
					}else{
						var customer_name = '';
					} %>
					<input type="text" name="customer" value="<%-customer_name%>" class="form-control" id="giftcard-customer">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="giftcard-expiration">Expiration</label>
				<div class="col-md-4">
					<input type="text" name="expiration_date" value="<%-params.expiration_date%>" class="form-control" id="giftcard-expiration">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="giftcard-department">Department</label>
				<div class="col-md-5">
					<div class="radio">
						<label>
							<input type="radio" name="limit_to" class="limit_to" value="department" id="giftcard-department-radio" style="margin-top: 10px;" checked>
						</label>
						<input type="text" name="department" value="<%-params.department%>" class="form-control" id="giftcard-department">
					</div>
				</div>
			</div>	
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="giftcard-category">Category</label>
				<div class="col-md-5">
					<div class="radio">
						<label>
							<input type="radio" name="limit_to" class="limit_to" value="category" id="giftcard-category-radio" style="margin-top: 10px;">
						</label>
						<input type="text" name="category" class="form-control" value="<%-params.category%>" id="giftcard-category" disabled>
					</div>
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="giftcard-notes">Notes</label>
				<div class="col-md-9">
					<textarea class="form-control" name="details" id="giftcard-notes" style="height: 75px;"><%-params.details%></textarea>
				</div>
			</div>													
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>
