<div class="modal-content punch-card">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Punch Card Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-3 control-label" for="punch-card-number">Number <span class="text-danger">*</span></label>
				<div class="col-md-5">
					<input type="text" name="punch_card_number" value="<%-params.punch_card_number%>" class="form-control" id="punch-card-number"
						data-bv-notempty data-bv-notempty-message="Punch card number required">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="punch-card-customer">Customer</label>
				<div class="col-md-5">
					<% if(params.customer && params.customer.first_name){
						var customer_name = params.customer.first_name +' '+ params.customer.last_name;
					}else{
						var customer_name = '';
					} %>
					<input type="text" name="customer" value="<%-customer_name%>" class="form-control" id="punch-card-customer">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="punch-card-expiration">Expiration</label>
				<div class="col-md-4">
					<input type="text" name="expiration_date" value="<%-params.expiration_date%>" class="form-control" id="punch-card-expiration">
				</div>
			</div>
			<div class="form-group new-card">
				<label class="col-md-3 control-label">Items</label>
				<div class="col-md-8">
					<ul>
						<% _.each(items.models, function(item){ %>
						<li>
							(<%-item.get('quantity')%>) <%-item.get('name')%>
							<% if(item.has('price_class_name') && item.get('price_class_name') != ''){ %>
							- <%-item.get('price_class_name') %>
							<% } %>
						</li>
						<% }) %>
					</ul>
				</div>
			</div>			
			<div class="form-group new-card">
				<label class="col-md-3 control-label" for="punch-card-notes">Notes</label>
				<div class="col-md-9">
					<textarea class="form-control" name="details" id="punch-card-notes" style="height: 75px;"><%-params.details%></textarea>
				</div>
			</div>													
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>
