<div class="modal-content ets-giftcard-value">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">ETS Giftcard Value</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-3 control-label" for="giftcard-value">Value</label>
				<div class="col-md-5">
					<input type="text" name="value" value="<%-unit_price%>" class="form-control" id="giftcard-value"
						data-bv-notempty data-bv-notempty-message="Giftcard value required">
				</div>
			</div>								
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary continue">Continue</button>
	</div>
</div>
