<div class="modal-content raincheck">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Issue Raincheck</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-3 control-label" for="raincheck-teesheet">Course</label>
				<div class="col-md-5">
					<%=_.dropdown(teesheet_menu, {"class":"form-control", "name":"teesheet_id", "id":"raincheck-teesheet"}, selected_teesheet)%>
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-green-fee" class="col-md-3 control-label" for="raincheck-green-fee">Green Fee</label>
				<div class="col-md-5">
					<%=_.dropdown(green_fees_menu, {"class":"form-control", "name":"green_fee", "id":"raincheck-green-fee"}, selected_green_fee)%>
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-cart-fee" class="col-md-3 control-label" for="raincheck-cart-fee">Cart Fee</label>
				<div class="col-md-5">
					<%=_.dropdown(cart_fees_menu, {"class":"form-control", "name":"cart_fee", "id":"raincheck-cart-fee"}, selected_cart_fee)%>
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-customer" class="col-md-3 control-label">Customer</label>
				<div class="col-md-5">
					<input type="text" class="form-control" id="raincheck-customer" placeholder="Search customers..." value="<% if(customer) { %><%-customer.get('first_name')%> <%-customer.get('last_name')%><% } %>">
					<input type="hidden" id="raincheck-customer-id" value="<% if(customer) { %><%-customer.get('person_id')%><% } %>" />
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-expiration" class="col-md-3 control-label">Expiration</label>
				<div class="col-md-4">
					<input type="text" name="expiration_date" class="form-control" id="raincheck-expiration" data-date-format="YYYY-MM-DD HH:mm:SS" placeholder="" value="<%-expiration_date%>">
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-split" class="col-md-3 control-label">Split Raincheck</label>
				<div class="col-md-4">
					<input type="checkbox" name="split" id="raincheck-split" style="margin-top: 10px;" value="1" data-unchecked-value="0">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Players</label>
				<div class="col-md-5">
					<div class="btn-group players" data-toggle="buttons">
						<% players = parseInt(players) %>
						<label class="btn btn-default <%if(players == 1){ print('active') } %>">
							<input type="radio" name="players" value="1" autocomplete="off" <%if(players == 1){ print('checked') } %>> 1
						</label>
						<label class="btn btn-default <%if(players == 2){ print('active') } %>">
							<input type="radio" name="players" value="2" autocomplete="off" <%if(players == 2){ print('checked') } %>> 2
						</label>
						<label class="btn btn-default <%if(players == 3){ print('active') } %>">
							<input type="radio" name="players" value="3" autocomplete="off" <%if(players == 3){ print('checked') } %>> 3
						</label>
						<label class="btn btn-default <%if(players == 4){ print('active') } %>">
							<input type="radio" name="players" value="4" autocomplete="off" <%if(players == 4){ print('checked') } %>> 4
						</label>
						<label class="btn btn-default <%if(players == 5){ print('active') } %>">
							<input type="radio" name="players" value="5" autocomplete="off" <%if(players == 5){ print('checked') } %>> 5
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="raincheck-holes" class="col-md-3 control-label">Holes Completed</label>
				<div class="col-md-2">
					<% 
					var holes = {};
					var number_holes = 18;

					for(x = 0; x < number_holes; x++){ 
						holes[x] = x;
					} %>
					<%=_.dropdown(holes, {"class":"form-control holes", "name":"holes_completed", "id":"raincheck-holes"}, holes_completed)%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tbody>
							<tr>
								<th>Green Fee</th>
								<td id="totals-green-fee"><%-accounting.formatMoney(green_fee_price)%></td>
							</tr>
							<tr>
								<th>Cart Fee</th>
								<td id="totals-cart-fee"><%-accounting.formatMoney(cart_fee_price)%></td>
							</tr>
							<tr>
								<th>Players</th>
								<td id="totals-players">x <%-accounting.formatNumber(players)%></td>
							</tr>
							<tr>
								<th>Subtotal</th>
								<td id="totals-subtotal"><%-accounting.formatMoney(subtotal)%></td>
							</tr>
							<tr>
								<th>Tax</th>
								<td id="totals-tax"><%-accounting.formatMoney(tax)%></td>
							</tr>
							<tr>
								<th>Total Credit</th>
								<td id="totals-total"><%-accounting.formatMoney(total)%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Issue Raincheck</button>
	</div>
</div>
