<form role="form" id="billing_address_form">
	<input type="hidden" name="amount" id="payment_amount" value="<%-amount%>">
	<div class="row">
		<div class="form-group col-md-4">
			<label for="credit_card_address" class="control-label hidden-xs">Billing Address</label>
			<input type="text" class="form-control address" placeholder="Billing address" name="address" id="credit_card_address"
				data-bv-notempty data-bv-notempty-message="Address is required" />											
		</div>
		<div class="form-group col-md-2">
			<label for="credit_card_zipcode" class="control-label hidden-xs">Billing Zipcode</label>
			<input type="text" class="form-control zipcode" placeholder="Billing zipcode"  name="zip" id="credit_card_zipcode" 
				data-bv-notempty data-bv-notempty-message="Zipcode is required" />											
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<button class="btn btn-primary save-billing-address">Next</button>
		</div>
	</div>
</form>
