<%
var account_payments = 'disabled';
var member_account_payments = 'disabled';
var loyalty_payment = 'disabled';
var punch_card = '';
var coupon = '';
var raincheck = '';

if(mode == 'return'){
	punch_card = 'disabled';
	coupon = 'disabled';
	raincheck = 'disabled';
}
if(selected_customer){
	account_payments = '';
	if(selected_customer.get('member') == 1){
		member_account_payments = '';
	}
}
if(selected_customer && selected_customer.get('use_loyalty') == 1 && mode == 'sale'){
	loyalty_payment = '';
}
if(typeof refund_reasons == 'undefined'){
    refund_reasons = {};
}
%>
<div class="modal-content payments-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Payments</h4>
	</div>
	<div class="modal-body">
        <div class="container-fluid">
	        <% if(mode == 'return') { %>
	        <div class="row">
	            <label for="refund-reason" class="col-md-3 control-label">Return Reason</label>
	            <div class="col-md-4">
	                <select class="form-control" name="reason" id="refund-reason">
	                    <% for (var i in refund_reasons.attributes) { %>
	                    <option value="<%-i%>"><%-refund_reasons.attributes[i]%></option>
	                    <% } %>
	                </select>
	            </div>
	        </div>
	        <div class="row">
	            <label for="refund-comment" class="col-md-3 control-label">Comment</label>
	            <div class="col-md-8" style="padding-bottom: 20px">
	                <textarea class="form-control" value="" name="comment" id="refund-comment" />
	            </div>
	        </div>
	        <% } %>
			<div class="row">
				<div class="col-md-6 col-md-push-6 payments">			
					<div class="row">
						<div class="form-group col-md-10 col-md-offset-2 payment-amount">
							<label class="amount" for="payment_amount">Amount</label>
							<div class="input-group amount">
								<div class="input-group-addon">$</div>
								<input type="number" name="amount" id="payment_amount" class="form-control amount input-lg" value="<%-accounting.formatNumber(total_due, 2, '')%>" autocomplete="off"/>
							</div>
						</div>
					</div>
					<div class="row">
						<ul class="col-md-12 payments" id="window-payments"></ul>
						<div class="form-group col-md-12 total-due">
							<hr />
							<label>Total Due</label>
							<h3 class="total"><%-accounting.formatMoney(total_due)%></h3>
						</div>	
					</div>				
				</div>				
				<div class="col-md-5 col-md-pull-6" id="payment-types">
					<div class="row" id="saved-credit-cards"></div>
					<div class="row">
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay" id="payment_cash">Cash</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_check" href="">Check</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_credit_card" href="">Credit Card</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_giftcard" href="">Gift Card</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 <%-raincheck%>" id="payment_raincheck" href="">Raincheck</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 <%-punch_card%>" id="payment_punch_card" href="">Punch Card</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 <%-coupon%>" id="payment_coupon" href="">Coupon</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 <%-loyalty_payment%>" id="payment_loyalty" href="">Loyalty Points</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay <%-member_account_payments%>" id="payment_member_account" href=""><%-member_account_label%></button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay <%-account_payments%>" id="payment_customer_account" href=""><%-customer_account_label%></button>
	                    <% for (var i = 0; i < custom_payments.length; i++) { %>
	                    <button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay custom_payment" id="<%-custom_payments.models[i].get('customPaymentType')%>" href=""><%-custom_payments.models[i].get('label')%></button>
	                    <% } %>
					</div>
				</div>		
			</div>
		</div>
		<div class="row" style="margin-top: 15px">
			<div class="col-md-12">
				<label for="refund-comment" class="control-label">Customer Note</label>
				<textarea name="customer_note" class="form-control" id="customer-note"><%-customer_note%></textarea>
				<span class="help-block">This note will be displayed on the sale receipt and in sale reports</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default hidden-xs pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default hidden-xs pull-left" id="cancel-credit-card-payment" style="display:none; z-index:1000000; position:relative;">Cancel</button>
    </div>
</div>