<div class="form-group">
	<label for="payment-number">Number</label>
	<input type="text" name="number" id="payment-number" class="form-control number" value="" autocomplete="off">
</div>
<div class="form-group">
	<button class="btn btn-default back">Back</button>
	<button class="btn btn-primary submit-payment pay">Submit</button>
</div>
