<div class="row">
	<div class="col-md-12">
		<a id="issue-raincheck" class="btn btn-primary">Issue Raincheck</a>
	</div>
</div>
<div class="row" style="margin-top: 15px;">
	<div class="col-md-12">
		<div class="btn-group btn-group-justified quick-button-tabs" role="tablist">
			<div class="btn-group" role="group">
				<a type="button" href="#quick-buttons-1" class="btn btn-default <% if(tab == '1'){ print('active') } %>" data-tab-num="1" role="tab" data-toggle="tab">1</a>
			</div>
			<div class="btn-group" role="group">
				<a type="button" href="#quick-buttons-2" class="btn btn-default <% if(tab == '2'){ print('active') } %>" data-tab-num="2" role="tab" data-toggle="tab">2</a>
			</div>
			<div class="btn-group" role="group">
				<a type="button" href="#quick-buttons-3" class="btn btn-default <% if(tab == '3'){ print('active') } %>" data-tab-num="3" role="tab" data-toggle="tab">3</a>
			</div>
		</div>

		<div class="tab-content <%if(editing){ print('editing') } %>">
			<div class="tab-pane <% if(tab == '1'){ print('active') } %>" role="tabpanel" id="quick-buttons-1">
				<ul id="quick-buttons-list-1" class="quick-buttons"></ul>
			</div>
			<div class="tab-pane <% if(tab == '2'){ print('active') } %>" role="tabpanel" id="quick-buttons-2">
				<ul id="quick-buttons-list-2" class="quick-buttons"></ul>
			</div>
			<div class="tab-pane <% if(tab == '3'){ print('active') } %>" role="tabpanel" id="quick-buttons-3">
				<ul id="quick-buttons-list-3" class="quick-buttons"></ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p id="quickbutton-settings">
		<% if(!editing){ %>
			<button class="btn btn-xs btn-default" style="padding: 3px 8px;" id="edit-quick-buttons">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Buttons
			</button>
		<% }else{ %>
			<button class="btn btn-xs btn-default" style="padding: 3px 8px;" id="save-quick-buttons">Save Buttons</button>
			<button class="btn btn-xs btn-default" style="padding: 3px 8px;" id="add-quick-button">Add New Button</button>
		<% } %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default" id="sale-settings">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Sale Settings
		</button>
	</div>
</div>
