<div class="modal-content sale-receipt-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Sale #<% if(number != null){ print(number) }else{ print(sale_id) }%></h4>
	</div>
	<div id="sale-receipt" class="modal-body container-fluid">
		<div class="row">
			<div class="col-md-12 course-header">
				<strong><%-App.data.course.get('name')%></strong><br />
				<%-App.data.course.get('address')%><br />
				<%-App.data.course.get('phone')%><br />
			</div>
		</div>		
		<div class="row">
			<div class="col-md-12 sale-details">
				<strong>Sale ID:</strong> POS <% if(number != null){ print(number) }else{ print(sale_id) }%><br />
				<strong>Date:</strong> <%-moment(sale_time).format('MM/DD/YYYY h:mma')%><br />
				<strong>Employee:</strong> <%-employee.get('first_name')+' '+employee.get('last_name')%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive items">
					<table class="table table-condensed items">
						<thead>
							<tr>
								<th>Item</th>
								<th>Price</th>
								<th>Qty</th>
								<th>Discount</th>
								<th class="total">Total</th>
							</tr>
						</thead>
						<tbody>
						<% _.each(items.models, function(item){ %>
							<tr>
								<td>
									<%-item.get('name')%>
									<% if(item.has('items') && item.get('items').length > 0){ %>
									<ul>
										<% _.each(item.get('items'), function(item){ %>
										<li>(<%-item.quantity%>) <%-item.name%></li>
										<% }); %>
									</ul>
									<% } %>
								</td>
								<td><%-accounting.formatMoney(item.get('unit_price'))%></td>
								<td><%-item.get('quantity')%></td>
								<td><%-accounting.formatNumber(item.get('discount_percent'), 2)+'%'%></td>
								<td class="total"><%-accounting.formatMoney(item.get('subtotal'))%></td>
							</tr>
						    <% _.each(item.get('modifiers'), function(modifier){ %>
						    <tr>
								<td>- <%-modifier.name %>: <%-modifier.selected_option %></td>
								<td><%-accounting.formatMoney(modifier.selected_price/item.get('number_splits'))%></td>
								<td></td>
								<td></td>
								<td class="total"></td>
							</tr>
						<%  });
						}); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-7">
				<table class="table table-condensed totals">
					<tr>
						<th>Subtotal</th>
						<td class="amount"><%-accounting.formatMoney(subtotal)%></td>
					</tr>
					<% if(auto_gratuity_amount > 0){ %>
					<tr>
						<th><%-accounting.formatNumber(auto_gratuity, 2)%>% Gratuity</th>
						<td class="amount"><%-accounting.formatMoney(auto_gratuity_amount)%></td>
					</tr>
					<% } %>
					<% _.each(taxes, function(tax){ %>
					<tr>
						<th style="font-weight: normal;"><%-accounting.formatNumber(tax.percent, 3)+'% - '+tax.name%></th>
						<td class="amount"><%-accounting.formatMoney(tax.amount)%></td>
					</tr>
					<% }); %>
					<tr>
						<th>Total</th>
						<td class="amount"><%-accounting.formatMoney(total + auto_gratuity_amount)%></td>
					</tr>					
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-7">
				<h5><strong>Payments</strong></h5>
				<table class="table table-condensed totals">
					<% 
					var signatures = [];
					if(payments && payments.length > 0){
					_.each(payments.models, function(payment, index){ 
					if(payment.get('signature')){
						signatures.push(payment.get('signature'));
					}

					if(payment.get('is_auto_gratuity') == 1){
						return false;
					} 
					var payment_amount = payment.get('amount');
					if(auto_gratuity_amount > 0 && index == 0){
						payment_amount += auto_gratuity_amount;
					} %>
					<tr>
						<th style="font-weight: normal;"><%-payment.get('description')%></th>
						<td class="amount"><%-accounting.formatMoney(payment_amount)%></td>
					</tr>
					<% }); } %>					
				</table>
			</div>
		</div>
		
		<% if(customer_note){ %>
		<div class="row">
			<div class="col-md-12">
				<strong>Customer Note</strong>
				<p><%-customer_note%></p>
			</div>
		</div>	
		<% } %>	

		<% if(signatures.length > 0){ %>
		<div class="row">
			<div class="col-md-12">
				<h4>Signature</h4>
			</div>
			<% _.each(signatures, function(sig_url){ %>
			<div class="col-md-12">
				<img style="display: block; width: 100%;" src="<%-sig_url%>">
			</div>
			<% }) %>
		</div>
		<% } %>
		
		<div class="row">
			<div class="col-md-12 barcode-container">
				<p><%-App.data.course.get('return_policy')%></p>
				<% var barcode_text = "POS ";
				if(number != null){ 
					barcode_text += String(number) 
				}else{ 
					barcode_text += String(sale_id)
				} %>
				<img class="barcode" src="<%-SITE_URL%>/barcode?barcode=<%-barcode_text%>&text=<%-barcode_text%>" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
	</div>
</div>
