<div class="modal-content refund-sale-payment">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Refund Credit Card Payment</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
            <div class="modal-body container-fluid">
                <div class="row">
                    <label for="refund-reason" class="col-md-3 control-label">Return Reason</label>
                    <div class="col-md-4">
                        <select class="form-control" name="reason" id="refund-reason">
                            <% for (var i in refund_reasons.attributes) { %>
                            <option value="<%-i%>"><%-refund_reasons.attributes[i]%></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="refund-comment" class="col-md-3 control-label">Comment</label>
                    <div class="col-md-8">
                        <textarea class="form-control" value="" name="comment" id="refund-comment" />
                    </div>
                </div>
            </div>
				<% if(params.cardholder_name != ''){ %>
				<div class="form-group">
					<label class="col-md-3 control-label">Name On Card</label>
					<div class="col-md-4">
						<p class="form-control-static"><%-params.cardholder_name%></p>
					</div>
				</div>
				<% } %>
			<% if(params.card_type != ''){ %>
				<div class="form-group">
					<label class="col-md-3 control-label">Type</label>
					<div class="col-md-4">
						<p class="form-control-static"><%-params.card_type%></p>
					</div>
				</div>
			<% } %>
			<% if(params.masked_account != ''){ %>
				<div class="form-group">
					<label class="col-md-3 control-label">Number</label>
					<div class="col-md-4">
						<p class="form-control-static"><%-params.masked_account%></p>
					</div>
				</div>
			<% } %>


				<div class="form-group">
					<label class="col-md-3 control-label">Original Charge</label>
					<div class="col-md-4">
						<p class="form-control-static"><%-accounting.formatMoney(amount)%></p>
					</div>
				</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Refund amount</label>
				<div class="col-md-4">
					<% if(isNaN(parseFloat(params.amount_refunded)) || parseFloat(params.amount_refunded) == parseFloat(0)){ %>
					<input type="text" class="form-control refund" name="refund" id="payment-refund" value="<%-accounting.formatMoney(amount, '', 2)%>">
					<% }else{ %>
					<p class="form-control-static"><%-accounting.formatMoney(params.amount_refunded)%></p>
					<% } %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<% if(isNaN(parseFloat(params.amount_refunded)) || parseFloat(params.amount_refunded) == parseFloat(0)){ %>
					<p>By selecting 'Refund' below, you will return the stated amount to the card listed above.</p>
				<% }else{ %>
					<p>Funds can no longer be returned. A refund has already been issued to this card.</p>
				<% } %>
				</div>
			</div>														
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
		<% if(isNaN(parseFloat(params.amount_refunded)) || parseFloat(params.amount_refunded) == parseFloat(0)){ %><button type="button" class="btn btn-primary issue-refund">Refund</button><% } %>
	</div>
</div>