<div class="modal-content sale-settings">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Sale Settings</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid keypad">
			<form class="form-horizontal" id="sale-settings">
				<div class="form-group">
					<label for="sales-automatic-receipt-printing" class="col-sm-5 control-label">Automatic receipt printing</label>
					<div class="col-sm-7">
						<div class="checkbox">							
							<input id="sales-automatic-receipt-printing" name="print_after_sale" type="checkbox" data-unchecked-value="0" value="1" <% if(print_after_sale == 1){ %>checked<%}%>>	
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sales-two-credit-card-receipts" class="col-sm-5 control-label">Print two credit card receipts</label>
					<div class="col-sm-7">
						<div class="checkbox">
							<input id="sales-two-credit-card-receipts" name="print_two_receipts" type="checkbox" data-unchecked-value="0" value="1" <% if(print_two_receipts == 1){ %>checked<%}%>>	
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sales-two-sales-receipts" class="col-sm-5 control-label">Print two sales receipts</label>
					<div class="col-sm-7">
						<div class="checkbox">
							<input id="sales-two-sales-receipts" type="checkbox" name="print_two_receipts_other" data-unchecked-value="0" value="1" <% if(print_two_receipts_other == 1){ %>checked<%}%>>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label">After sale load</label>
					<div class="col-sm-7">
						<div class="radio">
							<label>
								<input type="radio" name="after_sale_load" id="sale-load-teesheet" value="0" <% if(after_sale_load == 0){ %>checked<%}%> />
								Tee sheet
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="after_sale_load" id="sale-load-sales" value="1" <% if(after_sale_load == 1){ %>checked<%}%> />
								Sales
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sales-track-cash" class="col-sm-5 control-label">Track cash in register</label>
					<div class="col-sm-7">
						<div class="checkbox">
							<input id="sales-track-cash" type="checkbox" name="track_cash" value="1" data-unchecked-value="0" <% if(track_cash == 1){ %>checked<%}%>>	
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sale-return-policy" class="col-sm-5 control-label">Return policy</label>
					<div class="col-sm-7">
						<textarea class="form-control" id="sale-return-policy" name="return_policy" style="height: 75px; margin-top: 10px;"><%-return_policy%></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary save">Save</button>
	</div>
</div>
