<% var identifier = sale_id;
if(number != null){
	identifier = number;
} %>
<div class="modal-content sale-tip-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Tip - Sale #<%-identifier%></h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<input type="hidden" value="" id="tip-record-id" />
			<div class="form-group">
				<label for="tip-type" class="col-md-3 control-label">Type</label>
				<div class="col-md-6">
					<select class="form-control" name="type" id="tip-type">
						<% var first = true;
						_.each(tips.models, function(tip){ %>	
						<option value="<%-tip.get('payment_id')%>"
							data-number="<%-tip.get('number')%>"
							data-type="<%-tip.get('type') %>"
							data-payment-id="<%-tip.get('payment_id')%>"
							data-record-id="<%-tip.get('record_id')%>" 
							data-invoice-id="<%-tip.get('invoice_id')%>"
							data-is-auto-gratuity="<%-tip.get('is_auto_gratuity')%>"
							<% if(first){ print('selected') } %>> 
							<%-tip.get('description')%>
						</option>	
						<% first = false; }) %>					
					</select>				
				</div>
			</div>
			<div class="form-group">
				<label for="tip-amount" class="col-md-3 control-label">Amount</label>
				<div class="col-md-3">
					<input class="form-control" type="number" value="" name="amount" id="tip-amount" />				
				</div>
			</div>
			<div class="form-group">
				<label for="tip-recipient" class="col-md-3 control-label">Recipient</label>
				<div class="col-md-5">
					<input class="form-control" type="text" value="" name="amount" id="tip-recipient" />
					<input type="hidden" value="" id="tip-recipient-id" />			
				</div>
			</div>						
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary apply-tip">Apply Tip</button>
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
	</div>
</div>
