<div class="row">
	<div class="col-lg-7" id="sale-actions">
		<button class="btn btn-success pay"><% if(mode == 'sale'){ %>Pay Now<% }else{ %>Return Now<% }%></button>
        <button class="btn btn-success" id="quick_payment_credit_card" href="">Credit Card</button>
        <div style="clear:both"></div>
		<% if(suspended_name && suspended_name != ''){ %>
		<a id="save-suspended-sale">Save Sale - <%-suspended_name%></a>	
		<a id="add-credit-card">Add Credit Card</a>
		<% }else{ %>
		<a id="suspend-sale">Suspend Sale/Start Tab</a>
		<% } %>	
		
		<a id="open-cash-drawer">Cash Drawer</a>
		<% if(use_register_log == 1) { %>
			<% if(active_register_log){ %>
			<a id="close-register">Close Register</a>
			<% }else{ %>
			<a id="open-register">Open Register</a>
			<% } %>
		<% } %>
		<button class="btn btn-sm btn-default pos-manager-override" style="margin-left: 0px">Manager Override</button>
	</div>
	<div class="col-lg-5" id="sale-owing">
		<ul id="payments"></ul>
		<h3 id="total-due">Total Due: <strong><%-accounting.formatMoney(total_due)%></strong></h3>
		<div class="row" id="sale-payments" style="display: none;">
			<div class="col-xs-12">
				<h4 style="margin-bottom: 5px;">Original Sale Payments</h4>
				<ul style="padding: 0px; list-style-type: none; margin: 0px;"></ul>
			</div>
		</div>
	</div>
</div>