<div class="context-menu">
	<ul class="dropdown-menu" role="menu">
		<li><a tabindex="-1" href="" class="kitchen">Send to Kitchen</a></li>
		<li><a tabindex="-1" href="" class="print">Print Receipt</a></li>
		<li><a tabindex="-1" href="" class="delete">Delete</a></li>
	</ul>
</div>
<% if(status == 'suspended'){ %>
<button class="label"><%-suspended_name%></button>
<% }else{ %>
<div class="cart-details">
	<div><%-terminal_label%></div>
	<div><%-employee_name%></div>
</div>
<% } %>
<div class="info">
	<h4 class="amount"><%-accounting.formatMoney(total)%></h4>
	<div class="name<% if(!customers.at(0)){ %> text-muted<% } %>">
		<% if(customers.at(0)){ %>
			<%-customers.at(0).get('last_name')%>
		<% }else{ %>
			No Customer
		<% } %>
	</div>
</div>
