<div class="modal-content suspend-sale">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Select a table/number</h4>
	</div>
	<div class="modal-body container-fluid">
		<% if(allow_credit_card_save){ %>
		<div class="row">
			<div class="col-md-12 m-b-2">
				<button class="btn btn-primary add-suspended-sale-card">Save Credit Card</button>
			</div>
		</div>
		<% } %>
		<div class="row">
			<div class="col-md-12">
			<% for(var x = 1; x <= 24; x++){ %>
				<div class="number <% if(numbers_taken[String(x)]){ print('active') } %>"><%-x%></div>
			<% } %>
			</div>
		</div>
		<form class="form-horizontal" role="form" style="margin-top: 15px;" autocomplete="off">
			<div class="form-group">
				<label for="suspended-number" class="col-md-2 control-label">Label</label>
				<div class="col-md-6">
					<input class="form-control" type="text" value="" name="label" id="suspended-label" autocomplete="off" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
		<button type="button" class="btn btn-primary pull-right suspend">Suspend</button>
	</div>
</div>
