<div class="panel-heading">
	<h3 class="panel-title">
		Suspended Sales
		<span class="glyphicon glyphicon-plus-sign pull-right hidden-lg"></span>
		<span class="glyphicon glyphicon-minus-sign pull-right visible-lg hidden-xs hidden-sm hidden-md"></span>
	</h3>
</div>
<div class="panel-body minimize-sm" style="overflow-y: scroll; max-height: 300px;">
	<ul class="carts suspended"></ul>
	<div class="incomplete-container">
		<h4 class="incomplete">Incomplete Sales</h4>
		<ul class="carts incomplete"></ul>
	</div>
</div>