.dropdown-filter {
  padding: 0;
  margin: 0;

  .dropdown-filter-content {
    padding: 10px;
    min-width: 170px;
  }

  .dropdown-filter-close {
    padding: 3px 10px;
    border-top: solid 1px #d3d3d3;
    background-color: #f3f3f3;
    border-radius: 0 0 4px 4px;
    text-align: center;

    a {
      cursor: pointer;
      font-size: 12px;
      color: #a3a3a3;
    }
  }

  .form-control {
    height: 28px;
  }

  .input-daterange .input-group-addon {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nr-filter-container {
  margin-top: 10px;

  .popover-content {
    padding: 0;
  }
}

div.DTTT_container {
  margin-right: 1px;

  a.DTTT_button, button.DTTT_button, div.DTTT_button {
    border: solid 1px #ccc;
    height: 34px;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    line-height: 32px;
    padding: 0 10px;
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:hover {
      background-image: none;
      box-shadow: none;
      background-color: #ebebeb;
      border-color: #adadad;
      z-index: 1;
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
}

input[type=search] {
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 34px;
  margin-right: 10px;
  padding: 6px 10px;

  &:focus {
    border-color: #adadad;
  }
}

.date-group {
  float: right;
  margin-top: 8px;

  .date-group-display {
    color: #fff;
    margin-right: 10px;
    font-weight: 700;
  }

}



















