// import vendor css


.pm-layout-left {
  width: 150px;
  float: left;
}

.pm-layout-right {
  margin-left: 170px;
}

#table_top {
  background-color: darken($brand-primary, 12%);
  border-radius: 4px 4px 0 0;
  height: 43px;

}

#search_form {
  position: relative;

  #search {
    float: right;
    width: 200px;
    margin: 5px;
    height: 32px;
    padding-right: 52px;
  }

  #spinner {
    position: absolute;
    top: 13px;
    right: 36px;
  }

  &:after {
    content: '\f002';
    font-family: 'FontAwesome';
    position: absolute;
    top: 9px;
    right: 14px;
    font-size: 16px;
    color: #d3d3d3;
  }
}

.dd {
  height: 32px;
  border-radius: 4px;
  background-color: $brand-primary;
  border: solid 1px darken($brand-primary, 20%);
  float: left;
  margin: 5px 0 0 5px;
  position: relative;
  padding-left: 10px;
  color: #fff;

  .ddlabel {
    line-height: 30px;
  }

  &:after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 14px;
    color: #fff;
  }

  &:hover {
    background-color: #23719d;
    cursor: pointer;
  }

  .ddChild {
    position: absolute;
    top: 32px;
    left: 0;
    width: 198px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    overflow-y: auto;
    cursor: default;
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .4);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 1.4em;
        padding: 0 10px;
        cursor: pointer;

        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
  }
}

#table_holder {
  height: 250px;
  overflow-y: auto;
  background-color: #fff;
}


.fixed_top_table {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  border-left: solid 1px #d3d3d3;
}

#sortable_table {
  margin-top: -30px;
  
  th {
    height: 29px;
  }

  .leftmost div {
    border-left: none;
  }
}


.header_cell {
  position: absolute;
  background: #e3e3e3;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  color: #333;
  height: 30px;
  padding: 0 6px;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  margin-left: -8px;
  top: 0;
  width: 100%;
}
