<div class="modal-content fb-add-tip">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Add Tip</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="form-horizontal container-fluid">
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-md-12">
				<div class="btn-group">
					<button class="btn btn-primary type <%if(tip.type == 'cash'){ print('active') } %>" data-type="cash" style="float: left;">Cash</button>
					<% if(customer_id){ %>
					<button class="btn btn-primary type <%if(tip.type == 'member_balance'){ print('active') } %>" data-type="member_balance" data-customer-id="<%-customer_id%>"><%-App.member_account_name +' Tip' %></button>
					<button class="btn btn-primary type <%if(tip.type == 'customer_balance'){ print('active') } %>" data-type="customer_balance" data-customer-id="<%-customer_id%>"><%-App.customer_account_name +' Tip' %></button>
					<% } %>

					<% if(payments.length > 0){
					_.each(payments, function(payment){
						var is_credit_card = ((payment.invoice_id != 0 && 
							payment.type.search("Gift Card") === -1 && 
							payment.type.search("Bank") === -1) || 
							payment.payment_type.search("Credit Card") !== -1
						);
						
						// If any payments are credit cards, display button to tip the card
						if(!is_credit_card){
							return true;
						} %>
						<button class="btn btn-primary type <%if((tip.invoice_id != 0 && tip.invoice_id == payment.invoice_id) || tip.type == 'credit_card'){ print('active') } %>" data-type="<%-payment.type%>" data-invoice-id="<%-payment.invoice_id%>"><%-payment.payment_type%> Tip</button>
					<% }); } %>	
				
					<% if(payments.length > 0){
					_.each(payments, function(payment){
						var is_gift_card = ((payment.invoice_id == 0 &&
							payment.type.search("Credit Card") === -1 &&
							payment.type.search("Bank") === -1) && 
							payment.payment_type.search("Gift Card") !== -1
						);
						
						// If any payments are gift cards, display button to tip the card
						if(!is_gift_card){
							return true;
						} 
						%>
						<button class="btn btn-primary type <%if(tip.payment_type.substring(0, 9) == 'Gift Card'){ print('active') } %>" data-type="<%-payment.type%>" data-invoice-id="<%-payment.invoice_id%>"><%-payment.payment_type%> Tip</button>
					<% }); } %>
				</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-2">Amount</label>
						<div class="col-md-3">
							<input type="text" name="amount" id="tip_amount" class="form-control input-lg" value="<%=accounting.formatMoney(tip.amount, '')%>" />
						</div>
					</div>
					<div class="form-group">
						<input type="hidden" name="type" id="tip_type" value="<%-tip.type%>" />
						<input type="hidden" name="customer_id" id="tip_customer_id" value="<%-tip.customer_id%>" />
						<label class="col-md-2">Type</label>
						<div class="col-md-3">
							<p id="tip_payment_type" class="form-control-static" style="padding-top: 0px;"><%-tip.payment_type%></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">Recipient</label>
						<div class="col-md-6">
							<input type="text" id="tip_employee_search" class="form-control input-lg" name="search" value="<%-tip.tip_recipient_name%>" placeholder="Search employees..." autocomplete="off" />
						</div>
						<input type="hidden" name="tip_recipient" id="tip_recipient" value="<%-tip.tip_recipient%>" />			
					</div>
				</div>
				<input type="hidden" name="invoice_id" id="tip_invoice_id" value="<%-tip.invoice_id%>" />
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary save">Save Tip</button>		
	</div>
</div>



