<div class="col-xs-4">
	<%-num_items%> Items
</div>
<div class="col-xs-8">
	<div class="row">
		<div class="col-xs-6" style="text-align: right;">
			Subtotal
		</div>
		<div class="col-xs-6" style="text-align: right;">
			<%-accounting.formatMoney(subtotal)%>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" style="text-align: right;">
			Tax
		</div>
		<div class="col-xs-6" style="text-align: right;">
			<%-accounting.formatMoney(tax)%>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" style="text-align: right;">
			<h4>Total</h4>
		</div>
		<div class="col-xs-6" style="text-align: right;">
			<h4><%-accounting.formatMoney(total)%></h4>
		</div>
	</div>
</div>
