<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th class="seat">Seat</th>
				<th class="item">Item</th>
				<th class="price">Price</th>
				<th class="total">&nbsp;</th>
			</tr>
		</thead>
		<tbody class="fb-cart-items"></tbody>
	</table>
</div>
<div class="scroll-container">
	<div class="col-xs-6" style="padding: 0px;">
		<button class="btn-block btn btn-default btn-lg up">&#x25B2;</button>
	</div>
	<div class="col-xs-6" style="padding: 0px;">
		<button class="btn-block btn btn-default btn-lg down">&#x25BC;</button>
	</div>
</div>
