<td class="seat"><%-seat%></td>
<td class="item">
	<h4>
		(<%=accounting.toFixed(quantity,0)%>)
		<%-name%>
		<% if(is_paid == 1){ %>
		<span style="float: right;">PAID</span>
		<% } %>
	</h4>
	<% if(!is_new){ var qty_buttons = 'display: none;'; }else{ var qty_buttons = ''; } %>
	<div class="quantity-buttons" style="overflow: hidden; <%=qty_buttons%>">
		<button class="btn btn-default sub">-</button>
		<button class="btn btn-default add">+</button>
	</div>
	<% if(modifiers.length > 0 || service_fees.length > 0){ %>

	<ul class="modifiers main">
		<button class="btn btn-primary btn-sm modifier pull-left">Modifiers</button><br><br><br>
	<% if(service_fees.length > 0){ %>
		<% _.each(service_fees.models, function(fee){ %>
		<li>
			<span class="name"><%-fee.get('name') %>: </span>
			<span class="value"><%-accounting.formatMoney(fee.get('subtotal')) %></span>
		</li>
		<% }); %>
	<% } %>
	<% if(modifiers.length > 0){ %>
	<% _.each(modifiers.nonDefault(), function(modifier){
	var selected_option = modifier.get('selected_option');
	
	if(!selected_option){
		selected_option = 'n/a';
	} %>
		<li>
			<span class="name"><%-modifier.get('name') %>: <%-_.capitalize(selected_option) %></span>
			<span class="value"><%-accounting.formatMoney(modifier.get('selected_price')) %></span>
		</li>
	<% }); %>
	</ul>
	<% } %>
	<% } %>

	<!-- SOUPS -->
	<% if(soups.length > 0){ %>
	<strong style="font-size: 12px; display: block; line-height: 12px; margin-top: 5px;">Soups</strong>
	<ul class="modifiers">
	<% _.each(soups.models, function(side){ %>
		<li>
			<span><%-side.get('name') %></span>
			<span style="float: right;"><%-accounting.formatMoney(side.get('price')) %></span>
		</li>
	<% }); %>
	</ul>
	<% } %>

	<!-- SALADS -->
	<% if(salads.length > 0){ %>
	<strong style="font-size: 12px; display: block; line-height: 12px; margin-top: 5px;">Salads</strong>
	<ul class="modifiers">
	<% _.each(salads.models, function(side){ %>
		<li>
			<span><%-side.get('name') %></span>
			<span style="float: right;"><%-accounting.formatMoney(side.get('price')) %></span>
		</li>
	<% }); %>
	</ul>
	<% } %>

	<!-- GENERAL SIDES -->
	<% if(sides.length > 0){ %>
	<strong style="font-size: 12px; display: block; line-height: 12px; margin-top: 5px;">Sides</strong>
	<ul class="modifiers">
	<% _.each(sides.models, function(side){ %>
		<li>
			<span><%-side.get('name') %></span>
			<span style="float: right;"><%-accounting.formatMoney(side.get('price')) %></span>
		</li>
	<% }); %>
	</ul>
	<% } %>
	
	<% if(comp_total && comp_total > 0){ %>
	<span class="comp">Comp <%-accounting.formatMoney(-comp_total) %></span>
	<% } %>
</td>
<td class="price">
	<%-accounting.formatMoney(total+sides_total - tax - sides_tax)%>
</td>
<td class="buttons">
	<button class="btn btn-primary btn-sm edit pull-right">Edit</button>
	<button class="btn btn-danger btn-sm void pull-right">Void</button>
	<button class="btn btn-primary btn-sm message pull-right">Msg</button>
</td>