<div class="col-md-10">
	<div class="row">
		<div class="col-xs-3">
			<img class="photo" src="<%-photo %>" />		
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-md-12">
					<h3 class="name"><%-first_name %> <%-last_name %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><%-phone_number%></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%-email%></div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<strong>Acct #</strong> 
					<span class="balance">
						<% if(account_number){ 
						print(account_number);
					}else{ %>
						<span style="color: #AAA;">n/a</span>
					<% } %>
					</span>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12">
					<strong><%-App.data.course.get('member_balance_nickname')%></strong> 
					<span class="balance pull-right <% if(member_account_balance < 0){ print('text-danger'); } %>"><%-accounting.formatMoney(member_account_balance) %></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<strong><%-App.data.course.get('customer_credit_nickname')%></strong> 
					<span class="balance pull-right <% if(account_balance < 0){ print('text-danger'); } %>"><%-accounting.formatMoney(account_balance) %></span>
				</div>
			</div>
			<%
			if(!_.isNull(minimum_charges) && minimum_charges.length > 0){
				_.forEach(minimum_charges.models, function(minimum){ %>
					<div class="row">
						<div class="col-xs-12">
							<strong><%-minimum.get('name') %></strong>
							<span class="balance pull-right <% if(minimum.get('totals') < minimum.get('minimum_amount')){ print('text-danger'); } %>">
								<%-accounting.formatMoney(minimum.get('totals')) %> / <%-accounting.formatMoney(minimum.get('minimum_amount')) %>
							</span>
						</div>
					</div>
				<% })
			}
			%>
		</div>
	</div>
</div>
<div class="col-md-2">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-danger btn-lg pull-right remove">&times;</button>
		</div>
	</div>
</div>
