<div class="modal-content delete-receipt-window">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Receipt</h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="row" id="delete-receipt-warning">
            <h3>This Will Delete the Sale Belonging to the Receipt and Return All Payments</h3>
            <p>Are you sure you want to continue? If yes, please provide a reason for deleting the sale:</p>
            <input id="delete-receipt-reason" type="text" value="">
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-offset-3 col-md-3">
                <button type="button" class="btn btn-danger btn-lg btn-block delete-sale" data-dismiss="modal">Yes</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>