<div class="modal-content edit-item">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title"><%-name%></h4>
		<% if(use_course_firing == 1){ %>
			<%=_.dropdown(meal_course_dropdown, {
				'name': 'meal_course_id', 
				'id':'meal_course_id', 
				'class':'form-control pull-left meal-course'
		}, " "+meal_course_id) %>
		<% } %>
	</div>
	<div class="modal-body" style="padding: 0px;">
		<ul class="nav nav-tabs edit-item-tabs">
			<% 
			if(typeof(default_section) == 'undefined'){
				default_section = 0;
			}

			_.each(sections, function(section, section_id){
			var incompleteClass = '';
			if(show_incomplete && section.incomplete){ incompleteClass = ' incomplete'; }
			%>
			<li class="tab<%-incompleteClass %><% if(section_id == default_section){ print(' active') }; %>" style="width: <%-_.round(100 / _.size(sections), 2)%>%">
				<a data-section-id="<%-section_id%>" href="#item-edit-<%-section_id%>"><%-section.name%></a>
			</li>
			<% }); %>
		</ul>
		<div class="tab-content">
			<% _.each(sections, function(section, section_id){ %>
			<div class="tab-pane <% if(section_id == default_section){ print('active') }; %>" id="item-edit-<%-section_id%>">
				<%-section.name%>
			</div>
			<% }); %>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 form-group">
					<label for="edit_item_comments">Comments</label>
					<textarea style="height: 75px;" name="comments" id="edit_item_comments" class="form-control"><%-comments%></textarea>
				</div>
			</div>	
		</div>
	</div>
	<div class="modal-footer container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-push-2">
				<label class="item-edit-field">Price</label>
				<div class="form-group">
					<input class="form-control input-lg" type="text" name="item[price]" id="edit_item_price" value="<%=accounting.formatMoney(price,'')%>" />
				</div>				
			</div>
			<div class="col-md-2 col-md-push-2 quantity">
				<label class="item-edit-field">Qty</label>
				<div class="input-group input-group-lg" style="margin-bottom: 15px;">
					<span class="input-group-btn"><button class="btn btn-default sub" type="button">-</button></span>
					<input class="form-control" type="text" name="item[quantity]" id="edit_item_quantity" style="padding: 12px 4px; text-align: center;" value="<%=accounting.toFixed(quantity, 0)%>" />
					<span class="input-group-btn"><button class="btn btn-default add" type="button">+</button></span>
				</div>					
			</div>
			<div class="col-md-2 col-md-push-2">
				<label class="item-edit-field">Disc (%)</label>
				<div class="form-group">
					<input class="form-control input-lg" type="text" name="item[discount]" id="edit_item_discount" value="<%=accounting.formatNumber(discount)%>" />
				</div>			
			</div>
			<div class="col-md-2 col-md-push-2 seat">
				<label class="item-edit-field">Seat</label>
				<div class="input-group input-group-lg" style="margin-bottom: 15px;">
					<span class="input-group-btn"><button class="btn btn-default sub" type="button">-</button></span>
					<input class="form-control" type="text" name="item[seat]" id="edit_item_seat" value="<%=seat%>" style="padding: 12px 4px; text-align: center;" />
					<span class="input-group-btn"><button class="btn btn-default add" type="button">+</button></span>
				</div>
			</div>			
			<div class="col-md-2 col-md-pull-8">
				<button class="btn btn-danger btn-lg delete-item pull-left" style="margin-top: 30px;">Delete</button>
			</div>			
			<div class="col-md-2">
				<button class="btn btn-primary btn-lg save-item pull-right" style="margin-top: 30px;">Save</button>
			</div>
		</div>
	</div>
</div>
