<div class="col-md-6">
	<button class="btn btn-default btn-lg btn-block fire-course">
		<span class="label label-info pull-left"><%-num_items%></span>
		<%-name%>
	</button>
</div>
<div class="col-md-6 fired-details">
	<% if(date_fired != null){ %>
	<span class="label label-warning fired"><span class="fa fa-fire"></span></span>
	<span class="details">
		By <%-fired_employee_name %>
		<br class="hidden-xs hidden-sm"> 
		<%-moment(date_fired).format('M/D [at] h:mma')%>
	</span>		
	<% } %>
</div>
