<div class="modal-content fb-fire-course">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Guest Count</h4>
	</div>
	<div class="modal-body fluid-container">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-push-5" style="padding: 0px;">
				<input type="text" name="guest_count" class="form-control guest-count input-lg" value="">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<button class="btn btn-primary col-xs-12 col-sm-2 col-sm-push-5 save">Save</button>
		</div>
	</div>
</div>
