<div class="modal-content table-layout">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Merge Table <strong>#<%-table_num%></strong></h4>
	</div>
	<div class="modal-body" style="padding: 0px; position: relative;">
		<p class="text-center" style="padding-top: 10px;">
			Select a table to merge into. <br><em>All items, receipts, and customers will be moved 
			from table <strong><%-table_num%></strong> into the table selected.</em>
		</p>
		<div class="layout-tabs" style="border-top: 1px solid #E0E0E0"></div>
		<div class="layouts merge-table"></div>
	</div>
</div>