<div class="modal-content payments-window fb-payments-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Payments</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-push-6 payments">			
					<div class="row">
						<div class="form-group col-md-10 col-md-offset-2 payment-amount">
							<label class="amount">Amount</label>
							<div class="input-group amount">
								<div class="input-group-addon">$</div>
								<input type="text" name="amount" id="payment_amount" class="form-control amount" value="<%-accounting.formatMoney(amount_due>0?amount_due:0, '')%>" autocomplete="off"/>
							</div>
						</div>
					</div>
					<div class="row">
						<ul class="col-md-12 payments" id="window-payments"></ul>
						<div class="form-group col-md-12 total-due">
							<hr />
							<label>Total Due</label>
							<h3 class="total"><%-accounting.formatMoney(amount_due)%></h3>
						</div>	
					</div>				
				</div>				
				<div class="col-md-6 col-md-pull-6" id="payment-types">
					<div class="row" id="saved-credit-cards"></div>
					<div class="row">
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay" id="payment_cash">Cash</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_check" href="">Check</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_credit_card" href="">Credit Card</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12" id="payment_giftcard" href="">Gift Card</button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay <% if(!enable_member_balance){ print('disabled') } %>" id="payment_member_account" href=""><%-member_account_label%></button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 pay <% if(!enable_customer_balance){ print('disabled') } %>" id="payment_customer_account" href=""><%-customer_account_label%></button>
						<button class="btn btn-default btn-lg col-sm-6 col-xs-12 <% if(!enable_loyalty){ print('disabled') } %>" id="payment_loyalty" href="">Loyalty Points</button>
	                    <% for (var i = 0; i < custom_payments.length; i++) { %>
	                    <button class="btn btn-default btn-lg col-sm-6 col-xs-12 custom_payment pay" id="<%-custom_payments.models[i].get('customPaymentType')%>" href=""><%-custom_payments.models[i].get('label')%></button>
	                    <% } %>
					</div>
				</div>		
			</div>
		</div>
		<div class="row" style="margin-top: 15px">
			<div class="col-md-12">
				<label for="refund-comment" class="control-label">Customer Note</label>
				<textarea name="customer_note" class="form-control" id="customer-note"><%-customer_note%></textarea>
				<span class="help-block">This note will be displayed on the sale receipt and in sale reports</span>
			</div>
		</div>
	</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default hidden-xs pull-left" id="cancel-credit-card-payment" style="display:none; z-index:1000000; position:relative;">Cancel</button>
    </div>
</div>
