<span class="seat">SEAT<br /><%-seat%></span>
<% if(comp_total > 0){ %>
<span class="item-name">(<%-accounting.formatNumber(quantity)%>) <%-_.shorten(name, 9)%></span>
<span class="price"><strong>COMP</strong> <%-accounting.formatMoney(split_subtotal + split_sides_subtotal + split_service_fees_subtotal)%></span>
<% }else{ %>
<span class="item-name">(<%-accounting.formatNumber(quantity)%>) <%-_.shorten(name, 16)%></span>
<span class="price"><%-accounting.formatMoney(split_subtotal + (typeof split_sides_subtotal !== 'undefined'?split_sides_subtotal:0) + (typeof split_service_fees_subtotal !== 'undefined'?split_service_fees_subtotal:0))%></span>
<% } %>
