<% var identifier = sale_id;
if(number != null){
	identifier = number;
} %>
<button class="btn btn-primary view_receipt">View</button>
<button class="btn btn-primary print_receipt">Print</button>
<button class="btn btn-primary email-receipt">Email</button>
<div class="info" style="width: 250px; float: left;">
	<h3>Sale #<%-identifier%></h3>
	<h5>Total: <%-accounting.formatMoney(total)%></h5>
	<% if(tips.length > 0){ %>
	<strong>Tips</strong>
	<ul>
	<% _.each(tips.models, function(payment){ %>
		<li><%-payment.get('description')%>: <%-accounting.formatMoney(payment.get('amount'))%></li>
	<% }) %>
	</ul>
	<% } %>
</div>
<div class="info" style="width: 250px; float: left;">
	<% if(employee){ %><div><span>Server:</span> <strong><%-employee.get('first_name')+' '+employee.get('last_name')%></strong></div><% } %>
	<% if(customer){ %><div><span>Customer:</span> <strong><%-customer.get('first_name')+' '+customer.get('last_name')%></strong></div><% } %>
	<div><span>Table #</span> <strong><%-table_id%></strong></div>
</div>
<button class="btn btn-success add_tip">Add Tip</button>