<% if(status == 'complete'){ var paidClass = ' paid'; var btnClass = ' disabled'; } else { var paidClass = ''; var btnClass = ''; } %>
<div class="row receipt<%=paidClass%>">
	<div class="col-xs-12 title-header">
		<button class="btn btn-danger btn-lg delete-receipt pull-left">&times;</button>
		<h1 class="receipt-number">#<%-receipt_id%></h1>
		<% if(customer){ %>
			<% if(status == 'complete'){ %>
			<span class="customer"><%-customer.get('first_name') %> <%-customer.get('last_name') %></span>
			<% }else{ %>
			<button class="btn btn-primary customer pull-right"><%-customer.get('first_name') %> <%-customer.get('last_name') %></button>
			<% } %>
		<% }else{ %>
			<% if(status != 'complete'){ %>
			<button class="btn btn-primary customer pull-right">- No Customer -</button>
			<% } %>
		<% } %>
		<button class="btn btn-primary start-tab pull-right">Start Tab</button>
	</div>
	<div class="col-xs-12 title">
		<form class="form-horizontal row">
			<div class="col-xs-8">
				<div class="form-group">
					<label class="col-xs-4" style="padding-right: 5px; line-height: 35px;">Tip</label>
					<div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
					<% if(status == 'complete'){ %>
						<p class="form-control-static"><%-accounting.formatMoney(auto_gratuity, '')%>%</p>
					<% }else{ %>
						<div class="input-group">
							<input type="text" class="col-xs-10 form-control receipt-tip" value="<%-accounting.formatMoney(auto_gratuity, '')%>"/>
							<div class="input-group-btn tip-type">
								<button type="button" class="btn btn-default <% if(auto_gratuity_type == 'percentage'){ print('active') } %>" data-type="percentage">%</button>
								<button type="button" class="btn btn-default <% if(auto_gratuity_type == 'dollar'){ print('active') } %>" data-type="dollar">$</button>
							</div>
						</div>
					<% } %>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="col-xs-12">
						<span class="is-paid">PAID</span>
                        <% if(!hide_taxable) { %>
                            <% if(taxable == 1){ %>
                            <button class="btn btn-default tax pull-right" data-tax="1">&#10004; Tax</button>
                            <% }else{ %>
                            <button class="btn btn-default tax pull-right" data-tax="0">&#x25a2; Tax</button>
                            <% } %>
                        <% } %>
					</div>
				</div>
			</div>		
		</form>
	</div>
	<div class="col-xs-12 footer">
		<div class="row">
			<div class="col-xs-6">
				<div class="btn-group-justified">
					<div class="btn-group">
						<button class="btn btn-default up">&#x25B2;</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-default down">&#x25BC;</button>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<h4 class="total">
					<span class="text-muted">Total</span>
					<%-accounting.formatMoney(total)%>
				</h4>
				<h4 class="payments">
					<span class="text-muted">Paid</span>
					<%-accounting.formatMoney(typeof total_paid !== 'undefined'?total_paid:0)%>
				</h4>
				<h4 class="due">
					<span class="text-muted">Due</span>
					<%-accounting.formatMoney(typeof total_due !== 'undefined'?total_due:total)%>
				</h4>
			</div>
		</div>
	</div>	
</div>
<div class="row receipt-actions">
	<% if(items.length == 0){ var btnClass = ' disabled'; } %>
	<div class="col-xs-6" style="padding-right: 5px;">
		<button class="btn btn-primary btn-lg btn-block print<%=btnClass%>">Print</button>
	</div>
	<div class="col-xs-6" style="padding-left: 5px;">
		<button class="btn btn-primary btn-lg btn-block pay<%=btnClass%>">Pay</button>
	</div>
</div>