<div class="modal-content recent-transactions">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Recent Transactions</h4>
	</div>
	<div class="modal-body" style="padding: 0px;">
		<ul class="fb-recent-transactions"></ul>
		<div class="row" style="padding: 10px 0px; margin: 0px;">
			<div class="col-md-2 col-md-offset-5">
				<button class="btn btn-default btn-block more">Load More</button><button class="btn btn-default btn-block share-tips">Share Tips</button>
			</div>
		</div>
	</div>
</div>
