<div class="modal-content receipt-customer-search">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Search Customers</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<input class="form-control input-lg search" type='text' name="search" value="" placeholder="Search customers" />
				</div>
				<div class="col-md-2 col-md-offset-4">
					<button class="btn btn-primary no-customer pull-right">- NO CUSTOMER -</button>
				</div>
			</div>
			<div class="row customer-list"></div>
		</div>
	</div>
</div>
