<div class="modal-content fb-receipt-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Sale #<%-sale_id%></h4>
	</div>
	<div id="sale-receipt" class="modal-body container-fluid">
		<div class="row">
			<div class="col-md-12 course-header">
				<strong><%-App.data.course.get('name')%></strong><br />
				<%-App.data.course.get('address')%><br />
				<%-App.data.course.get('phone')%><br />
			</div>
		</div>		
		<div class="row">
			<div class="col-md-12 sale-details">
				<strong>Sale ID:</strong> POS <%-sale_id%><br />
				<strong>Date:</strong> <%-moment(sale_time).format('MM/DD/YYYY h:mma')%><br />
				<strong>Employee:</strong> <%-employee_name%>
				<% if(customer_name){ %>
				<br /><strong>Customer:</strong> <%-customer_name%>
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive items">
					<table class="table table-condensed items">
						<thead>
							<tr>
								<th>Item</th>
								<th>Price</th>
								<th>Qty</th>
								<th>Discount</th>
								<th class="total">Total</th>
							</tr>
						</thead>
						<tbody>
						<% _.each(items, function(item){ %>
							<tr>
								<td><%-item.name%></td>
								<td><%-accounting.formatMoney(item.price)%></td>
								<td><%-item.quantity%></td>
								<td><%-accounting.formatNumber(item.discount, 2)+'%'%></td>
								<td class="total"><%-accounting.formatMoney(item.subtotal)%></td>
							</tr>
						<% }); %>	
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-7">
				<table class="table table-condensed totals">
					<tr>
						<th>Subtotal</th>
						<td class="amount"><%-accounting.formatMoney(subtotal)%></td>
					</tr>
					<tr>
						<th style="font-weight: normal;">Tax</th>
						<td class="amount"><%-accounting.formatMoney(tax)%></td>
					</tr>					
					<% 
					if(taxes && taxes.length > 0){
					_.each(taxes, function(tax){ %>
					<tr>
						<th style="font-weight: normal;"><%-accounting.formatNumber(tax.percent, 3)+'% - '+tax.name%></th>
						<td class="amount"><%-accounting.formatMoney(tax.amount)%></td>
					</tr>
					<% }); 
					} %>
					<tr>
						<th>Total</th>
						<td class="amount"><%-accounting.formatMoney(total)%></td>
					</tr>					
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-5 col-sm-7">
				<h5><strong>Payments</strong></h5>
				<table class="table table-condensed totals">
					<% if(payments && payments.length > 0){
					_.each(payments, function(payment){ %>
					<tr>
						<th style="font-weight: normal;"><%-payment.payment_type%></th>
						<td class="amount"><%-accounting.formatMoney(payment.amount)%></td>
					</tr>
					<% }); } %>					
				</table>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-12 barcode-container">
				<p><%-App.data.course.get('return_policy')%></p>
				<img class="barcode" src="/fu/index.php/barcode?barcode=POS <%-sale_id%>&text=POS <%-sale_id%>" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
	</div>
</div>
