<div class="col-md-8">
	<div class="row">
		<div class="col-xs-3">
			<img class="photo" src="<%-photo %>" />		
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="col-md-12">
					<h3 class="name"><%-first_name %> <%-last_name %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><%-phone_number%></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%-email%></div>
			</div>						
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="row">
		<strong>Acct #</strong> 
		<span class="balance">
			<% if(account_number){ 
			print(account_number);
		}else{ %>
			<span style="color: #AAA;">n/a</span>
		<% } %>
		</span>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<strong><%-App.data.course.get('member_balance_nickname')%></strong> 
			<span class="balance pull-right <% if(member_account_balance < 0){ print('text-danger'); } %>"><%-accounting.formatMoney(member_account_balance) %></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong><%-App.data.course.get('customer_credit_nickname')%></strong> 
			<span class="balance pull-right <% if(account_balance < 0){ print('text-danger'); } %>"><%-accounting.formatMoney(account_balance) %></span>
		</div>
	</div>
</div>
