<% if(time){
	time = moment(time, 'hh:mm:ss').format('h:mma');
} %>
<td class="checkin">&nbsp;</td>
<td class="time">
	<input type="text" name="time" id="reservation-time" value="<%-time%>" class="form-control time" style="width: 100px;" placeholder="6:30pm">
</td>
<td class="name">
	<input type="text" name="name" id="reservation-name" value="<%-name%>" class="form-control name" autocomplete="off">
	<input type="hidden" name="customer_id" id="reservation-customer-id" value="<%-customer_id%>">
</td>
<td class="guests">
	<input type="text" name="guests" id="reservation-guests" value="<%-guest_count%>" class="form-control guests" style="width: 40px; padding: 5px 6px;">
</td>
<td class="comments" colspan="2" style="padding-top: 8px;">
	<textarea name="comments" id="reservation-comments" class="form-control" style="height: 35px;"><%-comments%></textarea>
</td>
<td class="edit">
	<button class="btn btn-success pull-right save">Save</button>
	<button class="btn btn-default pull-right cancel">X</button>
</td>
