
<table class="table restaurant-reservations">
	<thead style="background: #F5F5F5;">
		<tr>
			<th class="checkin">&nbsp;</th>
			<th class="time">Time</th>
			<th class="name">Name</th>
			<th class="guests">Guests</th>
			<th class="comments">Comments</th>
			<th class="details">&nbsp;</th>
			<th class="edit">&nbsp;</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
