<div class="modal-content item-sub-category">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Send Kitchen Message</h4>
	</div>
	<div class="modal-body container-fluid" style="padding-bottom: 0px;">	
		<div class="row">
			<div class="col-md-12 form-group">
				<label for="item_message">Message</label>
				<textarea style="height: 75px;" name="message" id="item_message" class="form-control"></textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btn-lg pull-right send">Send</button>
	</div>
</div>
