<div class="modal-content item-sub-category">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title"><%-name%></h4>
	</div>
	<div class="modal-body container-fluid">
		<div class="row" id="sub-category-items" style="margin: 0px;"></div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-md-offset-3 col-md-3">
				<button class="btn-block btn btn-default btn-lg up">&#x25B2;</button>
			</div>
			<div class="col-md-3">
				<button class="btn-block btn btn-default btn-lg down">&#x25BC;</button>
			</div>
			<div class="col-md-3">
				<a href="#" class="pull-right edit-order">Edit Button Order</a>
			</div>
		</div>
	</div>
</div>
