@import '../../_common/css/variables';

.bulk-edit-field-record {
    margin-top: 5px;
}

.bulk-edit-container hr {
    margin-top: 0px;
}

table.change-summary tbody tr td {
    font-size: 14px !important;
    vertical-align: top;
}

table.change-summary tbody tr td ul {
    padding-left: 15px;
    margin-bottom: 0px;
}

table.change-summary span.label {
    font-size: 12px;
    font-weight: normal;
}

div.record-card {
    padding: 0px;
    margin: 5px 15px 0px 15px;
    display: block;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

div.record-card-title {
    padding: 5px 10px;
    background: $blue-gray;
    line-height: 25px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px;
    color: white;
}

div.record-card-title h4 {
    margin: 0px;
    line-height: 25px;
    padding: 0px;
    color: white;
}