<div class="cb-header">

    <!-- builder back button -->
    <button class="cb-header-back pull-left"
            ui-sref="app.dashboard"
            ng-if="state.id!=0"
            tooltip title="Back to Dashboard">
        <i class="gi gi-chevron-left ti"></i>
    </button>
    
    <!-- dashboard heading -->
    <div class="cb-header-title pull-left" ng-if="state.id==0">
        {{state.heading}}
    </div>
    
    <!-- builder headings -->
    <div class="pull-left" ng-if="state.id!=0">
        <div class="cb-header-step-name">
            {{state.heading}}
        </div>
        <div class="cb-header-campaign-name">
            <span>{{currentCampaign.name}}</span>
        </div>
    </div>

    <div class="cb-nav-control btn-group pull-right" ng-if="state.id!=0">
        <button class="btn btn-default" ng-click="prevStep()" ng-show="canPrevious()">
            <i class="gi gi-arrow-left-alt ti"></i>&nbsp;
            <span class="ti">Back</span>
        </button>
        <a class="btn btn-default" ng-click="previewEmail()"
           ng-show="shouldShowPreview();" ladda="previewWaiting"
           data-style="slide-up"
           data-spinner-color="black">
            Preview
        </a>

        <a class="btn btn-default" ng-click="saveAsTemplate()"
           ng-show="shouldShowPreview();"
           tooltip title="Export as Template"
           ladda="saveasloading"
           data-style="slide-up"
           data-spinner-color="black">
            Save As
        </a>

        <button class="btn btn-default" ng-click="nextStep()" ng-show="canNext()"
                ng-if="!shouldShowComplete();">
            <span class="ti">Next</span>&nbsp;
            <i class="gi gi-arrow-right-alt ti"></i>
        </button>
        <button class="btn btn-primary" ng-if="shouldShowComplete() && canNext()"
                ng-click="completeCampaign()" ng-disabled="loading"
                ladda="loading"
                data-style="slide-up"
                data-spinner-color="black">
            <i class="gi gi-check ti"></i>&nbsp;
            <span>Complete Campaign</span>
        </button>

    </div>
    <!-- builder nav buttons
    <div class="cb-nav" ng-if="state.id!=0">
        <div class="cb-circle"
             ng-class="{isComplete: state.id>1, isActive: state.id==1}"
             ui-sref="app.template_overview"
             tooltip title="Overview">
            <i class="gi gi-gear"></i>
        </div>
        <div class="cb-circle"
             ng-class="{isComplete: state.id>2, isActive: state.id==2}"
             ui-sref="app.template_select"
             tooltip title="Select Template">
            <i class="gi gi-file"></i>
        </div>
        <div class="cb-circle"
             ng-class="{isComplete: state.id>3, isActive: state.id==3}"
             ui-sref="app.template_builder"
             tooltip title="Customize Template">
            <i class="gi gi-file-text"></i>
        </div>
        <div class="cb-circle" tooltip title="Review">
            <i class="gi gi-envelope"></i>
        </div>
    </div>
    -->

    <!-- build campaign button -->
    <div class="create-campaign pull-right"
         ng-if="state.id==0"
         ng-click="createEditCampaign()">
        <button class="btn btn-primary">
            <span
                   ladda="createLoading"
                   data-style="expand-right"
                   data-spinner-color="white">Create Campaign</span>
        </button>
    </div>

    <div class="cb-header-save pull-right">
        <div class="save">
            <i class="gi gi-check ti"></i>&nbsp;
            <span class="ti">Saved</span>
        </div>
    </div>
    
</div>


<div ui-view></div>