#page-reports {
  background: #EFEFEF;
  height:100%;
  width:100%;
  position: absolute;
  margin-top:-15px;
}
#r-previous_table {
  padding-right:10px;
}
.tableCompare{
  width:50%;
  float:left;
  display: inline-block;
}
.nav-tabs {
  border-bottom: none; }

.modal-load {
  height: 200px;
  background: url("/images/footer/global-modal-loader.gif") center no-repeat; }

.nr-tabs-container {
  overflow: hidden;
  width: 100%;
  min-height: 1px;
  clear: both; }

.nr-tabs {
  border-radius: 0;
  margin-right: 5px;
  background-color: transparent;
  color: #666;
  float: left;
  border: none;
  padding: 14px 18px;
  cursor: pointer;
  font-size: 14px;}
  .nr-tabs:hover {
    color: #808080; }
    .nr-tabs:hover .nr-tabs-close {
      color: #808080; }
  .nr-tabs.isActive {
    cursor: default;
    color: #222;
    background-color: #fff;
    font-weight: 500;
    box-shadow: none;
    padding: 14px 17px; }
    .nr-tabs.isActive .nr-tabs-close {
      cursor: pointer;}

.nr-tabs-close {
  display: inline-block;
  margin-left: 2px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  border: none;
  color: #a3a3a3;
  background: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 0; }
  .nr-tabs-close:hover {
    background-color: #d07d7f;
    text-align: center;
    color: #fff; }

.nr-tab-float {
  height: 49px;
  width: 24px;
  border: none;
  color: #666;
  float: left;
  margin-left: 5px;
  line-height: 49px;
  font-size: 32px;
  font-weight: 300;
  background: transparent; }
  .nr-tab-float:hover {
    color: #222;
    background: transparent; }

.background-color-gradient {
  background: #96b5c1;
  background: -moz-linear-gradient(left,  #96b5c1 0%, #B3E2DD 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#96b5c1), color-stop(100%,#B3E2DD));
  background: -webkit-linear-gradient(left,  #96b5c1 0%,#B3E2DD 100%);
  background: -o-linear-gradient(left,  #96b5c1 0%,#B3E2DD 100%);
  background: -ms-linear-gradient(left,  #96b5c1 0%,#B3E2DD 100%);
  background: linear-gradient(to right,  #96b5c1 0%,#B3E2DD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b5c1', endColorstr='#B3E2DD',GradientType=1 ); 
}

.category-reports {
  padding-top: 10px;
  padding-bottom: 10px;
}

.report-template {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
}

.report-template:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.report-template-name {
  margin: 0px;
  padding: 0px;
  display: block; 
}

.report-template-name > h5 {
  margin-top: 0px;
  margin-bottom: 2px;
  color: #00ACCE;
  font-size: 17px;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  display: block;
  padding-right: 2px;
  overflow: hidden;
}

.report-template-description {
  color: #888;
  margin-bottom: 0px;
}

.report-template-description > p {
    overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  display: block;
  min-width: 0;
  padding-right: 2px;
}

.page-report-header {
  width: 100%;
  min-height: 1px;
  padding-top: 25px;
  clear: both; }

.page-report-header button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page-row {
  height: auto;
  display: block;
  padding: 0 10px; }

.page-report-title {
  font-size: 28px;
  line-height: 36px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  float: left;
  color: #fff;
  font-weight: 400;
  margin-left: 0px;
  margin-top: 0px; }

#filters {
  float: left;
  display: block;}

#r-default-date-filter .input-group-addon {
  background-color: rgba(224,232,236,0.9) !important;
  border: 1px solid #fff !important;}

#r-default-date-filter .input-daterange > input {
  border: 1px solid #fff;
}

.input-daterange {
  width: 320px;
}

#filter_list {
  display: block;
  margin: 10px 0px 0px 0px;
  padding: 0px;}

li.filter-item {
  display: block;
  padding: 6px 12px;
  margin: 0px;
  border-top: 1px solid #EFEFEF;}

li.filter-item:hover{
  background-color: rgba(61, 112, 149, 0.1);
  cursor: pointer;}

.page-report-filters {
  height: 35px;
  display: block;}

.page-filter-container {
  padding: 0 10px;
  min-height: 1px;}

.page-filter {
  margin: 0 10px 10px 0;
  float: left;}

#save {
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  cursor: pointer;}

.page-filter-button {
  border-radius: 4px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background-color: rgba(224, 232, 236, 0.9);
  color: #404040;
  border: 1px solid #fff;
  font-size: 14px; }
  .page-filter-button:hover {
    background: #d3d3d3; }
  .page-filter-button a.delete-filter {
    font-size: 20px;
    display: block;
    float: left;
    margin-left: 10px;
  }
  .page-filter-button span.filter-label {
    font-size: 14px;
    display: block;
    float: left;
  }

.page-filter-add {
  border: solid 1px #fff;
  background: none;
  color: #fff;
  border-radius: 4px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 10px; }
  .page-filter-add:hover {
    background-color: #fff;
    color: #404040; }

.linkout {
  cursor: pointer;
}

#data-refresh {
  margin-bottom: 20px;
}

.page-data {
  padding: 0px;
  background-color: #F1F1F1;}

.page-navigation-container {
  padding-top: 20px;
  overflow: hidden;
  height: 100%;
  display: block;
  width: 100%;
}

.page-navigation {
  background-color: white;
  padding-bottom: 20px;
  min-height: 300px;
}

.page-navigation-header {
  border-bottom: 2px solid #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-create-report {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding: 30px 20px;
  margin: 0px;
  color: #fff; }

.page-inline-input {
  display: inline-block;
  margin-right: 5px; }
  .page-inline-input div {
    display: inline-block; }

.page-subnav {
  padding: 10px;
  background-color: #fff;
  border-bottom: solid 1px #e0e0e0; }

.btn-group.open .dropdown-toggle.select-columns {
  background: transparent;
  border: 1px solid transparent;
}

#r-single-report {
  overflow: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: inherit;
}

/*
#r-table-search, .report-search {
  float: right;
  width: 300px;
  height: 35px;
  padding: 0px;
  width: auto;
  display: block;
  background-color: #F1F1F1;
  border: none;
  border-radius: 5px;
}

#r-table-search > i.fa, .report-search > i.fa {
  float: left;
  display: block;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  color: #AAA;
  line-height: 35px;
}
  
#r-table-search > input.search, .report-search > input.search {
  height: 25px;
  margin: 5px;
  padding: 0px;
  line-height: 25px;
  display: block;
  border: none;
  background: transparent;
  float: right;
  font-size: 16px;
} */

#table_top {
  background-color: #366485;
  border-radius: 4px 4px 0 0;
  height: 43px; }

.dropdown-filter {
  padding: 0;
  margin: 0; }
  .dropdown-filter .dropdown-filter-content {
    padding: 10px;
    min-width: 270px; }
  .dropdown-filter .dropdown-filter-close {
    padding: 3px 10px;
    border-top: solid 1px #d3d3d3;
    background-color: #f3f3f3;
    border-radius: 0 0 4px 4px;
    text-align: center; }
    .dropdown-filter .dropdown-filter-close a {
      cursor: pointer;
      font-size: 12px;
      color: #a3a3a3; }
  .dropdown-filter .form-control {
    height: 28px; }
  .dropdown-filter .input-daterange .input-group-addon {
    padding-top: 0;
    padding-bottom: 0;}

  .nr-filter-container .popover-content {
    padding: 0; }

input[type=search] {
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 34px;
  margin-right: 10px;
  padding: 6px 10px; 
}
  
  input[type=search]:focus {
    border-color: #adadad; 
  }

.date-group {
  float: right;
  margin-top: 8px; }
  .date-group .date-group-display {
    color: #fff;
    margin-right: 10px;
    font-weight: 700; }

.highlighted-report{
  padding-left:0px;
  padding-right:0px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.filter_list_container{
  height:200px;
  overflow:auto;
}
.dropdown-menu i {
  margin-right: 7px;
}
.select2-selection {
  height:34px;
}
.select2-container--default .select2-search--inline .select2-search__field{
  margin-top:0px;
}
.static-report-container{
  width: 50%;
  min-width: 800px;
  margin: auto;
  padding: 25px 45px 45px 45px;
  background-color: white;
}
.static-header{
  margin-bottom:25px;
}
.report-notes{
  height:150px;
}
.report-table-grouping td {
  font-weight: bold;
  padding-right:10px;
}
.report-table-indented td{
  padding-left:10px;
}
tfoot.report-totals tr{
  border-top:solid thin;
  font-weight: bold;
}
h4.tag{
  display:inline-block;
}
span.search-number{
  position: absolute;
  right:30px;
  top:15px;
}
/*# sourceMappingURL=reporting.css.map */