<div class="modal-content card-balance-check">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Card Lookup</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="form-horizontal" automcomplete="off">
			<div class="form-group">
				<label class="control-label col-md-3">Type</label>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
							<input name="type" type="radio" autocomplete="off" value="giftcard" class="type" checked> Giftcard
						</label>
						<label class="btn btn-default">
							<input name="type" type="radio" autocomplete="off" value="punch_card" class="type"> Punch Card
						</label>
					</div>	
				</div>			
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">Card Number</label>
				<div class="col-md-6">
					<input type="text" name="number" class="form-control card-number" automcomplete="off" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary submit">Check Balance</button>
	</div>
</div>
