<div class="modal-content ets-card-balance-check">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Giftcard Lookup</h4>
	</div>
	<div class="modal-body" style="min-height: 300px;"></div>
</div>
