<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand app-header-logo" style="margin-right: 20px;">
        <!--img src="/images/logo-white-small.png"-->
        <img src="/images/foreUP-Holiday-2-small.png">
    </div>
</div>
<div id="unread-messages" class="msg_notification"></div>
<div class="collapse navbar-collapse" id="main-menu-collapse">
    <ul class="nav navbar-nav" style="margin-left: -15px;" id="application-menu"></ul>
    <div id="page-stats" class="header-stats hidden-xs hidden-sm "></div>
    <ul class="nav navbar-nav navbar-right" id="user-menu"></ul>
    <p id="page-header-content"></p>
</div>
