<div class="modal-content">
	<div class="modal-header">
		<% if(closable){ %>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% } %>
		<h4 class="modal-title">Login</h4>
	</div>
	<div class="modal-body">
		<p class="alert alert-info">You have been logged out, please log back in to continue</p>
		<div class="container-fluid">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="login-username" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-6">
						<input type="text" class="form-control username" id="login-username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="login-password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control password" id="login-password" placeholder="Password">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class='btn btn-primary login'>Log In</button>
	</div>
</div>
