<div class="modal-content logout-switch-user">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Switch User</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid keypad">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="employee-id" class="col-sm-2 control-label">Employee</label>
					<div class="col-sm-6">
						<%=_.dropdown(employees, {class:'form-control person_id', name:'employee_id', id:'employee-id'}, null)%>
					</div>
				</div>
				<div class="form-group">
					<label for="employee-password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control password" id="employee-password" placeholder="Password">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" id="sign-in-user">Sign In</button>
	</div>
</div>
