<div class="modal-content manager-override">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Manager Override</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid keypad">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="manager-person-id" class="col-sm-2 control-label">Manager</label>
					<div class="col-sm-6">
						<%=_.dropdown(employees, {class:'form-control person_id', name:'employee_id', id:'manager-person-id'}, null)%>
					</div>
				</div>
				<div class="form-group">
					<label for="manager-password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control password" id="manager-password" placeholder="Password">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary submit">Sign In</button>
	</div>
</div>
