<div class="modal-content fb-course-select">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Select Terminal</h4>
	</div>
	<div class="modal-body"></div>
</div>
