<div class="modal-content timeclock">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Timeclock</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="timeclock-person-id" class="col-sm-3 control-label">Employee</label>
				<div class="col-sm-6">
					<%=_.dropdown(employees, {class:'form-control person_id', name:'employee_id', id:'timeclock-person-id'}, person_id)%>
				</div>
			</div>
			<div class="form-group">
				<label for="timeclock-password" class="col-sm-3 control-label">Password</label>
				<div class="col-sm-6">
					<input type="password" class="form-control password" id="timeclock-password" placeholder="Password">
				</div>
			</div>
			<% if(show_terminals){ %>
			<div class="form-group">
				<label for="timeclock-terminal-id" class="col-sm-3 control-label">Terminal</label>
				<div class="col-sm-6">
					<%=_.dropdown(terminals, {class:'form-control terminal', name:'terminal_id', id:'timeclock-terminal-id'}, null)%>
				</div>
			</div>
			<% } %>
			<div class="form-group">
				<div class="col-sm-12">
					<h3 id="clock_in_status" style="text-align: center">
						<% if(clocked_in){ %>
						Clocked in <%-moment(current_entry.get('shift_start')).format('M/D/YYYY [at] h:mma')%>
						<% }else{ %>
						Clocked Out
						<% } %>
					</h3>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<% if(clocked_in){ %>
					<button class="btn btn-primary btn-block clock-out">Clock Out</button>
					<% }else{ %>
					<button class="btn btn-primary btn-block clock-in">Clock In</button>
					<% } %>
				</div>
			</div>		
		</form>
		<div class="row">
			<div class="col-sm-12">
				<p style="text-align: center">
					<a href="#" id="toggle_timeclock_entries">Show Timeclock History</a>
				</p>
			</div>
		</div>
		<div class="row" id="timeclock_entries" style="display: none">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<% if(show_terminals){ %><th>Terminal</th><% } %>
							<th>Shift Start</th>
							<th>Shift End</th>
							<th>Total Time</th>
						</tr>
					</thead>
					<tbody>
						<% if(entries.length > 0){
						_.each(entries.models, function(entry){ %>
						<tr>
							<% if(show_terminals){ %>
							<td>
								<%-entry.get('terminal')%>
							</td>
							<% } %>
							<td>
								<%-moment(entry.get('shift_start')).format('M/D/YYYY @ h:mma')%>
							</td>
							<td>
								<% if(entry.get('shift_end') == '0000-00-00 00:00:00'){ %>
								<span class="text-muted">In Progress</span>
								<% }else{ %>
								<%-moment(entry.get('shift_end')).format('M/D/YYYY @ h:mma')%>
								<% } %>
							</td>
							<td>
								<% if(entry.get('total') == '0'){ %>
								<span class="text-muted">n/a</span>
								<% }else{ %>
								<%-entry.get('total')%>	
								<% } %>
							</td>
						</tr>
						<% }) }else{ %>
						<tr>
							<td colspan="4" style="text-align: center;">
								<span class="text-muted">No Entries</span>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</div>
