<div class="modal-content pass-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Pass Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<% if(!pass_id){ %>
			<div class="form-group">
				<label class="col-md-3 control-label" for="pass-start-date">Pass Type</label>
				<div class="col-md-8">
					<%=_.dropdown(pass_item_menu, {
						'id': 'pass-item-id',
						'name': 'pass_item_id', 
						'class':'form-control',
						'data-bv-notempty': true,
						'data-bv-notempty-message': 'Pass type is required'
					})%>
				</div>
			</div>
			<% } %>
			<div class="form-group">
				<label class="col-md-3 control-label" for="pass-customer">Customer</label>
				<div class="col-md-5">
					<% if(customer && customer.first_name){
						var customer_name = customer.first_name +' '+ customer.last_name;
					}else{
						var customer_name = '';
					} %>
					<input type="text" name="customer" value="<%-customer_name%>" class="form-control" id="pass-owner"
						data-bv-notempty data-bv-notempty-message="Customer is required">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="pass-start-date">Start Date</label>
				<div class="col-md-4">
					<input placeholder="MM/DD/YYYY" type="text" name="start_date" value="<%-moment(start_date).format('MM/DD/YYYY')%>" class="form-control" id="pass-start-date"
						data-bv-notempty data-bv-notempty-message="Start date is required">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="pass-end-date">End Date</label>
				<div class="col-md-4">
					<input placeholder="MM/DD/YYYY" type="text" name="end_date" value="<%-moment(end_date).format('MM/DD/YYYY')%>" class="form-control" id="pass-end-date"
						data-bv-notempty data-bv-notempty-message="End date is required">
				</div>
			</div>
			<% if(multi_customer == 1){ %>
			<div class="form-group">
				<div class="col-md-12">
					<h4>Customers</h4>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<input type="text" class="form-control" id="pass-customer-search" placeholder="Search/add customers to pass..." style="margin-bottom: 5px">
						</div>
					</div>
					<div class="row" id="pass-customers"></div>
				</div>
			</div>
			<% } %>										
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>