<html lang="en">
<head>
    <style>
        * {
            vertical-align: baseline;
            font-weight: inherit;
            font-family: inherit;
            font-style: inherit;
            font-size: 12px;
            border: 0 none;
            outline: 0;
            padding: 0;
            margin: 0;
        }
        h1 {
            font-family: arial;
            font-weight: bold;
            font-size: 24px;
        }
        .row,
        .column {
            box-sizing: border-box;
        }

        .row:before,
        .row:after {
            content: " ";
            display: table;
        }

        .row:after {
            clear: both;
        }

        .column {
            position: relative;
            float: left;
            display: block;
        }

        .column + .column {
            margin-left: 1.6%;
        }

        .column-1 {
            width: 6.86666666667%;
        }

        .column-2 {
            width: 15.3333333333%;
        }

        .column-3 {
            width: 23.8%;
        }

        .column-4 {
            width: 32.2666666667%;
        }

        .column-5 {
            width: 40.7333333333%;
        }

        .column-6 {
            width: 49.2%;
        }

        .column-7 {
            width: 57.6666666667%;
        }

        .column-8 {
            width: 66.1333333333%;
        }

        .column-9 {
            width: 74.6%;
        }

        .column-10 {
            width: 83.0666666667%;
        }

        .column-11 {
            width: 91.5333333333%;
        }

        .column-12 {
            width: 100%;
            margin-left: 0;
        }
        ul {
            list-style: none;
        }
        li {
            font-family:helvetica;
            line-height:23px;
        }
        table{
            width:100%;
            font-size:12px;
            line-height:1;
            font-family:helvetica;
            margin-top:50px;

        }
        thead { display: table-header-group }
        thead th {
            text-transform:uppercase;
            font-weight:600;
            border-bottom: 1px solid #E0E0E0;
            border-right:1px dotted;
            text-align:left;
        }
        tr {
            page-break-inside: avoid;
        }
        ul.filters li {
            font-weight:600;
        }


        .pure-table {
            /* Remove spacing between table cells (from Normalize.css) */
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
            border: 1px solid #cbcbcb;
        }

        .pure-table caption {
            color: #000;
            font: italic 85%/1 arial, sans-serif;
            padding: 1em 0;
            text-align: center;
        }

        .pure-table td,
        .pure-table th {
            border-left: 1px solid #cbcbcb;/*  inner column border */
            border-width: 0 0 0 1px;
            font-size: inherit;
            margin: 0;
            overflow: visible; /*to make ths where the title is really long work*/
            padding: 0.5em 1em; /* cell padding */
        }

        /* Consider removing this next declaration block, as it causes problems when
        there's a rowspan on the first cell. Case added to the tests. issue#432 */
        .pure-table td:first-child,
        .pure-table th:first-child {
            border-left-width: 0;
        }

        .pure-table thead {
            background-color: #e0e0e0;
            color: #000;
            text-align: left;
            vertical-align: bottom;
        }

        /*
        striping:
           even - #fff (white)
           odd  - #f2f2f2 (light gray)
        */
        .pure-table td {
            background-color: transparent;
        }
        .pure-table-odd td {
            background-color: #f2f2f2;
        }

        /* nth-child selector for modern browsers */
        .pure-table-striped tr:nth-child(2n-1) td {
            background-color: #f2f2f2;
        }

        /* BORDERED TABLES */
        .pure-table-bordered td {
            border-bottom: 1px solid #cbcbcb;
        }
        .pure-table-bordered tbody > tr:last-child > td {
            border-bottom-width: 0;
        }


        /* HORIZONTAL BORDERED TABLES */

        .pure-table-horizontal td,
        .pure-table-horizontal th {
            border-width: 0 0 1px 0;
            border-bottom: 1px solid #cbcbcb;
        }
        .pure-table-horizontal tbody > tr:last-child > td {
            border-bottom-width: 0;
        }

        .totals { display: table-footer-group }
        .totals th {
            background-color: rgba(15, 15, 15, 0.83);
            color:white;
            text-transform:uppercase;
            font-weight:600;
            border-bottom: 3px solid #E0E0E0;
            border-right:1px dotted;
            text-align:left;
        }
    </style>
    <meta charset="UTF-8">
    <title>{{report_title}}</title>
</head>
<body>

<div class="row">
    <div class="column column-6">
        <h1>{{report_title}}</h1>
        <ul>
            {{# meta_data}}
            <li>{{ data }}</li>
            {{/ meta_data}}
        </ul>
    </div>
    <div class="column column-6">
        <ul class="filters">
            <li>Date Range: {{  date_range }}</li>
            {{# filters}}
            <li>{{ . }}</li>
            {{/ filters}}
        </ul>

    </div>
</div>
    <table class="pure-table pure-table-striped">
        <thead>
        <tr>
            {{# columns }}
            <th>{{ . }}</th>
            {{/ columns }}
        </tr>
        </thead>

        <tr class="totals">{{# totals}}<td>{{ . }}</td>{{/ totals}}</tr>
        <tbody>
        {{# data }}
        <tr>{{# row}}<td>{{ . }}</td>{{/ row}}</tr>
        {{/ data }}
        </tbody>
    </table>

</body>
</html>