<% if(birthday == '' || birthday == '0000-00-00'){
	birthday = '';
}else{
	birthday = moment(birthday).format('MM/DD/YYYY');
} %>
<div class="modal-content edit-customer-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% if(typeof(person_id) != 'undefined'){
			var name = first_name + ' ' + last_name;
		}else{
			var name = 'New';
		} %>
		<h4 class="modal-title">
			<% if(person_id){ %>
			Customer - <%-name%>
			<% }else{ %>
			New Customer
			<% } %>
		</h4>
	</div>
	<div class="modal-body container-fluid" style="min-height: 500px;">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills" role="tablist">
					<li class="active"><a href="#customer-information" role="tab" data-toggle="tab">Information</a></li>
					<li><a href="#customer-settings" role="tab" data-toggle="tab">Settings</a></li>
					<li><a href="#customer-marketing" role="tab" data-toggle="tab">Marketing</a></li>
				</ul>
			</div>
		</div>
		<div class="tab-content" style="margin-top: 15px;">
			<!-- Basic information -->
			<div class="tab-pane active" id="customer-information">
				<form class="form-horizontal" role="form" id="customer-information-form">
					<div class="col-md-6">
						<div class="form-group">
							<label for="customer-first-name" class="col-md-4 control-label">First Name <%=get_required_text('first_name')%></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-first_name%>" name="first_name" id="customer-first-name" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-last-name" class="col-md-4 control-label">Last name <%=get_required_text('last_name')%></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-last_name%>" name="last_name" id="customer-last-name" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-email" class="col-md-4 control-label">Email <%=get_required_text('email')%></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-email%>" name="email" id="customer-email" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-cell-phone" class="col-md-4 control-label" >Cell Phone <%=get_required_text('cell_phone_number')%></label>
							<div class="col-md-8">
								<input class="form-control" type='tel'
								value="<%-cell_phone_number%>"
								name="cell_phone_number"
								id="customer-cell-phone" />

							</div>
						</div>
						<div class="form-group">
							<label for="customer-phone" class="col-md-4 control-label">Phone Number <%=get_required_text('phone_number')%></label>
							<div class="col-md-8">
								<input class="form-control"
									   type='tel'
									   value="<%-phone_number%>"
									   name="phone_number"
									   id="customer-phone" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-birthday" class="col-md-4 control-label">Birthday</label>
							<div class="col-md-5">
								<input class="form-control" type="text" value="<%= (new Date(birthday)).toLocaleDateString()%>" name="birthday" id="customer-birthday" placeholder="MM/DD/YYYY" />
							</div>
							<span class="customer-age"><%= isNaN(new Date(birthday))? '' : '('+Math.floor((new Date - new Date(birthday))/(60000*60*24*365))+' yrs)' %></span>
						</div>
						<div class="form-group">
							<label for="customer-date-created" class="col-md-4 control-label">Date Joined</label>
							<div class="col-md-5">
								<% if(date_created == "" || _.isNull(date_created)){ %>
									<input class="form-control" type="text" value="" name="date_created" id="customer-date-created" placeholder="MM/DD/YYYY" />
								<% } else { %>
									<input class="form-control" type="text" value="<%= (new Date(date_created)).toLocaleDateString()%>" name="date_created" id="customer-date-created" placeholder="MM/DD/YYYY" />
								<% } %>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-photo" class="col-md-4 control-label">Photo</label>
							<div class="col-md-8">
								<div class="row">
									<div class="col-xs-6" style="padding-right: 0px;">
										<button class="btn btn-danger btn-sm btn-block delete-photo" style="<%if(!image_id){ %>display: none;<% } %>">&times;</button>
										<img class="customer-photo" src="<%=photo%>">
										<input type="hidden" value="<%-image_id%>" id="image_id" name="image_id">
									</div>
									<div class="col-xs-6" style="padding-left: 0px;">
										<button class="btn btn-sm btn-block btn-default edit-photo">Edit</button>
										<button class="btn btn-sm btn-block btn-default take-photo">Take Photo</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="customer-address1" class="col-md-4 control-label">Address <%=get_required_text('address_1')%></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-address_1%>" name="address_1" id="customer-address1" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-addresss2" class="col-md-4 control-label"></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-address_2%>" name="address_2" id="customer-address2" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-city" class="col-md-4 control-label">City <%=get_required_text('city')%></label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-city%>" name="city" id="customer-city" />
							</div>
						</div>
						<%
						if(SETTINGS.country == "UK"){
						%>
							<div class="form-group">
								<label for="customer-state" class="col-md-4 control-label">County <%=get_required_text('state')%></label>
								<div class="col-md-8">
									<input class="form-control" type="text" value="<%-state%>" name="state" id="customer-state" />
								</div>
							</div>

						<% }else{ %>
							<div class="form-group">
								<label for="customer-state" class="col-md-4 control-label">State <%=get_required_text('state')%></label>
								<div class="col-md-8">
									<%=_.dropdown(US_STATES, {"name":"state", "id":"customer-state", "class":"form-control"}, state)%>
								</div>
							</div>
						<% } %>

						<div class="form-group">
							<label for="customer-zip" class="col-md-4 control-label">Post Code <%=get_required_text('zip')%></label>
							<div class="col-md-4">
								<input class="form-control" type="number" value="<%-zip%>" name="zip" id="customer-zip" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-status" class="col-md-4 control-label">Status</label>
							<div class="col-md-4">
								<%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"status_flag", "id":"customer-status-flag", "class":"form-control"}, status_flag)%>
							</div>
						</div>

					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="customer-comments" class="col-md-2 control-label">Comments</label>
							<div class="col-md-10">
								<textarea name="comments" id="customer-comments" class="form-control" style="height: 100px;"><%-comments%></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- Settings -->
			<div class="tab-pane" id="customer-settings">
				<form class="form-horizontal" role="form" id="customer-settings-form">
					<div class="col-md-6">
						<div class="form-group">
							<label for="customer-account-number" class="col-md-4 control-label">Account # <%=get_required_text('account_number')%></label>
							<div class="col-md-8">
								<input type="text" name="account_number" class="form-control" id="customer-account-number" value="<%-account_number%>" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-price-class" class="col-md-4 control-label">Price Class</label>
							<div class="col-md-6">
                                <select name="price_class" id="customer-price-class" class="form-control" <% if (!App.data.user.get('acl').can('update', 'Customer/PriceClass')){print('disabled="disabled"') } %> >
                                    <% _.each(App.data.course.get('price_class_objects'), function(price_class_object){ %>
                                    <option value="<%-price_class_object['class_id']%>" <% if(price_class_object['class_id'] == price_class) {print('selected')} %>><%-price_class_object['name']%></option>
                                    <% }) %>
                                </select>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-discount" class="col-md-4 control-label">Discount</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" name="discount" class="form-control" id="customer-discount" value="<%-discount%>" /><div class="input-group-addon">%</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-member" class="col-md-4 control-label">Member</label>
							<div class="col-md-4">
								<input type="checkbox" name="member" id="customer-member" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(member == "1"){ print('checked') }%> />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-member-balance" class="col-md-4 control-label"><%-member_account_label%></label>
							<div class="col-md-8">
								<div class="input-group">
									<div class="input-group-addon">$</div><input type="text" name="member_account_balance" class="form-control" id="customer-member-balance" value="<%-accounting.formatNumber(member_account_balance, 2)%>"
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>/>
								<div class="input-group-addon"><label style="margin: 0px; font-weight: normal;">
									<input type="checkbox" value="1" data-unchecked-value="0" name="member_account_balance_allow_negative" style="margin-top: 5px;" <% if(member_account_balance_allow_negative == "1"){ print('checked') }%>
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>/> Allow negative</label></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-member-account-limit" class="col-md-4 control-label"><%-member_account_label%> Limit</label>
							<div class="col-md-5">
								<div class="input-group">
									<div class="input-group-addon">(-)</div><input type="text" name="member_account_limit" class="form-control" id="customer-member-account-limit" value="<%-accounting.formatNumber(Math.abs(member_account_limit), 2)%>"
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-customer-credit" class="col-md-4 control-label"><%-customer_account_label%></label>
							<div class="col-md-8">
								<div class="input-group">
									<div class="input-group-addon">$</div><input type="text" name="account_balance" class="form-control" id="customer-customer-credit" value="<%-accounting.formatNumber(account_balance, 2)%>"
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>/><div class="input-group-addon"><label style="margin: 0px; font-weight: normal;">
									<input type="checkbox" value="1" data-unchecked-value="0" name="account_balance_allow_negative" style="margin-top: 5px;" <% if(account_balance_allow_negative == "1"){ print('checked') }%>
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>
									/> Allow negative</label></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-account-limit" class="col-md-4 control-label"><%-customer_account_label%> Limit</label>
							<div class="col-md-5">
								<div class="input-group">
									<div class="input-group-addon">(-)</div><input type="text" name="account_limit" class="form-control" id="customer-account-limit" value="<%-accounting.formatNumber(Math.abs(account_limit), 2)%>"
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>
									/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-invoice-balance" class="col-md-4 control-label">Open Invoices</label>
							<div class="col-md-5">
								<div class="input-group">
									<div class="input-group-addon">$</div><input type="text" name="invoice_balance" class="form-control" id="customer-invoice-balance" value="<%-accounting.formatNumber(invoice_balance, 2)%>"
									<% if (!App.data.user.get('acl').can('update', 'Customer/AccountBalance')){ %>
									disabled="disabled"
									<% } %>
								/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-invoice-email" class="col-md-4 control-label">Invoice Email</label>
							<div class="col-md-8">
								<input class="form-control" type="text" value="<%-invoice_email%>" name="invoice_email" id="customer-invoice-email" />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-non-taxable" class="col-md-4 control-label">Non-taxable</label>
							<div class="col-md-4">
								<input type="checkbox" name="taxable" id="customer-non-taxable" value="0" data-unchecked-value="1" style="margin-top: 10px;" <% if(taxable == "0"){ print('checked') }%> />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-food-minimum" class="col-md-4 control-label">F&B Minimum</label>
							<div class="col-md-4">
								<input type="checkbox" name="require_food_minimum" id="customer-food-minimum" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(require_food_minimum == "1"){ print('checked') }%> />
							</div>
						</div>						
						<div class="form-group">
							<label for="customer-allow-loyalty" class="col-md-4 control-label">Allow Loyalty</label>
							<div class="col-md-4">
								<input type="checkbox" name="use_loyalty" id="customer-allow-loyalty" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(use_loyalty == 1){ print('checked') }%> />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-loyalty-points" class="col-md-4 control-label">Loyalty Points</label>
							<div class="col-md-5">
								<input type="text" name="loyalty_points" class="form-control" id="customer-loyalty-points" value="<%-accounting.formatNumber(loyalty_points)%>" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<!-- Customer Rainchecks -->
						<div class="panel-group" id="customer-rainchecks">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#customer-rainchecks" href="#collapse-rainchecks">
										Rainchecks
										</a>
										<span class="label label-info count"><%-rainchecks.length%></span>
									</h4>
								</div>
								<div id="collapse-rainchecks" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="panel-group" id="customer-rainchecks">
											<% if(rainchecks && rainchecks.length > 0){ %>
											<%_.each(rainchecks.models, function(raincheck){ %>
											<div class="row">
												<div class="col-xs-2">#<%-raincheck.get('raincheck_number')%></div>
												<div class="col-xs-8 text-muted">
													Issued <%-moment(raincheck.get('date_issued'), 'YYYY-MM-DD HH:mm:ss').format('M/D/YY')%>
													<% if(raincheck.isExpired()){ %>
													<span class="label label-danger pull-right">
														Expired <%-moment(raincheck.get('expiry_date')).format('M/D/YY')%>
													</span>
													<% }else if(raincheck.hasExpiration()){ %>
													<span class="label label-success pull-right">
														Expires <%-moment(raincheck.get('expiry_date')).format('M/D/YY')%>
													</span>
													<% }else{ %>
													<span class="label label-success pull-right">No Expiration</span>
													<% } %>
												</div>
												<div class="col-xs-2"><span class="pull-right"><%-accounting.formatMoney(raincheck.get('total'))%></span></div>
											</div>
											<% }) %>
											<% }else{ %>
											<div class="row">
												<div class="col-md-12 text-muted">No Rainchecks</div>
											</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-group" id="customer-groups"></div>
						<div class="panel-group" id="customer-passes"></div>
						<div class="panel-group" id="customer-minimum-charges"></div>
						<div class="panel-group" id="customer-household"></div>

						<!-- Login credentials -->
						<% if(App.data.user.get('acl').can('update', 'Customer/OnlineCredentials')){ %>
						<div class="panel-group" id="customer-login-credentials">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#customer-login-credentials" href="#collapse-login-credentials">
										Login Credentials
										</a>
									</h4>
								</div>
								<div id="collapse-login-credentials" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="form-group">
											<label for="customer-username" class="col-md-5 control-label">Username</label>
											<div class="col-md-7">
												<input type="text" name="username" id="customer-username" class="form-control" value="<%-username%>" style="margin-top: 10px;" />
											</div>
										</div>
										<div class="form-group">
											<label for="customer-new-password" class="col-md-5 control-label">New Password</label>
											<div class="col-md-7">
												<input type="password" name="password" class="form-control" id="customer-new-password" value="" />
											</div>
										</div>
										<div class="form-group">
											<label for="customer-confirm-new-password" class="col-md-5 control-label">Confirm Password</label>
											<div class="col-md-7">
												<input type="password" name="confirm_password" class="form-control" id="customer-confirm-new-password" value="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</form>
			</div>

			<!-- Marketing -->
			<div class="tab-pane" id="customer-marketing">
				<form class="form-horizontal" role="form">
					<div class="col-md-6">
						<div class="form-group">
							<label for="customer-email-unsubscribe" class="col-md-4 control-label">Email Unsubscribed</label>
							<div class="col-md-8">
								<input type="checkbox" name="opt_out_email" id="customer-email-unsubscribe" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(opt_out_email == "1"){ print('checked') }%> />
							</div>
						</div>
						<div class="form-group">
							<label for="customer-text-unsubscribe" class="col-md-4 control-label">Text Subscribed</label>
							<div class="col-md-8">
								<input type="checkbox" name="opt_out_text" id="customer-text-unsubscribe" disabled="disabled" value="1" data-unchecked-value="0" style="margin-top: 10px;" <% if(texting_status == "subscribed"){ print('checked') }%> />
								<button type="button" class="btn btn-primary" id="send_text_invite">Send Text Invite</button>
							</div>
						</div>
						<div class="form-group">
							<label for="customer-non-taxable" class="col-md-4 control-label">Email Suspended</label>
							<div class="col-md-4">
								<p class="form-control-static">
									<% if(unsubscribe_all == "0"){
										print('No');
									}else{
										print('Yes');
									} %>
								</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary save">Save</button>
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
	</div>
</div>