<div class="panel panel-default" style="overflow: visible">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#customer-household" href="#collapse-household">
			Household Members
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-household" class="panel-collapse collapse in">
		<div class="panel-body">
				<div class="form-group">
          <label class="control-label">Search and Attach Customers</label>
          <input type="text" class="form-control" id="customer-household-member-search" value="">
				</div>
			<ul class="customer-data"></ul>
		</div>
	</div>
</div>
