<div class="modal-content customer-photo-upload">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">
			Upload Photo
		</h4>
	</div>
	<div class="modal-body container-fluid">
		<% if(photo){ %>
		<div class="row">
			<div class="col-md-8">
				<div class="photo-container">
					<img id="customer-photo" src="<%=photo%>" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 photo-edit">
						<h4>Edit</h4>
						<button class="btn btn-default crop"><i class="fa fa-crop"></i> Crop</button>
					</div>
					<div class="col-md-12 photo-crop" style="display: none">
						<h4>Crop</h4>
						<button class="btn btn-success save-crop"><i class="fa fa-check-circle"></i> Save</button>
						<button class="btn btn-default cancel-crop"><i class="fa fa-times"></i> Cancel</button>
					</div>
				</div>
				<div class="row photo-replace" style="margin-top: 15px">
					<div class="col-md-12">
						<h4>Replace</h4>
						<input type="file" name="upload" id="file-input" style="display: none">
						<button id="take-photo" class="btn btn-default"><i class="fa fa-camera"></i> Take Photo</button>
						<button id="select-photo" class="btn btn-default"><i class="fa fa-cloud-upload"></i> Upload Photo</button>
					</div>
				</div>
			</div>
		</div>
		<% }else{ %>
		<div class="row">
			<div class="col-md-12 upload-photo">
				<h1>Add a photo</h1>
				<div class="row">
					<div class="col-md-6">
						<button id="take-photo" class="btn btn-default btn-lg pull-right"><i class="fa fa-camera"></i> Take Photo</button>
					</div>
					<div class="col-md-6">
						<input type="file" name="upload" id="file-input" style="display: none">
						<button id="select-photo" class="btn btn-default btn-lg pull-left"><i class="fa fa-cloud-upload"></i> Upload Photo</button>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary save">Save Photo</button>
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
	</div>
</div>