<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Edit Terminal
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-content">
            <div class="col-md-5 terminal-settings">
                <div class="form-group">
                    <label class="col-md-12 control-label">Terminal Name</label>
                    <div class="col-md-12">
                        <input class='form-control' type="text" name="label" value="<%-label%>" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Quickbutton Tab</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-quickbuttonTab == 1 ? 'active' : ''%>">
                                <input type="radio" name="quickbuttonTab" autocomplete="off" value="1" <%-quickbuttonTab == 1 ? 'checked' : ''%>> 1
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-quickbuttonTab == 2 ? 'active' : ''%>">
                                <input type="radio" name="quickbuttonTab" autocomplete="off" value="2" <%-quickbuttonTab == 2 ? 'checked' : ''%>> 2
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-quickbuttonTab == 3 ? 'active' : ''%>">
                                <input type="radio" name="quickbuttonTab" autocomplete="off" value="3" <%-quickbuttonTab == 3 ? 'checked' : ''%>> 3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Track Cash in Cash Drawer</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-UseRegisterLog == 1 ? 'active' : ''%>">
                                <input type="radio" name="UseRegisterLog" autocomplete="off" value="1" <%-UseRegisterLog == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-UseRegisterLog == 0 ? 'active' : ''%>">
                                <input type="radio" name="UseRegisterLog" autocomplete="off" value="0" <%-UseRegisterLog == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-UseRegisterLog == null ? 'active' : ''%>">
                                <input type="radio" name="UseRegisterLog" autocomplete="off" value=null <%-UseRegisterLog == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Multiple Cash Drawers</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-multiCashDrawers == 1 ? 'active' : ''%>">
                                <input type="radio" name="multiCashDrawers" autocomplete="off" value="1" <%-multiCashDrawers == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-multiCashDrawers == 0 ? 'active' : ''%>">
                                <input type="radio" name="multiCashDrawers" autocomplete="off" value="0" <%-multiCashDrawers == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-multiCashDrawers == null ? 'active' : ''%>">
                                <input type="radio" name="multiCashDrawers" autocomplete="off" value="null" <%-multiCashDrawers == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Automatically Print Receipts</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-autoPrintReceipts == 1 ? 'active' : ''%>">
                                <input type="radio" name="autoPrintReceipts" autocomplete="off" value="1" <%-autoPrintReceipts == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoPrintReceipts == 0 ? 'active' : ''%>">
                                <input type="radio" name="autoPrintReceipts" autocomplete="off" value="0" <%-autoPrintReceipts == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoPrintReceipts == null ? 'active' : ''%>">
                                <input type="radio" name="autoPrintReceipts" autocomplete="off" value="null" <%-autoPrintReceipts == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Use Web Print</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-webprnt == 1 ? 'active' : ''%>">
                                <input type="radio" name="webprnt" autocomplete="off" value="1" <%-webprnt == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-webprnt == 0 ? 'active' : ''%>">
                                <input type="radio" name="webprnt" autocomplete="off" value="0" <%-webprnt == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-webprnt == null ? 'active' : ''%>">
                                <input type="radio" name="webprnt" autocomplete="off" value="null" <%-webprnt == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Force HTTPS</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-Https == 1 ? 'active' : ''%>">
                                <input type="radio" name="Https" autocomplete="off" value="1" <%-Https == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-Https == 0 ? 'active' : ''%>">
                                <input type="radio" name="Https" autocomplete="off" value="0" <%-Https == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-Https == null ? 'active' : ''%>">
                                <input type="radio" name="Https" autocomplete="off" value="null" <%-Https == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Use Cash Register</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-cashRegister == 1 ? 'active' : ''%>">
                                <input type="radio" name="cashRegister" autocomplete="off" value="1" <%-cashRegister == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-cashRegister == 0 ? 'active' : ''%>">
                                <input type="radio" name="cashRegister" autocomplete="off" value="0" <%-cashRegister == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-cashRegister == null ? 'active' : ''%>">
                                <input type="radio" name="cashRegister" autocomplete="off" value="null" <%-cashRegister == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Print Tip Line</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-printTipLine == 1 ? 'active' : ''%>">
                                <input type="radio" name="printTipLine" autocomplete="off" value="1" <%-printTipLine == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-printTipLine == 0 ? 'active' : ''%>">
                                <input type="radio" name="printTipLine" autocomplete="off" value="0" <%-printTipLine == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-printTipLine == null ? 'active' : ''%>">
                                <input type="radio" name="printTipLine" autocomplete="off" value="null" <%-printTipLine == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Signature Slip Count</label>
                    <div class="col-md-12">
                        <div class="btn-group four-buttons" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-signatureSlipCount == 0 ? 'active' : ''%>">
                                <input type="radio" name="signatureSlipCount" autocomplete="off" value="0" <%-signatureSlipCount == 0 ? 'checked' : ''%>> 0
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary  <%-signatureSlipCount == 1 ? 'active' : ''%>">
                                <input type="radio" name="signatureSlipCount" autocomplete="off" value="1" <%-signatureSlipCount == 1 ? 'checked' : ''%>> 1
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-signatureSlipCount == 2 ? 'active' : ''%>">
                                <input type="radio" name="signatureSlipCount" autocomplete="off" value="2" <%-signatureSlipCount == 2 ? 'checked' : ''%>> 2
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-signatureSlipCount == null ? 'active' : ''%>">
                                <input type="radio" name="signatureSlipCount" autocomplete="off" value="null" <%-signatureSlipCount == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Credit Card Sales Receipt Print Count</label>
                    <div class="col-md-12">
                        <div class="btn-group four-buttons" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-creditCardReceiptCount == 0 ? 'active' : ''%>">
                                <input type="radio" name="creditCardReceiptCount" autocomplete="off" value="0" <%-creditCardReceiptCount == 0 ? 'checked' : ''%>> 0
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary  <%-creditCardReceiptCount == 1 ? 'active' : ''%>">
                                <input type="radio" name="creditCardReceiptCount" autocomplete="off" value="1" <%-creditCardReceiptCount == 1 ? 'checked' : ''%>> 1
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-creditCardReceiptCount == 2 ? 'active' : ''%>">
                                <input type="radio" name="creditCardReceiptCount" autocomplete="off" value="2" <%-creditCardReceiptCount == 2 ? 'checked' : ''%>> 2
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-creditCardReceiptCount == null ? 'active' : ''%>">
                                <input type="radio" name="creditCardReceiptCount" autocomplete="off" value="null" <%-creditCardReceiptCount == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Non Credit Card Sales Receipt Print Count</label>
                    <div class="col-md-12">
                        <div class="btn-group four-buttons" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-nonCreditCardReceiptCount == 0 ? 'active' : ''%>">
                                <input type="radio" name="nonCreditCardReceiptCount" autocomplete="off" value="0" <%-nonCreditCardReceiptCount == 0 ? 'checked' : ''%>> 0
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary  <%-nonCreditCardReceiptCount == 1 ? 'active' : ''%>">
                                <input type="radio" name="nonCreditCardReceiptCount" autocomplete="off" value="1" <%-nonCreditCardReceiptCount == 1 ? 'checked' : ''%>> 1
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-nonCreditCardReceiptCount == 2 ? 'active' : ''%>">
                                <input type="radio" name="nonCreditCardReceiptCount" autocomplete="off" value="2" <%-nonCreditCardReceiptCount == 2 ? 'checked' : ''%>> 2
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-nonCreditCardReceiptCount == null ? 'active' : ''%>">
                                <input type="radio" name="nonCreditCardReceiptCount" autocomplete="off" value="null" <%-nonCreditCardReceiptCount == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Auto Email Receipt To Customer</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-autoEmailReceipt == 1 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailReceipt" autocomplete="off" value="1" <%-autoEmailReceipt == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoEmailReceipt == 0 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailReceipt" autocomplete="off" value="0" <%-autoEmailReceipt == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoEmailReceipt == null ? 'active' : ''%>">
                                <input type="radio" name="autoEmailReceipt" autocomplete="off" value="null" <%-autoEmailReceipt == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Do Not Print Receipt if Emailed</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-autoEmailNoPrint == 1 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailNoPrint" autocomplete="off" value="1" <%-autoEmailNoPrint == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoEmailNoPrint == 0 ? 'active' : ''%>">
                                <input type="radio" name="autoEmailNoPrint" autocomplete="off" value="0" <%-autoEmailNoPrint == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-autoEmailNoPrint == null ? 'active' : ''%>">
                                <input type="radio" name="autoEmailNoPrint" autocomplete="off" value="null" <%-autoEmailNoPrint == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label">Require On-Screen Signature for Member Payments</label>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="terminal-settings-btn btn btn-tertiary  <%-requireSignatureMemberPayments == 1 ? 'active' : ''%>">
                                <input type="radio" name="requireSignatureMemberPayments" autocomplete="off" value="1" <%-requireSignatureMemberPayments == 1 ? 'checked' : ''%>> Yes
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-requireSignatureMemberPayments == 0 ? 'active' : ''%>">
                                <input type="radio" name="requireSignatureMemberPayments" autocomplete="off" value="0" <%-requireSignatureMemberPayments == 0 ? 'checked' : ''%>> No
                            </label>
                            <label class="terminal-settings-btn btn btn-tertiary <%-requireSignatureMemberPayments == null ? 'active' : ''%>">
                                <input type="radio" name="requireSignatureMemberPayments" autocomplete="off" value="null" <%-requireSignatureMemberPayments == null ? 'checked' : ''%>> Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="afterSaleLoad" class="col-md-12 control-label">Online Sales Terminal</label>
                    <div class="col-md-12">
                        <%=_.dropdown({"null":"Default","0":"Tee Sheet","1":"Sales"}, {"name":"afterSaleLoad", "id":"afterSaleLoad", "class":"form-control"}, afterSaleLoad)%>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel-group settings-panel terminal-printer-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title pull-left">Terminal Printers</h4>

                            <div class="pull-right form-inline marg-top-3">
                                <div class="btn-group form-group">
                                    <button type="button" class="btn manage-printers btn-primary btn-sm new">Manage Printers</button>
                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>
                        <div class="panel-body">
                            <table class="terminal-printer-group-list">

                            </table>
                        </div>
                    </div>
                </div>
                <% if (App.data.course.get('use_mercury_emv')) { %>
                <div class="panel-group settings-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title pull-left">Vantiv EMV Credit Card Device</h4>

                            <div class="pull-right form-inline marg-top-3">
                                <div class="btn-group form-group">
                                    <button type="button" class="btn add_custom_payment_type btn-primary new btn-sm">Add</button>
                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>
                        <div class="panel-body">
                            No Device Added
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
    </div>
</div>
