<form>
    <div class="clearfix">
        <div class="settings-header row">
          <div class="col-md-12">
            <div class="settings-title">Food & Beverage</div>
            <div class="settings-subtitle">These settings are used in the Food and Beverage application, and are all the settings that pertain to the sales in the module.</div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="defaultRegisterLogOpen" class="col-md-12 control-label">Default Register Open Amount</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" type="text" value="<%-defaultRegisterLogOpen%>" name="defaultRegisterLogOpen" id="defaultRegisterLogOpen" />
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="autoGratuity" class="col-md-12 control-label">Auto Gratuity</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control" type="text" value="<%-autoGratuity%>" name="autoGratuity" id="autoGratuity" />
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="autoGratuityThreshold" class="col-md-12 control-label">Auto Gratuity Head Count Threshold</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-autoGratuityThreshold%>" name="autoGratuityThreshold" id="autoGratuityThreshold" />
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="serviceFeeActive" name="serviceFeeActive" style="margin-top: 5px;" <%-serviceFeeActive?'checked':''%>/>
                    <label for="serviceFeeActive" class="control-label">Make Auto Gratuity a Service Fee</label>
                </div>
            </div>
            <div class="form-group">
                <label for="serviceFeeTax1Name" class="col-md-12 control-label">Service Fee Tax Rate 1 Name</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="<%-serviceFeeTax1Name%>" name="serviceFeeTax1Name" id="serviceFeeTax1Name" />
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="form-control" type="text" value="<%-serviceFeeTax1Rate%>" name="serviceFeeTax1Rate" id="serviceFeeTax1Rate" />
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="serviceFeeTax2Name" class="col-md-12 control-label">Service Fee Tax Rate 2 Name</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="<%-serviceFeeTax2Name%>" name="serviceFeeTax2Name" id="serviceFeeTax2Name" />
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <input class="form-control" type="text" value="<%-serviceFeeTax2Rate%>" name="serviceFeeTax2Rate" id="serviceFeeTax2Rate" />
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="foodBevSortBySeat" name="foodBevSortBySeat" style="margin-top: 5px;" <%-foodBevSortBySeat?'checked':''%>/>
                    <label for="foodBevSortBySeat" class="control-label">Sort Items by Seat</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="requireGuestCount" name="requireGuestCount" style="margin-top: 5px;" <%-requireGuestCount?'checked':''%>/>
                    <label for="requireGuestCount" class="control-label">Require Guest Count</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="useCourseFiring" name="useCourseFiring" style="margin-top: 5px;" <%-useCourseFiring?'checked':''%>/>
                    <label for="useCourseFiring" class="control-label">Use Course Firing</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="courseFiringIncludeItems" name="courseFiringIncludeItems" style="margin-top: 5px;" <%-courseFiringIncludeItems?'checked':''%>/>
                    <label for="courseFiringIncludeItems" class="control-label">Include Items When the Course is Fired</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="trackCash" name="trackCash" style="margin-top: 5px;" <%-trackCash?'checked':''%>/>
                    <label for="trackCash" class="control-label">Track Cash in Register</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="allowEmployeeRegisterLogBypass" name="allowEmployeeRegisterLogBypass" style="margin-top: 5px;" <%-allowEmployeeRegisterLogBypass?'checked':''%>/>
                    <label for="allowEmployeeRegisterLogBypass" class="control-label">Allow Employees to Bypass Register Log Closing</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="blindClose" name="blindClose" style="margin-top: 5px;" <%-blindClose?'checked':''%>/>
                    <label for="blindClose" class="control-label">Blind Register Close</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="requireEmployeePin" name="requireEmployeePin" style="margin-top: 5px;" <%-requireEmployeePin?'checked':''%>/>
                    <label for="requireEmployeePin" class="control-label">Require Employee Login</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="separateCourses" name="separateCourses" style="margin-top: 5px;" <%-separateCourses?'checkout':''%>/>
                    <label for="separateCourses" class="control-label">Separate Courses in Reports</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="deductTips" name="deductTips" style="margin-top: 5px;" <%-deductTips?'checked':''%>/>
                    <label for="deductTips" class="control-label">Auto Deduct Tips from Cash in Z-Out Report</label>
                </div>
            </div>
        </div>
    </div>
</form>
