<td>
    <div class="form-group">
        <label for="printer" class="control-label">Printer Name</label>
        <input class="form-control printer" type="text" value="<%-label%>" name="printer[]"/>
    </div>
</td>
<td>
    <div class="form-group col-md-12">
        <label for="ip_address" class="control-label">IP Address</label>
        <input  class="form-control ip_address" type="text" value="<%-ipAddress%>" name="ip_address[]"/>
    </div>
</td>
<td class="text-center">
    <div class="btn btn-destroy marg-top-25">
      <i class="fa fa-trash-o removePrinter" aria-hidden="true"></i>
    </div>
</td>
