<form>
    <div class="clearfix">
        <div class="row settings-header">
            <div class="col-md-12">
              <div class="settings-title">Printing and Terminals</div>
              <div class="settings-subtitle">These settings are used in the Point of Sale application, and are all the settings that pertain to printing receipts and hardware.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printAfterSale" name="printAfterSale" style="margin-top: 5px;" <%-printAfterSale?'checked':''%>/>
                    <label for="printAfterSale" class="control-label">Automatic Receipt Printing</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printCreditCardReceipt" name="printCreditCardReceipt" style="margin-top: 5px;" <%-printCreditCardReceipt?'checked':''%>/>
                    <label for="printCreditCardReceipt" class="control-label">Print Credit Card Receipts</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printSalesReceipt" name="printSalesReceipt" style="margin-top: 5px;" <%-printSalesReceipt?'checked':''%>/>
                    <label for="printSalesReceipt" class="control-label">Print Sales Receipts</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printTipLine" name="printTipLine" style="margin-top: 5px;" <%-printTipLine?'checked':''%>/>
                    <label for="printTipLine" class="control-label">Print Tip Line</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="receiptPrintAccountBalance" name="receiptPrintAccountBalance" style="margin-top: 5px;" <%-receiptPrintAccountBalance?'checked':''%>/>
                    <label for="receiptPrintAccountBalance" class="control-label">Print Customer Account Balance</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printMinimumsOnReceipt" name="printMinimumsOnReceipt" style="margin-top: 5px;" <%-printMinimumsOnReceipt?'checked':''%>/>
                    <label for="printMinimumsOnReceipt" class="control-label">Print Current Minimums on Receipt</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printTwoReceipts" name="printTwoReceipts" style="margin-top: 5px;" <%-printTwoReceipts?'checked':''%>/>
                    <label for="printTwoReceipts" class="control-label">Print 2 Receipts on Credit Card Sales</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printTwoSignatureSlips" name="printTwoSignatureSlips" style="margin-top: 5px;" <%-printTwoSignatureSlips?'checked':''%>/>
                    <label for="printTwoSignatureSlips" class="control-label">Print 2 Signature Slips</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="printTwoReceiptsOther" name="printTwoReceiptsOther" style="margin-top: 5px;" <%-printTwoReceiptsOther?'checked':''%>/>
                    <label for="printTwoReceiptsOther" class="control-label">Print 2 Receipts on all Sales</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideEmployeeLastNameReceipt" name="hideEmployeeLastNameReceipt" style="margin-top: 5px;" <%-hideEmployeeLastNameReceipt?'cheched':''%>/>
                    <label for="hideEmployeeLastNameReceipt" class="control-label">Hide Employee Last Name on Receipt</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="cashDrawerOnCash" name="cashDrawerOnCash" style="margin-top: 5px;" <%-cashDrawerOnCash?'checked':''%>/>
                    <label for="cashDrawerOnCash" class="control-label">Open Cash Drawer on Cash Payment</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="cashDrawerOnSale" name="cashDrawerOnSale" style="margin-top: 5px;" <%-cashDrawerOnSale?'checked':''%>/>
                    <label for="cashDrawerOnSale" class="control-label">Open Cash Drawer on Every Sale</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="autoEmailReceipt" name="autoEmailReceipt" style="margin-top: 5px;" <%-autoEmailReceipt?'checked':''%>/>
                    <label for="autoEmailReceipt" class="control-label">Auto-Email Receipt to Customer</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="autoEmailNoPrint" name="autoEmailNoPrint" style="margin-top: 5px;" <%-autoEmailNoPrint?'checked':''%>/>
                    <label for="autoEmailNoPrint" class="control-label">Do Not Print Receipt if Receipt is Emailed</label>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="btn-group form-group col-md-12">
                    <button type="button" class="btn manage-printers btn-primary new settings-corner-button form-control">Manage Printers and Printer Groups</button>
                </div>
            </div>
            <br />&nbsp;<br />
            <div class="form-group">
                <div class="btn-group form-group col-md-12">
                    <button type="button" class="btn manage-receipt-agreements btn-primary new settings-corner-button form-control">Manage Receipt Agreements</button>
                </div>
            </div>
            <div class="form-group">
                <label for="onlineInvoiceTerminalId" class="col-md-12 control-label">Green Fee Receipt Agreement</label>
                <div class="col-md-12">
                    <%=_.dropdown(App.data.course.get('receipt_agreements').getDropdownOptions(), {"name":"onlineInvoiceTerminalId", "id":"onlineInvoiceTerminalId", "class":"form-control"}, onlineInvoiceTerminalId)%>
                </div>
            </div>
            <div class="form-group">
                <label for="onlineInvoiceTerminalId" class="col-md-12 control-label">Cart Fee Receipt Agreement</label>
                <div class="col-md-12">
                    <%=_.dropdown(App.data.course.get('receipt_agreements').getDropdownOptions(), {"name":"onlineInvoiceTerminalId", "id":"onlineInvoiceTerminalId", "class":"form-control"}, onlineInvoiceTerminalId)%>
                </div>
            </div>
            <div class="form-group">
                <label for="onlinePurchaseTerminalId" class="col-md-12 control-label">Online Sales Terminal</label>
                <div class="col-md-12">
                    <%=_.dropdown(App.data.course.get('terminals').getDropdownData(true), {"name":"onlinePurchaseTerminalId", "class":"form-control terminal-dropdown"}, onlinePurchaseTerminalId)%>
                </div>
            </div>
            <div class="form-group">
                <label for="onlineInvoiceTerminalId" class="col-md-12 control-label">Online Invoice Payment Terminal</label>
                <div class="col-md-12">
                    <%=_.dropdown(App.data.course.get('terminals').getDropdownData(true), {"name":"onlineInvoiceTerminalId", "class":"form-control terminal-dropdown"}, onlineInvoiceTerminalId)%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group settings-panel terminal-panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">
                            Terminals
                        </h4>
                        <div class="pull-right form-inline marg-top-3">
                            <div class="btn-group form-group">
                                <button type="button" class="btn add-terminal btn-primary btn-sm new button">Add</button>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>
                    <div class="panel-body">
                        <table class="terminal-list">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
