<td>
    <input class='form-control returnReason' type="text" value="<%-label%>" name="returnReason[]"/>
</td>
<td class="text-center">
    <i class="fa fa-trash-o removeReturnReason" aria-hidden="true"></i>
</td>
