<td>
    <div class="form-group">
        <label class="col-md-12 control-label">Group Name</label>
        <div class="col-md-12">
            <div class="control-label"><%-label%></div>
        </div>
    </div>
</td>
<td>
    <div class="form-group">
        <label class="col-md-12 control-label">Choose Printer</label>
        <div class="col-md-12">
            <%=_.dropdown(App.data.course.get('receipt_printers').getDropdownOptions(), {"name":"default_printer_id", "class":"form-control receiptPrinterDropdown"}, defaultPrinterId)%>
        </div>
    </div>
</td>