<table style="
table-layout: auto;
border: none;
margin-top: 20px;">
<tr>
    <td style="border: none;">
        put logo here
    </td>
</tr>    
</table>
<table style="
table-layout: auto;
margin: 20px auto;
border: solid 1px #cdb19e;
background-color: #fdf2d8;
font-family: 'Roboto', helvetica, arial, sans-serif;
max-width: 580px;
border-collapse: collapse;">
    <tr>
        <td style="padding: 0 10px;">
            <img style="width: 100%;" src="http://oi57.tinypic.com/20ggpav.jpg">
        </td>
    </tr>
    <tr>
        <td style="padding: 0 20px;">
            <h5 style="font-size: 24px; font-weight:700; margin: 0 0 10px 0; color: #6d5d52; font-family: Bookman, Georgia, Times New Roman, serif;">
                <span id="mailer-header">
                    Enter Title Here...
                </span>
            </h5>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 20px 10px 20px;">
            <p style="margin: 0 0 10px 0; color: #6d5d52; font-family: Bookman, Georgia, Times New Roman, serif; font-size: 16px;">
                <span id="mailer-contents">
                    Enter content Here...
                </span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; padding: 0 20px 40px 20px; color: #6d5d52; font-family: Bookman, Georgia, Times New Roman, serif;">
            -Your friends at the <span style="font-weight: 700; font-style: italic"><?= $name ?></span>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; border: none; background: #6d5d52;">
            <table style="table-layout: fixed;
            width: 100%;">
                <tr>
                    <td width="50%">
                        <div style="font-weight: 700; font-size: 14px; color: #fff;">
                            <?= $name ?>
                        </div>
                        <div style="font-size: 12px; color: #fff;">
                            <?= $address ?>
                        </div>
                    </td>
                    <td width="50%">
                        <div style="font-size: 12px; color: #fff;">
                            <span style="font-weight: 700; color: #fff;">Email:</span> <a style="color: #fff;" href="mailto:<?= $support_email ?>"><?= $support_email ?></a><br>
                            <span style="font-weight: 700; color: #fff;">Phone:</span> <a style="color: #fff;" href="tel:<?= $phone_number; ?>"><?= $phone_number; ?></a><br>
                            <span style="font-weight: 700; color: #fff;">Website:</span> <a style="color: #fff;" href="<?= $website ?>" target="_blank"><?= $website ?></a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="
            table-layout: auto;
            margin: 20px auto;
            font-family: 'Roboto', helvetica, arial, sans-serif;
            ">
    <tr>
        <td style="text-align: center">
            <a style="font-size: 12px; color: #5693ac; text-decoration: none;" href="#">Click here to Unsubscribe</a>
        </td>
    </tr>
</table>
