<div class="row">
    <div class="col-md-12">
        <h2 style="font-weight: normal; text-align: center; margin-top: 25px">
            <% if(status == 'pending'){ %>
            <strong><%-accounting.formatNumber(total_records)%></strong> rows ready to import
            <% }else if(status == 'ready' || status == 'in-progress'){ %>
            Importing <strong><%-accounting.formatNumber(total_records)%></strong> rows
            <% }else if(status == 'cancelled'){ %>
            Import Cancelled
            <% }else{ %>
            Import Complete!
            <% } %>
        </h2>
        <% if(status == 'pending' && estimated_duration > 0){ %>
        <div style="text-align: center;">
            Your import will take about <em><%-moment.duration(estimated_duration, 'seconds').humanize()%></em>
        </div>
        <% } %>
    </div>
</div>
<% if(status == 'pending'){ %>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-offset-3 col-md-6">
        <label style="text-align: center">Notify by email when complete</label>
        <input type="text" class="form-control" placeholder="Enter email address" id="data-import-notify-email">
    </div>
</div>
<% } %>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
        <% if(status == 'pending'){ %>
        <button class="btn btn-lg btn-block btn-success start-import" style="margin: 15px auto 0px auto">
            <span class="fa fa-upload"></span>
            Start Import
        </button>
        <% }else{ %>
        <div class="progress" style="margin-top: 15px; margin-bottom: 5px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%-percent_complete%>" aria-valuemin="0" aria-valuemax="100" style="width: <%-percent_complete%>%"></div>
        </div>
        <% if(status != 'cancelled'){ %>
        <small style="display: block; text-align: center">Importing... <%-percent_complete%>% complete</small>
        <% }else{ %>
        <small style="display: block; text-align: center">Cancelled... <%-percent_complete%>% complete</small>
        <% } %>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center; margin-top: 20px;">
        <small>
            <% if(status == 'pending'){ %>
            Once started, this import will run in the background.<br />
            Re-open this window to check on progress.
            <% }else if(status == 'in-progress'){ %>
            You may now close this window.<br />
            Re-open this window to check on progress.
            <% } %>
        </small>
    </div>
</div>
<% if(status == 'ready'){ %>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-block btn-danger close-job" style="width: 100px; margin: 50px auto 0px auto;">Cancel Import</button>
    </div>
</div>
<% } %>
<% if(status == 'in-progress'){ %>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-block btn-danger cancel-in-progress" data-loading-text="Cancelling..." style="width: 100px; margin: 50px auto 0px auto;">Cancel Import</button>
    </div>
</div>
<% } %>
<% if(status == 'completed' || status == 'cancelled'){ %>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            <div class="import-metric bg-primary">
                <h1><%-accounting.formatNumber(records_imported)%></h1>
                <h5>Records Imported</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="import-metric bg-primary" <% if(records_failed > 0){ %>style="background-color: #CE6161"<% } %>>
                <h1><%-accounting.formatNumber(records_failed)%></h1>
                <h5>Records Failed</h5>
            </div>
        </div>
    </div>

    <% if(response && response.failed_csv_url){ %>
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-top: 15px">
            <a href="<%-response.failed_csv_url%>" style="font-size: 18px">Download failed records</a>
        </div>
    </div>
    <% } %>

    <% if(response && response.errors && _.toArray(response.errors).length > 0){ %>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h4 class="text-danger">Errors</h4>
            <table class="table table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>Record #</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(response.errors, function(x, message){ %>
                <tr>
                    <td><%-x%></td>
                    <td><%-message%></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-block btn-default close-job" style="width: 100px; margin: 50px auto 0px auto;">Close</button>
        </div>
    </div>
<% } %>
<% if(status == 'pending'){ %>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-block btn-default back" style="width: 100px; margin: 50px auto 0px auto;">
            <span class="fa fa-arrow-left"></span>
            Back
        </button>
    </div>
</div>
<% } %>