<div style="text-align: center">
    <span class="fa fa-check text-success" style="font-size: 72px"></span>
</div>
<h2 class="text-success" style="margin-bottom: 20px">Everything OK!</h2>
<div class="row">
    <div class="col-md-offset-3 col-md-3">
        <button class="btn btn-lg btn-block btn-default pull-left back">
            Try Again
            <span class="fa fa-refresh"></span>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-lg btn-block btn-primary pull-right continue">
            Continue
            <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</div>