<div class="data-import-match">
    <table class="table">
        <thead>
            <tr>
                <th>Source (Your Columns)</th>
                <th>&nbsp;</th>
                <th>Destination (foreUP Columns)</th>
            </tr>
        </thead>
        <tbody>
        <%
        var foreup_fields = fields[type];

        _.each(foreup_fields, function(foreup_col, key){

            var match = null;
            if(typeof(settings.column_map[key]) != 'undefined'){
                match = 'col_' + settings.column_map[key];
            }

            var menu_options = {
                '': '- No Match (Ignore) -'
            };
            _.each(data.headers, function(col_name, index){
                menu_options['col_' + index] = '('+ index +') '+ col_name;
            });
            %>
            <tr>
                <td><%=_.dropdown(menu_options, {class: 'form-control column-select', 'data-destination-col': key}, match)%></td>
                <td style="text-align: center"><span class="fa fa-arrow-right text-muted"></span></td>
                <td style="text-align: right"><% if(foreup_col.required){ %><span class="label label-danger">Required</span><% } %>&nbsp;&nbsp;<%-foreup_col.name%></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-default back">
                <span class="fa fa-arrow-left"></span>
                Back
            </button>
            <button class="btn btn-lg btn-primary continue">
                Next
                <span class="fa fa-arrow-right"></span>
            </button>
        </div>
    </div>
</div>