<div style="text-align: center">
    <span class="fa fa-spinner fa-spin" style="font-size: 72px"></span>
</div>
<h4 style="margin-bottom: 20px">Uploading...</h4>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <span class="fa fa-file-text-o" style="display: block; font-size: 36px; text-align: center"></span>
        <h6 style="text-align: center"><%-file.name%> (<%-accounting.formatNumber(parseInt(file.size / 1024))%>Kb)</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="progress" style="margin-top: 15px; margin-bottom: 5px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" id="upload-progress-bar" style="width: 1%"></div>
        </div>
        <small style="display: block; text-align: center"><span class="percentage">1</span>% complete</small>
    </div>
</div>