<div class="modal-content data-import">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Customer Import
        </h4>
    </div>
    <div class="modal-body container-fluid" style="min-height: 500px;">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-offset-2 col-md-2 data-import-step" id="data-import-step-1">
                <h5 class="data-import-step-number">
                    <span class="number">1</span>
                    <span class="fa fa-check" style="display: none"></span>
                </h5>
                <p class="data-import-step-desc">Upload data</p>
            </div>
            <div class="col-md-2 data-import-step" id="data-import-step-2">
                <h5 class="data-import-step-number">
                    <span class="number">2</span>
                    <span class="fa fa-check" style="display: none"></span>
                </h5>
                <p class="data-import-step-desc">Match columns</p>
            </div>
            <div class="col-md-2 data-import-step" id="data-import-step-3">
                <h5 class="data-import-step-number">
                    <span class="number">3</span>
                    <span class="fa fa-check" style="display: none"></span>
                </h5>
                <p class="data-import-step-desc">Preview</p>
            </div>
            <div class="col-md-2 data-import-step" id="data-import-step-4">
                <h5 class="data-import-step-number">
                    <span class="number">4</span>
                    <span class="fa fa-check" style="display: none"></span>
                </h5>
                <p class="data-import-step-desc">Import</p>
            </div>
        </div>
        <div id="import-steps" class="row"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left cancel-import" data-dismiss="modal">Close Window</button>
    </div>
</div>