<div class="modal-content item-kit-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Item Kit Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="row">
				
				<!-- LEFT COLUMN -->
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-upc">UPC #</label>
						<div class="col-md-8">
							<input type="text" name="item_number" value="<%-item_number%>" class="form-control" id="item-kit-upc">
						</div>
					</div>					
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-name">Name <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<input type="text" name="name" value="<%-name%>" class="form-control" id="item-kit-name"
								data-bv-notempty data-bv-notempty-message="Name is required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-department">Department <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<input type="text" name="department" value="<%-department%>" class="form-control" id="item-kit-department"
								data-bv-notempty data-bv-notempty-message="Department is required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-category">Category</label>
						<div class="col-md-8">
							<input type="text" name="category" value="<%-category%>" class="form-control" id="item-kit-category">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-subcategory">Subcategory</label>
						<div class="col-md-8">
							<input type="text" name="subcategory" value="<%-subcategory%>" class="form-control" id="item-kit-subcategory">
						</div>
					</div>
				</div>
				
				<!-- RIGHT COLUMN -->
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-price">Unit Price</label>
						<div class="col-md-4">
							<input type="text" name="unit_price" value="<%-accounting.formatMoney(unit_price, '')%>" class="form-control" id="item-kit-price" disabled>
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="item-kit-cost">Cost</label>
                        <div class="col-md-4">
                            <input type="text" name="cost_price" value="<%-accounting.formatMoney(cost_price, '')%>" class="form-control" id="item-kit-cost" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="item-kit-max-discount">Max Discount</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" name="max_discount" value="<%-accounting.formatMoney(max_discount, '')%>" class="form-control" id="item-kit-max-discount">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4" style="padding-left: 0px">
                            <div class="form-control-static"><h5 class="item-kit-minimum-price" style="padding: 0px; margin: 0px;">= <%-accounting.formatMoney(5.00)%></h5></div>
                        </div>
                    </div>
                    <div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-punch-card">Is Punch Card</label>
						<div class="col-md-4">
							<input style="margin-top: 10px" type="checkbox" name="is_punch_card" value="1" id="item-kit-punch-card" <%if(item_type == 'punch_card'){ print('checked') }%>>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="item-kit-price">Description</label>
						<div class="col-md-8">
							<textarea name="description" class="form-control" style="height: 100px" id="item-kit-description"><%-description%></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-2 control-label" for="item-kit-search">Add Items</label>
						<div class="col-md-4">
							<input type="text" name="search" value="" placeholder="Search items..." class="form-control" id="item-kit-search">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						<table class="table item-kit-items">
							<thead>
								<th>&nbsp;</th>
								<th style="width: 50%">Item</th>
								<th>Orig. Price</th>
								<th>Qty</th>
								<th>Price</th>
								<th>Total</th>
							</thead>
							<tbody>
							<% if(items && items.length > 0){ 
							_.each(items, function(item, index){ %>
							<tr>
								<td><a class="text-danger delete-item" href="#" data-index="<%-index%>">X</a></td>
								<td>
									<%-item.name%>
								</td>
								<td>
									<%-accounting.formatMoney(item.base_price)%>
								</td>
								<td>
									<input style="width: 100px" type="text" class="form-control item-quantity" data-index="<%-index%>" name="items[<%-item.item_id%>][quantity]" value="<%-accounting.formatNumber(item.quantity, 2)%>">
								</td>
								<td>
									<input style="width: 100px" type="text" data-index="<%-index%>" name="items[<%-item.item_id%>][unit_price]" value="<%-accounting.formatMoney(item.unit_price, '')%>" placeholder="0.00" class="form-control item-price">
								</td>
								<td>
									<strong><%-accounting.formatMoney(item.total)%></strong>
								</td>
							</tr>					
							<% }) }else{ %>
							<tr>
								<td colspan="6">
									<h4 style='text-align: center' class="text-muted">No Items Attached</h4>
								</td>
							</tr>
							<% } %>
							</tbody>
						</table>
						</div>
					</div>			
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>