<div id="item-kit-actions" class="col-md-12">
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-success table-action btn-block new">
				<span class="fa fa-plus table-action-icon"></span>
				New Item Kit
			</button>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-primary btn-block export">
				<span class="fa fa-cloud-download table-action-icon"></span>
				Export Item Kits
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row" id="item-kit-table"></div>
		</div>
	</div>
</div>