<td><input type="checkbox" value="1"></td>
<td><%-name%></td>
<td><%-customer.first_name +' '+ customer.last_name%></td>
<td><%-moment(start_date).format('MM/DD/YYYY')%></td>
<td><%-moment(end_date).format('MM/DD/YYYY')%></td>
<td><%-moment(date_created).format('MM/DD/YYYY')%></td>
<td>
	<% if(price_class_name == ''){ %>
	<span class="text-muted">No Price Class</span>
	<% }else{ %>
	<%-price_class_name%>
	<% } %>
</td>
<td>
	<a class="pull-right edit" href="#">Edit</a>
</td>