<td><%= id %></td>
<td><%= report_id %></td>
<td><input  data-bind="value:label" placeholder="Label" /></td>
<td>
    <select class="form-control" id="column_dropdown"  data-live-search="true" data-tags="true" style="min-width: 150px"></select>
</td>
<td><select data-bind="options:[null,'sum','count','max','day','month','year'],value:aggregate"><span data-bind="text:aggregate"></span></select></td>
<td><input type="checkbox" data-bind="checked:filterable" /></td>
<td><input type="checkbox" data-bind="checked:visible" /></td>
<td><input type="checkbox" data-bind="checked:selectable" /></td>
<td><input type="checkbox" data-bind="checked:sortable" /></td>
<td><input type="checkbox" data-bind="checked:locked" /></td>
<td><button id="deleteColumn" data-bind="value:id" class="btn">Delete</button></td>