<div class="form-group advanced_field" >
    <label class="col-sm-2 control-label">Base Table</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Base Table" data-bind="value:base" >
    </div>
</div>
<div class="form-group advanced_field" >
    <label class="col-sm-2 control-label">course_id</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Course Id" data-bind="value:course_id" >
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Description" data-bind="value:description" >
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Title" data-bind="value:title" >
    </div>
</div>