@import "email";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

.wrapper,{
  background-color: #ffffff;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.one-col {
  background-color: #ffffff;
}
.border {
  background-color:transparent;
}

.divider .border {
  height: 4px;
  width: 50px;
  margin: 20px auto;
  display: block;
  background-color: #4099cc;
}

.header-background {
  background-color: #fff;
}

tr.border {
  background-color: transparent;
}

.image {
  margin-bottom: 0;
}

.two-col .image {
  margin-bottom: 0;
}

.two-col .first .padded {
  padding-left: 0;
}

.two-col .second .padded {
  padding-right: 0;
}

.column-bottom {
  line-height: 0;
  font-size: 0;
  display: none;
}

.column-top {
  line-height: 20px;
  font-size: 20px;
}


.cb-no-images {

  .preheader {
    color: #d3d3d3;
  }
}

h1, h2, h3, h4 {
  color:#3b3e42;
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
  font-weight: 700;
}
.wrapper h1 {

}
.wrapper h1 {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper h1 {
    font-family: 'Source Sans Pro', 'Arial', sans-serif !important
  }
}
h1 {}
.one-col h1 {
  line-height:46px
}
.two-col h1, .wider h1 {
  line-height:36px
}
.three-col h1,
.narrower h1 {
  line-height:30px
}
@media only screen and (max-width: 620px) {
  h1 {
    line-height:46px !important
  }
}
h2 {
  color:#3b3e42
}
.wrapper h2 {}
.wrapper h2 {
  font-family:'Source Sans Pro', 'Arial',sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper h2 {
    font-family:'Source Sans Pro', 'Arial',sans-serif !important;
  }
}
h2 {}
.one-col h2 {
  line-height:30px }
.two-col h2, .wider h2 {
  line-height:26px
}
.three-col h2, .narrower h2 {
  line-height:24px
}
@media only screen and (max-width: 620px) {
  h2 {
    line-height:30px !important
  }
}
h3 {
  font-weight: 300 !important;
  color:#404040
}
.wrapper h3 {}
.wrapper h3 {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0){
  .wrapper h3 {
    font-family: 'Source Sans Pro', 'Arial',sans-serif !important
  }
}
h3 {
  margin-bottom: 14px;
}
.wrapper .two-col h3, .wrapper .wider h3 {
  font-weight: 300;
}
.one-col h3 {
  line-height:26px
}
.two-col h3, .wider h3 {
  line-height:23px
}
.three-col h3, .narrower h3 {
  line-height:21px
}
@media only screen and (max-width: 620px) {
  h3 {
    line-height:26px !important
  }
}
h4 {
  font-weight: 700;
  color: #4099cc;
  margin: 1px 0 3px 0;
}
p,ol,ul {
  color:#60666d
}
.wrapper p, .wrapper ol,.wrapper ul {}
.wrapper p,.wrapper ol,.wrapper ul {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
p,ol,ul {}
.one-col p,.one-col ol,.one-col ul {
  line-height:24px;
  Margin-bottom:24px
}
.two-col p,.two-col ol,.two-col ul,
.wider p,.wider ol,.wider ul {
  line-height:21px;
  Margin-bottom:21px
}
.three-col p,.three-col ol,.three-col ul,
.narrower p,.narrower ol,.narrower ul {
  line-height:18px;
  Margin-bottom:18px
}
@media only screen and (max-width: 620px) {
  p,ol,ul {
    line-height:24px !important;
    Margin-bottom:24px !important
  }
}
.wrapper a {
  color:#454545
}
.wrapper a:hover {
  color:#2b2b2b !important
}
.wrapper .button a {
  color:#fff;
  background-color:#4099cc;
  box-shadow:0 3px 0 #347ca6
}
.wrapper .button a {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
.wrapper .button a:hover {
  box-shadow:inset 0 1px 2px #408cbf !important;
  color:#fff !important
}
.wrapper p a,.wrapper ol a,.wrapper ul a {
  border-bottom:1px dotted #454545
}
.wrapper blockquote {
  border-left:4px solid #ecf5f3
}
.wrapper .three-col blockquote,
.wrapper .narrower blockquote {
  border-left:2px solid #ecf5f3
}
.logo {}
.wrapper .logo {}
.wrapper .logo {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper .logo {
    font-family:'Source Sans Pro', 'Arial',sans-serif !important
  }
}
.wrapper .logo {
  color:#555
}
.wrapper .logo a {
  color:#555
}
.wrapper .logo a:hover {
  color:#555 !important
}
.preheader,.footer {
  color:#b9b9b9
}
.preheader,.footer {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .preheader,.footer {
    font-family: 'Source Sans Pro', 'Arial',sans-serif !important
  }
}
.wrapper .preheader a {
  color: #d3d3d3;
}
.wrapper .footer a {
  color: #a3a3a3;
}
.wrapper .preheader a:hover {
  color: #c3c3c3 !important
}

.wrapper .footer a:hover {
  color: #b3b3b3 !important;
}

.footer .social a {}
.wrapper .footer .social a {}
.wrapper .footer .social a {
  font-family: 'Source Sans Pro', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper .footer .social a {
    font-family: 'Source Sans Pro', 'Arial',sans-serif !important
  }
}
.footer .social a {}
.footer .social a{
  font-weight:600
}


.border-leg {
  position: absolute;
  background-color: #d3d3d3;
  display: none;

  &.border-leg-top {
    height: 10px;
    top: -10px;
    left: -10px;
    right: -10px;
    background-color: transparent;
    border-top: solid 1px #d3d3d3;

    &.border-leg-image {
      left: -10px;
      right: -10px;
    }
  }

  &.border-leg-right {
    width: 1px;
    top: -10px;
    bottom: 14px;
    right: -10px;

    &.border-leg-image {
      right: -10px;
    }
  }

  &.border-leg-bottom {
    bottom: 14px;
    left: -10px;
    right: -10px;
    height: 1px;

    &.border-leg-image {
      left: -10px;
      right: -10px;
    }
  }

  &.border-leg-left {
    width: 1px;
    top: -10px;
    bottom: 14px;
    left: -10px;

    &.border-leg-image {
      left: -10px;
      right: -10px;
    }

  }
}
