@import "email";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


.wrapper,{
  background-color: #404040;
  font-family: 'Oswald', 'Arial', sans-serif;
}

.one-col {
  background-color: #404040;
}
.border {
  background-color:transparent;
}

.divider .border {
  height: 10px;
  width: 10px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #808080;
  position: relative;

  &:before, &:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #808080;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    top: 1px;
  }

  &:after {
    right: auto;
    left: 16px;
  }
}

tr.border {
  background-color: transparent;
}


.full-width {
  background-color: #404040;

  .two-col {
    background-color: #404040;
  }

}


.cb-no-images {
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4 {
  color:#d3d3d3;
  font-family: 'Oswald', 'Arial', sans-serif !important;
  font-weight: 700;
}
.wrapper h1 {

}
.wrapper h1 {
  font-family: 'Oswald', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper h1 {
    font-family: 'Oswald', 'Arial', sans-serif !important
  }
}
h1 {}
.one-col h1 {
  line-height:46px
}
.two-col h1, .wider h1 {
  line-height:36px
}
.three-col h1,
.narrower h1 {
  line-height:30px
}
@media only screen and (max-width: 620px) {
  h1 {
    line-height:46px !important
  }
}
h2 {
  color:#d3d3d3
}
.wrapper h2 {}
.wrapper h2 {
  font-family:'Oswald', 'Arial',sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper h2 {
    font-family:'Oswald', 'Arial',sans-serif !important;
  }
}
h2 {}
.one-col h2 {
  line-height:30px }
.two-col h2, .wider h2 {
  line-height:26px
}
.three-col h2, .narrower h2 {
  line-height:24px
}
@media only screen and (max-width: 620px) {
  h2 {
    line-height:30px !important
  }
}
h3 {
  color:#d3d3d3
}
.wrapper h3 {}
.wrapper h3 {
  font-family: 'Oswald', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0){
  .wrapper h3 {
    font-family: 'Oswald', 'Arial',sans-serif !important
  }
}
h3 {
  margin-bottom: 12px;
}
.one-col h3 {
  line-height:26px
}
.two-col h3, .wider h3 {
  line-height:23px
}
.three-col h3, .narrower h3 {
  line-height:21px
}
@media only screen and (max-width: 620px) {
  h3 {
    line-height:26px !important
  }
}
h4 {
  font-weight: 700;
  color: #d3d3d3;
}
p,ol,ul {
  color:#fff;
}
.wrapper p, .wrapper ol,.wrapper ul {}
.wrapper p,.wrapper ol,.wrapper ul {
  font-family: 'Arial', sans-serif !important;
}
p,ol,ul {}
.one-col p,.one-col ol,.one-col ul {
  line-height:24px;
  Margin-bottom:24px
}
.two-col p,.two-col ol,.two-col ul,
.wider p,.wider ol,.wider ul {
  line-height:21px;
  Margin-bottom:21px
}
.three-col p,.three-col ol,.three-col ul,
.narrower p,.narrower ol,.narrower ul {
  line-height:18px;
  Margin-bottom:18px
}
@media only screen and (max-width: 620px) {
  p,ol,ul {
    line-height:24px !important;
    Margin-bottom:24px !important
  }
}
.wrapper a {
  color:#fff;
  text-decoration: underline;
}
.wrapper a:hover {
  color:#fff !important;
  text-decoration: underline;
}
.wrapper .button a {
  color:#fff;
  background-color: #d3d3d3;
  box-shadow:0 3px 0 #a3a3a3
}
.wrapper .button a {
  font-family: 'Oswald', 'Arial', sans-serif !important;
  text-decoration: none !important;
  color: #404040 !important;
}
.wrapper .button a:hover {
  box-shadow:inset 0 1px 2px #888888 !important;
  color:#404040 !important
}
.wrapper p a,.wrapper ol a,.wrapper ul a {
  border-bottom:1px dotted #606060
}
.wrapper blockquote {
  border-left:4px solid #ecf5f3
}
.wrapper .three-col blockquote,
.wrapper .narrower blockquote {
  border-left:2px solid #ecf5f3
}
.logo {}
.wrapper .logo {}
.wrapper .logo {
  font-family: 'Oswald', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper .logo {
    font-family:'Oswald', 'Arial',sans-serif !important
  }
}
.wrapper .logo {
  color:#606060
}
.wrapper .logo a {
  color:#606060
}
.wrapper .logo a:hover {
  color:#606060 !important
}
.preheader,.footer {
  color:#c3c3c3
}
.preheader,.footer {
  font-family: 'Oswald', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .preheader,.footer {
    font-family: 'Oswald', 'Arial',sans-serif !important
  }
}
.wrapper .preheader a,.wrapper .footer a {
  color:#c3c3c3
}
.wrapper .preheader a:hover,
.wrapper .footer a:hover {
  color: #b3b3b3 !important
}
.footer .social a {}
.wrapper .footer .social a {}
.wrapper .footer .social a {
  font-family: 'Oswald', 'Arial', sans-serif !important;
}
@media only screen and (min-width: 0) {
  .wrapper .footer .social a {
    font-family: 'Oswald', 'Arial',sans-serif !important
  }
}
.footer .social a {}
.footer .social a{
  font-weight:600
}