<div class="modal-content tip-transaction">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="text-align: center">Share Your Tips</h4>
    </div>
    <div class="modal-body">
        <h3 class="tip-debited">Your Tips From Today: <%
            var entries = journal_entries.models;
            if(!entries)entries = [];
            var shared = new Decimal(0.00);
            for(var i=0;i < entries.length;i++){
            var entry = entries[i];
            if(entry.get('d_c') === 'credit')continue;
            %>
            $<%-total%> <%} %> </h3>
        <ul class="journal-entries" style="list-style-type:none;">
            <%
            for(var i=0;i < entries.length;i++){
            var entry = entries[i];
            if(entry.get('d_c') === 'debit')continue;
            if(!entry.get('employee_id') && entry.get('notes')==='Net Tips Payable'){
              entry.set('deleted',1);
              entry.set('amount',0);
              continue;
            }
            if(entry.get('deleted')*1)continue;
            %>
            <li id="tip-tr-emp-<%-entry.get('employee_id')%>"
                data-transaction-id="<%-entry.get('transaction_id')%>"
                data-employee-id="<%-entry.get('employee_id')%>"
                class="tipped-employee"
                style="padding:5px;"><span class="input-group">
                <span class="input-group-btn"><button class="btn btn-danger remove">×</button></span>
                <label class="control-label form-control" style="margin-right:5px;"><%-entry.get('notes').replace('Tips Payable: ','') %></label>
                <span class="input-group-btn"><button type="button" class="btn btn-default " disabled>%</button></span><input style="width:75px" class="tip-percent form-control has-keypad" type="number" min="0" max="100" step="1" value="<%-Math.round((entry.get('amount')/total)*100)%>">
                <span class="input-group-btn"><button type="button" class="btn btn-default " disabled>$</button></span><input style="width:75px" class="tip-amount form-control has-keypad" type="number" min="0.00" step="0.01" value="<%-entry.get('amount')%>"></span>
                <input class="tip-comment form-control" type="text" name="comment" value="<%-entry.get('comment')%>" placeholder="Add Comment&hellip;">
            </li>
            <%
            var amt = new Decimal(entry.get('amount'));
            shared = shared.plus(amt);
            }
            if(typeof total === 'undefined')total = 0.00;
            var remaining = (total?(new Decimal(total).minus(shared).toDP(2).toNumber()):0.00);
            %>
            <li class="add-emp">
                <span class="input-group"><span class="input-group-btn"><button class="btn btn-success" disabled>+</button></span>
                    <input class="employee-search form-control" type="text" name="employee" placeholder="Share With Employee&hellip;">
                </span>
            </li>

        </ul>
    </div>
    <div class="modal-footer">
        <button class="submit-tip-transaction pull-left">Submit</button>
        <span class="tip-net-payable pull-right">Your Remaining Tips: $<%-remaining%></span>
    </div>
</div>