<div class="container container-padding">
    <div class="row">
        <div class="col-sm-6">
            <h3>Details</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Campaign Name</label>
                        <p class="small">
                            This is used in your reports and your campaign archive.
                        </p>
                        <input type="text" class="form-control" ng-model="campaign.title" ng-disabled="disableInput">
                    </div>
                    <tabset>
                        <tab heading="Email" active="tab.emailSelected">
                            <div class="form-group">
                                <label>Email Subject Line</label>
                                <p class="small">
                                    This will appear in the email's subject line.
                                </p>
                                <input type="text" class="form-control" ng-model="campaign.subject" ng-disabled="disableInput">
                            </div>
                            <div class="form-group">
                                <label>Email From</label>
                                <p class="small">
                                    This will be displayed in the "From" field of your recipient's email client.
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="From Name"
                                               ng-model="campaign.from_name"
                                               ng-disabled="disableInput">
                                    </div>
                                    <div class="mt-medium visible-sm visible-xs"></div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="From Email"
                                               ng-model="campaign.from_email"
                                               ng-disabled="disableInput">
                                        </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Text" active="tab.textSelected">

                            <div class="row text-center" ng-show="course_info.marketing_texting == 0">
                                <button class="btn btn-default" ladda="enablingTextMarketing" data-style="slide-up" data-spinner-color="black" ng-click="enableTextMarketing()">Enable Text Marketing</button>
                                <p>Enabling text marketing will email a marketing invite to all your current customers.  Campaigns will only be sent to those who subscribe via text.</p>
                            </div>
                            <div class="row" ng-show="course_info.marketing_texting == 1">
                                <textarea ng-model="campaign.content" placeholder="Text Message" class="ddtitletext" style="width: 100%"  maxlength="160" ></textarea>
                                <p>{{campaign.content.length}} Characters</p>
                            </div>

                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Recipients</h3>
            {{scope}}
            <div class="form-group">
                <label>
                    Add Users/Groups
                </label>
                <p class="small">
                    Add Recipients from pre-defined Groups.
                </p>
                <input
                        type="text"
                        ng-model="selectedGroup"
                        placeholder="Type to Filter"
                        typeahead-on-select="personSelected($item, $model, $label)"
                        typeahead="group.label for group in getEmailGroups($viewValue)"
                        typeahead-loading="loadingLocations" class="form-control"
                        ng-disabled="disableInput">
                <img class="input-loader" ng-show="loadingLocations" src="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/loading.gif" alt="">
            </div>
            <div class="form-group" ng-show="tab.textSelected">
                <label>Text Stats <i ng-click="showTextingInformation()" class="fa fa-question-circle"></i></label>
                <ul>
                    <li>Invites Pending: {{subscriptionStats.invited_not_subscribed || 0}}</li>
                    <li>Subscribed: {{subscriptionStats.subscribed || 0}} </li>
                    <li>Unsubscribed: {{subscriptionStats.unsubscribed || 0}} </li>
                </ul>
            </div>

            <div ng-if="selectedGroups.length >0" style="font-weight: 700; margin-bottom: 5px;">Selected Groups:</div>
            <div class="to-list">
                <div ng-repeat="group in selectedGroups">
                    {{group.label}}
                    <button class="to-list-remove"
                            ng-disabled="disableInput"
                            ng-click="removeRecipient(group)">
                        <i class="gi gi-times"></i>
                    </button>
                </div>
            </div>


            <div ng-if="campaign.recipient_reports" style="font-weight: 700; margin-bottom: 5px;">Selected Reports</div>
            <div class="to-list">
                <div ng-repeat="report in campaign.recipient_reports track by $index">
                    {{report.report_title}}
                </div>
            </div>
            <br/>
            <button class="btn btn-default" ng-click="viewRecipients()">View Recipients</button>


        </div>
    </div>

</div>
