<img src="<%-photo %>" />
<div class="name_group">
  <h3><%-first_name %>&nbsp;<%-last_name %></h3>
  <span class="group-list">
      <% print(_.pluck(customerGroups,"label").join(",")); %>
  </span>
</div>



<i class="fa fa-angle-right" aria-hidden="true"></i>
