<div class="group-list-row row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="group-label" class="col-md-12 control-label">Group Name</label>
            <div class="col-md-12">
                <input class="form-control group-label" type="text" value="<%-label%>" name="group-label" />
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="group-item-discount" class="col-md-12 control-label">Item Discount</label>
            <div class="col-md-12">
                <div class="input-group">
                    <input class="form-control item-discount" type="text" value="<%-itemDiscount ? itemDiscount : '0.00'%>" name="item-discount" />
                    <div class="input-group-addon">%</div>
                </div>
              </div>
          </div>
      </div>

      <div class="col-md-1 pull-right">
          <div class="btn btn-destroy pull-right marg-top-25">
            <i class="fa fa-trash-o fa-1x group-delete"></i>
          </div>
      </div>
</div>
