<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Groups
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-well">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="new-group-label" class="col-md-12 control-label">Group Name</label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="" name="new-group-label" id="new-group-label" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="new-item-discount" class="col-md-12 control-label">Item Discount</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control" type="text" value="" name="new-item-discount" id="new-item-discount" />
                    <div class="input-group-addon">%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary pull-right marg-top-25" id="add-group">Add Group</button>
            </div>
          </div>
          <div class="col-md-12 group-list">
          </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>
</div>
