<div id="no-inventory-audit-selected-screen">
    <div id="inventory-tag-image">

    </div>
    <div id="no-inventory-audit-text">
        <div>No Inventory Audit Selected</div>
        <div>(select new or past audit above)</div>
    </div>
</div>