<table id="inventory-list" style="width:100%">
    <thead>
    <tr>
        <th>UPC/ITEM#</th>
        <th>ITEM NAME</th>
        <th>UPDATE COUNT</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>