<div class="modal-content receipt-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Manage Receipt Agreements
        </h4>
    </div>
    <div class="modal-body container-fluid" style="min-height: 500px;">
        <div class="row">
            <div class="col-md-12">
                Receipt Agreements
                <button class="btn btn-primary new settings-corner-button">Add</button>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-12" id="receipt-content-list"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    </div>
</div>