<div class="modal-content receipt-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Receipt Agreement
        </h4>
    </div>
    <div class="modal-body container-fluid" style="padding: 20px;">
        <div class="row">
            <div class="col-md-12">
                <label for="receipt-content-name">Name</label>
                <input type="text" name="name" class="form-control" id="receipt-content-name" value="<%-name%>">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="separate_receipt" value="1" data-unchecked-value="0" <% if(separate_receipt){ %>checked<% } %>>
                        Use separate receipt
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="signature_line" value="1" data-unchecked-value="0" <% if(signature_line){ %>checked<% } %>>
                        Add signature line
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Receipt Content</label>
                <textarea class="form-control" style="height: 250px" name="content"><%-content%></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-danger delete" style="margin-top: 15px">Delete</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary pull-right save" type="button">Save</button>
    </div>
</div>