<%_.each(steps, function(step, index){ %>
<div class="wizard-step" data-step="<%-index%>">
    <div class="wizard-step-circle <% if(currentStep == index){ %>active<% }else if(currentStep > index){ %>complete<% } %>">
        <%-(index)%>
    </div>
    <div class="wizard-step-name">
        <%-step%>
    </div>
</div>
<% }) %>