<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-circle-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Page Settings
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="col-md-6" style="padding: 15px;">
            <div class="row">
                <div class="col-md-12" id="page-size"></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="general-settings"></div>
            </div>
        </div>
        <div class="col-md-6" style="border-left: 1px solid #cccccc">
            <p class="table-set-help">
                <small>
                    Use the toggles below to customize the displayable data in your <em><%-module%></em> portal.
                    We recommend only displaying data you would want to see "at a glance", we recommend 10 or fewer.
                </small>
            </p>
            <div id="columns" class="table-set"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>