div.data-import-upload {
  border: 3px dashed #E8E8E8;
  border-radius: 5px;
  padding: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  display: block;
  text-align: center;
  background-color: #FAFAFA;
}

div.data-import-upload.drag {
  background-color: #d4f9e5;
}

.data-import-step {
  text-align: center;
}

.data-import-step-number {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 32px;
  background: #999999;
  display: block;
  margin: 0 auto;
  color: white;
}

.data-import-step-number span.fa {
  line-height: 60px;
}

.data-import-step.active > .data-import-step-number {
  background: #83c8ef;
}

.data-import-step.complete {
  opacity: 0.5;
}

.data-import-step.complete > .data-import-step-number {
  background: #6e8c6f;
}

.data-import-step.complete span.fa {
  display: block !important;
}

.data-import-step.complete span.number {
  display: none !important;
}

.data-import-step-desc {
  display: block;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  color: #999;
}

.import-metric {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

.import-metric > h1 {
  margin-top: 0px;
}

.import-metric > h5 {
  margin-bottom: 0px;
}