<form class="row" style="padding-top:5px;padding-bottom: 5px; background: #f5f5f5;" >
  <div class="col-md-6">
    <span style="font-size: 16px; font-weight: 200;"> &mdash; Filters Cleared &mdash;</span>
  </div>
  <div class="col-md-1 pull-right">
    <button id="add" class="btn-search pull-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</form>
