<table width="100%" cellpadding="0"
       style="background: #ffe2b8;
width: 100%;
padding: 0 20px;
font-family: 'Roboto', helvetica, arial, sans-serif;
">
    <tr>
        <td style="padding: 10px 0;">

            <table cellpadding="" style="
            max-width: 580px;
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;
            ">
                <tr>
                    <td width="50%" style="width: 50%; text-align: left;">
                        <img style="max-height: 80px; max-width: 120px;" src="http://s16.postimg.org/cs24n9z5h/golf_logo.png" alt="">
                    </td>
                    <td width="50%" style="width: 50%; text-align: right; color: #404040;">
                        <div style="font-size: 12px;">
                            <?= $website ?>
                        </div>
                        <div style="font-size: 12px;">
                            <?= $phone_number; ?>
                        </div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" style="border-collapse: collapse; max-width: 580px; margin: 0 auto; width: 100%;">
                <tr>
                    <td style="padding-top: 10px;">
                        <img style="width: 100%;" src="http://oi57.tinypic.com/2vt4ffq.jpg" alt="">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="max-width: 580px; width: 100%; margin: -3px auto 0 auto; background-color: #fff; border: solid 3px #dd9227;">
                <tr>
                    <td style="color: #dd9227; font-weight: 700; font-size: 24px; padding: 20px 20px 0 20px;">
                        This is the Title
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: 400; font-size: 16px; text-align: left; padding: 10px 20px 20px 20px;">
                        Bacon ipsum dolor amet venison salami kevin tongue, hamburger filet mignon beef porchetta jowl pancetta tri-tip. Tri-tip leberkas landjaeger meatloaf pork loin kielbasa rump capicola chuck ribeye bresaola shankle prosciutto turducken hamburger. T-bone sirloin bresaola jerky leberkas tri-tip landjaeger ground round tail tongue venison pancetta shankle. Bresaola ham t-bone, strip steak drumstick pig frankfurter tenderloin swine. Ball tip bacon kielbasa, tongue jerky short loin tri-tip leberkas beef cow biltong flank turkey beef ribs pastrami. Pork jerky meatball, sirloin jowl pig pork loin chicken pork belly short loin prosciutto hamburger. Tail brisket ball tip bacon frankfurter.

                        <div style="text-align: right; padding-top: 20px; font-size: 14px; font-style: italic;">
                            - your friends at <?= $name ?>
                        </div>
                    </td>

                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;">
            <table style="table-layout: fixed;
            max-width: 580px;
            width: 100%;
            margin: 0 auto;
            padding: 20px 0;">
                <tr>
                    <td width="50%">
                        <div style="font-weight: 700; font-size: 14px;">
                            <?= $name ?>
                        </div>
                        <div style="font-size: 12px;">
                            Address<br>
                            <?= $address ?>
                        </div>
                    </td>
                    <td width="50%">
                        <div style="font-size: 12px;">
                            <span style="font-weight: 700;">Email:</span> <a href="mailto:<?= $support_email ?>" target="_blank" style="text-decoration: underline;"><?= $support_email ?></a><br>
                            <span style="font-weight: 700;">Phone:</span> <a href="tel:<?= $phone_number; ?>" target="_blank" style="text-decoration: underline;"><?= $phone_number; ?></a><br>
                            <span style="font-weight: 700;">Website:</span> <a href="<?= $website ?>" target="_blank" style="text-decoration: underline;"><?= $website ?></a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px 0;">
            <a style="font-size: 12px; text-decoration: underline;" href="#">Click here to Unsubscribe</a>
        </td>
    </tr>
</table>

<img src="" alt="">