.fb-button {
	height: 60px;
	line-height: 16px;
	vertical-align: middle;
	white-space: normal;
}

#fb-controls, #fb-items > div.row, div.row.item-buttons {
	margin-right: -20px;
	margin-left: -10px;
}

#fb-controls div.col-md-2, #fb-items div.col-md-2, div.item-button {
	padding: 0px 5px 10px 0px;
}

#fb-categories button {
	margin-bottom: 10px;
}
@media (min-width: 992px) {
	#fb-cart {
		max-width: 32em;
	}
}

#fb-cart .cart-buttons > div {
	padding: 0px 5px 10px 0px;
}

#fb-cart .cart-buttons > div:first-child {
	padding-left: 0px;
}

#fb-cart .cart-buttons > div:last-child {
	padding-right: 0px;
}

#fb-cart-items table {
	margin-bottom: 0px;
}

#fb-cart-items div.table-container {
	display: block;
	width: 100%;
	overflow-y: scroll;	
}

#fb-cart button.select-all {
	padding: 2px 5px;
}

.fb-cart-items tr.separator td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.fb-cart-items {
	margin-bottom: 0px;
	border-bottom: 2px solid #DDD;
}	

.cart-items th {
	background-color: #F0F0F0;
	font-size: 12px;
}

#table_layout_window {
	margin-top: 40px;
}

#authorize_window {
	margin-top: 75px;
}

.fb-cart-items > tr.selected td {
	background-color: #BED8FF !important;
}

.fb-cart-items > tr.ordered td,
.fb-cart-items > tr.paid td {
	background-color: #E5E5E5 !important;
}

.fb-cart-items > tr button.message {
	display: none;
}

.fb-cart-items > tr button.edit {
	display: block;
}

.fb-cart-items > tr.ordered button.message {
	display: block;
}

.fb-cart-items > tr.ordered button.edit,
.fb-cart-items > tr.paid button.edit {
	display: none;
}

button.meal-course {
	padding: 10px 20px;
}

.cart-items .seat {
	width: 6%;
	text-align: center;
	padding-right: 2px;
	padding-left: 2px;
}

.cart-items td.seat {
	background-color: #F6F6F6;
	border-right: 1px solid #E0E0E0;
}

.cart-items .item {
	width: 52%;
	text-align: left;
}

tr.ordered div.quantity-buttons {
	display: none;
}

td.item .quantity-buttons button {
	width: 50px;
	text-align: center;
}

.fb-cart-items .price {
	width: 15%;
	text-align: left;	
}

.fb-cart-items .discount {
	width: 15%;
	text-align: left;	
}

.fb-cart-items .buttons {
	width: 15%;
	text-align: right;	
	padding-right: 15px;
}

label.item-edit-field {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}

div.edit-item button.btn-lg, 
.btn-group-lg > button.btn {
	font-size: 14px;
}

div.edit-item div.modal-header {
	overflow: hidden;
}

div.edit-item div.modal-header select.meal-course {
	margin-left: 15px;
	width: 200px;
}

div.edit-item div.modal-header h4 {
	float: left;
	line-height: 35px;
}

div.edit-item div.options > div.btn-group {
	float: right;
}

div.edit-item button.btn-lg {
	padding: 10px 16px !important;
}

.fb-button, #items button {
	 font-size: 1.2em;
	 line-height: 1.0;
	 text-shadow: 1px 1px 1px black;
}

@media (max-width: 992px) {
	div.edit-item div.options > div.btn-group {
		float: left;
	}

	span.table-wait {
		display: none;
	}
}

@media (min-width: 992px) {

	#page-food-beverage .fb-button, #items button {
		/*height: 9vh;
		font-size: 2.5vh;
		line-height: 2.6vh;
		min-height: 32px;
		max-height: 64px;
		*/
	}

	#page_food_beverage #items {
		height:90vh;
		layout: flex;
	}

	div.edit-item div.quantity,
	div.edit-item div.seat {
		padding-left: 0px;
		padding-right: 0px;
	}
}

div.modifiers-pane {
	max-height: 260px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.row.modifier {
	margin-bottom: 5px;
}

ul.edit-item-tabs {
	padding: 0px;
	margin: 0px;
	display: block;
	background: #F0F0F0;
	border: none;
	border-bottom: 1px solid #E0E0E0;
}

ul.edit-item-tabs li.tab, ul.edit-item-tabs li.tab:hover {
	border: none;
}

ul.edit-item-tabs li.tab.active a, ul.edit-item-tabs li.tab.active a:hover {
	border: none;
	border-right: 1px solid #E0E0E0;
}

ul.edit-item-tabs li.tab a {
	height: 50px;
	border-radius: 0px;
	border: none;
	border-right: 1px solid #E0E0E0;
	margin: 0px;
	text-align: center;
	font-weight: bold;
}

ul.edit-item-tabs li.tab:last-child a {
	border-right: none;
}

td.item > h4 {
	font-size: 1.1em;
	margin: 6px 0px 6px 0px;
	padding: 0px;
	font-weight: bold;
	color: #444;
}

ul.modifiers {
	padding: 0px 0px 0px 20px;
}

ul.modifiers li {
	display: flex;
	flex-direction: row;
}

ul.modifiers li .name {
	flex: 2;
}

ul.modifiers li .value {
	flex: 1;
	text-align:right;
}

div.row.side button {
	margin-bottom: 5px;
}

div.panel-body.cart-items {
	padding: 0px;
}

#fb-cart-totals h4 {
	margin-top: 5px;
}

div.receipt-window-container {
	position: relative;
	overflow-x: hidden;
}

div.row.receipts {
	position: relative;
	padding-top: 5px;
}

.fb-payments-window #payment-types button {
	height: 55px;
}

@media (min-width: 1150px){
	div.row.receipts {
		height: 100%;
		width: 99999px;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	
	div.row.receipts > div.receipt-container {
		width: 366px;
	}	
}


@media (min-width: 768px) {

	#page-food-beverage > #items {
		flex: 1;
	}

	#page-food-beverage {
		display:flex;
	}

	.close-register-log {
		height: 85vh;
	}

	.close-register-log {
		padding: 5px;
	}

	.close-register-log, .close-register-log div, .close-register-log form {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.close-register-log div.row, .close-register-log div.form-group {
		flex-direction: row;
	}

	.close-register-log .modal-header, .close-register-log .modal-footer{
		display: block;
		flex: none;
	}

	.close-register-log .row.totals {
		flex: none;
	}
}


@media (max-height: 650px) {

	.close-register-log .form-group {
		margin-bottom: 7px;
	}

	.close-register-log hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.close-register-log button.close-register {
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
	}

	.close-register-log .modal-footer {
		top: 5px;
	}

	.close-register-log input.form-control {
	    font-size: 14px;
		line-height: 1.42857143;
		height: 34px;
		padding: 6px 12px;
	}
}

@media (min-width: 992px) and (max-width: 1150px) {
	div.row.receipts {
		height: 100%;
		width: 99999px;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	div.row.receipts > div.receipt-container {
		width: 366px;
	}
}

div.row.receipt-nav {
	margin-bottom: 10px;
}

div.row.receipt-nav .btn {
	height: 55px;
}

div.admin-buttons div.row > div, 
div.standard-buttons div.row > div {
	padding-left: 2px;
	padding-right: 2px;
}

@media (max-width: 992px) {
	div.admin-buttons > div.row, 
	div.standard-buttons > div.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

div.receipt-nav {
	margin-top: 10px;
}

div.receipt {
	background-color: white;
	height: 510px;
	padding-top: 10px;
	margin: 0px;
	box-shadow: 0px 0px 2px #999;
}

div.receipt .title-header {
	padding-bottom: 15px;
	margin-bottom: 15px;
	height:50px;
	border-bottom: 1px solid #E0E0E0;
}

div.receipt .title-header .delete-receipt {
	margin-right: 8px;
}

div.receipt .is-paid {
	float: left;
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 2em;
	font-weight: bold;
	color: #999;
	display: none;
}

div.receipt.paid .is-paid {
	display: block;
	float: right;
} 

div.receipt.paid button.tax {
	visibility: hidden;
}

div.receipt span.customer {
	height: 35px;
	line-height: 35px;
	display: block;
	float: right;
}

div.receipt.paid button.item {
	background: #BBB !important;
	border-color: #999 !important;
	opacity: 65 !important;
	box-shadow: none !important;
	outline: none !important;
}

div.receipt-actions button {
	height: 55px;
}

div.receipt-actions {
	margin-top: 10px;
	margin-bottom: 15px;
}

div.receipt-actions button.disabled {
	background: #BBB;
	border-color: #999;
	opacity: 65;
}

div.receipt-items {
	height: 280px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 5px;
}

div.receipt-items button {
	height: 40px;
	padding: 0px;
}

div.receipt-items button.comped {
	background: #bcbcbc;
	background: -moz-linear-gradient(top, #bcbcbc 0%, #8c8c8c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(100%,#8c8c8c));
	background: -webkit-linear-gradient(top, #bcbcbc 0%,#8c8c8c 100%);
	background: -o-linear-gradient(top, #bcbcbc 0%,#8c8c8c 100%);
	background: -ms-linear-gradient(top, #bcbcbc 0%,#8c8c8c 100%);
	background: linear-gradient(to bottom, #bcbcbc 0%,#8c8c8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#8c8c8c',GradientType=0 );	
	-webkit-box-shadow:   0 2px 0 #555, 0 2px 5px rgba(0, 0, 0, .35);
	-moz-box-shadow: 		0 2px 0 #555, 0 2px 5px rgba(0, 0, 0, .35);
	box-shadow: 			0 2px 0 #555, 0 2px 5px rgba(0, 0, 0, .35); 	
	border: 1px solid #707070;
}

div.receipt-items button span {
	display: block;
	float: left;
	height: 40px;
	padding: 0px;
	line-height: 40px;
	margin: 0px;
}

div.receipt div.footer {
	margin-top: 10px;
	font-size: 16px;
}

div.receipt div.footer h4 {
	line-height: 35px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	float: right;
	display: block;
}
div.receipt div.footer h4.payments {
	color: #0d6e04;
}

div.receipt div.footer h4.due {
	color: #8c3636;
}

#sub-category-items {
	max-height: 485px;
	overflow-y: scroll;
}

button.item.selected, button.item.comped.selected {
	background: #90c3ed;
	color: #1D4C72;
	text-shadow: none;
}

button.item > span.seat {
	width: 50px;
	background-color: #E0E0E0;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
	color: #222;
	text-shadow: none;
	padding: 4px 5px 0px 5px;
	word-wrap: break-word;
	line-height: 16px;
	font-size: 0.8em;
	font-weight: bold;
}

button.item > span.item-name {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

div.editing button.item, 
div.editing button.category,
div.editing button.sub-category {
	border: 3px dashed orange;
}

button.item > span.price {
	float: right;
	text-align: right;
	padding-right: 5px;
}

h1.receipt-number {
	font-size: 2em;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 35px;
	float: left;
	display: block;
	font-weight: bold;
	color: #666;
}

div.receipt-nav div.admin-buttons {
	display: none;
}

div.receipt-nav div.standard-buttons {
	display: block;
}

div.receipt-nav.admin div.admin-buttons {
	display: block;
}

div.receipt-nav.admin div.standard-buttons {
	display: none;
}

/* Table layout window */
ul.layout-tabs {
	padding: 0px;
	margin: 0px;
	display: block;
	background: #F0F0F0;
	border: none;
	border-bottom: 1px solid #E0E0E0;
}

ul.layout-tabs li.tab, ul.layout-tabs li.tab:hover {
	border: none;
}

ul.layout-tabs li.tab.active a, ul.layout-tabs li.tab.active a:hover {
	border: none;
	border-right: 1px solid #E0E0E0;
}

ul.layout-tabs li.tab a {
	height: 50px;
	border-radius: 0px;
	border: none;
	border-right: 1px solid #E0E0E0;
	margin: 0px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
}

ul.layout-tabs li.tab:last-child a {
	border-right: none;
}

ul.layout-tabs button.new {
	margin-top: 5px;
	margin-left: 15px;
}

div.object-palette {
	position: absolute;
	right: -100px;
	top: 42px;
	bottom: 0px;
	border-left: 1px solid #E0E0E0;
	width: 100px;
	background: white;
	display: none;
}

div.modal-body.editing div.object-palette {
	display: block;
}

div.object-palette > .drag {
	display: block;
	margin: 15px auto;
}

div.layout {
	/*height: 445px;*/
	position: relative;
}

.editing ul.nav-tabs button.edit {
	display: block;
}

div.layout button.delete-layout, div.layout button.edit-layout {
	position: absolute;
	left: 10px;
	bottom: 15px;
	display: none;
	padding: 0px 5px;
	line-height: 25px;
	height: 25px;
}

div.layout button.edit-layout {
	left: 125px;
}

.editing div.layout button.delete-layout,
.editing div.layout button.edit-layout {
	display: block;
}

div.layout > div.drag {
	position: absolute !important;
}

div.object {
	width: 80px;
	height: 80px;
}

div.fb-change-employee button.employee {
	height: 45px;
}

div.fb-change-employee div.row {
	margin: 0px;
}

div.fb-change-employee div.row > div {
	padding: 5px;
}

div.modal-body.editing div.object > button.delete-table {
	display: block;
}

div.object button.delete-table {
	width: 25px;
	height: 25px;
	padding: 0px;
	line-height: 25px;
	text-align: center;
	margin: 0px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	font-size: 16px;
	z-index: 1;
}

div.object > .ui-resizable-se {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	cursor: se-resize;
	width: 15px;
	height: 15px;
}

div.object > .ui-resizable-e {
	width: 15px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: block;
	position: absolute;
	cursor: e-resize;
}

div.object > .ui-resizable-s {
	height: 15px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	position: absolute;
	cursor: s-resize;
}

div.object > span.label,
div.object > span.employee,
div.object > span.name,
div.object > input {
	display: block;
	text-align: center;
	top: 48%;
	width: 100%;
	float: none;
	position: absolute;
	margin-top: -7px;
	color: #222;
}

div.object > input {
	margin: -12px auto 0px auto !important;
	padding: 2px !important;
	float: none;
	display: block;
	left: 15%;
	right: 15%;
}

#table_layout_window, #table_layout_window .modal-content, #table_layout_window .layouts, #table_layout_window .tab-content, #table_layout_window .tab-pane.active, #table_layout_window div.layout.active {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#table_layout_window .zoom-buttons {
	position:absolute;
	display:flex;
	flex-direction: column;
	left:10px;
	top:65px;
}

#table_layout_window .zoom-buttons .btn {
	margin:15px;
	flex: 1;
}

div.object > span.label {
	font-weight: bold;
	font-size: 14px;
}

div.object > span.employee {
	margin-top: 10px;
}

div.object > span.name {
	margin-top: -25px;
}

div.object > input {
	width: 60% !important;
	color: black;
	margin: 0 auto;
	margin-top: -12px;
}

div.object:hover > a.delete-object {
	display: block;
}

div.palette div.object:hover > a.delete-object {
	display: none !important;
}

div.object > a.delete-object {
	display: none;
	position: absolute;
	font-size: 20px;
	background-color: white;
	border: 1px solid #CCC;
	padding: 0px 5px 0px 5px;
	line-height: 20px;
	color: red;
	top: -4px;
	left: -4px;
}

/* Table SVG Styles */
div.object:hover {
	cursor: pointer;
}

div.object .shape {
	fill: #FFFFFF;
}

div.object.my-active .shape {
	fill: #3483C9 !important;
}

div.object.my-active div.box {
	background-color: #3483C9 !important;
}

div.object.my-active span {
	color: white;
}

div.object.other-active span.label {
	color: #444
}

div.object.other-active .table,
div.object.other-active .seat {
	fill: #EFEFEF !important;
}

div.object.other-active div.box {
	background-color: #EFEFEF !important;
}

div.object > div.box {
	display: block;
	float: none;
	position: absolute;
	padding: 0px;
	margin: 0px;
	background-color: white;
	border: 2px solid black;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
}

div.object.drag {
	width: 75px;
	height: 75px;
	position: relative;
}

li.tab.active.incomplete a, li.tab.active.incomplete a:hover {
	color: #C12E2A;
	background: white;
}

li.tab.incomplete a, li.tab.incomplete a:hover {
	color: white;
	background: #C12E2A;
}

/* Recent transactions */
div#recent_transactions div.modal-body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y:hidden;
}
div#recent_transactions .modal-body .fb-recent-transactions {
	overflow-y: scroll;
	flex:1;
}

ul.fb-recent-transactions {
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: hidden;
}

li.fb-recent-transaction {
	display: block;
	margin: 0px;
	border-bottom: 1px solid #E0E0E0;
	overflow: hidden;
	padding: 10px;
}

li.fb-recent-transaction h3 {
	margin: 0px;
}

li.fb-recent-transaction button {
	height: 55px;
	width: 85px;
}

div.fb-add-tip button.btn-primary {
	height: 55px;
}

div.receipt-customer-search div.row.customer-list {
	height: 500px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 15px;
}

div.receipt-customer-search div.modal-body {
	padding: 15px 0px 0px 0px;
}

div.row.customer {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.row.customer:last-child {
	border: none;
}

div.row.customer img.photo {
	width: 75px;
	height: 75px;
	display: block;
	margin: 0px;
}

div.row.customer:hover {
	cursor: pointer;
}

div.row.customer .name {
	margin: 0px;
}

input.search.loading {
	background: url('../../images/spinner_small.gif');
	background-position: 96% 15px;
	background-repeat: no-repeat;
}

tr.incomplete td, tr.incomplete td.seat {
	background: #ce2525;
	color: white;
}

tr.incomplete td.item h4 {
	color: white;
}

div.keypad-popup {
	width: 275px;
	height: 235px;
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 2000;
	background-color: white;
	padding: 15px 0px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
}

table.restaurant-reservations tbody td {
	line-height: 35px !important;
	min-height: 20px;
}

table.restaurant-reservations .checkin {
	width: 50px;
}

table.restaurant-reservations button.check-in {
	width: 36px;
	text-align: center;
}

table.restaurant-reservations .name {
	width: 200px;
}

table.restaurant-reservations .time {
	width: 80px;
}

table.restaurant-reservations .guests {
	width: 35px;
	text-align: center;
}

table.restaurant-reservations .comments {
	vertical-align: top;
	text-align: left;
}

table.restaurant-reservations td.comments {
	line-height: 16px !important;
	padding-top: 15px;
}

table.restaurant-reservations td.details {
	width: 125px;
	line-height: 14px !important;
}

table.restaurant-reservations .edit {
	width: 120px;
}

table.restaurant-reservations .edit button {
	margin-left: 5px;
}

div.row.fire-meal-course {
	padding-bottom: 10px;
}

button.fire-course {
	padding: 10px 16px;
}

div.fired-details {
	line-height: 45px;
	position: relative;
}

div.fired-details span.label.fired {
	font-size: 18px;
	font-weight: normal;
	float: left;
	margin-top: 8px;
}

div.fired-details span.details {
	display: inline-block;
	line-height: 18px;
	height: 45px;
	margin-left: 10px;
	float: left;
	padding-top: 2px;
}

button.start-tab {
	margin-right:5px;
	background-color:#5cb85c;
	border-color:#4cae4c;
}

@media (max-width: 992px) {
	div.fired-details span.details {
		line-height: 35px;
	}
}


@media (min-width: 1150px) {

	#modal-split_payments .modal-dialog.modal {
		height: 90vh;
		margin-left:10vw;
		margin-right:10vw;
		margin-top:5vh;
		margin-bottom:5vh;
		width: 80vw;
		display:flex;
		flex-direction:column;
	}
}

@media (min-width: 768px) {

	#modal-split_payments .modal-dialog.modal-xlg {
		width: 80vw;
		display: flex;
		flex-direction: column;
	}

	#modal-split_payments .modal-content {
		display: flex;
		flex-direction: column;
		height: 90vh;
	}

	#modal-split_payments .modal-header {
		min-height: 45px;
	}

	#modal-split_payments div.receipt-window-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	#modal-split_payments div.receipt-container {
		height: 90%;
		flex:1;
	}

	#modal-split_payments div.receipt {
		display: flex;
		flex-direction: column;
		height: 90%;
	}

	#modal-split_payments div.receipt-items {
		flex:1;
		min-height: 75px;
	}

	#modal-split_payments .modal-dialog.modal {
		height: 90vh;
		margin-left: 10vw;
		margin-right: 10vw;
		margin-top: 5vh;
		margin-bottom: 5vh;
		width: 80vw;
		display: flex;
		flex-direction: column;
	}
}

@media (min-width:992px) {
	/* layout stuff - Ensure bottom part of panel visible regardless of number of items */
	#fb-cart-totals {
		padding:3px;
	}

	#register_container .row {
		font-size: 0.9em;
	}

	#register_container .row h4 {
		font-size: 1em;
	}

	#modal-split_payments .modal-body {
		overflow-y: scroll;
		overflow-x: hidden;
		height:100%;
	}

	.customer-viewer {
		display: none;
	}

	.customer-viewer.expanded {
		display: block;
	}
	#fb-cart .panel-default{
		height: 80vh;
		margin-bottom:0px;
	}

	#fb-cart .panel-default,#fb-cart .panel-default .cart-items,#fb-cart .panel-default .cart-items > div,#fb-cart .panel-default .cart-items .table-container {
		display: flex;
		flex-direction: column;
		flex:1;
	}

	#fb-cart .panel-default .cart-items {
		flex:1;
	}

	#fb-customers {
		max-height: 40vh;
		overflow-y: scroll;
	}

	/* end layout stuff */


	table>tbody.fb-cart-items>tr>td {
		padding: 4px;
	}

	.fb-cart-items td.item {
		padding:3px;
	}

	.fb-cart-items td.item > h4 {
		font-size: 1em;
		transition-property: all;
		transition-duration: .25s;
	}

	.fb-cart-items tr.selected td.item > h4, .fb-cart-items tr:hover td.item > h4 {
		font-size: 1.1em;
	}

	.fb-cart-items tr button.edit {
		padding: 3px 7px;
		opacity: 0.8;
		transition-property: all;
		transition-duration: .25s;
	}

	.fb-cart-items td.buttons {
		width: 80px;
	}

	.fb-cart-items tr.selected button.edit, .fb-cart-items tr:hover button.edit {
		padding: 8px 15px;
		opacity: 1;
	}

	.fb-cart-items tr button.expanded {
		background-color:#dadada
	}
}

.fb-cart-items tr .modifiers.main {
	/*display: none;*/
	height: 30px;
	width: 100px;
	margin-bottom: 0px;
	overflow: hidden;
	transition-property: all;
	transition-duration: 0.25s;
	display: block;
	/*list-style-image: url("/images/food_bev/plus.png");*/
}

.fb-cart-items tr .modifiers {
	display:none;
}

.fb-cart-items tr .modifiers.expanded {
	height: auto;
	width: auto;
	transition-property: all;
	transition-duration: 0.25s;
	display: block;
	list-style-image: none;
}



#table_layout_window .modal-content.table-layout, #merge-table .modal-content.table-layout {
	min-height: 400px;
	height: 90vh;
	width: 90vw;
}

#table_layout_window, #merge-table {
	margin-left:5vw;
	margin-right:5vw;
}

#recent_transactions .modal-body, #restaurant-reservations .modal-body, #merge-table .modal-body {
	height: 75vh;
	overflow-y: scroll;
	min-height:250px !important;
}

#merge-table .modal-body, #table_layout_window .modal-body {
	display: flex;
	flex-direction: column;
	overflow:visible;
}

#table_layout_window .modal-body {
	height:75vh;
}

#merge-table .layouts, #merge-table .tab-content, #merge-table .layout.active {
	display: flex;
	flex: 1;
}