span.pass-rule-field, 
span.pass-rule-value,
span.pass-rule-filter,
span.pass-rule-operator {
	padding: 3px 6px;
	display: inline-block;
}

span.pass-rule-field {
	font-weight: bold;
}

span.pass-rule-condition {
	font-size: 1.3em;
}

span.sort-rule {
	margin-right: 5px;
	color: #666;
	cursor: move;
}

.pass-rule-placeholder {
	display: block;
	margin-bottom: 20px;
	margin-top: 0px;
	padding: 25px;
	font-weight: normal;
	border: 2px dashed #F0F0F0;
	background-color: #F9F9F9;
	text-align: center;
	height: 90px;
}

.rule-condition-parameter:last-child .btn.rule-condition {
	margin-bottom: 0px;
}

div.rule-condition {
	overflow: hidden;
}

button.pass-rule-delete, button.pass-rule-edit {
	margin-top: -5px;
	margin-left: 10px;
}

.pass-rule-condition {
	padding-top: 5px;
	padding-bottom: 5px;
}

.pass-rule-condition-scalar-value, 
.pass-rule-condition-field,
.pass-rule-condition-operator {
	display: inline-block;
	width: auto;
}

.new-rule-condition {

}

.pass-rule-condition-placeholder {
	border: 2px dashed #E0E0E0;
	background: #F0F0F0;
	padding: 5px 12px;
}

td.condition-table-parameter {
	border-collapse: collapse;
	border-right: 1px solid #E0E0E0 !important;
}

.pass-rule-condition table.table {
	border: 1px solid #E0E0E0;
	margin-bottom: 10px;
	table-layout: fixed;
	width: 100%;
}

.pass-rule-condition td .arrow-notch {
	position: absolute;
	top: 50%;
	height: 10px;
	width: 10px;
	margin-top: -5px;
	display: block;
	border-top: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	right: -6px;
	background-color: #FCFCFC;
	z-index: 1;
}

.pass-rule-condition .condition-table-field {
	width: 175px;
}

.pass-rule-condition .condition-table-operator {
	width: 80px;
}

.pass-rule-condition .condition-table-value.scalar {
	width: 100px;
}

.pass-rule-condition .condition-table-operator {
	width: 80px;
}

.pass-rule-condition .condition-table-actions {
	width: 50px;
	text-align: center;
	padding: 0px !important;
}

.condition-table-filter .dropdown {
	margin-left: 5px;
}

h3.empty-conditions {
	display: block;
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 15px;
	font-weight: normal;
	border: 2px dashed #F0F0F0;
	background-color: #F9F9F9;
	text-align: center;
}

td.condition-table-operator > select {
	padding: 0px 0px 0px 10px;
}

.table td.condition-table-parameter {
	padding-left: 15px;
	vertical-align: middle;
	text-align: left;
	background-color: #FCFCFC;
}

.table td.condition-table-parameter:first-child {
	padding-left: 5px;
}

.condition-delete {
	display: block;
	margin: 0 auto;
}

.rule-condition-parameter .btn {
	margin-bottom: 5px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.condition-parameter-delete {
	margin-left: 5px;
	float: right;
	padding: 0px;
	font-size: 1.2em;
	line-height: 1.2em;
	display: block;
}

.pass-rule-condition td {
	position: relative;
}

.table > thead > tr > th.condition-header {
	font-size: 0.9em;
	border-bottom: 1px solid #DDD;
	padding: 5px 10px;
	border-right: 1px solid #E0E0E0;
	font-weight: bold;
}

.add-condition-parameter {
	display: inline-block;
}

.popover {
	max-width: 800px;
}

.rule-condition-parameter div.popover {
	width: 400px;
}

#time-of-day-slider {
	margin: 0px 20px 40px 10px;
}

.timeframe-time-of-day, .timeframe-date {
	margin-left: 15px;
	display: block;
	float: left;
}

.label.time-start, .label.time-end {
	font-size: 90%;
	font-weight: normal;
}

.timeframe-day-of-week {
	margin-right: 2px;
	width: 24px;
	text-align: center;
	display: block;
	float: left;
	border-radius: 3px;
}

.timeframe-day-of-week.active {
	background-color: #3276B1;
	color: white;
}

div.popover-content {
	position: relative;
}

label.timeframe-day {
	float: left;
	width: 45px;
	display: block;
	border: 1px solid #E0E0E0;
	margin-right: 5px;
	text-align: center;
	border-radius: 3px;
}

label.timeframe-day.active {
	background-color: #3276B1;
	color: white;
}

.edit-pass-item label.radio {
	font-weight: normal;
	padding-left: 0px;
}

ul.pass-rule-condition-summary {
	padding-left: 20px;
	overflow: hidden;
	display: block;
	margin-bottom: 0px;
}

ul.pass-rule-condition-summary li {
	display: block;
	overflow: hidden;
}
#inventory-list th, #inventory-list td, #audit-inventory-list th, #audit-inventory-list td {
    padding:0px 0px 0px 5px;
    height:44px;

}
#inventory-list tr.not-hidden:nth-child(2n+0) {
    background-color:#f5f5f5;
}
#inventory-list .audit-item-buttons .btn-group{
    margin-bottom:5px;
    margin-top:5px;
}

#inventory-list .audit-item-buttons .quantity {
    width:36px;
    float:left;
    height:34px;
}
#inventory-list .audit-item-buttons button {
    width:36px;
    height:34px;
    background-color:#f5f5f5;
    color:#333;
    border-color:#ccc;
}

#inventory_audit_window .centered{
    text-align:center;
}

#inventory_audit_window #category-or-department, #inventory_audit_window #inventory-audit-dropdown {
    width:200px;
    margin:auto;
}

#no-inventory-audit-selected-screen #inventory-tag-image {
    background: url(/images/icons/inventory-tag.PNG) no-repeat;
    width:250px;
    height:200px;
    display:block;
    margin:auto;
}

#no-inventory-audit-selected-screen #no-inventory-audit-text {
    margin: auto;
    color: #9e9e9e;
    font-size: 24px;
    text-align: center;
}

@media (min-width: 992px) {
    #inventory_audit_window {
        width: 1100px;
    }
}