.layout-box {
	background-color: white;
	display: block;
	padding: 0px;
	margin: 0px;
}

.new-page .sub-header {
	padding: 15px 0px 0px 0px;
	display: block;
	margin: 0px;
	line-height: 30px;
	border-bottom: 2px solid #E0E0E0;
	height: 50px;
}

.sub-header .tab {
	margin-bottom: -2px;
}