#sales-quick-buttons .inner-content,
#sales-recent .inner-content,
#sales-cart .inner-content {
	background: white;
}

@media (min-width: 992px){
	#sales-quick-buttons {
		padding-right: 0px;
	}

	#sales-recent {
		padding-left: 0px;
	}
}

button.quick-button .caret {
	width: 0px;
	height: 0px;
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

button.quick-button-item {
	padding: 6px 12px !important;
}

#sales-cart .inner-content {
	padding: 0px;
}

#sales-cart a.delete-item {
	font-size: 24px;
	cursor: pointer;
	text-decoration: none;
	display: block;
	margin-top: 2px;
}

#sales-cart td.select {
	position: relative;
}

#sales-cart input.select-item {
	position: relative;
	bottom: -2px;
	margin: 0px;
	padding: 0px;
}

#sales-cart th a.delete-item {
	color: #666;
}

#issue-raincheck {
	display: block;
}

button.pos-manager-override {
	margin: 0px;
	margin-left: 10px;
}

label.quickbutton-color {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 5px;
	overflow: hidden;
	float: left;
	border: 1px solid #E0E0E0;
	text-align: center;
}

label.quickbutton-color .color {
	display: block;
	width: 38px;
	height: 25px;
	margin-bottom: 2px;
	float: none;
}

label.quickbutton-color input {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#quickbutton-settings button {
	display: block;
	margin-top: 5px;
}

ul.quickbutton-items {
	display: block;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

ul.quickbutton-items > li {
	display: block;
	list-style-type: none;
	padding: 5px;
	margin: 5px 0px 0px 0px;
	border: 1px solid #D0D0D0;
	background-color: #F0F0F0;
	overflow: hidden;
}

ul.quickbutton-items > li span.name {
	margin: 0px;
	padding: 0px;
	text-align: left;
	float: left;
	display: block;
	height: 22px;
	line-height: 22px;
}

ul.quickbutton-items > li .delete {
	float: right;
	height: 22px;
	line-height: 22px;
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
	text-align: center;
}

ul.quick-buttons {
	list-style-type: none;
	display: block;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

ul.quick-buttons > li {
	display: block;
	padding: 0px;
	margin: 0px;
}

div.card-balance-details div.row {
	padding-bottom: 5px;
}

ul.punch-card-items {
	padding: 0px;
	margin: 0px;
}

ul.punch-card-items > li {
	list-style-type: none;
}

.sortable-quick-button {
	display: block;
	width: 100%;
	height: 50px;
	background-color: gray;
	border: 2px solid black;
}

ul.quick-button-sub-menu {
	padding: 0px 10px 10px 10px;
}

ul.quick-buttons > li .btn {
	display: block;
	margin: 8px 0px 0px 0px;
	font-size: 14px;
}

ul.quick-buttons > li .btn:active {
	margin: 6px 0px 0px 0px;
}

ul.quick-buttons button.quick-button-item {
	white-space: normal;
}

div.tab-content.editing {
	border: 3px dashed orange;
	padding: 3px;
}

#cart-items .table-responsive {
	margin-bottom: 0px;
}

#sales-cart table {
	margin-bottom: 0px;
	background: white;
}

#sales-cart table td {
	font-size: 14px;
}

#sales-cart table thead {
	background-color: #E0E0E0;
}

#sales-cart table th {
	background: none;
	border-bottom: 1px solid #AAA;
	padding: 6px 10px;
	line-height: 1em;
	border-right: 1px solid #BBB;
	color: #666;
	vertical-align: middle;
}

#sales-cart table thead th:hover {
	text-decoration: none;
}

#sales-cart table th:last-child {
	border-right: none;
}

#sales-cart table th.delete,
#sales-cart table th.select {
	width: 45px;
	text-align: center;
}

#sales-cart table td.delete,
#sales-cart table td.select {
	width: 35px;
	text-align: center;
}

#sales-cart table .qty {
	width: 75px;
}

#sales-cart table .discount {
	width: 80px;
}

#sales-cart table .price,
#sales-cart table .total {
	width: 110px;
}

#sales-cart table .total {
	text-align: right;
	padding-right: 14px !important;
}

#sales-cart td {
	padding: 5px !important;
	line-height: 35px;
	position: relative;
}

#sales-cart td.name.fee {
	padding: 5px 60px 5px 5px !important;
}

#sales-cart td input {
	margin: 0px;
	padding: 5px;
}

span.customer-initials {
	width: 35px;
	height: 35px;
	border-radius: 4px;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 35px;
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	background-color: #72d39e;
	color: white;
	letter-spacing: 1px;
}

#cart-header {
	border-bottom: 1px solid #2D6CA2;
	height: 55px;
}

#cart-header .btn-group .btn {
	width: 85px;
}

#cart-totals .inner-content {
	border-top: 2px solid #AAA;
	box-shadow: none;
	min-height: 0px;
	padding: 1em;
	overflow: hidden;
}

#sales-cart h4.total {
	text-align: right;
	overflow: hidden;
	display: block;
}

#sales-cart h4 .amount {
	float: right;
	text-align: right;
	min-width: 100px;
	padding-left: 10px;
}

#sales-cart h4 label {
	float: right;
	text-align: right;
	display: block;
	font-weight: normal;
}

#cart-totals .item-count {
	width: auto;
	display: block;
}

#cart-totals .item-count h4 {
	font-size: 1.2em;
	margin: 5px 0px 0px 0px;
}

#cart-totals .charges, #sale-customers .balances {
	display: block;
	width: auto;
	list-style-type: none;
	padding: 0px;
	padding: 0px;
}

.charges > li, .balances > li {
	list-style-type: none;
	display: block;
	padding: 0px;
	overflow: hidden;
	font-size: 1.1em;
}

.charges > li > .amount, .balances > li > .amount {
	min-width: 110px;
	float: right;
	text-align: right;
	padding-left: 10px;
}

.charges > li > .name, .balances > li > .name {
	width: auto;
	float: right;
}

#sale-customers {
	margin-top: 20px;
}

#sale-customers div.customer {
	padding: 1em;
	overflow: hidden;
}

div.customer {
	position: relative;
}

div.customer img.photo {
	/*border-radius: 100px; */
	width: 100px;
	display: block;
	clip: circle(50px at center);
}

div.customer div.photo-container {
	min-height: 100px;
	min-width: 100px;
	display: block;
	float: left;
	margin: 0px 15px 0px 15px;
	position: relative;
}

div.customer button.add-photo {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-radius: 0px;
}

div.customer img.photo.ok {
	box-shadow: 0 0 10px rgba(0, 128, 0, 1);
}

div.customer img.photo.warn {
	box-shadow: 0 0 10px rgba(240, 225, 0, 1);
}

div.customer img.photo.danger {
	box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

div.customer span.contact {
	width: auto;
	display: block;
}

div.customer .label.group {
	padding: 3px 6px;
	font-weight: normal;
	letter-spacing: .05em;
}

div.customer div.info {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	float: left;
}

ul.nav.customer-details li > a {
	padding: 6px 12px;
	margin-right: 5px;
	border: 1px solid #E0E0E0;
	text-transform: uppercase;
	font-size: 0.9em;
}

ul.nav.customer-details li > a span.badge {
	font-weight: normal;
	font-size: 0.8em;
}

/* Customer signature window */
div.customer-signature h1.payment-total {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

div.customer-signature h3.agreement {
	text-align: center;
	padding: 0px;
	bottom: 25px;
	left: 50px;
	right: 50px;
	display: block;
	position: absolute;
	padding: 10px 0px 0px 0px;
	border-top: 2px solid #E0E0E0;
}

div.customer-signature br {
	width: 75%;
	height: 2px;
	color: #E0E0E0;
	background-color: #E0E0E0;
	display: block;
	margin: 0 auto;
}

div.customer-signature

div.customer div.balances {
	float: right;
}

div.customer div.tab-content {
	margin-bottom: 10px;
}

@media (max-width: 978px) {
	div.customer div.balances {
		float: left !important;
	}

	div.customer div.balances .name {
		text-align: left !important;
	}
}

ul.customer-info {
	display: block;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

ul.customer-info > li {
	list-style-type: none;
	padding: 5px 10px 5px 0px;
	margin: 0px;
	display: block;
	border-bottom: 1px solid #F0F0F0;
	line-height: 30px;
	overflow: hidden;
	position: relative;
}

ul.customer-info li:hover {
	background: #F9F9F9;
	cursor: pointer;
}

ul.customer-info > li:last-child {
	border-bottom: none;
}

ul.customer-info span.date {
	margin-left: 15px;
	color: #999;
}

.customer-info-transaction-total {
	width: 80px;
	text-align: right;
}

.customer-info-label {
	font-size: 11px;
	line-height: 15px;
	margin-top: 3px;
	font-weight: normal;
}

ul.customer-info button.pay {
	margin-right: 10px;
}

ul.customer-info button.pay.disabled {
	visibility: hidden;
}

button.apply-pass, button.apply-pass-rule {
	margin-right: 5px;
	width: 65px;
}

button.apply-pass {
	float: left;
}

ul.customer-info li.pass.applied button i {
	color: white;
}

li.pass div.pass-details {
	display: block;
	width: auto;
	float: none;
	padding: 0px;
	position: relative;
	margin-left: 75px;
}

a.show-pass-details {
	margin-left: 10px;
}

.pass-applied {
	float: left;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin: 3px 0px 0px 0px;
}

li.pass ul.pass-restrictions {
	display: block;
	width: auto;
	float: none;
	padding: 0px 0px;
	position: relative;
	margin-left: 80px;
}

ul.pass-restrictions > li {
	display: block;
	list-style-type: none;
	padding-left: 0px;
}

#sale-customers div.customer h3 {
	margin: 0px;
	line-height: 24px;
}

#customer-tabs {
	border: none;
	padding: 0px;
	overflow: hidden;
	padding-right: 15px;
}

#customer-tabs li {
	float: right;
	margin-top: 14px;
	margin-left: 5px;
	position: relative;
}

#customer-tabs li a {
	background: #DDDDDD;
	padding-right: 28px;
}

#customer-tabs li span.delete {
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
	line-height: 0.75em;
	display: block;
	position: absolute;
	top: 15px;
	right: 12px;
	cursor: pointer;
	z-index: 2;
}

#customer-tabs li span.delete:hover {
	color: #444;
}

#customer-tabs li.active a {
	background: #FFFFFF;
	z-index: 2;
}

#add-customer {
	float: left;
	display: block;
}

#sale-customers .inner-content {
	min-height: 50px;
}

#sale-payments, #sales-quick-buttons {
	margin-bottom: 15px;
}

#sale-payments .inner-content {
	border-top: 2px solid #AAA;
	box-shadow: none;
	min-height: 0px;
	padding: 1em;
	overflow: hidden;
}

#payment-types button {
	font-size: 1em;
	font-weight: normal;
	padding: 14px 5px;
}

#sale-actions a {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}

#sale-actions button {
	display: block;
	width: 150px;
	margin-bottom: 10px;
    float:left;
    margin-right:10px;
}

#sale-owing {

}

#payments, #window-payments {
	margin: 0px;
	padding: 0px 15px 0px 15px;
	display: block;
	overflow: hidden;
	float: none;
}

li.payment {
	display: block;
	overflow: hidden;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	font-size: 1.1em;
}

li.payment a.delete {
	float: left;
	display: block;
	font-size: 1.5em;
	line-height: 1.1em;
	text-decoration: none;
	padding-right: 10px;
}

li.payment i.fa {
 	float: left;
	display: block;
	font-size: 1.25em;
	line-height: 1.25em;
	text-decoration: none;
	margin-right: 5px;
	margin-bottom: 2px;
}

li.payment span.amount {
	float: right;
	display: block;
}

li.payment span.desc {
	float: left;
	display: block;
}

#total-due {
	display: block;
}

div.total-due, div.payment-amount {
	display: block;
	overflow: hidden;
}

#total-due > strong {
	float: right;
}

/* Recent transactions */
#recent-transactions ul.transactions {
	display: block;
	margin: 0px;
	padding: 0px;
}

#recent-transactions ul.transactions > li,
ul.transactions > li div.header,
ul.transactions > li div.details {
	display: block;
	list-style-type: none;
}

#recent-transactions ul.transactions > li {
	border-bottom: 1px dashed #BBB;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#recent-transactions ul.transactions > li .container {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
	width: auto;
}

ul.transactions > li div.header {
	margin-bottom: 0px;
	padding-bottom: 4px;
}

ul.transactions > li div.details {
	font-size: 1.25em;
}

ul.transactions > li span.time,
ul.transactions > li span.customer {
	float: left;
	display: block;
}

ul.transactions > li span.sale-num,
ul.transactions > li span.amount {
	float: right;
	display: block;
	position: absolute;
	background-color: white;
	padding-left: 10px;
	right: 0px;
}

/* Suspended sales */
#suspended-sales ul.carts {
	display: block;
	margin: 0px;
	padding: 0px;
}

#suspended-sales ul.carts > li {
	border-bottom: 1px dashed #BBB;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	display: block;
	overflow: hidden;
	list-style-type: none;
}

#suspended-sales ul.carts > li:last-child {
	border-bottom: none;
}

#suspended-sales ul.carts > li:hover {
	background: #F5F5F5;
	cursor: pointer;
}

#suspended-sales h4.incomplete {
	background-color: #A94442;
	color: white;
	margin-left: -15px;
	margin-right: -15px;
	display: block;
	padding: 5px 15px;
	font-weight: normal;
}

button.add-suspended-sale-card {
	margin-bottom: 15px;
}

ul.carts li div.cart-details {
	float: left;
	overflow: hidden;
	font-size: 0.9em;
}

ul.carts > li button.label {
	height: 40px;
	min-width: 45px;
	max-width: 100px;
	text-align: center;
	background-color: #DF5A5A;
	border: 1px solid #b24949;
	float: left;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	line-height: 16px;
	color: white;
	font-weight: 400;
	margin-right: 5px;
	font-size: 14px;
	display: block;
	white-space: normal;
	vertical-align: middle;
}

ul.carts > li .name {
	height: 20px;
	text-align: right;
	line-height: 20px;
	display: block;
	padding: 0px;
	margin: 0px;
}

ul.carts > li .amount {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

ul.transactions .unknown {
	font-weight: normal;
	font-size: 0.7em;
	color: #AAA;
	font-style: italic;
}

/* Payment window */
.payments-window .payments label {
	float: left;
	width: 80px;
	display: block;
	text-align: left;
}

.payments label.amount {
	line-height: 46px;
}

.payments-window .payments input.amount {
	text-align: right;
}

.payments-window .payments h3.total {
	float: right;
	display: block;
	margin: 0px;
}

.payments-window div.modal-body {
	min-height: 200px;
}

.payments-window div.total-due hr {
	border-top: 1px solid #D0D0D0;
	margin: 5px 0px 10px 0px;
}

/* Credit card form */
form.credit-card label {
	display: block;
	line-height: 14px;
	margin-left: 15px;
}

form.credit-card .form-group {
	overflow: hidden;
}

a.view-receipt {
	line-height: 30px;
	padding-top: 3px;
	cursor: pointer;
}

div.edit-sale-actions > a {
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
}

/* Partial Refund Window */
.partial-refund-window .refund-types button {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	float: none;
}

#sale-receipt table.totals .amount,
#sale-receipt table.items .total {
	width: 125px;
	text-align: right;
}

#sale-receipt .table-responsive.items {
	margin-bottom: 0px;
	margin-top: 10px;
}

#sale-receipt table.items {
	margin: 0px;
}

#sale-receipt table.totals {
	border-top: none;
}

#sale-receipt .sale-details strong {
	display: inline-block;
	width: 85px;
}

#sale-receipt table th {
	background-color: #F0F0F0;
}

#sale-receipt table.totals,
#sale-receipt table.items {
	border: 1px solid #E0E0E0;
}

#sale-receipt .barcode-container {
	text-align: center;
}

#sale-receipt .course-header {
	text-align: center;
	margin-bottom: 20px;
}

#sale-receipt img.barcode {
	display: inline;
}

div.modal-content.punch-card ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}

div.modal-content.suspend-sale .number {
	height: 60px;
	width: 65px;
	display: block;
	padding: 0px;
	margin: 0px;
	text-align: center;
	border: 1px solid #D0D0D0;
	float: left;
	font-size: 16px;
	font-weight: normal;
	padding-top: 20px;
	cursor: pointer;
}

div.modal-content.suspend-sale .number:hover {
	background-color: #F0F0F0;
}

div.modal-content.suspend-sale .number.active {
	background-color: #BBB;
	color: white;
}

h3.panel-title {
	font-size: 14px;
	position: relative;
}

h3.panel-title span.glyphicon {
	right: 0px;
	top: 0px;
	position: absolute;
}

div.panel-body.minimize-sm {
	display: none;
}

div.panel-heading span.hidden {
	display: none !important;
}

div.panel-heading span.show {
	display: block !important;
}

li.cash-drawer:hover {
	cursor: pointer;
	background-color: #e5f3ff;
}

li.cash-drawer.disabled, li.cash-drawer.disabled:hover {
	background-color: #F0F0F0;
	cursor: not-allowed;
}

@media (min-width: 1200px) {
	div.panel-body.minimize-sm {
		display: block;
	}
}

/* Receipt printing CSS */
@media print {

	body {
		width: 100% !important;
		background: none !important;
		overflow: hidden !important;
	}

	#main-nav div {
		display: none !important;
	}

	#page {
		display: none !important;
	}

	#modal-edit-sale {
		display: none !important;
	}

	div.modal-header, div.modal-footer, div.modal-backdrop {
		display: none !important;
	}

	div.modal-dialog, div.modal-content, div.modal, div.table-responsive {
		display: block !important;
		float: none !important;
		margin: 0px !important;
		padding: 0px !important;
		position: relative !important;
		border: none !important;
		border-radius: 0px !important;
		width: 100% !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		overflow: hidden !important;
	}

	#sale-receipt-window {
		width: 100% !important;
	}

	#sale-receipt {
		display: block !important;
		padding: 0px !important;
		overflow: hidden !important;
		margin: 0px !important;
	}

	#sale-receipt div.row, #sale-receipt div.row div.col-md-12 {
		display: block !important;
		width: auto !important;
		overflow: hidden !important;
	}
}
