
.recipient-header{
    background-color: rgb(246,246,246);
    font-family: roboto;
    font-size: 20px;
    font-weight: lighter;
    padding: 25px 25px 25px 25px;
    padding-left:-15px;
    border-bottom: rgb(213,213,213) solid 1px;
}
.recipient-header label{
    font-weight: lighter;
    font-size: 13px;
}
.teesheet-modal .modal-body{
    padding: 0 20px 20px 20px;
    max-height: calc(100vh - 225px);
    overflow: auto;
}
.teesheet-modal .modal-header{
    background-color:rgb(68,118,182);
}
.teesheet-modal .modal-header .modal-title{
    background-color:rgb(68,118,182);
    color:white;
    font-family: roboto;
    font-size: 24px;
    font-weight: lighter;
}
