<table class="table table-bordered contact-forms col-xs-12">
  <thead>
    <th><input type="checkbox" class="check-all"></th>
    <th>Form Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
  </tbody>
</table>
