<div class="modal-content contact-form-details">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Contact Form Replies</h4>
  </div>
  <div class="modal-body container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(replies, function (reply) { %>
          <tr>
            <td><%-moment(reply.get('completed_at')).format('MM/DD/YYYY') %></td>
            <td><%-reply.get('first_name') %></td>
            <td><%-reply.get('last_name') %></td>
            <td><%-reply.get('email') %></td>
            <td><%-reply.get('message') %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
  </div>
</div>
