@import '../../_common/css/variables';

table.backgrid tbody td.statement-pay-cell {
    padding: 6px !important;
}

td.statement-pay-cell button.btn {
    padding: 4px 12px;
    text-align: center;
    border: none;
    font-weight: 500 !important;
    width: 80px;
}

td.statement-pay-cell button.view-statement {
    background-color: $gray;
    color: $blue;
}