@import '../../../css/bootstrap/variables';
@import '../../_common/css/variables';

.subdued {
    background-color: #F6F6F6;
}

div.schedule-legend {
    display: block;
    overflow: hidden;
    float: right;
    padding: 5px 15px;
    color: #666;
    margin: 0px 0px 5px 0px;
}

div.schedule-legend div.legend-item {
    display: block;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 12px;
}

div.legend-item div.statement-period {
    border-radius: 8px;
    height: 8px;
    background-color: #76adff;
    width: 60px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 25px;
}

div.legend-item div.charge,
div.legend-item div.active-charge{
    border-radius: 8px;
    height: 16px;
    width: 16px;
    margin: 5px 25px 0px 0px;
    padding: 0px;
    display: inline-block;
    line-height: 25px;
}

div.legend-item div.charge {
    background-color: #697B8C;
}

div.legend-item div.active-charge {
    background-color: #7DBE48;
}

button.show-statement-settings.toggled {
    border-bottom: 0px;
    box-shadow: none;
    z-index: 2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.line-items {
    display: block;
    margin-top: 5px;
}

.line-items .line-item,
.line-item-empty {
    border-bottom: 1px solid #F5F5F5;
    padding: 6px 0px;
    margin: 0px;
}

.line-item-header {
    border-bottom: 1px solid #E0E0E0;
    padding: 3px 0px;
    margin: 0px;
}

.line-item * {
    line-height: 24px;
}

.line-item-empty {
    border-bottom: none;
}

.line-item h6 {
    line-height: 24px;
    margin: 0px;
    font-weight: 500;
    font-size: 1em;
}

td.charge-schedule {
    padding: 0px;
}

td.charge-schedule a.set-charge-schedule {
    padding: 5px;
    display: block;
    cursor: pointer;
}

.template-charge .popover {
    width: 400px;
}

.template-charge .popover-content {
    padding: 15px 0px;
}

tr.template-charge.editing {
    background-color: rgba(111, 172, 51, 0.1);
}

tr.template-charge.error {
    background-color: rgba($red, .2) !important;
}

.recurring-schedule-tabs {
    background-color: white;
}

.recurring-schedule-tab, .account-settings-tab {
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    padding-left: 10px;
    z-index: 2;
    cursor: pointer;
}

.recurring-schedule-tab:hover, .account-settings-tab:hover {
    background-color: #EEF3F6;
}

.recurring-schedule-tab.active, .account-settings-tab.active {
    background-color: #F5F5F5;
    position: relative;
    border-bottom: 1px solid #E9E9E9;
    box-shadow: 3px 0px 0px #F5F5F5, inset 1px 1px 2px rgba(0,0,0,0.1);
    color: $primary;
}

.recurring-schedule-details {
    background-color: #F5F5F5;
    min-height: 400px;
    box-shadow: inset 2px 0px 1px rgba(0,0,0,0.05);
    padding-top: 15px;
    padding-bottom: 25px;
}

.recurring-schedule-details label {
    color: #444;
}

.recurring-schedule-container {
    border: 1px solid #D0D0D0;
    border-radius: 2px;
}

.repeatable-visualization-container {
    background-color: white;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #D0D0D0;
    padding: 10px 24px 14px 24px;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    position: relative;
}

.repeatable-visualization {
    display: block;
    width: 100%;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    min-width: 600px;
    overflow-x: scroll;
    margin-bottom: -34px;
    position: relative;
    min-height: 60px;
}

.repeatable-visualization-row {
    display: block;
    clear: both;
    width: 10000px;
    margin-bottom: 2px;
}

.scroll-right .fa,
.scroll-left .fa {
    display: inline-block;
    vertical-align: middle;
}

.repeatable-visualization-container .scroll-left,
.repeatable-visualization-container .scroll-right {
    width: 25px;
    line-height: 58px;
    display: block;
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: 0px;
    background-color: #F5F5F5;
    z-index: 2;
    cursor: pointer;
    color: #bbb;
}

.repeatable-visualization-container .scroll-left:before,
.repeatable-visualization-container .scroll-right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.repeatable-visualization-container .scroll-left:hover,
.repeatable-visualization-container .scroll-right:hover {
    color: $primary;
}

.repeatable-visualization-container .scroll-left {
    left: 0px;
    border-right: 1px solid #D5D5D5;
    padding-right: 4px;
}

.repeatable-visualization-container .scroll-right {
    right: 0px;
    border-left: 1px solid #D5D5D5;
}

.repeatable-empty {
    width: 100%;
    text-align: center;
    display: block;
    line-height: 50px;
}

.repeatable-empty > h3 {
    margin: 5px 0px 0px 0px;
    font-weight: normal;
    color: #ccc;
}

.repeatable-period {
    line-height: 20px;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    width: 75px;
    float: left;
    display: block;
    min-height: 5px;
    font-size: 13px;
}

.repeatable-period.billing-period {
    border-radius: 8px;
    height: 8px;
    background-color: #76adff;
    display: block;
    position: relative;
    margin: 0px 1px 2px 1px;
}

.repeatable-visualization-row .billing-day {
    width: 17px;
    height: 17px;
    border-radius: 8px;
    background-color: $blue-gray;
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    border: 1px solid white;
    margin-left: -8px;
}

.billing-day.active {
    background-color: $green;
}

.repeat-day-selector {
    display: flex;
    flex-wrap: wrap;
}

.repeat-every-container {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}

.repeat-day-select {
    width: 14.2%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

.repeat-month-selector {
    display: flex;
    flex-wrap: wrap;
}

button.repeat-month {
    width: 25%;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px;
}

.repeat-day-select.last {
    width: 99.4%;
}

.repeat-day {
    width: 25%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.or-separator {
    text-align: center;
    color: #888;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

/* Statements */
.recurring-statement-container {
    background-color: #F5F5F5;
    padding: 15px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
}

.statement-options {
    position: relative;
}

@media (min-width: 768px) {
    .statement-options {
        border-left: 1px solid #D0D0D0;
    }
}

#preview-statement {
    margin-top: 15px;
}

@media (min-width: 992px) {

    .statement-options {
        min-height: 820px;
    }

    .preview-statement-container {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: block;
    }

    .preview-statement-container button {
        float: right;
        display: block;
    }
}

/* Confirm Charges Table */
.confirm-charges {

    .fee-name {
        width: 30%;
        text-align: left;
    }

    .frequency {
        width: 12%;
        text-align: left;
    }

    .bill-date {
        width: 12%;
        text-align: right;
    }

    .charge {
        width: 8%;
        text-align: right;
    }

    .tax-rate {
        width: 8%;
        text-align: right;
    }

    .line-total {
        width: 20%;
        text-align: right;
    }
}