@import '../../_common/css/variables';

.statement-container {

    table {
        width: 100%;
        margin: 0px;
    }

    table th {
        font-weight: 500;
        text-align: left;
        background-color: $blue-gray;
        color: white;
    }

    table th:hover {
        text-decoration: none;
    }

    table th,
    table td {
        padding: 4px 8px;
        margin: 0px;
        border: none;
        vertical-align: top;
    }

    .tax-rate {
        width: 80px;
        text-align: right;
    }

    .amount {
        width: 100px;
        text-align: right;
    }

    .quantity {
        width: 40px;
        text-align: left;
    }

    .date {
        width: 65px;
    }

    #totals {
        width: 35%;
        float: right;
        display: block;
    }

    table.items {
        border-bottom: 1px solid $blue-gray;
        border-right: 1px solid $blue-gray;
        border-collapse: collapse;
    }

    table.items td {
        border-left: 1px solid $blue-gray;
        border-right: 1px solid $blue-gray;
        background-color: transparent;
        padding: 6px 8px;
    }

    table.items tr {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    table.items .empty {
        color: #888;
        text-align: center;
        font-style: italic;
    }

    table.items tr:nth-child(even) {
        background: #EFEFEF;
    }

    table.statement-totals {
        border-collapse: collapse;
        border: 1px solid #59718B;
    }

    table.statement-totals td,
    table.statement-totals th {
        border-bottom: 1px solid $blue-gray;
    }

    table.statement-totals td:nth-child(2){
        text-align: right;
    }

    table.statement-totals .value {
        text-align: right;
    }

    h3.section-title {
        margin-top: 10px;
        background: transparent;
        color: rgba($blue-gray, 0.85);
        display: block;
        font-size: 16px;
    }

    .barcode {
        display: block;
        float: right;
        margin-bottom: 20px;
    }

    .statement-message {
        border: 1px solid $blue-gray;
        background: #F5F5F5;
        padding: 8px;
    }
}

.statement-items {
    margin-bottom: 15px;
}

table.statement-summary {
    border: 1px solid $blue-gray;
    border-collapse: inherit;
}

table.statement-summary {
    td, th {
        border-bottom: 1px solid #59718B;
        border-top: 1px solid white;
    }

    tr:first-child th {
        border-top: none;
    }

    tr:last-child td, tr:last-child td {
        border-bottom: none;
    }

    tr {
        margin-bottom: 1px;
    }

    td {
        text-align: right;
    }
}

.statement-total {
    margin: 0px;
    font-size: 20px;
}

.statement-label {
    font-size: 30px;
    margin: 0px 0px 5px 0px;
    text-align: right;
    display: block;
    color: rgba($blue-gray, 0.5);
}

.statement-course-info {
    font-size: 12px;
    overflow: hidden;
}

.statement-course-address {
    float: left;
    display: block;
}

.statement-course-contact {
    float: right;
    display: block;
}

.statement-course-logo {
    max-width: 100px;
    display: block;
    float: left;
    margin-right: 10px;
}

.statement-course-name {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}

.statement-customer-info {
    font-size: 12px;
    display: block;
    float: left;
    text-align: left;
}

.customer-name {
    font-size: 16px;
    margin: 10px 0px 5px 0px;
}

.statement-bill-to {
    margin-left: 25px;
    margin-top: 40px;
}

.statement-bill-to h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    display: block;
    margin-top: 0px;
}

.statement-terms {
    margin-top: 20px;
    font-size: 12px;
}

.statement-date {
    background-color: #666;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.statement-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 100px;
}

.statement-footer hr {
    width: 85%;
    height: 2px;
    border-top: 2px dashed #ccc;
    display: block;
    margin: 15px auto;
}

.statement-footer .message,
.statement-footer .info {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}