<div class="page-navigation-container">
    <div class="page-navigation col-xs-12">
        <div class="row page-navigation-header" style="height: 50px">
            <div class="col-md-offset-3 col-md-9">
                <div id="r-table-search" class="pull-left input-container">
                    <span class="fa fa-search input-icon"></span>
                    <input class="search form-control" name="search" value="" id="report_search" placeholder="Search...">
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="col-md-3 nav nav-tabs-vertical">
                <% _.each(tags,function(tag,key){ %>
                <li class="nav-tab-vertical" id="report-<%-tag%>">
                    <a href="#report-<%-key%>" class="col-xs-12" data-toggle="tab" role="tab">
                        <h4 class="tag"><%-tag%></h4>
                        <span class="badge search-number"></span>
                    </a>
                </li>
                <% }) %>
            </ul>
            <div class="col-md-9">
                <div class="row tab-content category-reports">    
                    <% _.each(tags, function(tag, key){ %>
                    <div class="col-md-12 tab-pane" id="report-<%-key%>">
                        <div class="row">
                            <% _.each(items, function(item){ %>
                            <% if(item.tags.indexOf(tag) > -1){ %>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 report-template" data-value="<%= item.id %>" title="<%-item.description%>">
                                <div class="report-template-name">
                                    <h5>
                                        <% if(!item.title){ %><span class="text-muted">No Name</span><% }else{ %><%-item.title %><% } %>
                                    </h5>
                                </div>
                                <div class="report-template-description">
                                    <p>
                                        <%if(!item.description){%><em>No description</em><% }else{ %><%-item.description%><% } %>
                                    </p>
                                </div>
                             </div>
                            <% } %>
                            <% }); %>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>