
<div class="nr-tabs <% if(active)print('isActive') %> " id="tab" >
    <%= title %>
    <button class="nr-tabs-close" id="closeTab">
        <i class="hidden-menu fa fa-times" ></i>
    </button>
</div>