@import '../../_common/css/variables';

#main-nav div.container-fluid, #page.container-fluid .header .header-contents, #page.container-fluid #main-table, #main-container {
  //max-width:1280px;
}
#page.container-fluid .header .header-contents, #main-container {
  //margin:auto;
}
#page.container-fluid .header .header-contents h2{
  //color:#4885b1;
  //font-size:20px;
  //font-weight:normal;
}
#page.container-fluid .header {
  //background:#ececec;
  //box-shadow:none;
}
.settings #main-container {
  height:100%;
}
.settings .new-page {
  height:100%;
  overflow: hidden;
}
#sections-container {
  background-color: $off-white;
  height:calc(100% - 70px);
  padding: 15px 10px;
  border-right: 1px solid $gray;
  li{
    a {
      color: $dark-blue;
      letter-spacing: 1px;
      margin-top: 10px;
      font-weight: 200;
    }
    &:hover,
    &.selected {
      background: $dark-blue;
      border-radius: 5px;

      a {
        font-weight: 400;
        color:$white;
        background:transparent;
        }
      }
    &.hasSubSections {
      margin-right: -15px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      &:hover {
        margin-right: 0;
        border-radius: 5px;
        &.selected {
          margin-right: -15px;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
    }
  }
}

#sub-sections-container {
	background-color: $dark-blue;
  height:calc(100% - 70px);
  padding-top: 10px;

  li.settings-sub-section-label{
    transition: $hover;
    a{
      color: $white;
    }
    &:hover,
    &.selected {
      background: $white;
      border-radius: 5px;
      a{
        color:$dark-blue;
        background:transparent;
        font-weight: 400;
      }
    }
  }
}
#settings-container {
  background: white;
  height:calc(100% - 70px);
  overflow-x:hidden;
  overflow-y:auto;

  .checkbox-control-container {
    padding-top: 0;
    padding-bottom: 0;
    input[type=checkbox]{
      margin-left: 15px;
      margin-top: 15px;
    }
    input[type=radio] {
    margin-left:15px;
    margin-top:15px;
    }
  }
  label.control-label {
    font-weight:normal;
    color: $blue-gray;
    font-size: 12px;
  }
  .settings-header {
    margin-bottom: 20px;

    .settings-title {
      color: $dark-blue;
      font-size: 22px;
      padding-left: 15px;
      margin-top: 20px;
    }
    .settings-subtitle {
      font-size: 12px;
      margin-left: 15px;
      margin-right: 15px;
      color: $blue-gray;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}

.custom-payment-type-table, .return-reason-table, .printer-list, .printer-group-list, .terminal-printer-group-list,
.terminal-list, .tee-sheet-table, .loyalty-rate-table, .player-type-table, .online-reservation-group-table, .online-specials-table  {
  width:100%;
}
.terminal-panel-group {
  overflow:visible;
}
.terminal-list td {
  padding:10px 0px;
}
.terminal-list .btn.dropdown-toggle {
  height: 27px;
  width: 27px;
  color: $blue-gray;
  background: $off-white;
  border: 1px solid $gray;
  i {
    position: absolute;
    top: 3px;
    left: 9px;
  }
}
.custom-payment-type-table th, .return-reason-table th, .loyalty-rate-table th, .tee-sheet-table th, .player-type-table th,
.online-reservation-group-table th, .online-specials-table th{
  border-right: none;
  background-color: transparent;
  color:$slate;
}
.loyalty-rate-table td {
  padding:5px 0px;
}
.settings-corner-button.add-loyalty-rate {
  width:200px;
  margin-top:15px;
}
#no-loyalty-rates {
  text-align:center;
}
.loyalty-rate-table .removeRate {
  cursor:pointer;
}
.custom-payment-type-table th:hover, .return-reason-table th:hover {
  text-decoration: none;
}
.custom-payment-type-table td, .return-reason-table td {
  padding: 15px 0px;
}
.custom-payment-type-table td input, .return-reason-table td input{
  border:1px solid #eaeaea;
}
.custom-payment-type-table td .fa-trash-o, .return-reason-table td .fa-trash-o{
  cursor:pointer;
}
.settings-corner-button {
  padding:4px 20px;
  margin-top:-8px;
  margin-bottom:-8px;
  margin-right:-8px;
}
.no-printers-box {
  text-align:center;
}
.terminal-printer-panel {
  margin-top:29px;
}
.terminal-settings .btn-group {
  width:100%;
}
.terminal-settings .terminal-settings-btn {
  width:33%;
}
.terminal-settings .four-buttons .terminal-settings-btn {
  width:25%;
}
#edit-terminal .modal-content {
  box-shadow:none;
}
#settings-container .panel-group, .return-reasons-panel-group, .custom-payments-panel-group, .online-reservation-groups-panel-group,
.online-specials-panel-group {
  margin-top:12px;
}

.btn-group.page_size_holder {
  width:100%;
}
button.page_size {
  width:33%;
}

span.sub {
  color: $gray;
  font-style: italic;
  font-size: 12px;
}
